[2016-11-23 21:13] richafrank commented on #1087
@ssanderson I think you found this is no longer an issue?

[2016-11-27 03:00] nborggren commented on #1417
I'm getting this same issue with a conda installation on a macOS sierra with python 2.7

[2016-11-28 12:22] lionel75013 commented on #1566
Hi,

I have to report the same issue. It affects many symbols I try to update, but in this case, I will give the example of MTF.PA.
I work on lubuntu 64 bits, My python version is:
Python 2.7.12 |Anaconda 4.2.0 (64-bit)| (default, Jul  2 2016, 17:42:40)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
when ingesting a package using this Symbol MTF.PA only, i get no error. When logging the result o

[2016-11-28 15:12] ehebert commented on #1601
Cutting a release sounds like a good idea to me.
Would the next release be `1.0.3` or `1.1.0`? (i.e. does upgrading one of the core dependencies warrant at least a bump on the minor revision.?)

[2016-11-30 11:39] nme01 commented on #1197
Could you also update Zipline on PyPI?

[2016-12-01 17:09] ssanderson commented on #1601
@ehebert `1.1.0` makes sense to me.  @llllllllll @richafrank any objections.  We also probably need to take a look at the git log and update the whatsnew.

[2016-12-01 17:11] llllllllll commented on #1601
+1 from me

[2016-12-01 17:15] richafrank commented on #1601
👍

[2016-12-08 10:21] i-Data opened #1614 "Zipline beginner tutorial doesn't work"
# Environment

* Operating System: (ubuntu 16.04 LTS)
* Python Version: `$ python --version 3`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`other (download)`)

# Description of Issue

* What did you expect to happen?
* What happened instead?

I was trying to run the last tutorial here http://www.zipline.io/beginner

[2016-12-08 18:57] CaptainKanuk opened #1615 "Repo Description Doesn't Link to Docs"
Can we change the repo description to include a link to the docs just like we do for PyFolio and AlphaLens? I always expect it to be there but have to scroll down and find it in the readme.

http://www.zipline.io/

[2016-12-10 08:59] femtotrader opened #1616 "Orderbook strategies and zipline"
Hello,

some trading strategies use orderbook modeling.

I haven't seen in zipline and Quantopian any support for orderbook.
It may be interesting to simulate quite illiquid assets (penny stocks, crypto currencies...) to have a more realistic execution simulation.

This Quora question
https://www.quora.com/Where-can-I-download-historical-limit-order-book-information
may be useful.

Kind regards

k

[2016-12-13 00:04] davidandreoletti commented on #1285
Quick heads up to those interested (@jimbojetlag, michaeljohnbennett, @BryanFletcher  ...) in Forex currency support:

I have the same idea and started execution on that plan:
a) Fetch Data currency data from OANDA using[ Panda DataReaders](https://github.com/pydata/pandas-datareader/pull/257)
b) Create PandaDataReader bundle for zipline to ingest data from (a)
c) Add support in zipline

Status re

[2016-12-16 03:32] qinghanmeng commented on #1417
I meet the same problem.

[2016-12-16 14:30] Georgantas opened #1618 "Apache License unmodified"
https://github.com/quantopian/zipline/blob/master/LICENSE#L190

[2016-12-16 15:01] jikamens commented on #1618
I'm not really sure I see an issue here. That's boilerplate text explaining how to apply the license to a file. It is not, itself, intended to be a legally valid copyright notice. Am I missing something?

[2016-12-16 15:57] #1618 closed

[2016-12-17 21:06] ColeMurray commented on #1316
Also experiencing ```InvalidRequestError``` when running the buyApple.py. Running on OSX python2.7

Zipline was installed via pip. Have tried installing / reinstalling. Cleaning & re-ingesting.

Any update on this?

[2016-12-18 14:31] turboslon commented on #1316
zipline 1.0.2 (via pip). Confirm the same error (InvalidRequestError) and assets-5.sqlite is zero-length.

[2016-12-18 15:49] pgeez commented on #1443
@richafrank I'm running into a similar issue, although with zipline 1.0.2. I just installed it (`conda`) and ran `zipline ingest`.

[code]

Here's the content of my `.ziplines` data dir:

[code]

It looks like `assets-5.sqlite` wasn't ingested.

Thanks!

[2016-12-19 14:25] richafrank commented on #1443
Ah thanks - I'll bump the published bundle to include assets-5...

[2016-12-19 14:31] richafrank commented on #1443
FWIW We want to remove these manual steps but haven't gotten to it.

[2016-12-19 23:47] ProjectRamo commented on #1197
Are you sure this is a pandas incompatibility?

I was trying to do exactly the same thing as you guys (running pandas, zipline on anaconda).
Nothing mentioned was helping. So I tried logging into the to the command line and just importing zipline. That's it. Not importing pandas, not running anything else first.

I got this error first:

[code]

Which is explained here:

[This stack overflow expla

[2016-12-20 00:02] pbharrin commented on #1316
I had this issue as well, a bundle I ingested on 2016/11/29 worked but a new bundle ingested on 12/19/2016 did not work.  The only thing that worked for me was clearing all installed packages and reinstalling Zipline via:
`sudo -H pip install -e git+https://github.com/quantopian/zipline@master#egg=zipline_master`
also I had to remove the original `~/.zipline/` folder for this work.

[2016-12-20 12:39] QuentinLewes opened #1621 "Markowitz-blog notebook doesn't work with latest zipline"
# Environment

* Operating System: Windows 8.1 64-bit
* Python Version: 2.7.12
* zipline Version: 1.0.2

# Description of Issue
https://github.com/quantopian/research_public/blob/master/research/Markowitz-blog.ipynb
[code]

1. "cannot import name add_history" #1286  So I removed `add_history`.
2. `TradingAlgorithm` got `KeyError`
[code]
#959 So I tried `algo.current_sids()`

3.
[code]

## Reproduc

[2016-12-20 14:39] davidandreoletti commented on #1285
@BryanFletcher Is there any progress on your side ?

[2016-12-24 20:31] pgeez opened #1624 "conflicting CLI flags for `clean`"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `OS X 10.12.1`
* Python Version: `2.7`
* Python Bitness: `64`
* How did you install Zipline: `conda`
* Python packages: _default_

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue
The CLI command `zipline clean` ha

[2016-12-25 02:18] llllllllll commented on #1624
Oops, sorry about that. Thanks for reporting this. Do you have a suggestion for a short-opt for `before`? I am thinking `-f`. Alternativly, if that is not that intuitive we could just remove the short-opt and require users to type `--before`.

[2016-12-25 12:00] pgeez commented on #1624
`e` or `f` sound good to me; I really don't have an opinion. I do think, though, that you should have a short-opt for `--before` for the sake of consistency with other CLI args.

[2016-12-27 15:46] pgeez opened #1626 "error in docs for AssetDBWriter.write"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `OSX 10.12.2`
* Python Version: `2.7`
* Python Bitness: `64`
* How did you install Zipline: `conda`
* Python packages: _default_

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue
The docs for AssetDBWriter.write (h

[2016-12-28 06:48] qinghanmeng commented on #911
what's the relationship between data bundle and pipeline.data ?

[2016-12-30 22:32] apb210 opened #1628 "Cannot import history"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 10
* Python Version: `$ python --2.7.1`
* How did you install Zipline: conda

Using the Eclipse IDE, the import

from zipline.api import history does not work

Sincerely,
Apratim

[2016-12-31 05:52] developeralgo8888 commented on #1285
Quantopian has become so much of a garbage platform. They had the bait and switch model, Open source to attract retail users on STOCKS but don't bother about other assets . First they need to monetize the suckers they have pulled in , before they can move to other assets e.g Forex . If you have been doing advanced Algo trading for a while you will understand how basic Quantopian platform is. It is

[2016-12-31 13:27] davidandreoletti commented on #1285
@developeralgo8888 I thank you for honest feedback. I did not do any advance algo trading (mostly toying around). Independently of your answer, I decided not to use quantopian and python in general for algo trading.

[2016-12-31 21:10] sebastianecheverrir opened #1629 "Daily data.history in minute mode not working in zipline"
Dear Zipline Maintainers,

# Environment

I am using zipline within a quantopian Notebook

# Description of Issue

In the 'handle_data' function, i am calculating a SMA

when I calculate it using '1m':

[code]

the algorithm works fine

But when i want to get a daily SMA using '1d':

[code]

I get the following error:

[code]
Note: the same 'initialize' and 'handle_data' functions work fine if I u

[2017-01-02 00:59] chrisspen opened #1630 "TypeError: a float is required"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: Python 2.7.12
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:

alembic==0.8.9
bcolz==0.12.1
beautifulsoup4==4.5.1
Bottleneck==1.2

[2017-01-08 09:06] fysdbd opened #1641 "Test test_perf_tracking.py"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux ubuntu 4.8.6-x86_64-linode78 #1 SMP Tue Nov 1 14:51:21 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: Python 2.7.6
* Python Bitness: 64
* How did you install Zipline: cloned from github
* Python packages:
alabaster==0.7.6
alembic==0.7.7
AlgoTrading==0.2.

[2017-01-10 05:21] musiclicn commented on #1417
Can someone fix this?

[2017-01-12 03:40] QuentinLewes commented on #1621
How can I fix this?

[2017-01-16 13:02] richardtbenade opened #1647 "Installing Zipline on Datalab (running on Google Cloud Virtual Machine)"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Linux datalab 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u4 (2016-02-29) x86_64)
* Python Version: `default version that comes with Datalab`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Ziplin

[2017-01-16 20:39] modi5 opened #1648 "yahoo bundles stopped working after latest Windows 10 update"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment
Windows 10

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python pa

[2017-01-16 21:05] modi5 commented on #1648
Actually I just reinstalled zipline and now it works again.

apparently the newest zipline install doesnt need a whl file?

[2017-01-18 11:24] cwse89 commented on #321
I am having this same error. Tried filtering out the NaNs (Fillna, dropna, etc). Nothing seems to fix it. Further more I cant actually see any NaNs in the data I sampled! Any Ideas?

[2017-01-18 11:27] cwse89 commented on #394
Still getting this issue guys, any solutions out there?

[2017-01-18 19:08] jongheekang opened #1652 "Error when running dual_moving_average.py example - Error parsing datetime string"
# Description of issue

I just installed zipline and ran the basic dual_moving_average.py example with
zipline run -f dual_moving_average.py --start 2011-1-1 --end 2012-1-1 -o dma.pickle

However I received the following error

ValueError: Error parsing datetime string "2011-1-1" at position 5

The above exception was the direct cause of the following exception:

Traceback (most recent call last):

[2017-01-25 11:50] blair-anson opened #1658 "Install of zipline using anaconda results in Performance Warnings for every command"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `Linux  4.4.0-59-generic #80-Ubuntu SMP Fri Jan 6 17:47:47 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
* Python Version: `Python 3.4.5 :: Continuum Analytics, Inc.`
* How did you install Zipline: `conda`
* Python packages:
$ conda list
[code]

Now that you know a little abo

[2017-01-25 16:47] youzhonghui commented on #1652
I got this error too.

[2017-01-29 17:11] femtotrader commented on #189
Hi @ehebert ,

Is there any news about such feature integration?

Kind regards

[2017-01-30 09:14] femtotrader commented on #1511
https://groups.google.com/forum/#!forum/zipline

[2017-01-30 14:40] sabr-p commented on #1658
(zipline) ➜  notebooks $ conda info --envs
# conda environments:
#
zipline               *  /home/mehere/anaconda3/envs/zipline
root                     /home/mehere/anaconda3
(zipline) ➜  notebooks $ conda --version
conda 4.2.9
(zipline) ➜  notebooks $ python --version
Python 3.4.5 :: Continuum Analytics, Inc.

confirm the issue here, zipline installed in a fresh conda installation

[2017-01-30 22:31] Georgantas commented on #1485
I'm getting the same warning. Downgraded to 0.17.0 and that solved it. Maybe keep this issue open?

[2017-01-31 00:45] Georgantas commented on #1652
I get this too.

[2017-01-31 22:35] richafrank commented on #1087
@ssanderson Confirmed no issues during most recent numpy/pandas upgrade, which rebuilt ta-lib packages.

[2017-01-31 22:35] #1087 closed

[2017-02-01 10:56] WaxmasterC opened #1668 "Insert new fields in panel data"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 7 Version Pro)
* Python Version: Python 2.7.12 :: Anaconda 4.2.0 (64-bit)

Now that you know a little about me, let me tell you about the issue I am
having:

I have my own database that contains around one thousand european securities. Every day, historicals (da

[2017-02-01 17:41] AndreasClenow commented on #1591
Hi Peter,

I'm struggling with this issue over here. Do you know of a workaround for it? I tried anything I could think of, but can't get around this "failed to create process".

Thanks

[2017-02-01 23:09] ehebert commented on #189
@femtotrader I am unaware of any movement on this.
I did forward this issue to the internal list of community-driven issues that deserve attention.

[2017-02-02 02:55] litch commented on #1652
If you do:

`--start 2011-01-01 --end 2012-01-01`

instead of:

`--start 2011-1-1 --end 2012-1-1`

It should get past that phase.  I just got bitten by this as well, though am having other issues now with this same Python & Zipline & OS version combination.

[2017-02-02 03:05] litch commented on #1652
It should be noted that if you try to do the conda install (`conda install -c Quantopian zipline`) it will error with python3.6.  And I had to downgrade to python 3.4 (`conda create --name py34 python=3.4 && source activate py34`) in order to install it.

That installed fine, but everything seems totally broken still with a new error.  I'm wondering if this is just a broken project.

[2017-02-02 03:08] Georgantas commented on #1652
Yeah, the documentation isn't too amazing either. It'd be nice if we could get a list of dependancy versions for a functioning instance.

[2017-02-02 03:09] Georgantas commented on #1658
Downgrade pandas to 0.17.0. That should fix the warnings.

[2017-02-02 03:36] litch commented on #1652
FWIW, it looks like this example

`examples/buyapple.ipynb` works.  At least in the docker container version of this (python 2.7???) that I finally resorted to.  The ema example we were referencing before still does not work in a "pristine" zipline environment.

[2017-02-02 06:33] femtotrader commented on #189
In order to implement such statistics, an other kind of accounting will be required : hedging system (currently Quantopian zipline uses a netting system). See https://github.com/quantopian/zipline/issues/1375

[2017-02-02 08:51] femtotrader commented on #189
See some plot example on http://www.myfxbook.com/members/revtraderpro/rev-trader-pro-real/1043229

![capture d ecran 2017-02-02 a 09 46 23](https://cloud.githubusercontent.com/assets/5049737/22542551/a504f544-e92c-11e6-987b-b3c0ad20d21b.png)
![capture d ecran 2017-02-02 a 09 46 37](https://cloud.githubusercontent.com/assets/5049737/22542555/a7f236cc-e92c-11e6-9558-a02451fcc4b6.png)
![capture d ecr

[2017-02-02 11:00] blair-anson commented on #1658
Yep, that did the trick.
Conda command to downgrade was... `conda install pandas=0.17.0`

[2017-02-02 11:00] #1658 closed

[2017-02-02 19:04] #1624 closed

[2017-02-02 19:05] FreddieV4 commented on #1624
Hey @pgeez this should be fixed now in the latest zipline master thanks to the PR linked above ^^

[2017-02-02 19:13] richafrank commented on #1615
Done!

[2017-02-02 19:13] #1615 closed

[2017-02-03 08:14] PeterCherry commented on #1591
Hi,
try to add "" into this file:

C:\Program Files\Miniconda2\Scripts\zipline-script.py
#!"C:/Program Files/Miniconda2\python.exe"
Peter

Dne 01.02.17, AndreasClenow  <notifications@github.com> napsal:

[2017-02-03 08:20] AndreasClenow commented on #1591
Thank you, Peter! You have no idea how long time I tried to solve this silly little issue!

That did the trick. You saved me a lot of time!

[2017-02-03 19:22] FreddieV4 commented on #1652
Hi @jongheekang thanks for notifying us of your issue. So it looks like @litch has posted the fix to this above ^^ in that you'll need to use py27 or py34.

@litch sorry, we don't have conda packages for Python 3.5+ yet, but feel free to open a new issue with the new error you're having after downgrading to py34

[2017-02-03 19:24] #1652 closed

[2017-02-03 23:17] ScJa commented on #1614
I had the same problem. This particular error is solved by changing the date to earlier date such as 2010. I think the bundle doesn't have dates so far in the past.

However the tutorial still doesn't work, the follow up error to this one for me is:

`FileNotFoundError: [Errno 2] No such file or directory: '/home/j/.zipline/data/quantopian-quandl/2017-02-03T22;58;31.508525/minute_equities.bcolz/00

[2017-02-07 17:19] ssanderson opened #1675 "Consider shortening Asset.__repr__?"
The repr for asset currently displays all the information that can be associated with an asset, and the verbosity makes it unpleasant to use, especially in collections where the default behavior is to repr the elements of the collection.  For example, this is what a list of 5 assets from the Q database currently looks like:

[code]

By comparison, the current `__str__` is relatively compact:

[cod

[2017-02-07 17:23] ehebert commented on #1675
:+1: on shortening.
Your order seems right for `Equity` instances.
For `Future` instances, I would rank `auto_close_date` the same as `start_date` and `end_date`.

[2017-02-07 17:36] dmichalowicz commented on #1675
Agree with Eddie, I look at `auto_close_date` frequently for futures.

[2017-02-07 17:41] mtydykov commented on #1675
Agree about shortening. I also like the idea in (3) of optionally allowing the repr to be more verbose.

[2017-02-07 17:51] jmccorriston commented on #1675
I agree with Eddie and David. Your list is spot on for equities, but for futures, auto_close_date should be in the same tier as start/end date. My vote would be to just have a simplified version that matches what `__str__` shows. In my own experience, if I want to see the start/end date, I explicitly ask for the relevant attribute. I do this because the verbosity makes it too hard to read, or my l

[2017-02-07 19:04] gusgordon commented on #1675
Makes sense to me.

Relatedly, it might be worth it to have something that's even less verbose than `__str__`. Consider pyfolio, where we are displaying asset names all the time. Using `__str__` is too verbose (we already know it's an `Equity`!), and `symbol` can sometimes lead to confusion if there are multiple assets with the same symbol. We've elected to use a symbol-sid convention, e.g. `AAPL-

[2017-02-07 19:08] ssanderson commented on #1675
What happens when someone wants to analyze a futures (or, especially, a mixed-asset algorithm) with pyfolio?  symbol-sid is still sufficiently distinguishing here, of course, but I wouldn't advise baking in the assumption of a single asset type in pyfolio's display formatting.

[2017-02-07 19:20] gusgordon commented on #1675
True, though most people will probably trade primarily one asset type in their strategy. If someone is looking at a long list of assets they've traded, they don't need the type displayed unless there could be some uncertainty about the properties of the asset. Of course it's also nice to have a uniform format, so there are tradeoffs.

[2017-02-07 20:19] jmccorriston commented on #1675
We're going to need to make some pyfolio updates when futures roll through ;)

[2017-02-09 22:12] FreddieV4 commented on #394
Hi @cwse89 would you be able to provide some code that results in this error? I can't reproduce the error from the initial code that OP posted (there have been many API changes since then)

[2017-02-11 22:27] adamluc commented on #448
I am working to download the following dataset into a zipline algorithim via fetch_csv and running into an issue. Is there an example zipline algorithm that uses fetch_csv that I can review? Not sure if I am doing something wrong.

Thank you!

First, the code I am using is the following:

System specs: Running zipline v1.0.2, Mac OS El Capitan 10.11.6.

`
from zipline.api import fetch_csv

def ini

[2017-02-12 23:14] trical09 opened #1682 "CFE was closed in honor of the passing of both Gerald Ford and Ronald Regan"
CBOE and CFE observed the `USNationalDaysofMourning` and `HurricaneSandyClosings`:

`USNationalDaysofMourning`
http://www.mondovisione.com/news/cboe-and-cfe-will-be-closed-on-tuesday-january-2-to-honor-former-president-geral/
https://www.cboe.com/aboutcboe/legal/bulletins/archives/documents/eb062504.pdf

`HurricaneSandyClosings`
http://ir.cboe.com/press-releases/2012/29-oct-2012.aspx
http://www.cb

[2017-02-17 02:21] FreddieV4 commented on #1648
Hey @modi5 a couple of years ago we built wheels for zipline but we longer do this; if the source file works for you then you should be fine. You'd just need a conda/virtual environment for whatever version of zipline you'd like to use.

[2017-02-17 02:21] #1648 closed

[2017-02-17 02:23] FreddieV4 commented on #1647
Hi there, thanks for posting this issue. Where are you running `pip install zipline` from? In `bash` of the Docker container? Or within an IPython notebook?

If you're getting an `invalid syntax` error, it then seems like to me that you're running it inside the notebook (?), in which case you would need to run this instead:
[code]

Ultimately this seems like an environment-specific issue and so wh

[2017-02-17 21:05] FreddieV4 commented on #1682
Hey @trical09 this looks pretty good to me; feel free to make a pull request 👍

[2017-02-18 17:05] degtyarevalexey commented on #1572
Have the same problem here with custom data bundle.  A lot of data seem missing because of that weird uint32 limit:

[code]

Help please?

[2017-02-18 21:35] jpspfaria commented on #939
What would be the best way to right connectors for bitcoin exchanges on Zipline live trading modules?

[2017-02-19 15:08] geraybos commented on #1668
same concern here

[2017-02-19 16:38] WaxmasterC commented on #1668
I didn't succed to use news columns with history() via panel data. For the moment I call them with pandas method .from_csv() during initialize().

Le 19 févr. 2017 à 16:08, eric <notifications@github.com<mailto:notifications@github.com>> a écrit :

same concern here

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/quantop

[2017-02-20 04:48] geraybos opened #1687 "Data bundle support for data field other than OHLCV"
Hi,

It would be better if data bundles support ingesting data other than open, high, low, close and volume, and can be returned with history(). For example, **open interest** for futures and **trading amount** for stocks.

Actually, I am guessing it is not the first time for such feature request. It will be appreciated if related consideration can be explained.

Thanks

[2017-02-23 20:08] spyamine commented on #1668
Hi, can you please tell me how did you make symbol work with your data?

[2017-02-23 23:44] richafrank commented on #1591
This is a tough one. It looks like it's an [issue](https://github.com/pypa/setuptools/issues/398) in certain versions of setuptools that's affecting various installers. I tried some of the suggested patches from linked issues but couldn't get them working, so not sure we can do much in zipline.

The workarounds seem to be either editing the -script.py as suggested above, or installing conda in a d

[2017-02-23 23:44] #1591 closed

[2017-02-24 11:03] WaxmasterC commented on #1668
If you use OHLCV data structured as panel data and charged thank to 'my_algo.run(data)' you can use the symbol() command.
For example like that :

`
for i, sec in enumerate(self.univers):
`
`
      last = data.history(symbol(sec), 'price', self.long_lookback, '1d')
`

But if you want to use other data (with new fields), you can use the command `pd.DataFrame.from_csv('you_file_data.csv')` during In

[2017-02-24 22:19] FreddieV4 commented on #1628
Hi @apb210 thanks for opening the issue. I'm not familiar with Eclipse as a Python IDE but I'm guessing that you're using PyDev? If so, you might have to check that the environments of Python and PyDev are synced up properly.

You can do this by going to `Preferences -> PyDev -> Interpreter` and clicking an option that says something about synchronizing the environments.

Otherwise, I haven't seen

[2017-02-28 20:20] WenchenLi commented on #1443
any update on fixing sqlalchemy.exc.InvalidRequestError?
[code]

I'm running the buyapple example and after the suggestion from https://github.com/quantopian/zipline/issues/1316, I still got the same error on ubuntu 16.04.

zipline was install initially with pip but later from `sudo -H pip install -e git+https://github.com/quantopian/zipline@master#egg=zipline_master
`

do removed `~/.zipline` but

[2017-03-01 18:44] llllllllll commented on #1626
Thanks for the report, the docs are in fact out of date here.

[2017-03-02 12:22] richardtbenade opened #1695 "Error when installing Zipline on Datalab"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux datalab 3.16.0-4-amd64 #1 SMP Debian 3.16.7
* Python Version: 2.7
* Python Bitness:
%%bash
pip install zipline
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
n/a (still trying to install)
* Python packages: `$ pip freeze` or `$ conda l

[2017-03-03 00:18] FreddieV4 commented on #1695
Hi Richardt,

I believe I answered your previous issue here https://github.com/quantopian/zipline/issues/1647.

As this is a duplicate, I'm going to close this issue; but feel free to follow up on the issue you had previously opened

[2017-03-03 06:32] richardtbenade commented on #1695
Hi Freddie

I managed to get things running previously, thanks. We have however
recently beefed up our virtual machine and now I get the mentioned error
while running using the bash mode:
(in the datalab notebook I run:)
%%bash
pip install zipline

Thanks in advance

Kind regards

Richardt Benade
Analyst

m. +27 72 594 8792 | t. +27 861 739 468
s. Unit 33A, Katherine & West Building, 114 West Stre

[2017-03-03 06:35] richardtbenade commented on #1695
The error I received is below:

Kind regards

Richardt Benade
Analyst

m. +27 72 594 8792 | t. +27 861 739 468
s. Unit 33A, Katherine & West Building, 114 West Street, Sandton, 2196,
South Africa
richardt@rezco.co.za www.rezco.co.za <http://rezco.co.za/>

<http://www.linkedin.com/company/rezco-asset-management>
<https://twitter.com/rezcoam>
<https://plus.google.com/+REZCOAssetManagementSandton>
<h

[2017-03-03 06:36] richardtbenade commented on #1695
Collecting zipline
Requirement already satisfied: multipledispatch>=0.4.8 in
/usr/local/lib/python2.7/dist-packages (from zipline)
Requirement already satisfied: bottleneck>=1.0.0 in
/usr/local/lib/python2.7/dist-packages (from zipline)
Requirement already satisfied: pip>=7.1.0 in
/usr/local/lib/python2.7/dist-packages/pip-9.0.1-py2.7.egg (from
zipline)
Requirement already satisfied: sqlalchemy>=1

[2017-03-05 09:43] FreddieV4 commented on #1695
Hi @richardtbenade so from looking at the error, it's not 100% clear as to what's going on but from seeing this line `x86_64-linux-gnu-gcc: error trying to exec 'cc1plus': execvp: No
such file or directory` you might be missing g++? Not sure. `sudo apt-get install g++` could fix that if that's the case.

[2017-03-06 07:06] richardtbenade commented on #1695
Hi Freddie

Many thanks for your response. I believe I've installed g++ successfully
this morning: (SSH below)

[image: Inline images 1]

After this I ran the pip install zipline in datalab (bash mode) but still
get the attached error. For some reason it "failed building wheel for
bcolz". I tried pip installing bcolz but get the error:

"Failed building wheel for bcolz
Command "/usr/bin/python -u

[2017-03-06 15:37] bonesmccoy opened #1700 "Development Environment missing commands"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux bones-alphai 4.8.0-39-generic #42~16.04.1-Ubuntu SMP Mon Feb 20 15:06:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: 2.7 (in a virtualenv)
* Python Bitness: 64
* How did you install Zipline:  from the source code

Now that you know a little about me,

[2017-03-06 19:15] FreddieV4 commented on #1700
Hey @bonesmccoy thanks for opening up this issue. I was considering moving the dev environment info from the wiki to [zipline.io](http://zipline.io); it'll take some time to do this on my end as I'm looking at some other stuff right now though feel free to submit a PR that fixes this

[2017-03-07 01:18] wenghb commented on #1511
@lssilva Thanks~

[2017-03-07 01:19] wenghb commented on #1511
@femtotrader thanks.

[2017-03-07 15:56] bonesmccoy commented on #1700
Sorry for the silly question: how do I submit a PR for updating the wiki ? thanks

[2017-03-07 16:06] FreddieV4 commented on #1700
Oh, sorry if my response was vague. I meant that if you want to move the dev environment info to the zipline docs (on http://zipline.io), you could submit a PR for that (I'd like to move the dev environment docs myself to zipline.io but I'm currently looking at some other issues)

[2017-03-07 16:35] bonesmccoy commented on #1700
Thanks for the explanation. I'll work on it!

[2017-03-07 23:04] FreddieV4 commented on #1469
@mathvdh Sorry for the late response here; if you want to submit a PR you could make a branch for that, otherwise I'll get around to updating it at some point

[2017-03-08 21:29] FreddieV4 commented on #1572
Hey @zhangzheng88 thanks for opening up this issue. The size limit has to do with some stuff in BColz (which you can look through if you're curious, in this repo)

Currently we don't support volumes that are larger than the size of uint32 (you can see that number with numpy (`np.iinfo(np.uint32)`), but we can keep this issue in the backlog and if we need to discuss changing the limit to something

[2017-03-09 17:16] FreddieV4 commented on #1614
Hey @i-Data thanks for posting about this issue. I see from your stacktrace that you're running zipline with Python 3.5, which we don't yet support. You'll need to use zipline in a Python 2.7 or Python 3.4 environment (you can do this using conda or virtualenv).

@ScJa If you could open a separate issue and fill out the template then that'd be great!

[2017-03-10 03:54] quocgfy commented on #1630
I'm having the same issue.  date, 2006-12-20 and many others in 2006 quantopian-quandl data

[2017-03-10 06:38] quocgfy commented on #1614
I'm having same issue. Looks like every 6th day it fails.

[2017-03-10 09:50] quocgfy commented on #1469
I'm also experiencing this issue. I have a simple pipeline with RSI.  This is a blocker...must be fixed asap. I suspect it's the data issue?  Also quantopian-quandl downloads, but not  Quandl data cannot be downloaded - strange.

[2017-03-10 09:54] quocgfy commented on #1295
I can't get QUANDL data either. So we're stuck with quantopian data, which doesn't work ( SEE - float is required error). GREAT

[2017-03-10 19:12] FreddieV4 commented on #1469
@mathvdh Actually, I'm just going to open a PR and fix this now, as it's been a while since this issue has been opened.

[2017-03-10 20:47] FreddieV4 commented on #1469
@mathvdh Actually, I'm just going to open a PR and fix this, as it's been a while since this issue has been opened.

[2017-03-11 00:26] FreddieV4 commented on #1485
Hi there. We've now released zipline `1.1.0` which has support for pandas 0.18

[2017-03-11 00:27] FreddieV4 commented on #1658
We've just released zipline `1.1.0` which support pandas 0.18

[2017-03-11 05:20] FreddieV4 commented on #1621
Hi @QuentinLewes this notebook is currently not using the latest version of zipline, as many API changes have occurred since then. If you'd like to open a PR to that repository to fix that notebook, feel free to do that.

You can look at the q2 migration guide [here](https://www.quantopian.com/quantopian2/migration) to see what changes need to be made, and also look at the latest zipline code

[2017-03-11 05:21] FreddieV4 commented on #1601
Version `1.1.0` was released today, which has pandas 0.18 support.

[2017-03-11 05:23] FreddieV4 commented on #1570
Hi @modi5 could you please post the full stack trace for this, and your full list of python packages either using `pip freeze` or `conda list`?

[2017-03-11 05:28] FreddieV4 commented on #1566
This issue should be fixed in the latest release of zipline. You can check out the announcement [here](https://groups.google.com/forum/#!topic/zipline/JbTpM6BJjqQ). If you're still experiencing this issue, feel free to re-open/comment on this issue.

[2017-03-11 05:28] #1566 closed

[2017-03-11 05:29] FreddieV4 commented on #1503
This should be fixed now, right?

[2017-03-11 05:37] FreddieV4 commented on #1220
Looks like this was fixed. Going to close this.

[2017-03-11 05:37] #1220 closed

[2017-03-13 22:02] quocble commented on #1630
It looks like there's data issues in 2012.  >= 2012 to present, this error doesn't show up.

[2017-03-15 14:39] Alex-whiteness opened #1711 "Possible float rounding issue"
Hi!

## Environment

* Operating System: `Linux alex-P85-D3 3.13.0-110-generic #157-Ubuntu SMP Mon Feb 20 11:54:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
* Python Version: `Python 3.4.3`
* Python Bitness: `64`
* How did you install Zipline: `pip`
* Python packages:
[code]

## Description of Issue

I've got a problem that sometimes when I'm running a backtest I'm getting a ridiculously big sortin

[2017-03-16 21:24] FreddieV4 commented on #1695
Hey Richard,

I'm not sure what entirely is going on here as I'm unfamiliar with Datalab, and not sure if you can use conda in your environment; normally I would just run `conda install bcolz` to install bcolz properly.

However, I just found this guide made recently that tells you how to deal with installing python libraries on datalab: https://cloud.google.com/datalab/docs/how-to/adding-librarie

[2017-03-17 06:25] richardtbenade commented on #1695
Thanks Freddie, I'll check it out

Kind regards

Richardt Benade
Analyst

m. +27 72 594 8792 | t. +27 861 739 468
s. Unit 33A, Katherine & West Building, 114 West Street, Sandton, 2196,
South Africa
richardt@rezco.co.za www.rezco.co.za <http://rezco.co.za/>

<http://www.linkedin.com/company/rezco-asset-management>
<https://twitter.com/rezcoam>
<https://plus.google.com/+REZCOAssetManagementSandton>

[2017-03-23 05:54] FreddieV4 commented on #1641
Hey @fysdbd are you still seeing this issue? I'm not able to reproduce it on zipline master

[2017-03-26 23:30] FreddieV4 commented on #1682
PR merged

[2017-03-26 23:30] #1682 closed

[2017-03-27 23:26] #1237 closed

[2017-03-30 02:00] devanp92 opened #1732 "Unable to retrieve specific sids"
# Environment

* Operating System: Darwin Kernel Version 16.3.0
* Python Version: `Python 2.7.13`
* Python Bitness: `64`
* How did you install Zipline: `pip`
* Python packages:

[code]

# Description of Issue

Zipline is not able to find specific SIDs for ETNs  (`XIV`, `VXX`, `UPRO`, etc.)

[code]

`zipline.errors.SidsNotFound: No asset found for sid: 40516`

* What did you expect to happen?

To f

[2017-03-30 04:08] FreddieV4 commented on #1732
Hi @devanp92. It looks like you're trying to use the `sid`s of the equities that are mapped in the Quantopian environment.

Using zipline outside of the Quantopian environment, the `sid` of your equities is dependent on your bundle; e.g. if you create a custom bundle and have equities `equities = ( 'AAPL', 'MSFT', 'TSLA')`, then the `sid` of each one of those assets is just the index or those asse

[2017-03-31 18:09] FreddieV4 commented on #1295
@quocgfy are you getting the exact same error? with the same version of zipline?

[2017-04-01 18:06] TimMurnaghan commented on #1316
Another me too. Fresh install on windows 7 from conda.
Not even close to working "out-of-the-box"

First can't get the quandl data
requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://s3.amazonaws.com/quantopian-public-zipline-data/quandl

Tried a yahoo bundle and now get:
sqlalchemy.exc.InvalidRequestError: Could not reflect: requested table(s) not available in sqlite:///C:

[2017-04-03 19:29] gohanlon opened #1736 "Bundle file for quatopian-quandl bundle not retrievable from S3"
Dear Zipline Maintainers,

Before I describe my environment, let me succinctly summarize both the issue and what appears to be the root cause of this issue in a way that's independent of my environment:

[code]

Where the URL being cURL'd above is the value of [QUANTOPIAN_QUANDL_URL](https://github.com/quantopian/zipline/blob/master/zipline/data/bundles/quandl.py#L376).

Now, let me describe my en

[2017-04-03 19:54] herrold commented on #1736
There is something broken in your file retrieval layer outside of the product

I saw this report across the weekend -- It worked in a Windows (10) environment with 'wget', and also with wget it worked for me directly, under Linux (CentOS 7, updated to current) -- checking again today it still works with 'curl'

$ curl -o quandl-tar -# https://s3.amazonaws.com/quantopian-public-zipline-data/quandl

[2017-04-03 19:59] jdricklefs commented on #1736
Hi @gohanlon and @herrold ,

Something's gone awry with the configuration of our internal job that updates that file. I'm investigating now.

In the meantime I've (twice, now) manually changed the permissions back to Public-Readable to work around it.

I'm going to leave this issue open until the root cause is sorted out. Thanks for reporting it to our attention!

[2017-04-03 21:31] jdricklefs commented on #1736
We've fixed the problems with the permissions on the file-generating job, so this should be fixed for good now. Thanks everyone for your patience!

[2017-04-03 21:31] #1736 closed

[2017-04-03 22:00] gohanlon commented on #1736
@jdricklefs Awesome! As you'd expect, I'm now able to `curl` the file and `zipline ingest -b quantopian-quandl` works perfectly. And, I'll update this issue if I notice that the file permissions have reverted to something less than "public-readable". Thanks!

[2017-04-05 03:27] #1626 closed

[2017-04-07 11:28] spyamine opened #1744 "Pipeline error using non us equity"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$

[2017-04-07 22:50] ProZachJ commented on #614
Has anyone had any luck with this? I've implemented my own calendar as suggested above, but have run into the benchmark issue (at least I think that is what is causing the error). The example code @warren-oneill put up isn't visible anymore so having some difficulty understanding what other changes I need to make to get my custom calendar running.

[2017-04-10 17:40] FreddieV4 commented on #1482
A call to `history()` is deprecated and we use `data.history()` now, as @hamannj has stated above. If you experience this issue again, feel free to open another issue 😃

[2017-04-10 17:40] #1482 closed

[2017-04-12 02:27] bmpalatiello opened #1751 "Add "grace" period to CalendarRollFinder and VolumeRollFinder"
Currently the CalendarRollFinder rolls contracts based on x-days to auto-close(which I take to be expiration though it would be more helpful generally to use the first notice date). However, just to make an extreme example, if you set the roll to be 5-days to auto-close and today is 6-days to auto-close and your position(%) goes from 5% to -50% realistically you would want to sell 5% of the near c

[2017-04-12 14:00] jmccorriston commented on #1751
@bmpalatiello are your comments directed at moving a position from one contract to the next in your portfolio?

The `roll` attribute of `ContinuousFutures` specifies the method for determining the current active contract of a particular continuous future. It does not define an automatic roll of a position from one contract to the next. Instead, an algorithm can move from one contract to another wh

[2017-04-12 14:34] bmpalatiello commented on #1751
You'll come across this as it matures. Rolling in general is tricky to automate, but I'm not even talking about explicitly "rolling" this is more concerned with automated execution or making the research environment as realistic as possible. Maybe I'm not completely understanding the current functionality, but to to the extent that futures trading plans to be automated this is something you will c

[2017-04-12 14:45] jmccorriston commented on #1751
Agreed on the fact that rolling is tricky to automate. The thing to remember with what's available in research is that continuous futures are not tradable assets. They are a tool that can be used to maintain a continuous reference to an underlying asset. The roll functionality of a continuous future does not actually have any impact on your portfolio. Instead, the `roll` defines _how_ the continuo

[2017-04-12 15:42] bmpalatiello commented on #1751
I know, they're just generic price indices. But the roll logic, while most of the time is miniscule, does have an impact on the returns. VIX futures are one example where roll logic can have a bigger effect. In real trading  the scenario above does have a real economic impact in terms of costs. So, while maybe trivial when backtesting a strategy, when actually trading, the roll logic and having an

[2017-04-13 16:15] jmccorriston commented on #1751
Ok, after speaking with one of our engineers, I think I have a much better understanding of what you're asking now. It sounds like you would like continuous futures in research to be a better indication of what an algo might look like that has a different roll logic than either of the builtins.

Right now, research is essentially a way to look at pricing data, while backtesting involves more execu

[2017-04-13 16:20] jmccorriston commented on #1751
By the way, I failed to respond to your assumption about the `auto_close_date`. It's set to 2 trading days prior to the earlier of the `end_date` or `notice_date`.

roughly:
[code]

[2017-04-15 07:38] ItsArjun opened #1752 "Can't Run buyapple.py"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 7 32 bit)
* Python Version: `3.4`(Activated 3.4 from anaconda 3. using this method https://github.com/quantopian/zipline/issues/650#issuecomment-167050802
* IDE: PyCharm
 project interpreter: Python 3.6 Anaconda

Now that you know a little about me, let me tell

[2017-04-16 18:31] FreddieV4 commented on #1316
@TimMurnaghan that was an issue we had for about a day but was fixed (see https://github.com/quantopian/zipline/issues/1736)

Otherwise it looks like this works fine on master when I ran `zipline ingest -b quantopian-quandl` and then ran my example algorithm

[2017-04-16 18:35] FreddieV4 commented on #1752
Hi @ItsArjun, are you sure that the example algorithm is being ran in your conda environment and not your PyCharm 3.6 interpreter?

Also `buyapple_out.pickle` is the performance `DataFrame` in the pickle Python file format, which is specified using the `-o` flag and is created once your algo runs.

[2017-04-18 02:12] quocble opened #1753 "What's the equivalent to Quantopian symbol lookup in zipline?"

[2017-04-18 13:55] ItsArjun commented on #1752
Yes am running in conda environment, which is located in ...\Anaconda3\python.exe(3.6.0). I activated python 3.4 by using the command activate Python34 in Terminal which is my environment.
This is what i did in terminal.

`D:\Folders\ArJuN\Coding>Activate Python34

(Python34) D:\Folders\ArJuN\Coding>zipline run -f D:\Folders\ArJuN\Coding\buyapple.py --start 2000-1-1 --end 2014-1
-1 -o buyapple_out

[2017-04-18 18:09] ItsArjun commented on #1752
buyapple.py worked without doing anything to Anaconda. I just reinstalled Pycharm and setup everything clean and it just worked. Thanks for bothering.

[2017-04-18 18:09] #1752 closed

[2017-04-19 10:56] gijzelaerr opened #1756 "run_algorithm keeps returning empty table on minute data"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 10
* Python Version: `Python 3.6.0 :: Anaconda custom (32-bit)`
* Python Bitness: `32`
* How did you install Zipline:  `pip`
* Python packages:
[code]

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

* Wh

[2017-04-20 03:59] sdfoley opened #1758 "Dockerfile exits with errors"
Hello, I tried using your Dockerfile and couldn't get it to work. Searching around, I found tectoro/zipline which I had to rewrite a bit. Final version that worked is attached.

Thanks

[Dockerfile.txt](https://github.com/quantopian/zipline/files/939973/Dockerfile.txt)

[2017-04-20 11:23] rytsim commented on #1614
I've had the same problem with python 3.5 and these changes solved it for me.

* Instead of `history()` I've used `data.history()` and passed in a list of securities as the first argument. The final moving average lines look like this:

`long_mavg = data.history([symbol('AAPL')], 'price', 300, '1d').mean()`

`short_mavg = data.history([symbol('AAPL')], 'price', 100, '1d').mean()`

* I've also had

[2017-04-22 03:30] sdfoley commented on #1758
I upgraded Docker following these instructions:

https://docs.docker.com/engine/installation/linux/fedora/

and ran the build command inside the zipline-master directory and everything works fine.

You can close this ticket. Thanks!

[2017-04-22 03:30] #1758 closed

[2017-04-23 05:42] FreddieV4 commented on #1756
Hi @gijzelaerr thanks for posting about this issue. I noticed that you're using different versions of pandas and numpy that zipline does not currently use (and see that you tried with different versions).

Have you tried creating a Python 3.4 env using **conda create -n zip34 python=3.4** and then running **conda install -c Quantopian zipline**?

[2017-04-23 06:06] FreddieV4 commented on #1744
Hi @spyamine thanks for opening this issue. Can you provide me with some more information about your environment?

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: run `$ python --version`
* Python Bitness: run `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python

[2017-04-23 06:53] FreddieV4 commented on #1744
Ah. I also just saw that you're calling `get_pricing` which is only available in the Quantopian research environment, so a call to that would not work in your `before_trading_start` AFAIK

I modified your algo code in this [gist](https://gist.github.com/FreddieV4/054e881dbe0732bdad687c97b3109978) to get it to work.

I ran this on a Windows 10 machine, using conda to create a Python 2.7 env called

[2017-04-23 07:05] spyamine commented on #1744
Hi, thanks for the reply.
Regarding get_pricing it is a function that have the same name of the one in quantopian. my function gives me a panel data with the same structure as the one in Quantopian. For the environment, please find below the details:
$ uname --all
Darwin
$ python --version
Python 2.7.12 :: Anaconda custom (x86_64)
$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2

[2017-04-23 07:07] spyamine commented on #1744
Hi, regarding the method you have used using ingesting. I'd rather want to use the get_pricing method and run it in a the ipython notebook environment so I can use it for different stock exchanges and sectors easily. Is there a way how to use it that way and get no error?
because i know that when you ingest data you should metadata about the assets i use and the different stock exchanges i use.

[2017-04-24 03:06] FreddieV4 commented on #1753
Hi @quocble, you can use the `lookup_symbol` method in the [AssetFinder](https://github.com/quantopian/zipline/blob/master/zipline/assets/assets.py#L243) class.

[code]

[2017-04-24 03:12] FreddieV4 commented on #1744
Without your `get_pricing()` function:

- In your IPython Notebook, try putting `%load_ext zipline` in a separate cell at the top.

- Then, wherever your algo code exists, instead of called `algo.run()` on an instance of `TradingAlgorithm`, put `%%zipline run --start 2016-01-01 --end 2017-01-01 -o perf.pickle` at the top of the cell
- When you execute the cell the algorithm should then run and giv

[2017-04-24 08:46] spyamine commented on #1744
Thank you very much for the info. I'll try it and get back to you on that.

[2017-04-24 11:56] I-Larsson opened #1759 "run_pipeline equivalent in zipline"
Hi there,

I have ingested data from yahoo-finance, and now want to start researching by using pipeline api. The issue I'm having is that there does not seem any way to load ingested data in the following pipeline-format:

"run_pipeline(my_pipeline(), start_date, end_date)".

There is a momentum strategy with pipeline in the examples (https://github.com/quantopian/zipline/tree/master/zipline/examp

[2017-04-24 16:00] ssanderson commented on #1675
@jbredeche expressed frustration in slack today that this has not yet been done.

[2017-04-24 20:48] FreddieV4 commented on #1753
If by symbol lookup you mean in the context of a backtest, then you would need to do `from zipline.api import symbol` and then use `symbol('AAPL')`, or whatever equity you want to trade

[2017-04-26 19:25] DMTSource opened #1771 "Yahoo Bundle Factories example not working"
I am attempting to use the example for the Yahoo Bundle Factories:
http://www.zipline.io/bundles.html#yahoo-bundle-factories

But I get the following errors. Ubuntu 1404, just upgraded to zipline 1.1.0. Using the exact example from the link above. My hope is to, when its working, add the SPY symbol so I can use that price data in zipline.

zipline ingest -b my-yahoo-equities-bundle
Merging daily e

[2017-04-26 19:50] richafrank commented on #1771
Interesting - we have a similar report in https://github.com/quantopian/zipline/issues/1641, but we haven't been able to reproduce it...

Anything you can do to help us repro would be much appreciated. As a start, could you tell us more about your environment?

    Python Version: $ python --version
    Python Bitness: $ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'

[2017-04-26 20:09] DMTSource commented on #1771
My pleasure,

Python Version:  **Python 2.7.6**

Python Bitness:  **64**

How did you install Zipline: **sudo pip install zipline --upgrade**, I think I already had the 1.1.0 version of zipline from recent work. But I hit this bug, and attempted to upgrade to the newest version in case that was an issue. No change occurred. [Here is the log from that upgrade in case it tells more](https://www.drop

[2017-04-27 09:28] gnuhub opened #1772 "conda install -y -c Quantopian zipline=1.1.0 PackageNotFoundError"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `Darwin ws 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64`
* Python Version:` Python 3.4.5 :: Continuum Analytics, Inc.`
* Python Bitness: `64`
* How did you install Zipline: `conda`
* Python packages:
[code]

[2017-04-28 20:25] SigmaZipline opened #1774 "Trading Calendar API"
Hi,

I'm trying to switch between calendars in zipline when running an algorithm through run_algorithm-method, but can't seem to get that working. I have tried to initiate get_calendar("LSE") in initialize-function, but it does not respond - it reverts to "NYSE" which is the default.

Anyone that knows how I can easily switch between calendars?

I have read the docs and read the few posts concerni

[2017-05-01 16:53] kevinyuan opened #1776 "Can't connect to Yahoo - Errors: Loader: failed to cache the new benchmark returns"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux hostname  2.6.18-238.12.1.el5 #1 SMP Tue May 31 13:22:04 EDT 2011 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: Python 3.5.1
* Python Bitness: 32
* How did you install Zipline: pip
* Python packages:

alembic==0.9.1
appdirs==1.4.3
bcolz==0.12.1
Bottleneck==1.3.0

[2017-05-04 14:22] FreddieV4 commented on #1772
Hi @gnuhub. You're getting this error because we have not yet built OS X conda packages for the latest zipline release. At some point we'll have to add that but for now using zipline `1.0.2` or zipline master should work fine.

[2017-05-04 15:07] mayurbakhai opened #1781 "Ingesting custom futures data in zipline"
Dear Zipline Maintainers,

Apologies for skipping the usual format, I have a more general question..

I tried out latest version of zipline from github for backtesting futures. I have futures data with roll date and spread info. I was able to ingest dividend and split info for equities by supplying dividends and splits dataframes to `adjustment_writer`. How can I ingest futures data with roll date

[2017-05-04 20:02] #71 closed

[2017-05-04 20:02] #391 closed

[2017-05-04 20:02] FreddieV4 commented on #608
Just cross-referencing some duplicate issues to clean some stuff up.

#71, #391

[2017-05-04 20:32] FreddieV4 commented on #1097
Hi @frawgie if you try installing a newer version of zipline, e.g. `1.0.2` via Anaconda or `1.1.0` via zipline master, do you still run into this issue?

If you try to use a newer version, keep in mind there have been API changes since then so your algo would now look like:

[code]

[2017-05-04 20:42] FreddieV4 commented on #603
Hi @npezolano @martingaleakki. [Futures](https://www.quantopian.com/posts/futures-have-launched-research-backtesting-lectures-tutorial-and-more) are available now although we don't yet have any example algorithms in the zipline repo (some can be found in the forums and one in the [tutorials](https://www.quantopian.com/tutorials/futures-getting-started#lesson12)).

In regards to futures data, I don

[2017-05-04 20:53] FreddieV4 commented on #1774
Hi @I-Larsson so it looks like the issue is that in `run_algo.py`, trading calendar isn't actually being passed in; `get_calendar()` only gives you an instance of a specific calendar (it's not the behavior you're expecting).

So, the calendar you want to use needs to be passed in via keyword to `run_algo.py` where it creates an instance of `TradingAlgorithm`. The calendar you'd want to use would i

[2017-05-04 20:55] FreddieV4 commented on #1771
Hi @DMTSource I'm wondering if this is an issue with Python 2.7.6. Would you be able to either upgrade your version of Python to 2.7.13 or create a conda env with Python 2.7.13, and then try running `ingest` again on your custom bundle?

[2017-05-05 07:52] gijzelaerr commented on #1756
So, this is actually an other issue, but when I try to use conda it fails:
[code]

This is the reason why I was using pip for zipline.

[2017-05-05 10:25] deltahedgetech commented on #1774
hi guys,

this is what I've done.

in backtest -
if __name__ == '__main__':

    start = makeTS("2017-5-04"); end = makeTS("2017-5-04")  # this can go anywhere before the TradingAlgorithm

    # load the bundle
    bundle_data = load('quandl_ftse350', os.environ, None)
    cal = bundle_data.equity_daily_bar_reader.trading_calendar.all_sessions
    pipeline_loader = USEquityPricingLoader(bundle_dat

[2017-05-08 15:25] mayurbakhai commented on #1781
You can close this issue as #603 is open.

[2017-05-08 18:28] #1732 closed

[2017-05-08 18:29] #1647 closed

[2017-05-08 18:30] FreddieV4 commented on #1695
Going to close this as it looks like a DataLab issue. Feel free to re-open otherwise

[2017-05-08 18:30] #1695 closed

[2017-05-08 18:35] FreddieV4 commented on #1299
@jdgd1 did you end up getting this to work?

[2017-05-08 18:40] FreddieV4 commented on #1099
@Mikedoh89 did you manage to get this working?

[2017-05-08 18:41] FreddieV4 commented on #1004
x-ref https://github.com/quantopian/zipline/pull/1701

[2017-05-08 18:45] FreddieV4 commented on #1175
x-ref https://github.com/quantopian/zipline/pull/1757

[2017-05-08 18:52] FreddieV4 commented on #1781
Hi @mayurbakhai. In regards to the last question you have, in terms of having separate data bundles, I'm not sure which would be best. I suppose it would be dependent on the data you have and if you want to mix futures and equities data in an algo.

[2017-05-08 18:53] #1781 closed

[2017-05-08 18:58] FreddieV4 commented on #1774
Some work being done on this [branch](https://github.com/quantopian/zipline/tree/use-different-calendars)

[2017-05-08 19:06] FreddieV4 commented on #1744
@spyamine have you made any progress on this?

[2017-05-08 19:08] FreddieV4 commented on #1628
@apb210 `history()` commands are deprecated, so if you're using the latest zipline or zipline `1.0.2` you should make calls to `data.history()`.

Feel free to re-open this if you come across this issue again.

[2017-05-08 19:08] #1628 closed

[2017-05-08 19:15] FreddieV4 commented on #1675
@ssanderson in what case would we worry about not having a more verbose repr?

I think shortening it, making it similar to `__str__` would be useful. While working on the `Transaction` repr change I was looking at `Asset` as an example and thought it had too much information.

[2017-05-08 19:19] ssanderson commented on #1675
@FreddieV4 I do find it occasionally useful to have all the info at hand.  I think those cases are outweighed, however, by the cases where the repr is too verbose.

At this point I think just changing `__repr__` to match the current `__str__` is a strict improvement that's worth doing.  In the future, we can add hooks for contexts like PyFolio that might want to contextually-override the repr, but

[2017-05-08 19:21] FreddieV4 commented on #1571
Hi @zhangzheng88 sorry for the late response to this. In a cell above the call to the `%%zipline` magic you need to run `%load_ext zipline`. Then you should be able to run the cell using the magic.

[2017-05-08 19:51] FreddieV4 commented on #1675
@ssanderson Sure I can put together a PR for this.

[2017-05-08 19:58] FreddieV4 commented on #1675
@ssanderson Sure I can put together a PR for this.

How does the `__repr__` works between `Asset` and `Equity` though? In the `Equity` object we define the repr and it's pretty much the same as the repr for `Asset`. Would the repr for `Equity` not override the repr for `Asset` because it's a subclass?

i.e. Wouldn't I have to change the repr for both `Asset` and `Equity`?

[2017-05-08 21:07] I-Larsson commented on #1774
FreddieV4: Thank you for the clarification.
deltahedgetech: The algo seems to be responding to the calendar now with that method - thank you.

[2017-05-09 01:55] #1772 closed

[2017-05-09 03:14] FreddieV4 commented on #1756
Hmm if you've created a fresh conda env I don't see why you would be getting a conflict like that. We don't include Windows 32-bit in our integration tests so I'm not sure if that has something to do with it.

[2017-05-09 03:18] FreddieV4 commented on #1776
Hi @kevinyuan. I see you've tried installing with pip. Did you check to make sure you have all the necessary dependencies? (Check [zipline.io](http://www.zipline.io/install.html))

[2017-05-09 05:53] FreddieV4 commented on #1776
Also we're not currently building/testing packages for 32 bit Anaconda so that could also be the issue. Could you try with 64 bit Anaconda?

[2017-05-09 08:33] spyamine commented on #1744
Hi, I'm sorry I did not have time to try it. I was traveling since. will be back home soon and try it

Thanks for all

Amine

[2017-05-09 10:28] gijzelaerr commented on #1756
well, i created a fresh conda environment :)  using the command you supplied.

[2017-05-10 02:10] richafrank commented on #1756
Regarding the install, that makes sense. As @FreddieV4 said, we're not producing 32-bit packages anymore. We made some a while ago, but looks like only for python 2.7, so you're seeing the conflict between python 3.4 and zipline when installing for win-32.

pip or win-64 conda should install zipline successfully. For pip, you'll need to make sure it can compile zipline's C extensions, whereas the

[2017-05-10 03:14] FreddieV4 commented on #1400
@Dessth did you manage to make any progress on this?

[2017-05-15 14:23] gijzelaerr commented on #1756
i can confirm that the installation works with a 64 bit conda with python 3.4. Still, i'm getting an empty performance table returned by `zipline.run_algorithm()`.

[2017-05-16 01:37] ivanlen commented on #1774
I am trying to implement Bitcoin data in Zipline.
My problems arise from the fact that Bitcoin does not have weekends or holidays in it calendar. So I don't know how to implement a proper calendar or actually no calendar.
Do you have any advise. Thank you!

[2017-05-16 20:01] FreddieV4 commented on #127
@ehebert Would you say [this line](https://github.com/quantopian/zipline/blob/611f1702c72cf26ee1539fb5bab0d96f2c7b0285/zipline/data/us_equity_pricing.py#L119) fixes this issue?

[2017-05-16 21:12] ehebert commented on #127
@FreddieV4 that function enables winsorizing the pricing data, which may be sufficient to winsorize the returns, as long as pricing data is the only input that would cause the returns to have outliers.

[2017-05-16 21:34] ehebert commented on #127
Expanding on https://github.com/quantopian/zipline/issues/127#issuecomment-301916947, the function you linked only applies to daily pricing data.

To fully winsorize input data a similar function would need to be applied to the writers `minute_bars` module.

[2017-05-17 00:28] pbharrin commented on #1776
I get a similar error when creating an empty TradingAlgorithm().  I traced it down to the Yahoo! URL for the benchmark returns no longer works.
The code generates the following URL:
https://ichart.finance.yahoo.com/table.csv?a=11&s=%5EGSPC&b=29&e=15&d=4&g=d&f=2017&c=1989
which does not work.

This is generated from format_yahoo_index_url() in zipline/data/benchmarks.py.

[2017-05-17 01:50] FreddieV4 commented on #1776
@pbharrin I've just been able to reproduce this issue today as well. Will look into how to fix this at some point.

[2017-05-17 02:12] ywang412 commented on #1776
Same here today. Not sure how to fix the problem.

[2017-05-17 02:27] FreddieV4 commented on #1776
Alright now that I'm at my laptop ... it looks like this is an issue coming from Yahoo and their ichart/Finance API.

Because we use Yahoo to download our benchmark data, this is expected behavior. I believe we have some benchmark data that is cached/downloaded but when those benchmarks are not found then we make additional requests to Yahoo for those benchmarks; in this case there is an issue wit

[2017-05-17 02:59] FreddieV4 commented on #1776
Where we call our `get_benchmark_returns` function is in `zipline/data/loader.py`:
[code]

[2017-05-17 03:19] ywang412 commented on #1776
Thank you, Freddie. I didn't include more dates in my back testing. Not sure why it requires download again. I wonder if the cache is saved somewhere on my disk so I can read it like a CSV.

[2017-05-18 13:53] ywang412 commented on #1776
https://forums.yahoo.net/t5/Yahoo-Finance-help/Is-Yahoo-Finance-API-broken/td-p/250503/page/3          it is officially gone. response from Yahoo finance team. Yahoo discontinued the free service.

[2017-05-18 13:55] ywang412 commented on #1776
then how can we use zipline? :(

[2017-05-18 14:07] FreddieV4 commented on #1776
Hi @ywang412. zipline is one of many friends affected by these changes, so while we're considering solutions, we'll also see what [pandas-datareader](https://github.com/pydata/pandas-datareader/issues) et al decide to do. We're not sure on the timeframe, but discussion continues on what changes to make.

If you have any opinions on the matter feel free to share them 😃

[2017-05-18 14:46] pbharrin commented on #1776
Here is a solution: [Google finance through the Pandas datareader](http://pandas-datareader.readthedocs.io/en/latest/remote_data.html#remote-data-google).

1. no api key needed
2. no shady scraping needed

What am I missing?

[2017-05-18 17:48] tibkiss commented on #1776
@pbharrin : Could you please share your patch to replace yahoo loader with google one? Thanks!

[2017-05-18 18:06] quocble commented on #1776
Why not use https://www.quandl.com/product/WIKIP/documentation/documentation ?

[2017-05-18 18:11] FreddieV4 commented on #1776
Hey Peter @pbharrin thanks for your suggestion. I think we've mentioned this in our discussion at some point; there's some other things we'll need to talk about as well (e.g. like SPY vs ^GSPC).

@quocble If I remember correctly, I looked through that WIKI dataset and there are no tickers for SPY, ^GSPC or other ETFs tracking the S&P

[2017-05-18 20:31] pbharrin commented on #1776
Here is my patch:
https://github.com/zipline-live/zipline/blob/ph_live/zipline/data/benchmarks.py
It doesn't require any new libraries or api-keys.  This uses the SPY data from Google Finance.

It is using the Close of SPY which does not include dividends.  For some reason Google Finance does not return Adj. Close.

This is now failing 4 tests from tests.test_examples.ExamplesTests:
test_example_4

[2017-05-18 21:13] ywang412 commented on #1776
Thank you, pbharrin! Is https://github.com/zipline-live/ different from  https://github.com/quantopian/zipline? One is maintained by the community and the other one by the institution?

[2017-05-18 21:28] pbharrin commented on #1776
Yes  https://github.com/zipline-live/  is a project we are working on to allow you to live-trade from Zipline.  (Like Quantopian, but you can trade any broker you want, any security you want, provided someone writes the code to interact with that broker.)   People have expressed interest in using Zipline-live for exchanges in other countries and even Bitcoin.

We forked from Zipline recently so th

[2017-05-18 21:50] edboyle01 commented on #1776
pbarrin, thx for google SPY patch, I had to add

import pandas_datareader.data as web

got a benchmark warning, but the test Buy_AAPL script seemed to run ok

Downloading benchmark data for '^GSPC'.
[2017-05-18 21:44:29.118015] WARNING: Loader: Still don't have expected data after redownload!
[2017-05-18 21:44:50.681792] INFO: Performance: Simulated 334 trading days out of 334.
[2017-05-18 21:44:5

[2017-05-19 00:25] jonsariaatmadja opened #1797 "Error in installing zipline via conda"
Hi Zipline maintainers,

I've tried to install zipline via conda using: conda install -c Quantopian zipline but came to the error below. Please help.

Fetching package metadata ....
WARNING: The remote server could not find the noarch directory for the
requested channel with url: https://conda.anaconda.org/Qantopian

It is possible you have given conda an invalid channel. Please double-check
your

[2017-05-19 00:30] jonsariaatmadja commented on #1797
I also tried this in the terminal:
```conda install -c Quantopian -c https://conda.anaconda.org/Quantopian/label/ci zipline```

but, the result is that despite having zipline installed, there is an error during import:

[code]

[2017-05-19 04:01] FreddieV4 commented on #1797
Hi @jonsariaatmadja you're seeing this error because we have not yet built OS-X packages for the latest version of zipline. For now, I'd recommend downloading zipline from the master branch on GitHub.

[2017-05-19 04:24] jonsariaatmadja commented on #1797
Thanks FreddieV4,

I tried your recommendation and still got this error:

PackageNotFoundError: Package missing in current osx-64 channels:
  - git+https://github.com/quantopian/zipline.git

[2017-05-19 05:03] quocble commented on #1776
My suspicion is that after Verizon acquired Yahoo (a SV based company), they're not so inclined to give the data for free.  As a Silicon Valley company, Google will keep their data open/free in the long term solution.

[2017-05-19 05:50] tibkiss commented on #1776
@pbharrin : Thanks for the patch, Peter!

[2017-05-19 06:57] FreddieV4 commented on #1797
@jonsariaatmadja did you try installing via pip?

[2017-05-19 07:48] jonsariaatmadja commented on #1797
Yes I used both pip and conda. (Since I have Anaconda and have 2 versions) of numpy, pandas and zipline. I think my mac uses conda when using it in terminal and iPython:

[code]

[2017-05-19 08:41] jonsariaatmadja commented on #1797
I tried to force update my pandas but it came to the following outcomes:

[code]

[2017-05-19 08:46] jonsariaatmadja commented on #1797
I upgraded my pandas to 0.17 and came out with a new error when importing zipline:

[code]

[2017-05-19 23:37] ivanlen opened #1799 "Algorithm return and portfolio value change because of split"
Hi, I am new in the zipline community and I found out that the algorithm_perio_return and the portfolio_value change when there is a spit in the price of a security.
Running the same code in quantopian I don't obtain this behaviour, I think that they take into account this. I thought that zipline would readjust the different values to take into account the split.
I don't know if I am doing somethi

[2017-05-21 12:36] clizarralde commented on #1776
The patch works! Thanks!

[2017-05-22 11:58] Peque opened #1801 "TradingCalendar initialization bug"
Trying to set start/end dates when initializing a calendar can result in an exception being raised. Try:

[code]

Which would result in the following exception:

[code]

I can reproduce this error locally and also with Travis, so I guess it is not due to a broken development environment.

[2017-05-22 15:14] Peque commented on #1801
Proposed fix: #1802

[2017-05-22 17:46] freddiev4 opened #1805 "Remove deprecated Yahoo code"
As a result of https://github.com/quantopian/zipline/issues/1776, we'll no longer be able to use the Yahoo API to load data for bundles or benchmarks.

Some of the deprecated code can be founder in [loader.py](https://github.com/quantopian/zipline/blob/be8ea7c54c940b3cb3d804db3ec3af7c0fb374f0/zipline/data/loader.py), and also references to `load_bars_from_yahoo` can be removed.

And also the entir

[2017-05-22 18:04] FreddieV4 commented on #1579
The idea I have for this is that in `zipline.data.bundles.core`, there is a `namedtuple` object called `BundleData`; that can be abstracted away to a class and we can use the `asset_finder`, `adjustments` etc to create some way to view the data more easily (maybe in a DataFrame?)

[2017-05-22 19:56] #1469 closed

[2017-05-22 19:57] #1614 closed

[2017-05-22 19:57] FreddieV4 commented on #1614
Merged the PR mentioned above to fix this 😃

[2017-05-22 20:14] FreddieV4 commented on #989
I'm going to close this because of the recently merged https://github.com/quantopian/zipline/pull/1707, as that example was not previously working because it had used code from deprecated API calls.

[2017-05-22 20:14] #989 closed

[2017-05-22 23:47] #1801 closed

[2017-05-23 06:09] markfink opened #1808 "zipline does not work on current Arch linux / installed using pip"
# Environment

$ uname -a
Linux osaka 4.9.28-1-MANJARO #1 SMP PREEMPT Sun May 14 13:32:39 UTC 2017 x86_64 GNU/Linux
$ python --version
Python 2.7.13
$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'
64
$ pip freeze
alembic==0.9.2
appdirs==1.4.3
bcolz==0.12.1
Bottleneck==1.2.1
click==6.7
contextlib2==0.5.5
cyordereddict==1.0.0
Cython==0.25.2
decorator==4.0.11
empyrical==0.

[2017-05-23 20:08] #1759 closed

[2017-05-23 20:39] GarrettHoffman commented on #1776
Just wanted to add a note that Google Finance seems to be missing some prices dating back to 2009 so with this patch longer term backtests may still crash.

[2017-05-23 23:33] souravsingh commented on #1805
I am interested in working on the issue.

[2017-05-24 00:03] FreddieV4 commented on #1805
Hi @souravsingh thanks for offering to work on this issue. I think @mmargenot is working on this currently, because he's been assigned to this issue; if he says he's no longer working on this then feel free to work on it.

Also need to finish up some work on this [branch](https://github.com/quantopian/zipline/tree/google-finance-for-benchmarking) beforehand.

[2017-05-24 11:38] Peque commented on #797
Any updates on this matter? :blush:

[2017-05-24 12:02] Peque commented on #538
Any updates on this matter? :blush:

[2017-05-24 19:29] FreddieV4 commented on #1774
Hi @ivanlen if you want to implement another calendar you could look at `exchange_calendar_nyse.py` or `trading_calendar.py` as examples and then modify it from there

[2017-05-26 00:25] rudolf-bauer opened #1817 "Error retrieving H15 interest rates - ValueError: 'Time Period' is not in list"
Dear Zipline Maintainers,

# Environment

* Operating System: Linux 3d62a3c1924c 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: Python 3.5.2 :: Anaconda 4.3.0 (64-bit)
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
[code]

# Error retrieving H15 interest rates - ValueError: 'Time Period' is not in list

* If

[2017-05-26 01:34] ivanlen commented on #1817
I am having the same problem as you, I didn't change anything in the zipline code.

[2017-05-26 09:18] utsavkesharwani commented on #1817
Same issue here as well

[2017-05-26 11:06] sjhddh commented on #1817
same here

[2017-05-26 13:34] pbharrin commented on #1817
+1

[2017-05-26 16:15] justinlent commented on #1817
Me too… perhaps the source data URL modified it’s format?
-Justin

On Fri, May 26, 2017 at 6:34 AM, Peter Harrington <notifications@github.com>
wrote:

[2017-05-26 18:10] FreddieV4 commented on #1817
I've just merged #1818 and also ran this in master and didn't have any issues. If nobody else is seeing this I'll go ahead and close this issue 😃

[2017-05-26 18:45] #1817 closed

[2017-05-27 07:38] rudolf-bauer commented on #1817
Hi @FreddieV4, thx a lot, this solves my problems.

[2017-05-27 17:35] ivanlen commented on #1808
+1 here. I installed zipline using pip in a venv and I am having the same problem, but in MacOs.

[2017-05-27 18:49] ivanlen commented on #1808
Hey @markfink I have some news about this issue. I could solve it installing zipline using conda.
Apparently the problem was caused because I needed to downgrade numpy and other packages.

I downloaded conda, then I created a venv using conda (It might take a while because it installs a lot of packages), and the I installed zipline using conda. Whe installing zipline using conda, conda downgraded

[2017-05-27 21:51] I-Larsson opened #1821 "Slicing in pipeline"
Hi,

I am having issues with slicing returns with pipeline, I get the following error:

"UnsupportedPipelineOutput: Cannot add column 'market_returns' with term Slice(Returns, column=Equity(8554 ["SPY"])). Adding slices or single-column-output terms as pipeline columns is not currently supported. "

The return_slice was computed as follows:

returns = Returns(inputs =[USEquityPricing.close], windo

[2017-05-27 23:27] I-Larsson commented on #1821
Created a custom factor that handled sliced returns, works fine now.

[2017-05-27 23:27] #1821 closed

[2017-05-28 06:11] markfink commented on #1808
@ivanlen not really a solution to my problem I am using pip not conda.

[2017-05-28 21:42] kennell commented on #1776
Until the Google-download fix is merged, can we have some option to skip benchmarking so that at least the algorithm is executed?

[2017-05-31 17:00] FreddieV4 commented on #1222
Going to close this in favor of the issue Joe referenced above 🙂

[2017-05-31 17:00] #1222 closed

[2017-05-31 17:03] FreddieV4 commented on #900
Gonna x-ref this issue: https://github.com/quantopian/zipline/issues/603 and close this one 🙂

[2017-05-31 17:03] #900 closed

[2017-05-31 20:42] rosstripi commented on #1776
I would like to second @kennell's  request for an option to skip benchmarking. Zipline is useless to me right now.

[2017-05-31 21:17] FreddieV4 commented on #1776
Hi everyone. There currently is no option to skip benchmarking without making code changes to zipline. I think that trying to introduce the option to disable benchmarking would take just as much time as trying to swap out yahoo-related code with google; considering we've already made progress on the swap I'd like to suggest using @pbharrin's patch (linked above) until we've merged this fix, as it

[2017-05-31 22:16] llllllllll commented on #1808
It looks like one of the Cython packages was compiled against a different version of numpy than you currently have installed. Did you manually update numpy? To test this, could you create a new empty venv and manually install numpy==1.11.1 then install zipline?

Regarding your question about the a different os: I personally run arch and find it works fine. Would a pkgbuild be helpful for you or wo

[2017-06-02 04:42] liutuo commented on #1808
Use a different way of installing numpy works for me. For mac user, install numpy from [numpy 1.13rc2](numpy-1.13.0rc2-cp27-cp27m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl)

[2017-06-05 13:37] yiorgosn commented on #1776
Instead of spending the time to rewrite the rest of the code to remove or make the benchmark optional, I would suggest at the "benchmarks.py" piece to have a choice to either a. import a benchmark csv manually (very easy to obtain) OR b.  automatic update (via quandl or some other provider) would be a better and faster solution.

[2017-06-05 17:05] FreddieV4 commented on #1776
I've just merged #1812 which swaps out Yahoo with Google

[2017-06-05 20:52] cgdeboer commented on #1808
1.13.0rc2 is working for me. Though, it is incredibly odd that the latest version of `bottleneck` and latest version (non-RC) of `numpy` don't play well together.

[2017-06-05 21:32] FreddieV4 commented on #777
Going to close this as it looks like the OP had figured out a solution. Feel free to re-open if you come across a similar issue 🙂

[2017-06-05 21:32] #777 closed

[2017-06-05 21:34] FreddieV4 commented on #495
x-ref #1820 and #1823

[2017-06-05 21:36] FreddieV4 commented on #271
x-ref #1812

[2017-06-05 21:41] FreddieV4 commented on #1621
x-ref https://github.com/quantopian/research_public/issues/100

[2017-06-06 15:13] ikfdarba opened #1827 "set_benchmark not working"
Zipline 1.0.2

Hello,

i am trying to set a different benchmark in a zipline simulation but am not being successful:

this is the simple code i  am running

[code]

and am however getting incorrect results:

[code]
 the alögor and benchmark returns should be the same....

what is the problem?

[2017-06-07 02:58] marcejohnson opened #1831 "SymbolNotFound if changing AAPL -> QQQ"
Starting with a fresh install of **lastest zipline from github** (1e28743), on Ubuntu 16.04, virtualenv pip install.

Performing default `zipline ingest` and then using sample code from:
http://www.zipline.io/beginner-tutorial.html
...**works** as shown in the tutoral.  So far so good.

**But** merely changing **AAPL** to **QQQ** as shown here:
[code]

Returns

[code]

Before that I notice it says

[2017-06-07 13:20] ikfdarba opened #1832 "benchmark returns shifted daily mode generating wrong alpha-beta statistics"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment
*Zipline 1.0.2
* Operating System: (Windows Version)
* Python Version: `$ python 3.4
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$ pip freeze` or `$ conda list`

# Description of Issue
I noticed some discrepancies in the computation of the

[2017-06-07 14:17] FreddieV4 commented on #1831
Hi @marcejohnson thanks for posting your issue. There are several questions/concerns here it seems so I'll try to address them one at a time.

- **AAPL to QQQ** : When you run `zipline ingest`, by default you end up downloading the `quantopian-quandl` bundle, which uses the [Quandl WIKI](https://www.quandl.com/product/WIKIP/WIKI/PRICES-Quandl-End-Of-Day-Stocks-Info) dataset. After inspecting the d

[2017-06-07 14:30] FreddieV4 commented on #1059
Hi there. I'm going to close this issue as we no longer use `history()` and make calls to `data.history()`. `load_bars_from_yahoo()` is also deprecated 🙂

[2017-06-07 14:30] #1059 closed

[2017-06-07 16:53] marcejohnson commented on #1831
Thank you for the detailed response @FreddieV4!

How to best integrate so to obtain basic symbols (like **QQQ**)?   The unresolved problem I'm trying to solve is to create a workflow that enables going back and forth between Quantopian and Zipline.  Do we know what data vendor Quantopian uses to supply the basic pipeline (daily resolution is fine)?  Thanks again.  😄

[2017-06-07 17:40] FreddieV4 commented on #1831
Hey @marcejohnson if you already had your own data for `QQQ` you would just need to have that both locally and on Quantopian to switch back and forth; in terms of ingesting your data to run with zipline, you'd need to build your own [data bundle](www.zipline.io/bundles.html).

In regards to data vendors, Quantopian uses several data vendors.  Most of the pricing data, including the live pricing fo

[2017-06-07 18:05] FreddieV4 commented on #1299
Hi @jdgd1 I'm going to close this issue as I believe @nathanwolfe has answered it. If you are still experiencing issues feel free to re-open this PR 🙂

[2017-06-07 18:05] #1299 closed

[2017-06-07 21:28] FreddieV4 commented on #1776
Is anyone still having issues running backtests when running the latest zipline master (that are related to benchmarks/Yahoo)?

[2017-06-07 21:50] quocble commented on #1776
I was getting this on latest master

[code]

[2017-06-07 21:52] FreddieV4 commented on #1776
@quocble Could you tell me what command/code you ran, that resulted in that error?

[2017-06-07 22:01] quocble commented on #1776
My code basically runs one pipeline eg RSI, and I use it to collect data on the factor. The error I encountered was in SESSION_END, so I suspect, it's not related to my code itself but something related to the last tick.

trade_simulation.py (228)
[code]

zipline_db = os.environ.get("ZIPLINE_DB", 'quantopian-quandl')

run_algorithm(start=pd.Timestamp(start, tz="UTC"), end=pd.Timestamp(end, tz="UTC

[2017-06-08 01:50] #495 closed

[2017-06-08 01:50] #1700 closed

[2017-06-08 01:53] FreddieV4 commented on #1776
@quocble when you run your code, what is your `end_date`?

[2017-06-08 05:57] markfink commented on #1808
Thank you for your help guys!
I created a fresh virtualenv using `virtualenv venv`+ activated it
I created a requirements.txt file:
[code]

installation:
[code]

So now `zipline run --help` gives me a nice output.

@cgdeboer I did not get your remark about `bottleneck`. what am I supposed to do here?

[2017-06-08 09:31] cgdeboer commented on #1808
@markfink, nothing to do. I was merely bemoaning the notion that the latest release of each package don't seem to be working well with each other. It is mysterious and mildly troubling.

[2017-06-08 12:07] DexHunter commented on #1495
I found an answer [there](https://stackoverflow.com/questions/39584013/zipline-command-line-interface-does-not-work-after-installation)

So maybe you can use

"""
python -m zipline
"""

[2017-06-08 12:36] marcejohnson commented on #1831
Thanks for the details @FreddieV4.  The remaining issues are covered in other tickets (such as #1776) so closing this ticket.

[2017-06-08 12:36] #1831 closed

[2017-06-08 17:08] FreddieV4 commented on #863
Hi @rhodan I'm going to close this issue in favor of other issues opened right now that also use our most current zipline API. Feel free to open a new issue or comment on one of the existing issues labeled with `Minute Mode` 😄

[2017-06-08 17:08] #863 closed

[2017-06-08 18:26] reMAJ opened #1835 "HTTPError for CSV data"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 10)
* Python Version: Python 2.7.13 :: Anaconda 4.4.0 (32-bit)
* Python Bitness:  32
* How did you install Zipline: pip install zipline (I tried conda install it failed)
* Python packages: (cse_32_2_7) C:\WINDOWS\system32>conda list
 packages in environment at C

[2017-06-08 18:35] FreddieV4 commented on #1835
Hey @reMAJ thanks for posting. There's a few things going on here so I'll try and address each issue; I'll also need some more information from you.

- Conda install failed because we don't support 32-bit Windows packages. Zipline _might_ work on 32-bit but it's not guaranteed.
- Can you run the buyapple example on it's own?
- When you ran `zipline run` what did that command look like exactly?

Th

[2017-06-08 18:37] FreddieV4 commented on #1835
@reMAJ ah. I see you have zipline `1.1.0` installed. The latest version does not work currently because of changes Yahoo made to their API. You'll want to use the latest zipline `master`, which now uses Google Finance to get equity data for benchmarks

[2017-06-08 18:47] reMAJ commented on #1835
@FreddieV4  Thanks a lot. I am very sorry, but I need some info to run with Google.

(1)_Conda install failed because we don't support 32-bit Windows packages. Zipline might work on 32-bit but it's not guaranteed._ : conda install failed with 64bit Anaconda too. There were conflicts with bottleneck. (anyways this is not an issue now in the 32 bit environment)
(2)_Can you run the buyapple example o

[2017-06-08 18:54] FreddieV4 commented on #1835
To run the latest zipline master, you'll need to have a local copy of zipline, first by forking the repo, and then running `git clone git@github.com:reMAJ/zipline.git`.  You can then run `pip install -e zipline/` assuming you're in a directory that holds the zipline directory.

In regards to the `zipline run` comment, I must have skimmed over the fact that you used `algo.run()` instead. I suggest

[2017-06-08 19:54] reMAJ commented on #1835
@FreddieV4  Thanks again.
I downloaded the zipline master from git and did pip install -e . staying in the zipline-master folder. It uninstalled my current zipline and then installed the master. However, conda list won't show the new zipline. But pip freeze show it as: zipline==0+unknown

Then I put the following code of the buyapple example in zip_a.py file.
[code]
Then ran it in cmd. Gets the fo

[2017-06-08 21:44] mx237 opened #1837 "fetch_csv does not handle utf encoding properly"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Win7 Pro SP1
* Python Version: Python 3.6.1
* Python Bitness: 64
* How did you install Zipline: `pip3 install git+https://github.com/quantopian/zipline.git`
* Python packages:
alembic==0.9.2
asn1crypto==0.22.0
bcolz==0.12.1
bleach==2.0.0
Bottleneck==1.2.1
certifi==2017.4

[2017-06-08 23:55] jay-johnson opened #1838 "docker container fails to start the jupyter notebook without --allow-root option"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

This issue is about running the docker container built from the latest Dockerfile on master: https://github.com/quantopian/zipline/blob/master/Dockerfile

* Operating System: (Windows Version or `$ uname --all`) - the non-developer docker container
* Python Version: `$ python --version` - t

[2017-06-09 05:11] markfink commented on #1808
@llllllllll I just recently moved to Arch after using Ubuntu (since ~2008). I also use OSX and Amazonlinux (Centos6). I use virtualenv and pip to install my own stuff on these environments so a pkgbuild would not be useful me.

[2017-06-09 15:56] richafrank commented on #1837
Hi @mx237 ! It looks like the response from that request includes no encoding information for `requests` to use. So the fix either requires inferring the encoding from the data, as you have above, or the server should return the encoding. The idea of zipline being responsible for inferring the encoding, instead of relying on `requests`, doesn't feel ideal to me, but curious what others think. Any

[2017-06-09 16:17] FreddieV4 commented on #1835
@reMAJ Ok so just to confirm what you're doing here.

You have a virtualenv, let's say it's called `zipline`, and you are in a directory which has the zipline directory in it, like so:

![image](https://user-images.githubusercontent.com/8339018/26984114-104ed0d4-4d0c-11e7-9e6e-f48198b71dd0.png)

And then you ran `pip install -e zipline`. When you run pip freeze, it should say something like:

![im

[2017-06-09 19:00] reMAJ commented on #1835
@FreddieV4 Thanks. I have an environment called cse_32_2_7 and I installed the zipline master as you instructed. Then I ran the command `zipline ingest -b quantopian-quandl`, and gots this error.
[code]

[2017-06-09 19:02] FreddieV4 commented on #1835
And you got that error after downgrading pandas? (I don't think we want to downgrade pandas here though)

[2017-06-09 19:09] mx237 commented on #1837
Hi @richafrank ! Thanks for your response. I have asked if it can be done in `requests`: [https://github.com/requests/requests/issues/4148](url)

[2017-06-09 19:10] reMAJ commented on #1835
@FreddieV4  I down graded it yesterday. But conda list shows me 3 pandas. I don't know which one zipline choose. conda and pip shows difference information
[code]
pip only shows 1 pandas version. Even though I downgraded using pip.
[code]

[2017-06-09 23:27] JackieJin opened #1840 "zipline ingest doesn't work"
Hi,

I am new to zipline. I just used 'conda install -c Quantopian zipline' to install zipline on my window machine.

However, when I tried to run zipline ingest, I got error 'failed to create proecess'. Below are  my python versions and modules. Does anyone run into the same issue?

Python 3.4.3 :: Anaconda 2.2.0 (64-bit)

alembic==0.7.7
argcomplete==0.8.4
asn1crypto==0.22.0
astropy==1.0.1
backpo

[2017-06-10 09:33] mellertson commented on #1004
I ran into the same issue tonight. It turned out to be a problem where I had multiple numpy packages installed. An older version was installed in `/usr/lib/python2.7` and the correct version was installed in `/usr/local/lib/python2.7`.

Additionally, I had `PYTHONPATH=/usr/lib/python2.7/dist-packages:/usr/local/lib/python2.7/dist-packages`. PYTHONPATH was finding the older version of numpy before

[2017-06-10 10:01] reMAJ commented on #1835
@FreddieV4  I rand the buyapple example on an Ubuntu 16.04.1 LTS machine with
pandas                    0.18.1              np111py27_0
zipline                   1.1.0               np111py27_0    Quantopian

The code is from the example:
[code]
Then I ran it as instructed.
[code]

Got the error `raise HTTPError(req.get_full_url(), code, msg, hdrs, fp)
urllib2.HTTPError: HTTP Error 404: Not Found`

[2017-06-10 10:30] mellertson commented on #1776
The patch works, thanks!!!

[2017-06-10 10:45] reMAJ commented on #1776
@pbharrin @FreddieV4
The following question may sound stupid, but please bear with me.

If I change the benchmarks.py file with your google function, do I have to recompile zipline or something? Because I see there is a benchmarks.pyc file too and I am thinking zipline use the pyc?

If I have to recompile (or do anything else) could you please explain or give a link to that? thanks.

[2017-06-10 23:11] mellertson commented on #1776
If you just delete the `benchmarks.pyc` file, Python will automatically re-compile the *.pyc file.

And if you paste the `get_benchmark_return` function into your algo, it won't work correctly. You need to copy the file into the `zipline/data` folder of the zipline package. The zipline package is installed into one of multiple directories, based on your operating system and the way you installed z

[2017-06-11 00:07] ywang412 commented on #1776
I am having a "urllib2.HTTPError: HTTP Error 404: Not Found" error.

I pulled the latest github and try to run "zipline run -f dual_moving_average.py  --start 2011-1-1 --end 2012-5-1" in example folder.

Below is the error message. This is something new. Could someone help take a look? Thanks a lot!

[2017-06-11 00:01:10.635888] INFO: Loader: Cache at /home/ml4t/.zipline/data/^GSPC_benchmark.csv d

[2017-06-11 00:08] ywang412 commented on #1776
copy-paste missed the last line.
"urllib2.HTTPError: HTTP Error 404: Not Found"

[2017-06-11 03:18] ywang412 commented on #1776
The latest merged benchmarks.py doesn't have these two lines in it.
    if symbol == "^GSPC":
        symbol = "spy"

The two-line snippet was in pbharrin's patch.

Without the snippet, the code will give "unable to read url error".

_utils.RemoteDataError: Unable to read URL: http://www.google.com/finance/historical?q=%5EGSPC&startdate=Dec+29%2C+1989&enddate=Jun+07%2C+2017&output=csv

[2017-06-11 14:07] markfink opened #1841 "question regarding testing best practices"
I answered all questions about my env (zipline 1.1.0) here: https://github.com/quantopian/zipline/issues/1808

I migrated a function from quantopian 1 to zipline:

[code]

now I am not so confident any more that this function does what it is supposed to do and I want to add tests. I perfectly well understand that zipline itself is a kind of testing tool but I want more fine grained testing (in SE

[2017-06-12 00:21] quocble commented on #1776
@FreddieV4

Here's what you asked for. This time I re-ran the buy_apple example.. I ran this on 6/11.

[code]

[2017-06-12 16:36] richafrank commented on #1840
Hi @JackieJin ! Looks like maybe you're encountering https://github.com/quantopian/zipline/issues/1591 . Have you installed conda in a directory with spaces in the path? Could you move it? Or you could try editing zipline-script.py, as is mentioned in that issue.

[2017-06-12 17:41] FreddieV4 commented on #1241
Hmm interesting that we had seen this issue this long ago as well.

x-ref #1812 #1776

[2017-06-12 19:47] femtotrader commented on #52
This is a quite old issue. What is current status?

[2017-06-13 20:32] marcejohnson commented on #713
Example code:
http://www.prokopyshen.com/create-custom-zipline-data-bundle

Wondring if import csv functionality is of general helpfulness (like google and quandl import are) -- would it make sense to create a PR of latter code (debugged/hardened) to enhance standard zipline bundle imports?

[2017-06-13 21:41] FreddieV4 commented on #1776
@ywang412 the default symbol that is passed in is `SPY` in the latest merge. If you've pip installed the latest master branch of zipline, or conda installed a [recent build](https://anaconda.org/Quantopian/zipline/files) of zipline, then the requests should be going out to Google Finance now.

In the URL you posted, `GSPC` is the symbol being searched for. Did you clone zipline and then `pip insta

[2017-06-13 21:43] FreddieV4 commented on #1776
@quocble I believe that error is being raised because of [this](https://github.com/quantopian/zipline/blob/master/zipline/data/loader.py#L143) line in particular. Adding a better error message before it's caught in pandas might be a good solution for that.

[2017-06-14 01:11] JackieJin commented on #1840
Thanks @richafrank  . It seems to work now

[2017-06-14 01:47] richafrank commented on #1840
Great!

[2017-06-14 01:47] #1840 closed

[2017-06-14 03:45] yiorgosn commented on #1776
Benchmark missing yesterday's or T-1 data, band-aid solution.  Open file ..\..\zipline\gens\tradesimulation.py  replace the line in handle_benchmark() line 189 with this: algo.perf_tracker.all_benchmark_returns[date] = 1

[replacing line: algo.perf_tracker.all_benchmark_returns[date] =  benchmark_source.get_value(date) ]

I found this solution here: https://stackoverflow.com/questions/41079890/zip

[2017-06-14 15:49] pbharrin commented on #1776
@FreddieV4 I see that [Pyfolio is still calling the Yahoo data from pandas_datareader](https://github.com/quantopian/pyfolio/blob/master/pyfolio/utils.py#L244), any idea when this will be updated?

[2017-06-14 16:10] FreddieV4 commented on #1776
Hey Peter @pbharrin, it looks like https://github.com/quantopian/pyfolio/pull/386 is currently open so if the author continues working on that then hopefully that'll get merged. If the author decides to not work on it, I can open a PR/build on theirs.

[2017-06-15 02:52] sekuri opened #1843 "Type Error on ingesting quandl default bundle"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
  * Darwin MY.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64 i386 MacBookAir4,1 Darwin

* Python Version: `$ python --version`
  * Python 3.4.6

* Python Bitness: `$

[2017-06-15 10:30] amostajabi commented on #19
Hi Guys, I've just gotten familiar with this great framework and I've had the same question about zipline architecture which I also really like to get more familiar with. Is the channel you created on freenode still available? How can we have contact with you and get more info about zipline architecture, specially the simulation process?

Thanks for your great help.
@ehebert
@twiecki

[2017-06-15 13:59] ikfdarba opened #1844 "orders shifted"
I am running a daily simulation on data i uploaded to zipline.

I am issuing an order on a specific date which i read through a feed file, however the orders i am issuing are being placed 2 days after i issue them (ie the first return computation is performed 2 days later).

For example i issue an order on the 18th of august 2015.

And i can see in the log file that the order is being issued on th

[2017-06-15 15:02] FreddieV4 commented on #19
Hi @amostajabi we currently don't use a freenode channel, but here in the [README](https://github.com/quantopian/zipline) you can find links to our mailing list and Gitter 😃

There are also docs at [zipline.io](http://zipline.io) and a [beginner tutorial](https://github.com/quantopian/zipline/blob/master/docs/notebooks/tutorial.ipynb) notebook which you can play around with (although ignore the ya

[2017-06-15 17:13] FreddieV4 commented on #1843
x-ref https://github.com/quantopian/zipline/issues/1295

[2017-06-17 20:08] citynorman opened #1847 "HTTPError: HTTP Error 404: Not Found"
# Description of Issue
I'm trying to run `buyapple.ipynb` with no modifications and it's giving me the below error. I have that problem on multiple systems. It used to work just find a couple of months ago and now it just won't work.

[code]

# Environment
Python 2.7.13 |Anaconda 4.3.1 (64-bit)| (default, Dec 19 2016, 13:29:36) [MSC v.1500 64 bit (AMD64)] on win32

Installed zipline via pip instal

[2017-06-18 00:39] FreddieV4 commented on #1847
Hi @citynorman you're seeing this because the latest release of zipline does not currently work (see https://github.com/quantopian/zipline/issues/1776). You'll need to install the latest master branch of zipline. You can do that by:

- Forking zipline
- Cloning that repo
- Run `pip install zipline/` on your local zipline directory

When we cut a new release you'll be able to just `conda install` z

[2017-06-18 05:27] rmldj opened #1848 "Multiplicative treatment of dividends"
This is really a question not strictly a bug report:

Looking through `zipline/data/_adjustments.pyx` I noticed that the adjustment object returned for dividends is `Float64Multiply` which means that OHLC are all scaled by a common ratio.

Shouldn't the adjustment for dividends be additive instead since it is a fixed payment of some dollar amount per share at a given time? So then I would expect t

[2017-06-19 18:26] lacabra commented on #1776
Hi there, I just installed zipline using the latest github repo, and while trying to run the buyapple.py example, I am running into a similar issue as @quocble but complaining at the beginning of the dataset instead of at the end.

Does anyone have any suggestions for me?

`$ zipline run -f buyapple.py --start 2000-1-1 --end 2014-1-1
[2017-06-19 18:11:48.740235] WARNING: Loader: Refusing to downlo

[2017-06-19 18:57] FreddieV4 commented on #1776
Hi @lacabra the reason for that is because we only have benchmark data from Google going back to 2001, so running a backtest before that causes that error.

[2017-06-19 19:27] freddiev4 opened #1850 "Improve messages when we don't have benchmark data"
Because we make requests to Google Finance for benchmark data in `zipline.data.benchmarks` and `zipline.data.loader`, there are two cases where we get:

`KeyError: 'the label [<some timestamp>] is not in the [index]'`

- [ ] The first case is when we don't have benchmark data for the most recent trading day. The logic for us getting day up until `T`, the current trading day minus 2 trading days, c

[2017-06-19 19:52] lacabra commented on #1776
@FreddieV4 you're absolutely right, setting a later start date did indeed fix the error, thank you very much!

[2017-06-20 15:17] FreddieV4 commented on #1417
Are you still seeing this issue? @fera0013

[2017-06-20 15:19] FreddieV4 commented on #1217
I added `zipline ingest` to the README and to #1845.

Going to close this issue 🙂 feel free to re-open if you have similar issues.

[2017-06-21 13:37] lionelyoung commented on #1776
How did you guys get the Google data?  Edit extensions.py?

[2017-06-21 13:53] ginward opened #1855 "ImportError: cannot import name information_ratio"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: OS X 10.12.5
* Python Version: `python --2.7.13`
* Python Bitness: `64`
* How did you install Zipline: (`pip`)
* Python packages:
[code]

Now that you know a little about me, let me tell you about the issue I am
having:

# ImportError: cannot import name information_rati

[2017-06-21 14:14] richafrank commented on #1855
Hi @ginward ! The latest empyrical release broke compatibility with zipline, so you can either downgrade empyrical to 0.2.2 or install the [compatibility branch](https://github.com/quantopian/zipline/pull/1854) of zipline that hasn't been merged to master yet.

[2017-06-21 14:46] ginward commented on #1855
Thanks. It seems that I can use conda instead to install it.

[2017-06-21 14:46] #1855 closed

[2017-06-21 14:52] ginward opened #1856 "UnboundLocalError: local variable 'data' referenced before assignment"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: OS X 10.12.5
* Python Version: `Python 2.7.13 :: Continuum Analytics, Inc.`
* Python Bitness: `64`
* How did you install Zipline: (conda)
* Python packages:
[code]

Now that you know a little about me, let me tell you about the issue I am
having:

# UnboundLocalError: lo

[2017-06-21 15:04] FreddieV4 commented on #1856
Hi @ginward previous releases of zipline do not currently work because of changes Yahoo made to their API (see #1776). You'll need to install the latest master branch of zipline. You can do that by:

- Forking zipline
- Cloning that repo
- Run `pip install zipline/` on your local zipline directory

When we cut a new release you'll be able to just `conda install` zipline or `pip install -U` zipline

[2017-06-21 19:53] mellertson commented on #1776
You can use pandas_datareader.data, here's the docs. They have a pretty
good example.

http://pandas-datareader.readthedocs.io/en/latest/remote_data.html

Best regards,

Mike Ellertson

On Wed, Jun 21, 2017 at 7:37 AM, Lionel Young <notifications@github.com>
wrote:

--

Best regards,

Mike Ellertson
Email: mdellertson@gmail.com

[2017-06-21 20:14] walterkissling commented on #1579
I was able to do it like this. My custom bundle name is ETFs and I had already ingested it. I have no idea if this is the 'correct' way, but it worked for me.
[code]

[2017-06-22 04:18] achalvs opened #1857 "zipline ingest fails with empyrical==0.3.0"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: OSX Sierra
* Python Version: 2.7.13
* Python Bitness: 64 bit
* How did you install Zipline: pip
* Python packages: attached as requirements.txt

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

When attempting to

[2017-06-22 04:20] achalvs commented on #1857
[requirements.txt](https://github.com/quantopian/zipline/files/1093626/requirements.txt)

[2017-06-22 14:05] richafrank commented on #1857
Thanks @achalvs  ! The latest empyrical release broke compatibility with zipline, so you can either downgrade empyrical to 0.2.2 or install the [compatibility branch](https://github.com/quantopian/zipline/pull/1854) of zipline that hasn't been merged to master yet.

x-ref https://github.com/quantopian/zipline/issues/1855

[2017-06-23 20:33] FreddieV4 commented on #1621
Hey @QuentinLewes I'm going to go ahead and close this as it's being handled in https://github.com/quantopian/research_public/pull/134/ 😃

[2017-06-23 20:33] #1621 closed

[2017-06-26 08:52] richardtbenade opened #1859 "Fails to import"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Latest Google Datalab Image (linux)
* Python Version:  2.7
* Python Bitness: 64
* How did you install Zipline: pip install
* Python packages: n/a

Now that you know a little about me, let me tell you about the issue I am
having:

Hi There.

I've successfully installed Zi

[2017-06-27 00:47] richafrank commented on #1857
zipline master should work with the latest empyrical now.

[2017-06-27 13:09] #1856 closed

[2017-06-27 17:34] csullivan commented on #1857
I was pleased to see this commit last night, it fixed the ``` ImportError: cannot import name information_ratio ```. Immediately, however, a new issue appeared on import of zipline (and ```zipline ingest```):

[code]
Not sure if this is related to the empyrical issue or not. If it is separate, I will open a new issue.

[2017-06-27 17:37] csullivan commented on #1857
It's possible the above is related to this issue as well: https://github.com/quantopian/zipline/issues/1417

[2017-06-29 19:34] edmunch commented on #1776
Solution for me using YAHOO... quick and dirty

install pandas_datareader
install fix_yahoo_finance from here: https://pypi.python.org/pypi/fix-yahoo-finance

patch Benchmarks.py with:

[code]

[2017-06-30 02:00] dblN commented on #1417
I think I solved this issue by installing from master branch. (MacOS Sierra with anaconda installed)

[code]

[2017-06-30 14:21] FreddieV4 commented on #1225
Going to close this as it looks like this has been fixed. Feel free to re-open if you see this issue again 🙂

[2017-06-30 14:21] #1225 closed

[2017-06-30 14:30] FreddieV4 commented on #1859
Hi @richardtbenade I believe this might be coming from the recent empyrical version `0.3.0`. You'll have to install zipline from the master branch or wait for our next release.

[2017-06-30 14:36] FreddieV4 commented on #1859
Just now seeing https://groups.google.com/forum/#!topic/zipline/rJ2VxWHpDTg

[2017-06-30 15:13] freddiev4 opened #1869 "Add CLI option for running zipline in a Docker container"
Idea I had recently for extending the use of our `Dockerfile`: allow users to run zipline inside of `Dockerfile` without having to clone the repository. Rough idea of what this would look like would be adding an option to the CLI like:

`zipline run --docker`

Or reserve the `run` command for backtests only, and make a new command like:

`zipline docker`

Issues to tend to before this:

- [ ] http

[2017-07-01 09:50] saitam1 commented on #1776
@edmunch great! Now it works!

Before I tried your approach, I had the following error, just in case anybody has the same issue:

[code]

[2017-07-01 10:35] saitam1 commented on #654
I have the same issue. When I try to do:

`perf = pd.read_pickle('buyapple.pickle')`

I get an error:

`IndexError: tuple index out of range`

[2017-07-01 10:52] saitam1 commented on #475
I have the same issue.

[2017-07-01 15:26] dartdog opened #1870 "Pandas requirement out of date"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment
Conda py3.6

* Operating System: (Windows Version or `$ uname --all`) Ubuntu 16.04
* Python Version: `$ python --version`3.6
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please expla

[2017-07-02 22:53] njgraham commented on #1838
I ran in to the same issue - I couldn't start the Docker container as per the instructions (error log below).  I made the change suggested by @jay-johnson in PR #1871.
[code]

[2017-07-03 07:46] kennell commented on #1850
I would like to suggest that perhaps a CLI flag to skip benchmarking should be added.

[2017-07-03 15:29] ssanderson opened #1873 "Add a non-root user to the Docker image."
x-ref: https://github.com/quantopian/zipline/pull/1871#issuecomment-312675809

Info on installing a zipline dev environment can be found in the [Development Guidelines](www.zipline.io/development-guidelines.html)

[2017-07-03 15:50] richafrank commented on #1838
Looks fixed in #1871.

[2017-07-03 15:50] #1838 closed

[2017-07-03 17:38] FreddieV4 commented on #1870
Hi @dartdog thanks for posting your issue. So there's a few things going on here:

- Zipline does indeed require pandas `0.18`, so upgrading to a newer version of pandas will not fix the issue as we don't yet support the newer version of pandas in zipline.
- We don't support Python 3.6 for zipline so there may be issues from you running Python 3.6 as well

I suggest that you use zipline in a separ

[2017-07-03 17:40] FreddieV4 commented on #1859
So it looks like this issue has been resolved in the mailing list discussion; feel free to re-open if you're having other issues 🙂

[2017-07-03 17:40] #1859 closed

[2017-07-04 03:14] lizongkai-big commented on #394
I think this code can help you avoid this error.
[code]

[2017-07-06 10:50] samwincott commented on #1799
Can you list the imports you're using to run the code?

[2017-07-06 15:36] #1808 closed

[2017-07-07 17:33] drhay53 opened #1876 "Solution for someone who relied solely on load_from_yahoo for price data for backtesting?"
Hello,

I realize things are in flux as lots of people try to figure out what they're doing without the yahoo finance API. I for one am a bit lost. I basically exclusively used load_from_yahoo to get all of my price data, and I had frozen my code to use a fairly old zipline (0.7.0) which I was confident was working exactly as I intended. This is from before the deprecation of transforms (I sent a

[2017-07-07 18:40] FreddieV4 commented on #1876
Hey @drhay53 I saw your post in the mailing list and now have an answer for you.

**Addressing `load_from_yahoo`:**

There currently is not an option for retrieving pricing data in the same format as `load_from_yahoo` in the zipline codebase.

However, it is possible for you to implement your own [data bundle](http://www.zipline.io/bundles.html) which can load pricing data from Yahoo. _Note that t

[2017-07-07 19:24] drhay53 commented on #1876
Thank you @FreddieV4, I am just using the daily adjusted close; it looks like I'm up against a full re-write with the new zipline API. Refactoring the code is probably justified anyway.

I had some trouble getting zipline to build when I checked out master earlier today; I am guessing it will be quite a while before I am able to get anything together. My free time is greatly reduced compared to wh

[2017-07-07 22:03] FreddieV4 commented on #1857
Hi there. This should be fixed in the latest release :). Going to close this. Feel free to reopen if you see this issue again

[2017-07-07 22:03] #1857 closed

[2017-07-07 22:03] FreddieV4 commented on #1847
Hi there. This should be fixed in the latest release :). Going to close this. Feel free to reopen if you see this issue again

[2017-07-07 22:03] #1847 closed

[2017-07-07 22:04] FreddieV4 commented on #1776
Hi there. This should be fixed in the latest release :). Going to close this. Feel free to reopen if you see this issue again

[2017-07-07 22:04] #1776 closed

[2017-07-07 22:06] FreddieV4 commented on #1771
Hi there. We've removed Yahoo related code in the latest release so the bundle no longer exists. Going to close this :)

[2017-07-07 22:06] #1771 closed

[2017-07-07 22:07] FreddieV4 commented on #1601
Going to close this :)

[2017-07-07 22:07] #1601 closed

[2017-07-07 22:08] FreddieV4 commented on #1400
Going to close this. Feel free to reopen or open a new issue if you still have this problem/can't install zipline.

[2017-07-07 22:08] #1400 closed

[2017-07-07 22:09] FreddieV4 commented on #1571
Going to close this :) feel free to re-open if you still see this issue

[2017-07-07 22:09] #1571 closed

[2017-07-07 22:12] FreddieV4 commented on #1241
Hi there. This should be fixed in the latest release :). Going to close this. Feel free to reopen if you see this issue again.

Check out the release notes on zipline.io for more info

[2017-07-07 22:12] #1241 closed

[2017-07-07 22:13] FreddieV4 commented on #1118
Going to close this due to no response/follow up. Feel free to open a new issue if you still have this problem :)

[2017-07-07 22:13] #1118 closed

[2017-07-07 22:14] FreddieV4 commented on #1099
Going to close this due to inactivity/no follow up. Feel free to open a new issue if you still need helo

[2017-07-07 22:14] #1099 closed

[2017-07-07 22:15] FreddieV4 commented on #1004
We now support Python 3.5 in the latest release.

[2017-07-07 22:15] #1004 closed

[2017-07-07 22:16] FreddieV4 commented on #1001
Going to close this due to inactivity/no follow up. Feel free to open a new issue if you still need help.

[2017-07-07 22:16] #1001 closed

[2017-07-07 22:19] FreddieV4 commented on #1570
Going to close this due to inactivity/no follow up. Feel free to reopen if you still have this issue.

[2017-07-07 22:19] #1570 closed

[2017-07-07 22:55] FreddieV4 commented on #271
Going to close this as I believe Eddie has answered this question, and also because we don't use Yahoo for benchmarking anymore.

[2017-07-07 22:55] #271 closed

[2017-07-08 22:04] ebarcikowski commented on #1843
I added this to the bottom of `fetch_symbol_metadata_frame` in quandl.py.  Seems to work.

[code]

Basically, you can add time offsets to a DatetimeIndex, but columns don't support that.  At least, with pandas 0.18.  I think it's supported in later versions though.

Elliott

[2017-07-09 16:35] freddiev4 opened #1878 "Add section to docs for community data bundles"
In order to make data bundles more easily discoverable, we should add a section to the zipline docs that has links to data bundles made by people in the zipline community; specifically, data bundles that use 3rd party data vendors.

The data bundles would then be maintained by those users rather than zipline maintainers.

Thinking this could go in a new subsection called `Community Bundles` under

[2017-07-09 19:49] jacohn16 commented on #603
I'm looking to ingest Futures data (minute bars) from quantopian - just like you would get when running backtests using quantopian.com.  Is this possible yet?

[2017-07-09 20:57] FreddieV4 commented on #1835
Can you try installing the latest version of zipline?

[2017-07-09 21:01] FreddieV4 commented on #1797
Can you try installing the latest version of zipline using `pip install -U zipline`?

[2017-07-09 22:36] FreddieV4 opened #1879 "Add section in docs for nightly builds"
When people want to install the latest master branch, because the previous release version has broken or something like that, there should be an easy place for people to see how to install the latest zipline master branch.

You can do this in two ways:
- Cloning the zipline repo and then running `pip install zipline/`
- Running `conda install -c Quantopian/label/ci zipline`

[2017-07-09 22:40] FreddieV4 opened #1880 "Disable the wiki"
Since adding the new [Development Guidelines](http://www.zipline.io/development-guidelines.html), we should disable the wiki.

It has out-of-date information, and I believe it is not the best place for our documentation to live, as we have [zipline.io](zipline.io).

@richafrank or someone else will have to do this due to repo permissions.

[2017-07-10 00:50] FreddieV4 commented on #174
x-ref https://github.com/quantopian/zipline/pull/1860

[2017-07-10 00:51] FreddieV4 commented on #713
x-ref https://github.com/quantopian/zipline/pull/1860

[2017-07-10 05:52] jonsariaatmadja commented on #1797
Yes I did.

On May 19, 2017 8:57 AM, "Freddie Vargus" <notifications@github.com> wrote:

[2017-07-10 05:53] FreddieV4 commented on #1797
Sorry, I meant to also mention that we recently did a new release of zipline, `1.1.1`. Did that install work for you?

[2017-07-10 06:41] FreddieV4 commented on #1805
x-ref https://github.com/quantopian/zipline/pull/1867

[2017-07-10 07:21] FreddieV4 commented on #1675
In the latest release so going to close this. Feel free to re-open for any extended discussion on this 🙂

[2017-07-10 07:21] #1675 closed

[2017-07-11 06:53] A-L-Verminburger opened #1883 "Getting and error when pip3 install zipline on CentOS 7."
`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-ydf0lqw9/zipline/`

Have installed the prerequisites:
`$ yum install atlas-devel gcc-c++ gcc-gfortran libgfortran python-devel redhat-rep-config`

[2017-07-12 06:46] FreddieV4 commented on #1883
Hi there. Could you provide us with the full output of your terminal when you run pip3 install zipline?

[2017-07-12 07:54] markfink commented on #1841
I looked more into this and I am now sure that this is a `valid beginners question`. Consequently I decided to add here what I found out so far:

The necessary tools required for the testing are already there e.g.:
* https://github.com/quantopian/zipline/blob/master/zipline/data/minute_bars.py
* https://github.com/quantopian/zipline/blob/master/zipline/testing/fixtures.py

With this its merely a q

[2017-07-12 08:29] pellertson opened #1885 "ImportError when zipline ingest runs"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux debianbeast 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux
* Python Version: python 2.7.9
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
alembic==0.9.3
apipkg==1.4
asteval==0.9.1
bcolz==0.12.1
Bottleneck==1.2.1
cert

[2017-07-12 18:15] FreddieV4 commented on #1885
Hi @therasputinmachine it looks like you have some versions of libraries that are different from the ones zipline uses.

In zipline we use `six==1.10.0`and `numpy==1.11.1` whereas you have `six==1.8.0` and `numpy=1.13.1`. Can you try uninstalling and reinstalling zipline using `pip uninstall zipline` and `pip install zipline`?

[2017-07-13 20:00] therasputinmachine commented on #1885
Thank you @FreddieV4 for the comment!

After some fiddling, I found that I had installed an old version of six installed in `/usr/lib/python`, but the right one in the virtualenv. Now I have `six==1.10.0`, and I just made sure I had the same version of numpy as you suggested.

I ran the command again and it's still throwing an ImportError, but the logs are different:
[code]
Does zipline require an

[2017-07-13 23:36] FreddieV4 commented on #1885
It looks like there's a few other libraries that are not the same versions that zipline uses. Did you try just uninstalling and reinstalling zipline within your virtualenv?

If not, just make a fresh virtualenv and try again

[2017-07-14 00:37] therasputinmachine commented on #1885
I have tried that. I did it when I made my last comment. I'll go ahead and give the fresh virtualenv a shot and I'll see if that works!

[2017-07-14 01:01] therasputinmachine commented on #1885
Nope. Still getting the same error.

[2017-07-14 01:28] FreddieV4 commented on #1885
Hmm... If you'd like to, we can chat in our gitter channel? Or a Google
Hangout? Need to setup a time though as I'm currently out right now.

On Thu, Jul 13, 2017, 7:01 PM Parker Ellertson <notifications@github.com>
wrote:

[2017-07-14 04:25] mellertson commented on #713
@llllllllll  regarding:

I'm passing a pandas.DataFrame to `run_algorithm()` using the `data` argument, so I can execute trades in Zipline's `handle_data()` method like this:
[code]

The pandas.DataFrame I'm passing contains OHLCV data, each as a column in the data frame. But, when `order_target()` is called, Zipline is raising the following error:
[code]

The error makes sense, as I'm not registe

[2017-07-15 06:33] rightx2 opened #1888 "Is there any way to pass custom option value when start zipline program?"
# Description of Issue

* What did you expect to happen?
I want to pass additional custom  option argument like below:
`zipline run -f dqn_backtester.py --start=2011-1-1 --end=2014-1-1 --my_stock=AAPL  --my_value=1.1`

Is there any way to do this?

[2017-07-15 08:45] #1888 closed

[2017-07-15 15:30] markfink commented on #1841
the solution I came up with is to load the testdata from csv files and I created a fixture to do exactly that.
details here: https://github.com/finklabs/zipline-testing

[2017-07-16 07:49] kkshyu commented on #1797
@jonsariaatmadja  I have faced the same issue and I tried the followings then it works...

1. create a new conda env: `conda create -n dev && activate dev`
2. do not install anaconda, it may limit your pandas and other packages' version
3. install zipline with conda: `conda install -c quantopian zipline`

Notice: if you are using jupyter, you should install jupyter again in the new conda env. In m

[2017-07-16 17:58] FreddieV4 commented on #1277
Hi @FayolChang we're now on version `1.1.1` of zipline; is this issue still relevant to you for the latest version?

[2017-07-17 21:40] richafrank commented on #1880
Removed

[2017-07-17 21:40] #1880 closed

[2017-07-29 02:10] lxlarcher opened #1896 "conflict between 32-bit python 3.5 and zipline"
Dear Zipline Maintainers,
when i try to download the zipline by conda, it shows the zipline work under python2.7 version, so how it work under python 3.5 version？

Sincerely,
Archer Liu

[2017-07-29 04:46] FreddieV4 commented on #1896
Hi Archer. Is your question more about how a python package can be used in both Python 2 and 3?

Based off the title of your issue it sounded like you have trouble getting zipline to work with Python 3.5, so just wanted to get some clarification first :)

[2017-07-29 06:50] llllllllll commented on #1896
The issue is that we have not published conda packages for python 3.5 so conda cannot resolve zipline. Right now you can install zipline in a Python 3.4 conda environment if you need Python 3.

[2017-07-29 07:54] lxlarcher commented on #1896
all right, thank u so much, maybe I will wait for the conda packages for python 3.5.

发自网易邮箱大师
在2017年07月29日 14:51，Joe Jevnik 写道:

The issue is that we have not published conda packages for python 3.5 so conda cannot resolve zipline. Right now you can install zipline in a Python 3.4 conda environment if you need Python 3.

—
You are receiving this because you authored the thread.
Reply to this emai

[2017-07-29 10:00] lxlarcher commented on #1896
Hi Freddie, I mean I had trouble getting zip line to work with python3.5. Now, I figure out zipline only work for python2.x or python3.4.   Thanks .

发自网易邮箱大师
在2017年07月29日 12:46，Freddie Vargus 写道:

Hi Archer. Is your question more about how a python package can be used in both Python 2 and 3?

Based off the title of your issue it sounded like you have trouble getting zipline to work with Python 3.

[2017-07-29 18:00] FreddieV4 commented on #1896
Hi @lxlarcher you can also run `pip install zipline` without conda and it should still work with Python 3.5

[2017-07-30 01:41] lxlarcher commented on #1896
Wonderful ,thank you so much.

发自网易邮箱大师
在2017年07月30日 02:00，Freddie Vargus 写道:

Hi @lxlarcher you can also run pip install zipline without conda and it should still work with Python 3.5

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-30 18:29] RJUNS commented on #1896
Am not able to install zipline on python 3.5 the error is:

error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

  ----------------------------------------
  Failed building wheel for cyordereddict
  Failed building wheel for bcolz
  Failed building wheel for lru-dict
And i have already installed vi

[2017-07-30 20:27] FreddieV4 commented on #1896
Hi @RJUNS if you're trying to run `pip install zipline` for Windows, then I'm not entirely sure right now how to deal with that particular issue. I'll look more into it.

We currently have conda packages for Python 3.5 on Windows, so you can install using `conda`.

There's more information in the [Install Guide](http://www.zipline.io/install.html) as well.

[2017-07-30 21:22] therasputinmachine commented on #1885
Hey I'm really sorry for the delayed response. Had some things I needed to take care of and this left my mind until recently. I still would like to fix this issue. I don't know what glitter is, but I do have my gmail listed on my profile.

[2017-07-31 06:03] BraveNewMath commented on #650
I tried running
`conda install -c quantopian zipline`

and got this error:
[code]

I am flustured

[2017-07-31 06:45] RJUNS commented on #1896
Hey @FreddieV4 , i tried installing using conda, but i got the following error:
D:\Folders\ArJuN\>activate py35

(py35) D:\Folders\ArJuN\>conda install zipline
Fetching package metadata .............

PackageNotFoundError: Package missing in current win-32 channels:
  - zipline

(py35) D:\Folders\ArJuN\>conda install -c Quantopian zipline
Fetching package metadata ...............
Solving package s

[2017-07-31 12:18] RJUNS commented on #650
Am getting the same error, while installing zipline on python 3.5 virtual env.

[2017-07-31 14:38] FreddieV4 commented on #650
@BraveNewMath to me it sounds like you're trying to install zipline for Python 3.6. The newest version of conda by default uses Python 3.6, so you'll have to create a new [conda env] using `conda create`.

There's more information on the [Zipline Install Docs](zipline.io/install.html)

[2017-07-31 14:39] FreddieV4 commented on #1896
@RJUNS We don't have builds/support for Windows-32 bit so your best bet is to install on a 64-bit machine I believe.

If your hardware supports 64-bit then you could run a 64-bit VM I think too

[2017-07-31 14:47] RJUNS commented on #1896
Oh, then i will better stick with python 3.4, as it supports my 32-bit somehow, thanks for help anyways @FreddieV4 :)

[2017-07-31 23:40] ssattert opened #1900 "Tuple Index out of range - timestamp issue with Pandas"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: `$ python 3.6.0
* Python Bitness: `
* How did you install Zipline: Pip
* Python packages: `$ pip freeze` or `$ conda list`

alabaster==0.7.9
alembic==0.9.3
anaconda-client==1.6.0
anaconda-navigator==1.5
anaconda-proj

[2017-08-01 14:40] FreddieV4 commented on #1900
Hi @ssattert it looks like there are some versions of libraries that are not consistent with the versions that zipline uses. We also don't support Python 3.6. We do support Python 2.7, 3.4, and 3.5.

You'll want to `pip install zipline` in a virtualenv that uses a different Python version or use a `conda env`.

[2017-08-01 14:42] FreddieV4 commented on #1885
Hi @therasputinmachine you can find the Gitter channel [here](gitter.im/quantopian/zipline) and the [mailing list](https://groups.google.com/forum/#!forum/zipline) here 🙂

[2017-08-01 15:22] FreddieV4 opened #1901 "Add info about using a virtualenv for installs"
It seems that there have been many attempts to install zipline just by running `pip install` or `conda install`, which results in a bunch of common errors like:

- Downgrading of packages
- Mismatch of package versions in the global `package-list` or `conda packages` with those that Zipline uses
- Conflicting versions with other libraries; i.e. now you can't use another library because Zipline cha

[2017-08-01 16:12] Spider08 commented on #713
@llllllllll
Any working sample where we can run a script with data passed into the `handle_data` with `data` argument as panel data and then using `TradingAlgorithm` and  `run` method without using any ingest method. That way the script data can be completed independent to the environment.

like in this
[https://github.com/quantopian/pyfolio/blob/master/pyfolio/examples/zipline_algo_example.ipynb]

[2017-08-01 18:01] richafrank commented on #1901
Environment isolation is a great thing for us to mention, especially for new folks to python. It won't solve the cases where people actually want to use libraries that conflict with zipline, but this education could help to prevent other cases of conflict.

[2017-08-01 18:07] RJUNS commented on #713
I have a similar request as that of @Spider08 , am really confused to how to access data on zipline so that to perform actions on them without using data.history() function. I was practicing on pandas before and it was easy to perform operations on it such as to find the max value in a given period we use:

[code]
Theirs extremely less guide on how to access data to perform actions other than find

[2017-08-02 10:43] RJUNS opened #1903 "Methods of accessing Data in zipline (For Beginners)"
Dear Quantopian / Zipline Maintainers,

There's good documentation on Orders, Portfolio optimization, Slippage/Commission models. But, am surprised to know that their hardly any guide on accessing data in zipline other than data.history() function.
Maybe it has some easiest way to do it Or it might be so hard to explain that no one wants to talk about.
I had a hard time finding the solution.
The p

[2017-08-03 20:35] FreddieV4 commented on #1903
Hi @RJUNS thanks for posting this issue. So it looks like there are a few questions/comments here that I'll address.

**Accessing Data**:
Zipline uses [Data Bundles](http://www.zipline.io/bundles.html), which are collections of pricing data, adjustment data, and an asset database. The default data bundle is the `quantopian-quandl` bundle, which uses the [Quandl WIKI dataset](https://www.quandl.com

[2017-08-04 08:30] RJUNS commented on #1903
@FreddieV4  Thank you explaining it. Now i understood how zipline works. Actually at the time i was posting this issue, i thought we are bound to write our code only in `initialize()` and `handle_Data()` which was getting difficult to accept. and the Quantopian Docs. was somewhat hidden from me, i was just referring to zipline docs and Quantopian's getting started Tuts. But i was glad by looking a

[2017-08-05 09:53] RJUNS commented on #1903
[code]
When i run the above code, the `data.history()` returns window starting from 2017-03-07 instead of 2017-5-1
[code]
What could be the issue? @FreddieV4 @llllllllll

[2017-08-06 05:39] karifann commented on #475
same issue, any remedy found?

[2017-08-06 05:54] karifann commented on #654
I encountered the same issue. Can someone redirect to where it is solved, please. Thank you.

[2017-08-07 01:43] FreddieV4 commented on #654
Hi @saitam1 @karifann can you open a new issue and fill out the issue template 🙂 ?

[2017-08-07 02:06] FreddieV4 commented on #1903
Hi @RJUNS. `data.history()` is a convenience function that keeps a rolling window of data for you. In your third argument of your `data.history()` call, you're passing the number 39, meaning you're using a 39 day window before the start date of your algorithm to use for various analyses.

We can test this & see it using zipline's `calendar_utils`:
[code]

There are mentions of this in the [Zipline

[2017-08-08 04:17] jacohn16 commented on #900
@osierra how do you build a 'future_reader'

[2017-08-08 07:05] osierra commented on #900
I used an equity pricer along the following lines (where `ta` is an instance of `zipline.TradingAlgorithm`).

[code]

[2017-08-08 09:03] jacohn16 commented on #900
@osierra Thanks.  Would you mind posting all of your code to show as an example.  It seems there's been some changes to the interfaces since this thread was first started.  It would help a lot.

[2017-08-08 09:58] jacohn16 commented on #603
It seems this post has been up since 2015.  Any progress with this?

It would be nice to have some good examples for using zipline + futures data.

[2017-08-08 15:25] FreddieV4 commented on #1876
Hi @drhay53 I'm going to go ahead and close this issue. Feel free to re-open if you have other questions or concerns 🙂

[2017-08-08 15:25] #1876 closed

[2017-08-08 15:26] FreddieV4 commented on #1896
Hi @RJUNS  I'm going to go ahead and close this issue. Feel free to re-open it if you have other issues with this

[2017-08-08 15:26] #1896 closed

[2017-08-08 15:28] FreddieV4 commented on #1753
Hi @quocble I'm going to go ahead and close this issue. If I still haven't quite answered your question, feel free to re-open this.

[2017-08-08 15:28] #1753 closed

[2017-08-08 15:28] FreddieV4 commented on #1744
Hi @spyamine I'm going to go ahead and close this issue. If you continue work on this and need more help, feel free to re-open this 🙂

[2017-08-08 15:28] #1744 closed

[2017-08-09 08:25] luca-s opened #1907 "ENH: add execution price in Order object"
Dear Zipline Maintainers,

this is not an issue, just a feature request. It feels strange the Order object doesn't have the associated execution price in it. I can see there is the commission information so It feels natural to have the execution price too. Also I couldn't figure out a way to get this execution price at all. Am I missing something?

Thank you!

Sincerely,
Luca

[2017-08-10 14:13] mongeoroo opened #1909 "zipline UnboundLocalError: local variable 'data' referenced before assignment"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version
* Python Version:  3.4 (separately download with conda
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: conda install
* Python packages:  conda list`

Now that you know a littl

[2017-08-10 14:37] richafrank commented on #1909
Hi @mongeoroo , That error is https://github.com/quantopian/zipline/issues/1506 and is masking failure to download the benchmark.

The [fix](https://github.com/quantopian/zipline/pull/1513) for the exact error you're seeing was released some months ago, if you want to start by updating to the latest version of zipline. Then you/we might have more information about why the benchmark isn't downloadi

[2017-08-10 18:19] ftnpang commented on #1389
Hi @richafrank, this is an old thread and this case was closed almost a year ago. But, I am still experiencing the same issue. The environment settings of my Anaconda is almost exactly as @cnimativ except that my Anaconda is 4.2.0. When I tried to install zipline via conda, I got exactly the same message. I searched for zipline (via channel quantopian) and it seems that zipline 1.1.1 was already r

[2017-08-10 18:32] richafrank commented on #1389
Hi @ftnpang , could you share the output of running `conda info`?

[2017-08-10 18:35] ftnpang commented on #1389
Current conda install:

               platform : win-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : C:\Anaconda3-420  (writable)
    default environment : C:\Anaconda3-420
       envs directories : C:\Anaconda3-420\e

[2017-08-10 18:49] ftnpang commented on #1389
Hi @richafrank attached above please find the outputs.

[2017-08-11 13:41] richafrank commented on #1389
Thanks, and could you also send along the output of `conda list`?

[2017-08-11 18:52] ftnpang commented on #1389
Hi @richafrank, the followings are from `conda list`:

_license                  1.1                      py35_1
_nb_ext_conf              0.3.0                    py35_0
alabaster                 0.7.9                    py35_0
anaconda                  4.2.0               np111py35_0
anaconda-clean            1.0.0                    py35_0
anaconda-client           1.5.1                    py35

[2017-08-11 19:04] fredfortier commented on #1417
Do you understand the root cause of this error? I'm facing the same issue when running nosetests on a modified branch. It can't switch to the latest master branch. I'm just looking for a better clue to troubleshoot. I tried with empyrical 0.2.1 and 0.2.2. Same issue with python 3.6 and 2.7.

[2017-08-11 19:22] fredfortier commented on #1417
I'm answering my own question here. It turns out that catalyst.utils.calendars._calendar_helpers is a cython module. Rebuilding cython worked for me.

[2017-08-11 22:27] richafrank commented on #1389
Hmm, looks like we're missing cachetools packages for py35. We'll have to fix that...

[2017-08-11 22:36] richafrank commented on #1389
Ah, cachetools isn't necessary anymore, but the rest of our py35 dependencies weren't in the main channel. I updated that. Try again?

[2017-08-12 02:47] ftnpang commented on #1389
Working like a charm! Thank you very much, @richafrank

[2017-08-14 20:08] WenchenLi opened #1911 "get started buy apple script fail KeyError: 'the label [2000-01-03 00:00:00+00:00] is not in the [index]'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System:ubuntu 16.04
* Python Version: `$ python --2.7`
* Python Bitness: 64
* How did you install Zipline:pip
* Python packages:
adium-theme-ubuntu==0.3.4
alabaster==0.7.9
alembic==0.9.0
appdirs==1.4.3
asciitree==0.3.3
autobahn==0.17.1
Babel==2.3.4
backports-abc==0.5
backports.s

[2017-08-15 00:25] jau827 opened #1912 "Cannot install zipline on macOS Sierra using conda"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `macOS Sierra 10.12.5`
* Python Version: `Python 3.5.2 :: Anaconda custom (x86_64)`
* Python Bitness: `64`
* How did you install Zipline: `$ conda install -c Quantopian zipline`
* Python packages: Attached
[packages.txt](https://github.com/quantopian/zipline/files/122380

[2017-08-15 02:20] ssattert opened #1914 "Dockerfile Add Fails"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment
Trying to install zipline dockerfile

Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 11
Server Version: 17.06.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volum

[2017-08-15 06:02] piyushdivyankar1994 commented on #1879
I am interested in working on this issue.

[2017-08-15 06:05] piyushdivyankar1994 commented on #177
I am interested in solving this issue.

[2017-08-15 14:49] FreddieV4 commented on #1912
Hi @jau827 thanks for posting. The reason for this is that we have not yet built macOS conda packages for Zipline. The way to install Zipline would be to make a `conda env` (to avoid conflicting package versions for other modules) and then run `pip install zipline`.

[2017-08-15 15:03] FreddieV4 commented on #1911
Hi @WenchenLi good catch on the tutorial docs. That's a known issue where we can't get data before 2009 (for some reason I have yet to discover). I think we'll want to update that tutorial doc that says some later date, like 2010.

For now you could just use a later date or run through the [Tutorial Notebook])(https://github.com/quantopian/zipline/blob/master/docs/notebooks/tutorial.ipynb)

Also I

[2017-08-15 15:16] FreddieV4 commented on #177
Hi @piyushdivyankar1994. I think it might be a good idea for you to first work on #1879, and get a PR opened/reviewed.  Then if you want to get started working on this issue, you can comment here again 🙂 .

[2017-08-15 18:17] jau827 commented on #1912
Hmm ok I will try through pip, I only used anaconda because on the `zipline` github it says that OSX 64 bit is supported for anaconda

[2017-08-16 08:54] gustavkkk opened #1916 "ImportError: cannot import name load_from_yahoo"
Hi@quantopian
My OS is ubuntu16.04, python version 2.7.12,
I installed zipline using command "pip install zipline"
then I tried to import load_from_yahoo using "from zipline.utils.factory import load_from_yahoo"
at the moment, I encountered this error.
"ImportError: cannot import name load_from_yahoo"
How can I solve this problem?

[2017-08-16 09:15] gustavkkk commented on #1916
on windows8.1, conda4.2.0, python3.5
Installed zipline using "conda install -c Quantopian zipline"
but same result("ImportError: cannot import name load_from_yahoo")

[2017-08-16 12:24] piyushdivyankar1994 commented on #1879
I development guidelines page doesn't seem to lead anywhere.

[2017-08-16 13:47] piyushdivyankar1994 commented on #1879
We want to add instructions on how to clone git repository and install from source, in the `./README.rst` and `./docs/source/install.rst`

[2017-08-16 14:17] piyushdivyankar1994 commented on #1879
After cloning the repo using
`git clone https://github.com/quantopian/zipline.git`
We run
`pip install zipline/`
This doesn't work is all the dependencies aren't already installed. To build the code using git repo instructions are already present in the _Creating a development environment_ section in Development Guidelines page of the Docs. Do I copy those instructions to Install and README?

[2017-08-16 18:54] FreddieV4 commented on #1916
Hi @gustavkkk. `load_from_yahoo` actually exists in `zipline.data.loader` and needs to be removed (x-ref #1805).

You can see the [Release Notes](http://www.zipline.io/releases.html#release-1-1-10) for why we removed yahoo-related code.

[2017-08-17 08:43] gustavkkk commented on #1916
Thank you very much, @FreddieV4 .  zipline.data.loader solved the issue.
Btw, when I run the following command
zipline_logging = logbook.NestedSetup([
    logbook.NullHandler(level=logbook.DEBUG, bubble=True),
    logbook.StreamHandler(sys.stdout, level=logbook.INFO),
    logbook.StreamHandler(sys.stderr, level=logbook.ERROR),
])
,I encountered the following error.
TypeError: __init__() got an une

[2017-08-17 17:09] FreddieV4 commented on #1916
Hi @gustavkkk in regards to your logging issue, it looks like `logbook.NullHandler()` does not have a `bubble` parameter.

See the docs [here](http://logbook.readthedocs.io/en/stable/api/handlers.html#logbook.NullHandler)

[2017-08-17 19:50] FreddieV4 commented on #1879
@piyushdivyankar1994 under the `Install` section of the README and in the full install docs, the idea is that people should be able to clone the zipline repo and just run `pip install zipline/` on that local copy (like you said above).

And if they're using `conda` instead, then they can run `conda install -c Quantopian/label/ci zipline` to get the latest conda package built on Travis/Appveyor CI

[2017-08-18 08:06] gustavkkk commented on #1916
@FreddieV4 . Thank you for your answer.

[2017-08-18 16:02] #1911 closed

[2017-08-19 06:58] #1903 closed

[2017-08-20 00:48] z-Runmin commented on #1901
Just submitted a PR on this issue.

[2017-08-20 17:51] mr-karan opened #1923 "Add Indian Stock Exchanges Calendar"
Dear Zipline Maintainers,

As mentioned [here](https://gitter.im/quantopian/zipline?at=5999c994162adb6d2e171d31), it would be great if we can add support for Indian stock exchanges like NSE, BSE, MCX to [zipline.utils.calendars](https://github.com/quantopian/zipline/tree/e1b27c45ae4b881e5416a5c50e8945232527ea59/zipline/utils/calendars)

I'd like to be assigned for this task, if maintainers agree o

[2017-08-23 00:36] jau827 opened #1924 "Errors after running buyaapl.py example"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: macOS Sierra 10.12.5 Darwin 16.6.0
* Python Version: `3.5.3`
* Python Bitness: `64`
* How did you install Zipline: `pip install zipline`
* Python packages: attached
[packages.txt](https://github.com/quantopian/zipline/files/1243784/packages.txt)

Now that you know a litt

[2017-08-23 09:25] dmicsa opened #1925 "Liquidity for ETFs, CEFs. I would suggest relaxing at least 5-20x liquidity requirements."
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Win 10
* Python Version: `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$ pip freeze` or `$ conda list`

[2017-08-23 17:49] gusgordon opened #1926 "If a DataPortal is passed to run_algorithm, TradingEnvironment should use the DataPortal's assets database"
`run_algorithm` supports being passed a DataPortal: https://github.com/quantopian/zipline/blob/master/zipline/utils/run_algo.py#L285

However, if a `DataPortal` is passed, I'm getting this:
[code]

To fix this, I think, we can pass the `DataPortal`'s assets.db path to `TradingEnvironment`.

https://github.com/quantopian/zipline/blob/master/zipline/utils/run_algo.py#L155

cc @richafrank

[2017-08-24 14:30] dmicsa commented on #1925
Regarding slippage

This is a formula that tries to replicate pretty realist the slippage for a trade done automatic.
StockSlippage  = 0.05 + 0.2 / (AvgDailyLiquidityForLast10Bars / 1,000,000 ^ .7) + 1. / Price

Some example:

Price\MegaVol 0.125 0.25 0.5 1 2 4
0.125 8.08% 8.06% 8.06% 8.05% 8.05% 8.05%
0.25 4.08% 4.06% 4.06% 4.05% 4.05% 4.05%
0.5 2.08% 2.06% 2.06% 2.05% 2.05% 2.05%
1 1.08% 1.06% 1

[2017-08-28 15:53] ernestoeperez88 commented on #1844
Hello @ikfdarba, thanks for posting this question. There are a couple of concepts that explain the results you are getting:

* Order execution - When your algorithm places an order on a given bar, the order begins filling on until the next bar (regardless of the slippage model used). This way, the backtester guards your algorithm against lookahead bias.

In the example you shared, the logs show an

[2017-08-29 09:27] hatyar opened #1928 "Installation problem"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7
* Python Version: `Python 3.5.3 64 bit
* How did you install Zipline: conda
* Python packages: `$ pip freeze` or `$ conda list`
zipline 1.1.1 np111py35_0
-------------------------
file name   : zipline-1.1.1-np111py35_0.tar.bz2
name        : zipline
version

[2017-08-29 12:04] adalfu commented on #1389
I'm having the same issues as ftnpang and OP. tried all methods to install using conda and pip but also getting all those errors that OP has indicated. any tip?
thanks

[2017-08-29 12:09] adalfu commented on #1389
my conda list:

#
_license                  1.1                      py35_1
_nb_ext_conf              0.4.0                    py35_1
alabaster                 0.7.10                   py35_0
anaconda                  custom                   py35_0
anaconda-clean            1.1.0                    py35_0
anaconda-client           1.6.3                    py35_0
anaconda-navigator        1.6.2

[2017-08-30 01:58] llazzaro opened #1929 "If the clock property is not set, then create one based on frequency."
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: 16.7.0 Darwin Kernel Version 16.7.0
* Python Version: `Python 3.6.0`
* Python Bitness: `64`
* How did you install Zipline: pyenv+pip
* Python packages: not required

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

[2017-08-31 22:09] DavisOwen opened #1931 "Running backtests before 2002"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Ubuntu 16.04
* Python Version: 2.7.12
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
adium-theme-ubuntu==0.3.4
alabaster==0.7.10
alembic==0.9.5
algopy==0.5.3
appdirs==1.4.3
argcomplete==0.8.1
argh==0.26.2
Babel==2.3.4
backports-abc==0.5
backpo

[2017-09-02 09:58] hatyar commented on #1928
not sure why this is not being answered. I tried many things but cannot get it to work with Python 3.5 environment.

[2017-09-06 20:49] dano2014 commented on #900
Tried the code above and I'm getting this error. Any idea ?
/Users/danielbara/.pyenv/versions/sucden/lib/python2.7/site-packages/zipline/assets/asset_writer.pyc in _load_data(self, equities, futures, exchanges, root_symbols, equity_supplementary_mappings)
    706                            (exchanges, 'exchange'),
    707                            (root_symbols, 'root_symbol')]:
--> 708

[2017-09-08 11:45] JimmyWuMadchester commented on #1774
Hi @FreddieV4, I'm trying to get a custom calendar for bitcoin as well. However, I couldn't find out how to include weekends looking at ```exchange_calendar_nyse.py``` and ```trading_calendar.py```. Any ideas how to include weekends?

@I-Larsson, I managed to specify the calendar for my custom bundle via ```~\.zipline\extension.py``` .
[code]
Then in the ```calendar_utils.py```, you can make sure

[2017-09-08 13:16] I-Larsson opened #1934 "Pipeline output, orders and transactions - lags in daily mode"
![zipline output](https://user-images.githubusercontent.com/27955548/30212754-9960e4d4-94a6-11e7-8dbb-4aeabfdfc615.png)

Hi fellow-zipliners,

As you guys can see from the outputs attached the pipeline-output gets generated on the first trading day before close, the orders get executed at the end of that trading day, and the transaction happens the next day at close for a given stock.

My concern

[2017-09-08 17:26] NumberChiffre opened #1935 "Unresolved Issue: WARNING and ERROR to download benchmark and treasury data in tutorial example <buyapple.py>"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

1. Operating System: macOS Sierra 10.12.6
2. Python Version: 3.6.2 :: Anaconda custom (x86_64)
3. Python Bitness: 64
4. How did you install Zipline: pip install zipline, also tried pip3 install zipline and through condo
5. Python packages:

alabaster==0.7.10
alembic==0.9.5
anaconda-client==

[2017-09-10 14:50] LennyKitty opened #1936 "Zipline cant find any symbols"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
4.8.0-53-generic #56~16.04.1-Ubuntu SMP Tue May 16 01:18:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: `$ python --version`
Python 2.7.12
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize +

[2017-09-10 17:30] LennyKitty opened #1937 "Cant create custom yahoo bundle"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
4.8.0-53-generic #56~16.04.1-Ubuntu SMP Tue May 16 01:18:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: `$ python --version`
Python 2.7.12
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize +

[2017-09-10 19:11] thomas2004ch opened #1938 "The latest zipline-1.1.1 is not supported by Python 3.6?"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows Server 2016
* Python Version: Anaconda 3-4.4
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: conda.exe  install -c Quantopian zipline
* Python packages: The package list is very long.

[2017-09-11 02:59] DavisOwen commented on #1937
yahoo's api is deprecated, I believe.

[2017-09-11 03:07] DavisOwen commented on #1936
Zipline uses the quandl WIKI/EOD dataset

https://www.quandl.com/data/WIKI-Wiki-EOD-Stock-Prices

SPY and USO are not apart of this dataset, as it only has stocks, not etfs. You're gonna have to import both manually if you want to use them. You're gonna have to write your own custom ingest functions and such it's a little bit of a pain.

Zipline also has a SPY_benchmark.csv file that contains SPY

[2017-09-11 13:25] richafrank commented on #1938
Hi Thomas,

Sorry for the trouble. Zipline should run on python 3.6, but we don't have conda packages for it. We have 2.7, 3.4, and 3.5. If you have a local compiler toolchain set up properly, you should be able to `pip install zipline` in your 3.6 environment.

[2017-09-11 13:29] richafrank commented on #1928
Hi @hatyar , Could you share the output of running `conda info`? Thanks.

[2017-09-11 13:35] LennyKitty commented on #1937
Is there any other way I can obtain this data then?

[2017-09-11 15:39] thomas2004ch commented on #1938
Hi richafrank,

Thanks for the reply first.

1.
I just simply tried the pip install zipline. It did a lot. But at the end it is failt. I got:
error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

Must I get the MS VC?

2.
How to use the toolchain to do the compilation?

3.
Is it possible to downgrade

[2017-09-11 15:53] FreddieV4 commented on #650
@thomas2004ch Fixed 🙂

[2017-09-11 18:08] thomas2004ch commented on #650
@FreddieV4
No, I can't open the page. It still showd 404 error.

[2017-09-11 18:32] richafrank commented on #1938
1. Hmm, I'm not completely sure what's necessary on windows. I'd expect some environment variables need to be set appropriately so that when pip runs, it finds the right binaries on its PATH.

1. I've heard mingw might work, but yea, I think most folks are using Microsoft tools via Visual Studio.

1. You can make a [new conda environment](https://conda.io/docs/user-guide/getting-started.html) with

[2017-09-11 18:34] FreddieV4 commented on #650
@thomas2004ch I'm sorry, I may have misunderstood which link you're talking about. The only link I saw with a 404 in this thread is the one to the Install Docs (which I edited and corrected).

Which link were you talking about exactly?

[2017-09-11 18:40] thomas2004ch commented on #650
@FreddieV4
The link I mention is this one in your post: Zipline Install Docs. As I open it I got 404.

The link http://zipline.io/install.html works. But it hasn't told how to overcome the problem by installing the zipline.1.1.1 on Anaconda 3 (Python 3). Are successful to install the zipline 1.1.1 on Anaconda 3?

[2017-09-11 19:05] DavisOwen commented on #1937
Sure, you can google it and some free sources of SPY data (not sure about USO) but it should be no problem. Google finance is an obvious choice. You could also manually download the csv file from yahoo finance on their website and ingest from that csv.

[2017-09-11 23:33] LennyKitty commented on #1937
Ok, that works I guess, how would I go about importing minute data?

[2017-09-12 02:13] FreddieV4 commented on #1916
Going to go ahead and close this 🙂

[2017-09-12 02:13] #1916 closed

[2017-09-12 02:37] DavisOwen commented on #1937
Don't know, you probably have to pay for minute data

[2017-09-12 13:13] ernestoeperez88 commented on #1827
Hi @ikfdarba. Could you please share with us the full error/stack trace?

Are you otherwise able to run backtests in minute mode (by commenting out ```set_benchmark(symbol('AAPL'))```)? Note that the default data bundles do not include minute frequency data. You would need to provide your own data, and [create a custom bundle](http://www.zipline.io/bundles.html#writing-a-new-bundle) with it.

[2017-09-12 13:49] gehongyi opened #1940 "install error"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7
* Python Version: `$ python --3.4
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: `conda`,
* Python packages: `$ pip freeze` or `$ conda list`

Now that you know a little about me, l

[2017-09-12 14:10] FreddieV4 commented on #1937
Hi @LennyKitty we've removed support for Yahoo bundles in Zipline 1.1.1 (you can check the [release notes](http://www.zipline.io/releases.html#release-1-1-1)). Not sure why the Yahoo bundle code is still in the `_modules` directory so I'll have to look into removing that.

In order to get minutely data, you'd have to find some data source that would be able to provide you with that and then create

[2017-09-12 14:11] FreddieV4 commented on #1940
Hi @gehongyi can you post the output of `conda info`?

And also can you try making a new Python 3.4 `conda env` and then install Zipline?

[2017-09-12 14:13] FreddieV4 opened #1941 "Remove dead code links from _modules on zipline.io"
It appears we still have links to dead code in zipline.io via the `_modules` directory.

e.g. http://www.zipline.io/_modules/zipline/data/bundles/yahoo.html

Noticed this because it was mentioned in #1937

[2017-09-12 14:15] FreddieV4 commented on #1936
Hi @LennyKitty I'd like to add to what @DavisOwen said; Zipline does use the Quandl WIKI dataset, which is not the same dataset that is provide by Quantopian (as there are many data sources on there). Zipline uses [Data Bundles](http://www.zipline.io/bundles.html) for ingesting data and using that for backtests.

[2017-09-12 14:22] FreddieV4 commented on #650
@thomas2004ch You should be able to install zipline on Python 3.4 and 3.5 with Anaconda (I'd recommend installing in a new conda env)

[2017-09-12 14:25] FreddieV4 commented on #1924
Hi @jau827 looking at your `errors.txt` those are not error, which would normally stop the execution of your Zipline backtest, but rather it's just info/warnings letting you know that data doesn't exist beyond a certain date. If anything we could update the info in our docs to say that these logs might appear but if the backtest doesn't stop executing then you should be ok.

[2017-09-12 15:12] gehongyi commented on #1940
@FreddieV4
C:\Users\hongyi>conda info
Current conda install:

               platform : win-32
          conda version : 4.3.25
       conda is private : False
      conda-env version : 4.3.25
    conda-build version : 1.20.0
         python version : 2.7.13.final.0
       requests version : 2.12.4
       root environment : e:\Users\hongyi\Anaconda2  (writable)
    default environment : e:\Users\h

[2017-09-12 15:14] gehongyi commented on #1940
@FreddieV4
(py34) C:\Users\hongyi>conda info
Current conda install:

               platform : win-32
          conda version : 4.3.25
       conda is private : False
      conda-env version : 4.3.25
    conda-build version : 1.20.0
         python version : 2.7.13.final.0
       requests version : 2.12.4
       root environment : e:\Users\hongyi\Anaconda2  (writable)
    default environment : e:\

[2017-09-12 15:37] LennyKitty commented on #1937
I have found sources that provide the last few months of minute data, honestly it is not so important that I have past minute data so much as I can use zipline live to run a algo live and have it trade minutely.

[2017-09-12 17:13] yacinuscrasus commented on #1389
A Solution to the problem on installing zipline on windows 10,through any version of anaconda,
(by creating a conda environment running under python 3.4 ,and containing default packages,to avoid
incompatibility,even though,installing zipline will downgrade some of them):
 conda create -n env_full anaconda python=3.4
 conda activate env_full
 conda install -c Quantopian zipline

i hope it helps.

[2017-09-13 04:04] gehongyi commented on #1940
@FreddieV4
I have installed by (conda conda install -c Quantopian zipline ) on another computer , but the same problem arised.
what can i do to resolve the problem?
many thanks!

[2017-09-13 05:30] thomas2004ch commented on #650
@FreddieV4  Yes, I did it. Thanks.

[2017-09-13 13:03] limcheekin commented on #1938
@richafrank I created python 3.5 environment as per your suggestion and install zipline using following command:
conda install -c Quantopian zipline

But I'm facing the following error:
Fetching package metadata .............
Solving package specifications: .

UnsatisfiableError: The following specifications were found to be in conflict:
  - blaze
  - python 3.5*
  - zipline
Use "conda info <packa

[2017-09-13 13:53] limcheekin commented on #1938
I found the solution at https://github.com/quantopian/zipline/issues/1797

The following is the key point of the message:
do not install anaconda, it may limit your pandas and other packages' version

I created the environment with anaconda.

[2017-09-13 15:16] FreddieV4 commented on #1923
Hi @mr-karan I can't think of a reason right now not to have more calendars. I'm finishing up PR #1800 so that people can actually use those calendars, so just a heads-up.

If you take a look at the [Trading Calendar API](http://www.zipline.io/appendix.html#trading-calendar-api) you could work on making a new calendar.

[2017-09-13 17:57] cyniphile commented on #271
Getting this issue, seems to be because google is not returning the proper data.  The following code only returns pricing back to 2016-9-15

[code]
Would be helpful to have a better error...took awhile to debug this.

[2017-09-13 18:04] NumberChiffre commented on #1935
Fixed by

[2017-09-13 18:05] #1935 closed

[2017-09-13 19:05] #1941 closed

[2017-09-13 19:05] richafrank commented on #1941
With #1943 merged, I believe we just need to deploy updated docs. If we want to deploy the version from the latest release instead, can just run `make clean` first.

[2017-09-13 19:30] Jfeng3 commented on #1870
@FreddieV4 Hi FreddieV4, I am trying to use zipline with pyforlio.
 you suggest here "use zipline in a separate virtualenv from pyfolio if you want to use both of them."

Do you mean I need to switch between virtualenvs when I run code with both pyfolio and zipline?

[2017-09-13 20:57] FreddieV4 commented on #1940
@gehongyi It looks like you're using Windows 32-bit. We don't have conda packages built for 32-bit Windows.

`pip` or win-64 conda should install Zipline successfully. **Note**: for `pip` you'll need to make sure it can compile Zipline's C extensions. The conda packages are already compiled.

[2017-09-14 07:20] thomas2004ch opened #1944 "Why the installed zipline can not be shown?"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7
* Python Version: 3.5.4
* Python Bitness:
* How did you install Zipline: conda install -c Quantopian zipline
* Python packages: The list is too long to post here

Now that you know a little about me, let me tell you about the issue I am
having:

# Description o

[2017-09-14 09:32] thomas2004ch opened #1945 "ImportError: No module named 'intervaltree'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7
* Python Version: 3.5.2
* Python Bitness:
* How did you install Zipline: conda.exe install -c Quantopian zipline
* Python packages: The package list is too long to post here.

Now that you know a little about me, let me tell you about the issue I am
having:

#

[2017-09-14 10:18] magick93 commented on #1285
Hi All

Was FX support ever added to Zipline?

[2017-09-14 10:44] thomas2004ch commented on #1945
The problem seems be solved. After I installed the 'intervaltree', though it shows the package is already istalled, I close the Spyder and start it again. It works.

[2017-09-14 14:13] richafrank commented on #1944
Hi Thomas,

I'm not 100% certain, but I believe `conda search` is searching the anconda package index in the default channel(s), and there are no zipline packages in those channels. To add the quantopian channel to your search, you'd run:

[code]

[2017-09-14 14:13] richafrank commented on #1944
`conda list` should show the packages installed in your current conda environment.

[2017-09-14 14:30] richafrank commented on #1941
Updated zipline.io after cleaning my output directory

[2017-09-14 17:48] thomas2004ch commented on #1944
@richafrank
this works. Many thanks.

$ conda search --full-name zipline -c quantopian

[2017-09-14 17:57] richafrank commented on #1944
Great!

[2017-09-14 17:57] #1944 closed

[2017-09-14 18:24] thomas2004ch commented on #1938
I ahve the same problem as limcheekin at home. At work there is no any problem. Quite strange.

But I fix it in other way as follow:
1.
pip install zipline
2.
But I got error message and I was asked to install the MS VC++ Builder. I download and install it.
3.
Run 1 again. This time it will take very long, more than 5 minutes. But it is successful. The zipline-1.1.1 is installed.

[2017-09-14 18:31] FreddieV4 commented on #1938
Hi @thomas2004ch glad to hear you figured it out :)

[2017-09-14 18:31] #1938 closed

[2017-09-14 18:31] #1945 closed

[2017-09-14 18:33] #1901 closed

[2017-09-15 03:13] ntindicator opened #1947 "Failed to cache the new benchmark returns"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: macOS Sierra 10.12.4
* Python Version: 3.5.1
* Python Bitness: 64
* How did you install Zipline: Other - using Pycharm Interpreter to virtualenv
* Python packages:
alembic==0.9.3
appnope==0.1.0
bcolz==0.12.1
Bottleneck==1.2.1
cachetools==1.1.6
certifi==2017.4.17
chardet=

[2017-09-15 15:48] thomas2004ch opened #1948 "ImportError: cannot import name 'get_pytables_version'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows Server 2016 (64-bit)
* Python Version: 3.6.1
* Python Bitness:
* How did you install Zipline: pip install zipline
* Python packages: The list is too long to post here

Now that you know a little about me, let me tell you about the issue I am
having:

# Descriptio

[2017-09-15 15:51] thomas2004ch commented on #1948
This does not happend by Python 3.5.4.

[2017-09-15 18:56] I-Larsson commented on #1934
Seems like the before_trading_start-function is hardcoded with "US/Eastern"-timezone. Changed this to local timezone.

[2017-09-15 18:56] #1934 closed

[2017-09-16 02:45] rohan- commented on #1776
Hello all,

I appear to be encountering the 'the label [timestamp] is not in the [index]' error:

`hello world
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-1-dc544426e571> in <module>()
     19     initialize=initialize,
     20     handle_data=handle_data,
---> 21     bundle='

[2017-09-16 10:12] Gillu13 commented on #1947
Hello,

It's fun because I also have an issue with the zipline examples approximately in the same place in the code. The fun part is that the loader worked perfectly well a couple of weeks ago and does not work any more now.

My guess is that it has to do either with Google finance or with the [pandas_datareader](https://github.com/pydata/pandas-datareader) module. Indeed, it looks like your run f

[2017-09-16 10:15] Gillu13 commented on #1947
OK, it looks like this is a known and new [issue](https://github.com/pydata/pandas-datareader/issues/395)

[2017-09-16 10:34] Gillu13 commented on #1947
I am not 100% sure that this is the root cause of your issue, but I am pretty sure that even if your run would have passed this step it would have failed at the next step because of [this](https://github.com/pydata/pandas-datareader/issues/391). Obviously Google recently stopped providing historical data older than one year.

[2017-09-16 10:43] Gillu13 commented on #1936
Do you think this might be linked with the fact that Google recently stopped providing historical data older than one year?

https://github.com/pydata/pandas-datareader/issues/391

[2017-09-17 02:06] ntindicator commented on #1947
Thanks for replying. Using the code you provided worked with the first date downloaded.
`f.ix['2016-09-19']
Out[8]:
Open           214.13
High           214.88
Low            213.03
Close          213.41
Volume    80250490.00
Name: 2016-09-19 00:00:00, dtype: float64`

I did a bit of research and the data is still there on Google. They've probably added a cookie like yahoo. If you visit this link

[2017-09-17 12:31] limcheekin commented on #1935
A simpler solution is to download the SPY_benchmark.csv file from https://github.com/quantopian/zipline/raw/master/zipline/resources/market_data/SPY_benchmark.csv and replace the one located in your ~/.zipline/data directory.

Hope this help.

[2017-09-17 16:24] tibkiss commented on #1771
This issue is also present on Python 2.7.5, but the code works on Python 2.7.10.
It is not yahoo bundle related, custom bundles are also affected by this issue.

Casting the viewkeys(expected_dtypes) to frozenset(viewkeys(expected_dtypes)) solved the problem for me:
https://github.com/quantopian/zipline/blob/77922ddedced4458fba7d2cb4c2a0826260f82fc/zipline/data/us_equity_pricing.py#L918

Will open

[2017-09-17 23:23] McSavage opened #1949 "Benchmark SPY data is miss history prior to 1 year ago"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
Microsoft Windows [Version 10.0.15063]

* Python Version: `$ python --version`
Python 3.5.4 :: Continuum Analytics, Inc.

* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
64

* How did yo

[2017-09-18 07:19] ezfine opened #1950 "KeyError issue: the label [2015-01-02 00:00:00+00:00] is not in the [index]"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Win10
* Python Version: Python 3.4.5
* Python Bitness: 64
* Python packages:
alabaster                 0.7.9                    py34_0
alembic                   0.7.7                    py34_0    Quantopian
astroid                   1.4.9                    py34_0
babel

[2017-09-18 08:39] joneschg commented on #1950
One more question.
I decide to work around this issue by using a more recent data as below:

[code]
The above KeyError is disappear, but I got a different but similar KeyError exception:
[code]
Any idea is appreciated!

[2017-09-18 12:21] ikfdarba opened #1951 "zipline set_benchmark(9 does not wokr for custom bundles"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$

[2017-09-18 14:33] richafrank commented on #1870
xref https://github.com/quantopian/pyfolio/issues/407

[2017-09-18 14:35] abhijeetkalyan commented on #1870
Hi @Jfeng3 - as of now, you'll need to do that, because they don't currently work in the same virtual env. This is on our radar to fix in the short term.

[2017-09-19 02:53] QuantGuy01 opened #1953 "the label [approx. one year ago] is not in the [index]"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
Linux uvm01 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

* Python Version: `$ python --version`
Python 3.4.5 :: Continuum Analytics, Inc.

* Python Bitness: `$ python -c 'import math, s

[2017-09-19 08:39] rohan- commented on #1953
Just to chime in, I too have the same issue on both osx and Ubuntu. [Detailed output here.](https://github.com/quantopian/zipline/issues/1776#issuecomment-329940046).

[code]

[2017-09-19 12:06] gehongyi opened #1955 "Got unexpected extra argument (ingest)"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 7)
* Python Version: `$ python --3.5`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$ pip freeze` or `$ conda list`

[2017-09-19 16:41] gehongyi commented on #1953
I have the same problem!

[2017-09-19 20:08] rnehrboss commented on #1953
Same problem.
Ingest quandl data.

Can't run buyapple.py example if start date < 1 year prior to now

This works:
_______________________________________
%%zipline --start 2016-9-21 --end 2017-6-1
from zipline.api import symbol, order, record

def initialize(context):
    pass

def handle_data(context, data):
    order(symbol('AAPL'), 10)
    record(AAPL=data[symbol('AAPL')].price)
_______________

[2017-09-19 20:25] rnehrboss commented on #1953
It appears from issue #1947 that this might have something to do with a problem with pandas datareader and yahoo or google API.

Am I wrong in thinking that my code should be using Quandl if I ingest it first?

Thanks!

[2017-09-19 20:26] rnehrboss commented on #1953
PS:  My ingested bundles looks like this:
zipline bundles
quandl <no ingestions>
quantopian-quandl 2017-09-19 16:55:07.011638
quantopian-quandl 2017-09-19 02:30:42.271764

[2017-09-19 21:49] DavisOwen commented on #1953
So this has nothing to do with your data, it seems that it's getting choked up on your benchmark data. This is a problem because quandl does not have SPY data so you have to get it elsewhere, and yes yahoo's api does not work anymore. If you look in your ~/.zipline/data directory, you will see a SPY_benchmark.csv file, and thats the data you should be looking to.

Not sure how zipline works with r

[2017-09-20 02:52] kerwinxu opened #1957 "KeyError: 'the label [2000-01-03 00:00:00+00:00] is not in the [index]'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (win 10`)
* Python Version: python35
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (conda)
* Python packages: `$ pip freeze` or `$ conda list`

Now that you know a little about me, let me te

[2017-09-20 03:24] FreddieV4 commented on #1957
Hi @kerwinxu I'm currently looking at #1953 #1950 #1949 #1947 and it looks like these are all the same problem; they're coming from Google no longer giving us enough benchmark data. Before, we could get up to 4000 days of data for `SPY`, but it seems we can only get about 251 days

[2017-09-20 03:26] FreddieV4 commented on #1955
Hi @gehongyi can you:

- Print out the information for `conda info`
- And also tell me how you're running the command? `zipline ingest` is ran via CLI so this should be done in your terminal or command prompt. If you type `! zipline ingest` it will run it as it would with the CLI

[2017-09-20 03:29] FreddieV4 commented on #1957
I think until it is fixed, an idea might be to copy https://github.com/quantopian/zipline/blob/master/zipline/resources/market_data/SPY_benchmark.csv to your `~/.zipline/data/` directory and then try running again

[2017-09-20 03:35] QuantGuy01 commented on #1957
Thanks about the pointers to benchmarks. I found the code doing this and it looks like Google (not Yahoo) is returning just the last year's worth of data, no matter what dates you pass it. I see other people have since commented on the same.

The latest pandas_reader version also has this same behavior. I modified the benchmarks.py code to use Yahoo and print the data to STDOUT and I then fetched

[2017-09-20 03:38] QuantGuy01 commented on #1953
Thanks about the pointers to benchmarks. I found the code doing this and it looks like Google (not Yahoo) is returning just the last year's worth of data, no matter what dates you pass it. I see other people have since commented on the same.

The latest pandas_reader version also has this same behavior. I modified the benchmarks.py code to use Yahoo and print the data to STDOUT and I then fetched

[2017-09-20 03:58] ezfine commented on #1957
As I mentioned in [#1950](https://github.com/quantopian/zipline/issues/1950) the copy from a prepared SPY_benchmark.csv without up-to-date does not work because zipline will compare the latest date and download from Google.

I think currently the better work-around is using the yahoo data with a yahoo-fix-patch for pandas Datareader, [here](https://github.com/quantopian/zipline/issues/1776) is the

[2017-09-20 06:54] kerwinxu commented on #1957
this patch seems ok .

edmunch commented on 30 Jun • edited
Solution for me using YAHOO... quick and dirty

install pandas_datareader
install fix_yahoo_finance from here: https://pypi.python.org/pypi/fix-yahoo-finance

patch Benchmarks.py with:

import pandas as pd

from six.moves.urllib_parse import urlencode

import pandas_datareader as pdr #NEW
import fix_yahoo_finance as yf #NEW
yf.pdr_overrid

[2017-09-20 06:54] #1957 closed

[2017-09-20 13:45] gehongyi commented on #1955
I typed "zipline ingest" in jupyter notebook!
Now I have resolved the problem.
Thank you very much!

[2017-09-20 14:14] #1955 closed

[2017-09-20 18:41] MBattagl commented on #1953
I edited benchmarks.py changing "google" to "yahoo". This worked for me.

I occasionally get an error saying something about yahoo. If I re-run it goes away, and it seems to work as expected

[2017-09-22 15:00] #1356 closed

[2017-09-22 15:04] richafrank commented on #1629
Hopefully fixed by #1920 . Definitely re-open if that's not the case.

[2017-09-22 15:04] #1629 closed

[2017-09-24 03:00] jamescgibson opened #1960 "Any way to handle 5m, 10m, 15m bars?"
Hello all,

What is the cleanest way to use e.g. 5m bars or 10m bars for intraday backtesting in Zipline? I have quite a bit of historical 5m data that it would be prohibitively expensive to replace with equivalent 1m data.

If given some guidance, I'm happy to write thorough documentation and open a PR with it.

Best
-james

[2017-09-25 07:52] ShadoFlameX commented on #1909
I'm hitting the same error, but on macOS. Is there any way to install a newer version of zipline (above 1.0.2) using something other than pip, which is giving me trouble? Thanks.

[2017-09-25 10:04] bartosh commented on #174
I can help with this as I'm working on PR #1860. I think it shouldn't be a script, but rather piece of documentation.

When PR #1860 is merged ingesting data from the set of CVS files would be as simple as putting files into the directory with the structure <direcrory>/<timeframe> and running
[code]

Example of directory structure for ingesting daily data:
[code]
and the ingesting command:
[code]

[2017-09-25 10:22] bartosh commented on #713
I've just posted easier way to do it. Please, have a look: https://github.com/quantopian/zipline/issues/174#issuecomment-331836005

[2017-09-25 23:19] ernestoeperez88 commented on #1832
Hello @ikfdarba, thanks for posting this question.

The values reported by algorithm_period_return and benchmark_period_return don't match because both correspond to [cumulative returns](https://github.com/quantopian/empyrical/blob/dd634ddff062c80efac3dc37fd37adca278be1fe/empyrical/stats.py#L86), and the daily returns data used to derive these values have different start dates.

Your algorithm sta

[2017-09-26 07:26] ikfdarba commented on #1832
Hello,

well, you ran exactly what i did (i had also removed the effect of cash as much as possible through the initial-capital), the only difference is that appl did not have a big drop on the first date of your simulation, so the benchmark and algo returns are quite close (but no bullseye with -2.3% alpha on a  9 month simulation), while apple apparently dropped 8% on the first day of my simulat

[2017-09-26 18:37] tibkiss opened #1962 "DataPortal.get_history_window() ignore ffill parameter"
get_history_window() function in DataPortal accepts a boolean flag which should enable forward filling prices: https://github.com/quantopian/zipline/blob/ec94e5aa9f57c30939d18585758d15da352b9dce/zipline/data/data_portal.py#L873

Currently the flag is ignore, the price is always forward filled:
https://github.com/quantopian/zipline/blob/ec94e5aa9f57c30939d18585758d15da352b9dce/zipline/data/data_por

[2017-09-27 07:59] Code37 opened #1964 "How to fit the lunch break in chinese market in MinuteSimulationClock?"
Dear Zipline Maintainers,

# Description of Issue

How to fit the lunch break in chinese market in MinuteSimulationClock?
The market open at 9:30 and close at 15:00.
However, it has a break from 11:30 to 13:00.
In `algorithm`, the sim_params.sessions is for date. The execution_opens and execution_closes are for open and close time.

[code]

Sincerely,
`$ code37`

[2017-09-27 13:02] minimalgeek commented on #1953
If you are interested, I've made a working Docker image with all the necessary stuff to setup a **zipline+pyfolio** environment running in **Jupyter Notebooks**.

Check this out, and run the command below.

https://github.com/minimalgeek/DeepLearning/tree/master/Stock/zipline

`docker-compose up --build`

[2017-09-27 13:16] dmichalowicz opened #1965 "Benchmark downloading is broken"
Fix benchmark downloading from Google with pandas-datareader. This issue was originally brought up [here](https://github.com/quantopian/zipline/pull/1946/files#r141126481).

We now get benchmark data from Google instead of Yahoo, as seen [here](https://github.com/quantopian/zipline/blob/master/zipline/data/benchmarks.py#L46-L51).

However, it appears that as of only a week or two ago, Google chang

[2017-09-27 15:16] cyniphile commented on #1965
Had this issue too. Just changed back to yahoo in the meantime in `get_benchmark_returns` which seems to work.

[2017-09-27 18:27] DavisOwen commented on #1931
So I think the problem can be fixed by importing google SPY data with benchmarks.py, but even then SPY data only goes back to 1993 when it began. I may be getting greedy here, but in order to run backtests for as long as possible (back to the 1970's), it seems that the only options are to 1. get a new benchmark or 2. run backtest without a benchmark.

Does anyone have any longer running alternativ

[2017-09-27 18:47] DavisOwen commented on #1953
Now I'm confused... apparently getting data from yahoo works with pandas_datareader now? I thought the yahoo API was broken? Is it because datareader was edited to download the data as csv?

[2017-09-27 19:56] rnehrboss commented on #1953
Nice job Farago,
I thought pyfolio and zipline were incompatible due to different
requirements (pandas version maybe)?

On Wed, Sep 27, 2017 at 9:08 AM, Faragó Balázs <notifications@github.com>
wrote:

[2017-09-27 20:34] MBattagl commented on #1965
Same issue here https://github.com/quantopian/zipline/issues/1953

[2017-09-27 20:47] rnehrboss commented on #1953
Docker Notebook container works great Farago.

Do you know if a container exists, or how I would do the same for running python / with Idle to test zipline and pyfolio?  I currently use Anaconda, but have problems running both zipline and pyfolio in same environment.

[2017-09-28 08:10] minimalgeek commented on #1953
No idea about Idle, I use PyCharm. That one has a plugin for Docker environments. (If you want to debug your code, you need to upgrade it to the pro version).
Anyway, in the Dockerfile you can modify the last line:
`CMD jupyter notebook --ip='*' --port=8888 --no-browser --allow-root`
to
`CMD python <algorithm_file>.py`
or something like that :)

[2017-09-28 11:50] zxweed commented on #1950
Have the same issue, please help...

[2017-09-28 12:02] zxweed opened #1968 "KeyError: 'the label [2011-01-03 00:00:00+00:00] is not in the [index]'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux neurox 4.4.0-79-generic #100~14.04.1-Ubuntu SMP Fri May 19 18:36:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

* Python Version: Python 3.5.4 :: Anaconda custom (64-bit)
Python 2.7.13 :: Continuum Analytics, Inc.

* How did you install Zipline: pip and conda

Now tha

[2017-09-28 17:33] FreddieV4 commented on #1965
x-ref https://github.com/pydata/pandas-datareader/issues/395

[2017-09-28 23:47] pauljherrera commented on #603
Same issue here. Still looking for good examples on how to use futures data with zipline for backtesting.

[2017-09-28 23:59] jacohn16 commented on #603
Here's what I eventually got working.  But my issue with zipline is that it doesn't seem to be stable and is tedious to debug.  New errors pop up from time to time, and its becoming obvious to me that its not working "out of the box".   Particularly it has weak support for Futures; not to mention you have to supply your own data.

[sample_futures_quandl.pdf](https://github.com/quantopian/zipline/f

[2017-09-29 00:33] marfeljoergsen commented on #1950
Have the same issue here - appreciate something that could help...

[2017-09-29 03:59] ezfine commented on #1950
As @FreddieV4 closed tag above, there is the answer.

[2017-09-29 09:03] zxweed commented on #1957
no, even if I put the correct SPY_benchmark.csv, call to TradingAlgorithm overwrite it with the wrong version! Please, reopen the issue...

[2017-09-29 10:07] stjordanis commented on #1968
I also have this problem, when running even the simplest algos:

class BollingerBands(TradingAlgorithm):

    def initialize(self):
        self.i = 0

        self.invested       = False

        self.trade_size=1000
        self.long = False
        self.short = False
        self.closed = False
        self.trading_day_counter = 0
        self.pct_stop = 0.025
        self.long_stop_price =  0.

[2017-09-29 11:23] ezfine commented on #1957
@zxweed
Please see my comment above. It doesn't work by just correcting the spy_benchmark.csv file. You should patch the yahoo download module of pandas DataReader.

[2017-09-29 14:36] zxweed commented on #1957
@ezfine I have not used the yahoo download because it's closed by yahoo couple of months ago. I have used the quandl as a source.

[2017-09-29 15:02] stjordanis commented on #1968
solution: https://github.com/quantopian/zipline/issues/1953

[2017-09-29 15:04] stjordanis commented on #1968
https://github.com/minimalgeek/DeepLearning/tree/master/Stock/zipline/other
replace the benchmark.py file and add the csv file found here

[2017-09-29 22:23] vighneshbirodkar commented on #1968
Can we get an official word on this from the devs ? This issue is seen in many places and is still present in the master branch

[2017-09-29 23:37] ezfine commented on #1957
Yes, yahoo made changes of its api several months ago and that's why we need a patch for pandas DataReader. I didn't try quandl data on zipline because it doesn't provide adjust close data.

[2017-09-30 14:49] pauljherrera commented on #1776
Hello maintainers,

One client and I are having the same  "is not in the [index]" error. We are working on Windows. I tried with both Python 3.5 and 2.7.
It worked one time, then it stopped working.

[2017-10-02 16:38] JoaoAparicio commented on #1957
@ezfine @zxweed The original issue at the top of this thread (to be clear, the one with the warning message "WARNING: Loader: Refusing to download new benchmark data because a download succeeded at 2017-09-20 02:19:52.057758+00:00.") has nothing to do with recent changes to google API. data/loader.py has hard-coded a cooldown between downloads of one hour.

@kerwinxu Please read previous paragraph

[2017-10-03 19:02] JoaoAparicio commented on #1968
@vighneshbirodkar From what I hear it seems google changed something in their API. Someone suggested changing `google` to `yahoo` on `data/benchmarks.py`, works for me.

[2017-10-03 21:37] jtromans commented on #1776
Playing around with Zipline at home. Custom bundle. Same error "is not in the [index]" error.
Windows 10
Python 3.5
Pandas 0.18.0
zipline 1.1.1

[2017-10-03 22:00] FreddieV4 commented on #1776
Hi everyone. The reason for this is because Google has now limited us to about 251 days worth of data, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965

[2017-10-03 22:00] FreddieV4 commented on #1968
Hi tehre. The reason for this is because Google has now limited us to about 251 days worth of data, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965. I'll comment there when there is a fix on master

[2017-10-03 22:00] #1968 closed

[2017-10-03 22:01] FreddieV4 commented on #1953
The reason for this is because Google has now limited us to about 251 days worth of data, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965. I'll comment there when there is a fix on master

[2017-10-03 22:01] #1953 closed

[2017-10-03 22:01] FreddieV4 commented on #1947
The reason for this is because Google has now limited us to about 251 days worth of data, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965. I'll comment there when there is a fix on master

[2017-10-03 22:01] #1947 closed

[2017-10-03 22:01] FreddieV4 commented on #1950
The reason for this is because Google has now limited us to about 251 days worth of data, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965. I'll comment there when there is a fix on master

[2017-10-03 22:01] #1950 closed

[2017-10-03 22:02] FreddieV4 commented on #1949
The reason for this is because Google has now limited users to about 251 days worth of data per request, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965. I'll comment there when there is a fix on master

[2017-10-03 22:02] #1949 closed

[2017-10-03 22:03] FreddieV4 commented on #1957
The reason for this is because Google has now limited users to about 251 days worth of data per request, so you can't run backtests over a year. There is a fix currently being worked on.

There are duplicates of this issue so I'm just going to direct everyone to this issue: https://github.com/quantopian/zipline/issues/1965. I'll comment there when there is a fix on master

[2017-10-03 22:05] FreddieV4 commented on #1962
x-ref https://github.com/quantopian/zipline/pull/1963

[2017-10-04 07:25] yiorgosn commented on #1965
Quick solution: Use a manually downloaded local copy of SPY (yahoo lets you download manually the entire history).  I modified the benchmarks.py to try google first and if it fails to look for a local csv copy instead.  I attach the modified benchmarks.py file it should replace the existing one (so make a a copy of the original first before you overwrite it).  The benchmarks.py file is usually fou

[2017-10-04 07:46] JoaoAparicio commented on #1960
I'm interested in this as well.

[2017-10-04 19:12] jtromans commented on #1776
I fixed it by loading my own data bundle with minutely data but now I'm getting a different error:
sqlalchemy.exc.InvalidRequestError: Could not reflect: requested table(s) not available in Engine(sqlite:///C:\Users\blablabla/.zipline\data\csv\2017-10-03T21;52;47.125141\assets-6.sqlite): (equity_symbol_mappings, asset_router, futures_root_symbols, futures_exchanges, version_info, equity_supplement

[2017-10-04 21:02] JoaoAparicio commented on #603
@jacohn16 I've been working on how to ingest futuress data into zipline. Thanks for your link. What kind of errors are you seeing?

[2017-10-04 21:45] JoaoAparicio commented on #603
@jacohn16 I can't get `zipline run` to run your code. I get `zipline.errors.SidsNotFound: No asset found for sid: 55555.` It also seems that the `if __name__ == "__main__":` bit of the code is completely ignored. What am I missing?

[2017-10-05 09:43] JoaoAparicio commented on #603
@jacohn16 Also, running it I get `AttributeError: 'zipline.assets._assets.Future' object has no attribute 'roll_style'`

[2017-10-05 16:49] JoaoAparicio commented on #1572
@FreddieV4 I have the same issue when I try to ingest data which on some dates is `NaN`. How should I treat this? If I just `dropna()` dates with `NaN` I get a different error: inside `daily_bar_writer` I get `AssertionError: Got 276 rows for daily bars table with first day=2016-01-04, last day=2017-08-31, expected 430 rows.`

[2017-10-05 16:54] FreddieV4 commented on #1572
@JoaoAparicio where are you ingesting data from? My default action to something like that is just `fillna(0)` then `ffill` and then see what happens but I'm not sure why you're getting so many `NaN` values (missing some context here)

[2017-10-06 00:19] pauljherrera commented on #603
@jacohn16  I am also getting the zipline.errors.SidsNotFound: No asset found for sid: 55555 error. Even when you are using quandl in that script, you still need to ingest data previously?

[2017-10-07 04:43] thomaslanglois opened #1979 "Installation issue"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 10)
* Python Version: 3.5.3
* Python Bitness: 64
* How did you install Zipline: conda
* Python packages: conda list

_nb_ext_conf              0.3.0                    py35_0
alabaster                 0.7.10                   py35_0
anaconda-client           1.6

[2017-10-09 14:10] richafrank commented on #1909
@ShadoFlameX , You could clone the repo locally and [build the c extensions in place manually](http://www.zipline.io/development-guidelines.html#creating-a-development-environment).

[2017-10-09 16:20] richafrank commented on #1979
Hi Thomas. This is a difficult one.

First, I can't actually reproduce your environment (even without zipline). I made a new python 3.5.3 conda env, but I can't install the combination of requirements you have:
[code]
which makes sense, since you have an h5py built against numpy 1.11.

With packages built against only numpy=1.11, I _can_ reproduce it, and it looks to be a conflict from zipline 1.1

[2017-10-09 18:14] richafrank commented on #1511
This is in progress [here](https://github.com/zipline-live/zipline).

[2017-10-09 18:14] #1511 closed

[2017-10-14 16:13] JoaoAparicio commented on #1960
@jamescgibson One quick hack is to `ffil` your 5m data to make it minute data, and then setting your scheduled functions to run once every 5m, or 10m etc.

[2017-10-14 18:45] Vaibhavdixit02 commented on #1805
Hey, I would like to work on this issue, can someone help me out?

[2017-10-14 20:13] souravsingh commented on #1805
The issue can be closed since it is fixed.

[2017-10-14 20:29] FreddieV4 commented on #1805
Hi @Vaibhavdixit02 I actually removed the remaining code in this PR https://github.com/quantopian/zipline/pull/1972 so just waiting to merge that. @souravsingh I'll close this once I merge that PR 🙂

[2017-10-16 18:04] abhilashchowdhary opened #1988 "cancel_all_orders_for_asset fails"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
`macOS Sierra`
* Python Version: `$ python --version`
`Python 2.7.13`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
`64`
* How did you install Zipline: (`pip`, `conda`, or `other (plea

[2017-10-16 18:20] FreddieV4 commented on #1774
This issue should be fixed by this PR #1800 🙂

[2017-10-16 18:20] #1774 closed

[2017-10-19 13:57] ti6oti6o opened #1992 "Adding a custom (non-standard) column to a Panel to use in handle_data (ZIPLINE)"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7
* Python Version: Python 3.5.2 (64-bit) via anaconda 4.2.0
* Python Bitness: 64bit
* How did you install Zipline: conda

Now that you know a little about me, let me tell you about the issue I am
having:
I am trying to create my own EMA (exponential moving avera

[2017-10-23 20:52] vonpupp commented on #939
May I ask again the same question? Some time has passed by and this issue is now even more relevant IMHO. I stumble upon this repo [1], which could be helpful.

Disclaimer: I am totally new to zipline and quantopian.

[1]: https://github.com/FlorianWilhelm/zipline-poloniex