[2012-10-29 13:58] ehebert opened #7 "Add Oct 29, 2012 to trading calendar rules."
Due to Hurricane Sandy, NYSE and Nasdaq closed trading for the day of Oct 29, 2012

http://www.forbes.com/sites/abrambrown/2012/10/29/nyse-nasdaq-to-shut-trading-hurricane-sandy/

[2012-11-07 17:49] michaelwills opened #11 "Zipline is not to be used as an installed python module?"
While trying to reproduce the example on my local machine:

[code]

I installed zipline from the github repo with

[code]

which causes loader.py dump_benchmark() to try to write benchmark.msgpack in

[code]

which fails of course with permission denied. It works as expected when run within a project but not installed in site libs. Can or should the msgpack files be stored in a configurable locati

[2012-11-08 14:56] twiecki opened #12 "ImportError: No module named requests"
[code]

Not sure if that is a stand alone package?

[2012-11-08 16:42] michaelwills opened #13 "Problem running with data outside of provide benchmark date range"
This is using a local copy of zipline instead of the site-packages one.

The data is OHCL and other indicator exported out as CSV from Metatrader 4. The timestamps are then munged to be the index similar to fast-data-mining-with-pytables-and-pandas.pdf and also localized

[code]
and when trying out the algo

[code]

this results in

[code]

At this point the basic test does work using the local co

[2012-11-08 20:47] fawce opened #14 "integrate with yinhm/datafeed?"
see comments from @trbck in this issue for datafeed: https://github.com/yinhm/datafeed/issues/1

could be a very useful datasource in zipline.

[2012-11-11 06:17] michaelwills opened #17 "Compatibility with app.quantopian.com?"
Are there plans to make this release of zipline compatible with app.quantopian.com's implementation? It'd be awesome to test and build strategies from the site against unsupported instruments like forex. Or even the ability to backtest real estate housing market data or Intrade quotes. Not to mention strategy development in a comfortable environment. Bringing the extra data available in `data` ins

[2012-11-12 16:02] snth opened #19 "Documentation and Understanding the Simulation Environment"
Hi,

First off, let me say well done on a great project and for making this Open Source. I'm quite excited about the prospects this opens up and would like to use this for my own work and contribute where possible.

In order to assess whether it can meet my needs in a short enough time period I'm trying to understand how the Trade Simulator works to see if I can use it for my purposes. In particul

[2012-11-12 19:36] #12 closed, assigned to ehebert

[2012-11-12 19:37] #11 closed, assigned to nobody

[2012-11-19 15:34] ehebert opened #23 "Regularly compile publish documentation."
Most likely to https://readthedocs.org/

[2012-11-19 15:36] twiecki opened #24 "Remove market_aware flags."
There is no good reason to set market_aware=False. I think the reason we have it is that it makes some unittests easier. However, a unittest should really test the real-world case.

ToDo: Remove market_aware everywhere and only use code for market_aware=True.

[2012-11-27 09:01] twmeggs opened #29 "log (ln) returns in volatility calculation and annualization of metrics"
It's common practice in quant finance to use log returns (natural logarithm) when calculating an assets volatility,  See: http://en.wikipedia.org/wiki/Volatility_(finance)

Log returns are primarily used because asset price paths are usually modelled as following geometric Browniam motion, which avoids the problem of negative prices and brings other useful atributes.  See: http://www.risklatte.com

[2012-12-04 21:22] #7 closed, assigned to nobody

[2012-12-11 16:38] ehebert opened #40 "Move quantopian.com's algorithm proxy class to zipline"
Currently, it's fairly onerous to go back and forth between a zipline algorithm using the TradingAlgorithm class and the 'scriptable' style of algorithm provided by the interface in https://www.quantopian.com/

To alleviate this pain, we could move the algorithm proxy class that is used internally by https://www.quantopian.com into zipline, so that users of zipline in stand alone mode can write al

[2012-12-13 23:13] twiecki opened #44 "Integrate rebalance_portfolio function"
https://github.com/quantopian/quantopian-algos/blob/master/OLMAR.py#L59

implements a function to rebalance a portfolio. We probably want to include this in zipline.TradingAlgorithm for users to be able to call.

ToDo:
- documentation
- unittesting

[2012-12-18 19:52] twiecki opened #46 "Add streaming of treasury and benchmark"
These will get picked up by EventWindow and saved in the queue.

Certain transforms (e.g. Sharpe) require these.

Implementation wise, maybe we can add a new generator that gets placed after the source that tags these on.

Issue left to resolve: how to make sure that they are in sync.

[2013-01-03 15:51] twiecki opened #52 "Add support for bid/ask specification."
Currently zipline requires a price (and volume) field to be present for each sid. From this price we calculate the bid/ask spread when orders are placed.

The order function should be adapted so that when an bid and ask field are present it uses those as the price.

[2013-01-04 15:00] #24 closed, assigned to nobody

[2013-01-09 10:26] Elektra58 opened #55 "load_from_yahoo"
load_from_yahoo might have a problem handling the last day(s) where data on Yahoo might not yet be available. As an example, consider the data file generated by the following snippet (as of today 9-Jan-2013 10:18 UTC)

[code]

Reading the file and running some trading algorithm in zipline through

[code]

will produce the following chain of error messages:

[code]

If you limit the time window to

[2013-01-10 16:30] twiecki opened #56 "Change number representations from float to decimal"
We are currently using python floats for e.g. calculating commission costs which represents a problem for some strategies since python uses machine representation (e.g. 1.1 \* 1.1 != 1.21 since python returns 1.2100000000000002). So in most financial applications floats are represented as ints or as an object of some class (Decimal or cDecimal in python).

As such, I think we should replace float

[2013-01-10 18:37] #56 closed, assigned to nobody

[2013-01-14 12:37] Elektra58 opened #60 "test_transforms fails for BatchTransformAlgorithm"
While writing unit tests for a proposed new transform I stumbled over a potential need to update the unit test for the BatchTransformAlgorithm. The reason I raise this issue is that my own unit test comes up with a similar error: AttributeError

Where in the code do I have to make modifications to account for a new transform not previously in the code?

<ul>
<li>__init__.py for transforms</li>
<li

[2013-01-14 19:25] ehebert opened #61 "Use numpy.vdot for performance.PerformancePeriod.calculate_positions_value"
For a performance speed up, use numpy's vdot method to calculate the total position value.

On my machine, using the `timeit` module with a count of 1e5 times and 400 positions:
- A function that mimics `calculate_position_value` takes 17.42 seconds.
- A function that uses `np.vdot` on two np.arrays representing the `amount`s and `last_sale_price`s takes 0.25 seconds.

[2013-01-16 13:42] #61 closed, assigned to nobody

[2013-01-16 17:39] #60 closed, assigned to twiecki

[2013-01-17 07:51] #55 closed, assigned to nobody

[2013-02-02 14:46] twiecki opened #71 "Return risk metrics"
.run() should return risk metrics together with performance metrics.

[2013-02-04 13:31] j1o1h1n opened #72 "Leverage Control"
from https://www.quantopian.com/posts/my-overdraft

My initial thoughts were to follow the commission/slippage pattern and add zipline/finance/leverage.py with say PercentLeverage and AbsoluteLeverage.

Leverage control would then work in a way similar to VolumeShareSlippage.simulate - checking available cash and returning None if the portfolio had insufficient funds.

Is this likely to work, thou

[2013-02-04 20:30] j0hnsmith opened #73 "html docs include mathjax.org call"
I've built the docs for offline use, I can see there's a call to http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML

Can it be included in the repo?

[2013-02-11 02:07] twiecki opened #79 "Return panel from yahoo finance including OHLP."

[2013-02-15 21:07] ehebert opened #83 "Add a way to update benchmark data"
Currently, the only way to update benchmark data is to delete the benchmark file contained in "$HOME/.zipline", so that the code that detects missing data pulls in the full data set up to the most recently available data.

One solution is to just check the latest date in the file and fill in the attempt to fill the data if it's not the previous market day.

Or we could add an utility script that c

[2013-02-20 04:22] jikamens opened #93 "test_lse_calendar_vs_environment fails when cached yahoo data is more than a day old"
Run at 23:22 US/Eastern:

[code]

[2013-02-21 21:07] twiecki opened #94 "Add zipline.__version__ string identifier."

[2013-02-26 00:50] ehebert opened #96 "Add short codes prefixes for commits to style guide"
As recommended by Fabian Braennstroem on the Google group.

Add to the style guide the inclusion of prefixes to git commits for the commit "type".

Here's the list that SciPy/NumPy uses: (Pulled from http://docs.scipy.org/doc/numpy/dev/gitwash/development_workflow.html)

[code]

Is there a standard out there that other projects are settling on?

[2013-03-15 14:20] ehebert opened #108 "Data source that uses a local csv file"
Create a data source that makes it easier to load and use a csv file for OHLCV price data.

[2013-03-15 15:02] ehebert opened #109 "Open source set_universe feature from quantopian.com"
quantopian.com provides a `set_universe` function that allows an algorithm to select stocks based on a criterion, e.g. percentile range of dollar volume rankings.

Example algorithm, https://www.quantopian.com/posts/a-very-basic-set-universe-example-to-refer-to-with-a-zipline-issue

The majority of the code that provides `set_universe` is currently within the internal/closed code that runs backtes

[2013-03-15 15:44] ehebert opened #110 "Data source that uses a local hdf5 file"
Analogous to https://github.com/quantopian/zipline/issues/108, provide a wrapper for using a local hdf5 file(s) as a data source.

[2013-03-26 23:54] ehebert opened #115 "Optional speedup performance of batch transform with an iterative version"
The following is as described by @jkoelker in this forum post, https://www.quantopian.com/posts/iterative-batch-transforms

---

Batch Transforms are awesome for computing a series of values, but with large changing datasets performance can be quite spotty. If the transform can be written in an iterative fashion with EventWindows, performance is more consistent, but you lose the batch nature and s

[2013-03-27 15:56] peter-ch opened #117 "Can't install zipline with pip"
Downloading/unpacking zipline
  Downloading zipline-0.5.7.tar.gz (83Kb): 83Kb downloaded
  Running setup.py egg_info for package zipline
    Traceback (most recent call last):
      File "<string>", line 14, in <module>
      File "/home/peter/build/zipline/setup.py", line 32, in <module>
        LONG_DESCRIPTION = doc.rst
      File "/usr/local/lib/python2.7/dist-packages/pandoc/core.py", line 35

[2013-03-27 17:26] #117 closed, assigned to ehebert

[2013-04-02 23:46] ehebert opened #119 "Add an option to turn off benchmark/treasury updating"
So that Zipline can be run offline, i.e. so that a downloaded dataset can be used when there is no internet connection.

Without the option to disable benchmarks Zipline will currently crash on a socket exception while calling `data.loader.update_benchmarks`

[2013-04-03 23:15] benmccann opened #120 "Better defaults for examples using load_from_yahoo"
The examples show loading data using load_from_yahoo. The defaults are really strange though:

[code]

Why not load all the data up to today by default?  The class comment says "Factory functions to prepare useful data for tests."  If this function is meant to be used only in tests then perhaps we should rewrite the examples using pandas.io.data.DataReader instead of load_from_yahoo so that we get

[2013-04-04 21:27] ehebert opened #122 "Add unit test covering intraday performance with AlgorithmSimulator"
Commit eb42d4bfbd474dc8a07913fde3f6411b2b00841d fixes a bug when
AlgorithmSimulator uses an emission_rate of 'minute'.

The test coverage for emission_rate only covered the use of emission_rate
directly in PerformanceTracker.

There should be a test that runs an AlgorithmSimulator with a
'minute' emission_rate, so that the integration between PeformanceTracker
and AlgorithmSimulator in that mode i

[2013-04-04 22:00] benmccann opened #123 "nosetests is failing"
Running nosetests gives:

[code]

[2013-04-04 22:13] #123 closed, assigned to nobody

[2013-04-04 23:47] benmccann opened #125 "Cannot backtest before 1-2-1990"
Edit zipline/examples/buyapple.py to start from an earlier date than the default:

[code]

Then you will get:

[code]

[2013-04-04 23:50] #120 closed, assigned to nobody

[2013-04-05 21:01] ehebert opened #127 "Add option to filter data through Winsorisation"
Filter out extreme values which are assumed to be spurious because of their extremity.

As requested by Jessica Stauth on Quantopian forums, https://www.quantopian.com/posts/feature-requests-what-changes-would-you-like-to-see

Quoted from that post:

[2013-04-09 00:47] fawce opened #128 "per trade commission rounding error"
Repro case from quantopian.com: https://www.quantopian.com/posts/odd-behavior-olmar-algorithm-and-commissions
Bug is here: https://github.com/quantopian/zipline/blob/master/zipline/finance/commission.py#L61

[2013-04-10 20:34] ehebert opened #129 "Need unit tests that isolate tradesimulation module"
When implementing d21b500db6b508f5093dfeb61f8ed236845679c5 found it difficult to isolate the results emitted from `tradesimulation.AlgorithmSimulator` and check whether the extra `daily_perf` performance result was emitted.

We should consider adding unit tests for that module where events can be piped through without having to go through an entire algorithm.

[2013-04-15 09:04] benmccann opened #132 "Use 10 year treasury as benchmark"
The 10 year treasury should be used as the benchmark. E.g. Investopedia states [The 30-year Treasury used to be the bellwether U.S. bond but now most consider the 10-year Treasury to be the benchmark.](http://www.investopedia.com/terms/1/30-yeartreasury.asp).

Besides the 10-year rate being the more common benchmark, it's also far easier to get better data for. Beginning February 18, 2002, Treasur

[2013-04-15 09:09] #125 closed, assigned to nobody

[2013-04-20 12:23] pcawthron opened #139 "Suggested Updates To README.md"
A couple of minor 'enhancement' thoughts after just installing zipline for the first time.

(i) I'm using Python 2.7 which had python-dateutil 1.5 installed by default. The README.md could state that python-util 2.1 is a requirement and maybe give the link to https://pypi.python.org/pypi/python-dateutil

(ii) The README.me might be better using the dual_moving_average.py from https://github.com/qu

[2013-04-22 00:31] twiecki opened #140 "batch_transform not dropping nans when used with universe?"
According to this thread https://www.quantopian.com/posts/help-w-slash-batch-transform-problems nans do not get dropped when a universe is present.

I was under the assumption that we cleverly backfill the events in that case. Is that not true?

[2013-04-23 15:57] dunster opened #142 "No issue"
no issue

[2013-04-23 16:51] #142 closed, assigned to dunster

[2013-04-24 20:12] ehebert opened #143 "Add half days to trading calendar."
Add a halfday trading calendar to tradingcalendar module, for July 3rd, Friday after Thanksgiving, etc.

[2013-04-25 17:09] twiecki opened #144 "Warning issued: Risk: No rate within 1 trading day of end date"
[code]

How to reproduce:
run dual_moving_average.py example.

[2013-04-27 13:32] twiecki opened #147 "batch_transform lagging behind by 1?"
@jlowin reports that the batch_transform when calling the transform does not contain the most recent event which would obviously be a bug. Example:

"Let's say today's price is 100, yesterday's is 99 and the day before is 98. If I am running my batch transform today with a window size 2, I expect it to contain [99, 100] rather than [98, 99] so that I am running my calculation on the most recent in

[2013-04-27 20:19] wesm opened #148 "Time zone conversions, Delorean necessary?"
I've looked at the various places where time zone conversions are being done, e.g.:

[code]

I'm wondering whether you might be better served using the `pandas.Timestamp` object and its `tz_convert` method. Notably adding timedeltas to `Timestamp` shifts the underlying UTC timestamp and respects DST transitions, etc. It would be faster and simpler than this mucky business with Delorean, and you ca

[2013-04-27 21:46] #147 closed, assigned to nobody

[2013-05-02 20:20] twiecki opened #151 "Investigate: Nans in algorithm_returns"
If, in risk.py, we change (line 586 and 589):

[code]

to:

[code]

to do explicit slicing rather than implicit using valid(), I get the following test error:

[code]

Dropping into a debugger it seems that there is a NaN in front of the last dt which seems very odd:

[code]

[2013-05-04 11:43] Komnomnomnom opened #153 "Weird portfolio behaviour in latest zipline"
In the latest zipline code the initial orders appear to get stuck in limbo. The following modifications to the [olmar example](https://github.com/quantopian/zipline/blob/master/zipline/examples/olmar.py) shows it better than I could explain:

[code]

The output from the modified example is

[code]

Notice the portfolio value on the 17th after our first order. The orders have been placed, money has

[2013-05-06 21:33] ehebert opened #154 "Add tests to verify risk/performance on a simple algo"
We have a bunch of unit tests that exercise performance and risk module objects, which is good, but we should add some tests that test the 'full' stack with a small set of event and pipe the events through the entire system and check the algorithm returns, etc.

The goal is to have a set of events with 'pen and paper'ed results, and derivations shown in the test.

[2013-05-06 22:07] dunster opened #155 "bad bug - ignore"
wrong place

[2013-05-07 11:39] #153 closed, assigned to ehebert

[2013-05-07 15:46] #155 closed, assigned to nobody

[2013-05-08 19:50] #140 closed, assigned to ehebert

[2013-05-14 21:10] twiecki opened #160 "Bug in batch_transform related to updating of kwargs"
User reports:

[code]

So in essence, if you pass changing args or kwargs you can trigger an update of the batch_transform at every call and refresh_period gets ignored. This is likely in the code that determines whether to update and probably related to an `or` check.

[2013-05-16 22:47] #79 closed, assigned to twiecki

[2013-05-17 00:13] #46 closed, assigned to dunster

[2013-05-21 22:07] ehebert opened #165 "Add a unit test for each algorithm run invocation style."
We have multiple ways that an algorithm can be called.

e.g.

[code]

or

[code]

However, some of these styles break from time to time, we should have a unit test for each combination of using sim_params, capital_base, inferring date range from the data, etc. so that we protect against unnoticed combinations that error out.

[2013-05-29 15:59] jikamens opened #166 "Including all transactions in performance packets is not scalable"
The performance packets that zipline sends to its caller aggregate all transactions for all previous performance periods, along with the new transactions in the most recent performance period.

This is not scalable. The number of transactions, and therefore the size of the performance packet, could grow essentially without bound, causing the backtest to run out of RAM.

I think the performance pac

[2013-06-06 06:14] benmccann opened #168 "TA-Lib install fails"
I just cloned zipline onto my machine, but can't get it to work.  I'm trying to set it up with the command on the README:

[code]

This results in an error installing TA-Lib

[code]

I'm running on Ubuntu 13.04 with Python 2.7.4

[2013-06-06 06:26] #168 closed, assigned to nobody

[2013-06-06 18:23] ehebert opened #170 "Provide way to close open positions at end of backtest"
As suggest by working4coins@gmail.com on the mailing list, provide a way to close out all open positions at the end of the backtest.

There are a couple potential paths to that functionality:
- Add a `TradingAlgorithm.finalize()` method. (as suggested by working4coins)
- Add an option to TradingAlgorithm, perhaps something like `close_positions_at_end` which can be checked in tradesimulation at th

[2013-06-06 22:33] benmccann opened #171 "Tons of warnings from TA-Lib when compiling the documentation"
There are over 600 error messages. Here's a sample:

[code]

[2013-06-07 04:55] benmccann opened #172 "dual_moving_average example in docs is broken"
This example is pretty broken:
https://github.com/quantopian/zipline/blob/master/docs/quickstart.rst

It would be better to just point here so that it does not get out-of-sync:
https://github.com/quantopian/zipline/tree/master/zipline/examples

[2013-06-07 14:40] ehebert opened #174 "Write example script that shows use of custom data."
There have been a few requests for a guide to using the CUSTOM_DATA type in Zipline, ala the fetch_csv functionality on quantopian.com.

Thinking we should have a script in /examples that uses a custom csv source that has some signal type data.

[2013-06-07 17:55] benmccann opened #177 "Write an example that shows how to use benchmarking"
I'd love an example in the zipline/examples directory that shows how to do a simple comparison to a benchmark

[2013-06-11 14:08] ehebert opened #179 "Add unit test for FixedSlippage and check possible error when order amount in 0"
The following code block in `FixedSlippage.simulate` is under question:

[code]

It should most likely be a `continue` there, so that the order loop doesn't get short circuited erroneously.

`tests/finance/slippage.py` currently only tests VolumeShareSlippage, so the addition of FixedSlippage to that test suite is needed while testing that fix.

[2013-06-14 20:24] #172 closed, assigned to nobody

[2013-06-20 17:42] ehebert opened #183 "Add Blotter specific tests"
Add unit tests that isolate the blotter.

When adding those tests, make sure to ensure that the checks for order and transaction alignment in `process_trade` are aligned.

[2013-06-20 19:23] twiecki opened #184 "Move blotter after handle_data() call."
Currently `blotter` gets called before `handle_data()` and processes orders from the previous dt. However, only being able to process orders on the next cycle is rather restrictive.

Instead I propose to move blotter to after `handle_data()`. Order delays (e.g. one bar) can be implemented by comparing the time the order was placed to the current time.

[2013-07-08 20:10] ehebert opened #188 "Remove position when a stock is delisted"
When a stock is delisted it should be removed from the portfolio to reflect the impact had on portfolio value.

[2013-07-08 20:38] ehebert opened #189 "Example of MFE / MAE / BSO"
From working4coins@gmail.com

Hello,

it will be nice to provide sample to calculate MFE / MAE / BSO of each trade using Zipline

MAE - Maximum Adverse Excursion is the maximum draw down the trade had before the trade was closed.
MFE - Maximum Favorable Excursion is the maximum paper profit the trade had before the trade was closed.
BSO: Best Scale Out. The closer your BSO is to the MFE, the bette

[2013-07-12 16:32] agconti opened #191 "Zipline Datetime TypeError with Pandas: can't compare offset-naive and offset-aware datetimes"
**Here's My Problem**

After executing:

[code]

I get the error:

[code]

I'm trying to run minute bar data through my trading algorithm. The trades are indexed by execution time in this pandas series `minute_data.time`. It contains values like this:

[code]
### What I've Tried:

http://stackoverflow.com/questions/7065164/how-to-make-an-unaware-datetime-timezone-aware-in-python

I've tried locali

[2013-07-14 22:02] benmccann opened #192 "get_benchmark_returns is broken"
I figured out why my benchmarking does not match up with zipline's. It's because zipline calculates the return for the day as follows:

[code]

This is wrong. The return should not be using the open, but rather the previous day's close.

[2013-07-15 20:26] #192 closed, assigned to ehebert

[2013-07-18 00:18] benmccann opened #196 "Need example for creating risk report"
Hey guys, I'm trying to figure out how to create a risk report right now. I'm not quite sure how to do it. It seems like it's being calculated, but then it's thrown away when TradingAlgorithm.run calls TradingAlgorithm._create_daily_stats to create the DataFrame that's returned to the user. Is there some way to get at the statistics that are being created or do I have to recreate them myself? Also

[2013-07-18 18:18] #143 closed, assigned to richafrank

[2013-07-18 21:45] benmccann opened #197 "Be able to compute risk metrics as summary of daily and/or monthly performance"
Right now all metrics are computed based off of daily performance. This makes numbers harder to compare vs. sources that compute off monthly sources. Also, money managers would often want to compute based off monthly sources in order to decrease volatility thereby increasing risk-adjusted performance.

https://www.quantopian.com/posts/quantopians-sharpe-ratio-does-not-match-morningstar-slash-yahoo

[2013-07-19 01:01] benmccann opened #198 "Replace daily_perf, cumulative_risk_metrics, cumulative_perf, etc. with DataFrames"
These objects are more difficult to work with than the standard pandas DataFrames and they get converted to DataFrames at the end of the day anyway. It might be easier if they started out that way.

As an example, risk.periods_in_range could be replaced by simply calling resample:

[code]

[2013-07-19 19:01] ehebert opened #201 "Add information and sortino ratios to the risk answer key."
Alongside Sharpe, alpha and beta it would be useful to have the
information and sortion ratios added to the `Sim` sheet of the
risk answer sheet.

[2013-07-19 20:24] benmccann opened #202 "Sharpe ratio is calculated incorrectly"
The Sharpe ratio is being calculated incorrectly. It should be using the mean of the difference between the portfolio return and benchmark return and not the difference of the cumulative returns.

[2013-07-21 15:12] jeremi opened #203 "In the sample dual_ema_talib.py the short and long ema are always equal"
I added a print just before : https://github.com/quantopian/zipline/blob/master/zipline/examples/dual_ema_talib.py#L65

like this:
  print self.short_ema['AAPL'] - self.long_ema['AAPL']

and it always print 0.0, so no trade are made.
So I think there is a bug somewhere.

(I am on the latest master version)

[2013-07-22 14:42] #203 closed, assigned to nobody

[2013-08-01 21:05] #196 closed, assigned to nobody

[2013-08-01 21:10] #115 closed, assigned to nobody

[2013-08-08 14:50] #171 closed, assigned to nobody

[2013-08-08 14:55] #160 closed, assigned to nobody

[2013-08-08 15:09] #139 closed, assigned to nobody

[2013-08-08 15:14] #94 closed, assigned to nobody

[2013-08-08 15:20] #96 closed, assigned to nobody

[2013-08-08 15:22] #73 closed, assigned to nobody

[2013-08-08 17:03] twiecki opened #209 "DOC: Add tutorial"
We need a good tutorial that introduces the different concepts of zipline.

Even better if that tutorial also goes over the basics of algorithmic trading.

[2013-08-08 17:06] twiecki opened #210 "Move load_from_yahoo functionality to data directory"
`zipline.sources.factory` is arguably not the easiest to find and obvious place for loading data.

Propose to move this to `zipline.data`.
- [x] Move yahoo functionality to zipline.data
- [x] Provide link for backwards compat.
- [x] Update examples to use new location.

[2013-08-23 15:33] ehebert opened #212 "Add slippage module that emits multiple fills for a given order in one bar"
To better test/simulate multiple fills using a live broker.

[2013-08-29 21:52] jimgoo opened #214 "In constants.py, there are 6.5 hours in a US equity trading day instead of 6."
In `zipline/zipline/finance/constants.py`, the current code has `TRADING_HOURS_IN_DAY = 6`. Shouldn't this be set to 6.5, since 9:30 to 4:00 EST is 6.5 hours?

[2013-08-30 15:01] c0indev3l opened #215 "Add Google Finance as intraday DataReader"
Hello,

Adding Google Finance as intraday DataReader will be nice.

A sample
https://www.google.com/finance/getprices?q=MSFT&i=60
EXCHANGE%3DNASDAQ
MARKET_OPEN_MINUTE=570
MARKET_CLOSE_MINUTE=960
INTERVAL=60
COLUMNS=DATE,CLOSE,HIGH,LOW,OPEN,VOLUME
DATA=
TIMEZONE_OFFSET=-240
a1376074620,32.67,32.69,32.67,32.68,21748
1,32.65,32.68,32.645,32.67,107914
2,32.665,32.67,32.65,32.655,23613
3,32.6662,32.67,

[2013-09-05 15:15] ehebert opened #216 "Consider using pandas CustomBusinessDay for offset in trading days index."
There is a CustomBusinessDay object now available in pandas.tseries.offsets, (however, a caveat, it is labeled as experimental.)

Consider using the CDay as the offset for trading_days DatetimeIndex, so that logic that adds a day etc. can be expressed more clearly than the current need to have a wrapper that searches for the index of the date to which the delta is to be added.

[2013-09-16 02:54] daqst opened #217 "Incorrectly handling stop orders"
I may be incorrect in this as my background is not finance and stop/limit/stop-limit orders have always left me a little confused, but I am quite certain that stop orders are currently not handled correctly.

In fact, the code to check stop and limit orders works exactly the same... which it shouldn't as the two are somewhat opposite of each other.

The error as I see it is line 45 in `finance/sli

[2013-09-17 16:38] terencenwk opened #218 "load_from_yahoo cannot read stocks data other than US stocks"
For example, I can read 0005.HK from
http://finance.yahoo.com/q/hp?s=0005.HK+Historical+Prices
but not from load_from_yahoo.

It posts:

IOError: after 3 tries, Yahoo! did not return a 200 for url 'http://ichart.yahoo.com/table.csv?s=0005.HK&a=0&b=1&c=1990&d=0&e=1&f=1991&g=d&ignore=.csv'

[2013-09-19 10:42] #218 closed, assigned to nobody

[2013-09-19 18:44] twiecki opened #219 "Change assignment in RollingPanel"
Pandas 0.11 required me to do an assignment with `.update()` which should be much slower then using `.loc[]`:
https://github.com/quantopian/zipline/blob/master/zipline/utils/data.py#L67

Apparently this was fixed so maybe should try changing this for speed.

[2013-09-30 20:37] ehebert opened #222 "Utilize ta-lib pandas.DataFrame support"
With this commit, https://github.com/mrjbq7/ta-lib/commit/9ddcfe7625af1feeb03d1ca63ef19703465953fe, the ta-lib library now supports using a DataFrame directly.

Our internal support for the ta-lib wrapper should migrate to using this directly, instead of creating a dictionary to pass along to the ta-lib module.

[2013-10-01 16:40] twiecki opened #224 "Cache data fetched from yahoo"
Identical historical data does not need to be fetched multiple times. Thus, `load_from_yahoo` can implement a caching mechanism that stores the downloaded data in the ~/.zipline directory as csv.

[2013-10-01 16:41] #210 closed, assigned to nobody

[2013-10-01 19:40] #184 closed, assigned to nobody

[2013-10-01 20:55] #224 closed, assigned to nobody

[2013-10-11 19:48] #132 closed, assigned to nobody

[2013-10-29 13:16] #217 closed, assigned to nobody

[2013-10-31 15:37] pcawthron opened #235 "Slippage.py has the next days event.price ?"
I'm sure there is a simple explanation for this. Under Python 2.7 on Windows install zipline via pip.

Modify slippage.py to have two extra print commands:

[code]

Run:

[code]

The output is:

[code]

etc.

P.

[2013-11-11 17:34] #148 closed, assigned to ehebert

[2013-11-12 16:35] ehebert opened #238 "Make alternative markets like the London stock exchange fully supported again"
With changes to the tradingcalendar and environment to support half-days and specific minutes, the LSE support has lagged.

Temporarily skipping tests that cover LSE behavior, with the intent to add them back in when LSE has the same the same full support as the US markets.
i.e. that they will understand half-days, be able to populate minutes per day, etc.

[2013-11-14 16:40] bencpeters opened #241 "handle_market_close fires before daily trades"
I've been experimenting with zipline to backtest a strategy that uses a custom DataSource that gives me a feed of 2-4 intraday timestamps for algorithm evaluation and possible portfolio re-balancing. Using `daily` emission and `minute` `data_frequency`, and relying on the default benchmark data, the `handle_market_close` events fire before any of that day's calls to `handle_data` and subsequent or

[2013-12-02 19:10] ehebert opened #242 "Fix Travis build due to TALib installation failure."
https://travis-ci.org/quantopian/zipline/builds/14820169

Currently failing with a failure to find the TALib shared library, though the library appears to be built properly earlier on.

[code]

[2013-12-03 20:14] jikamens opened #243 "get_trading_days doesn't return Friday trading day in tight range"
If you pass get_trading_days a time range that includes exactly a Friday, it doesn't return it in the result:

[code]

Shift both times exactly a day earlier, and it works just fine:

[code]

It also works the day before a non-trading-day that is a holiday rather than a Saturday, so this appears to be somehow unique to how weekends are handled:

[code]

[2014-01-02 04:03] ehebert opened #255 "Update to current Yahoo! finance url"
pandas has already fixed the read_from_yahoo function with this commit, https://github.com/pydata/pandas/commit/4bb199c0a6033e6512f9b23d7df2e7a9d8994ca6

A possible fix on our end is to use that commitish in our requirements.txt instead of the current panda release.

[2014-01-02 17:00] ehebert opened #256 "Use static data for unit tests"
Instead of using Yahoo! data for unit tests, use hardcoded/static data, so that there is not a network dependency for unit tests.

When we do this two things to keep in mind:

- Should create fresh/faked data, instead of copying over the data from Yahoo! so as to avoid any Terms of Service issues.
- We should have some separate automated job that checks whether a backtest can be run using the Yaho

[2014-01-05 01:19] #255 closed, assigned to ehebert

[2014-01-09 14:42] mtrovo opened #257 "Make tradingcalendar specific to the TradingEnvironment"
I'm trying to run some backtests against Brazilian stocks and I'm running through some problems related to the calendar used by zipline by default.
Some of the trading days don't match between the Brazilian trading calendar and the american one and I'm not seeing any easy way to override the calendar without changing the tradingcalendar imports on the zipline internal files (e.g finance/performanc

[2014-01-09 14:45] voronoipotato opened #258 "404 on flake8 link in readme.md"
I'm getting a 404 on the reference to flake8 in the readme.md, is that still being used? If so we should have a mirror for it.

[2014-01-09 16:25] #258 closed, assigned to ehebert

[2014-01-09 19:14] #202 closed, assigned to ehebert

[2014-01-16 02:57] hhhcj opened #262 "Can zipline used in HFT"
Dear everyone,
I'm new to the zipline. Its backtest module is very appealing to me.
I found demos in the examle folder are based on daily data.Can zipline used
in minute data or tick data?
Looking forward to your response.

hhhcj

[2014-01-25 23:54] militantwalrus opened #263 "Crash on example dual_ema_talib.py"
Python 2.7.3

Downloads the data fine, but...

AAPL
Traceback (most recent call last):
  File "dual_ema_talib.py", line 79, in <module>
    results = dma.run(data).dropna()
  File "/usr/lib/python2.7/site-packages/zipline/algorithm.py", line 330, in run
    for perf in self.gen:
  File "/usr/lib/python2.7/site-packages/zipline/gens/tradesimulation.py", line 155, in transform
    self.algo.handle_d

[2014-01-26 21:12] #263 closed, assigned to nobody

[2014-01-29 22:26] ehebert opened #265 "Make RollingPanel compatible with pandas 0.13.0"
The update to 0.13.0 is currently being blocked by observed behavior with RollingPanel not updating when a panel returned by `RollingPanel.get_current` is updated.

This a placeholder for a more detailed description, but appears that  `get_current` is now passing a copy due to changes in the underlying components of the Panel in 0.13.0.

[2014-01-29 22:27] ehebert opened #266 "Upgrade pandas version 0.14.1"
To keep current with latest stabel pandas release.

[2014-01-30 20:42] #262 closed, assigned to nobody

[2014-01-30 20:46] #242 closed, assigned to nobody

[2014-01-30 20:48] #235 closed, assigned to nobody

[2014-01-30 21:39] #241 closed, assigned to nobody

[2014-01-30 21:54] twiecki opened #267 "Add unittest and example for hdf5 and csv data source"
https://github.com/quantopian/zipline/pull/244 implemented new data sources but is missing tests and examples.

[2014-02-02 00:47] hartpat opened #268 "CDay causing issue"
Hey fellas,

I'm trying to get the initial example to run, and I'm coming across an odd feature.  No matter which example I try and run, I get the following issue:

hartpat$ python algorithm.py
Traceback (most recent call last):
  File "algorithm.py", line 28, in <module>
    from zipline.errors import (
  File "//anaconda/lib/python2.7/site-packages/zipline/**init**.py", line 25, in <module>

[2014-02-02 02:13] #268 closed, assigned to nobody

[2014-02-13 15:06] kraant opened #270 "TypeError upon import zipline"
When I run

import zipline

I get

/usr/local/Cellar/python/2.7.3/lib/python2.7/site-packages/pandas-0.13.1-py2.7-macosx-10.6-x86_64.egg/pandas/tseries/offsets.pyc in apply(self, other)
    515
    516         day64 = dt64.astype('datetime64[D]')
--> 517         time = dt64 - day64
    518
    519         if self.n <= 0:

TypeError: Cannot cast ufunc subtract input from dtype('<M8[D]') to dtype('<

[2014-02-13 17:05] RayVR opened #271 "Benchmark troubles"
Perhaps I'm just missing where this is documented. How do I turn off any attempt to access Yahoo? I have no interest in their data, and even if I did, I am not able to access it.

[2014-02-16 04:51] athenawisdoms opened #273 "Using a live data source"
How can zipline be used to trade (paper or live) by querying a database that gets updated frequently? It should not need to rerun the entire benchmark every few seconds when new data is written to the database.

[2014-02-16 15:44] #273 closed, assigned to nobody

[2014-02-25 04:15] ehebert opened #276 "Order triggers do not check the same price as the transaction created by slippage"
When the order triggers for stop and limit order triggers are checked, currently, the price checked is the current market price.

However, the price in the transaction, at least in VolumeShareSlippage, has the simulated impact applied, after the order triggers are checked.

The checked price and the price of the executed transaction should match, otherwise the  limit loses it's meaning.

One way t

[2014-03-04 19:05] ehebert opened #277 "Remove unneeded floating point checks in slippage"
The amount values in slippage are expected to be integer values; however `zipline.math_utils.tolerant_equals` is used when checking those values against 0 in the slippage module.

This should be changed to a more basic check against 0, i.e. `if amount != 0`, since:
- Semantically, using the floating point check implies that the value could be an floating point, when the amount should only ever be

[2014-03-04 23:44] #277 closed, assigned to richafrank

[2014-03-05 19:11] #19 closed, assigned to nobody

[2014-03-06 17:30] ehebert opened #281 "Wrap all usage of int built-in to prevent accidentally flooring due to floating point."
Related to https://github.com/quantopian/zipline/commit/a7c75403e8c026cfa8859ea68ee58a925af7d54c

So that a value like 30.0, when represented internally with a mantissa like 29.9999999998 does not get floored to 29 when passed to the `int()` function, wrap all usage of int using the logic in `slippage.almost_equal_to`.

This piece of work should probably also move `almost_equal_to` into `math_util

[2014-03-08 13:37] twiecki opened #282 "Switch to distutils"
I think `setuptools` is obsolete and its use is discouraged. It also makes the `conda` packaging more difficult as it doesn't play that nicely with setuptools. We have a fairly simple `setup.py` that could be easily switched.

Thoughts @ehebert ?

[2014-03-10 11:27] #282 closed, assigned to nobody

[2014-03-19 06:30] bgelder opened #286 "Volatility calculation"
I'm seeing large differences between volatility as calculated by spreadsheet, or as reported in ETFReplay, and the numbers I'm getting from zipline. Here's an example for a 5 ETF portfolio, rebalanced monthly for one year (2013).

ETFReplay: 10.9% (monthly rebal)
Excel:  10.94% (no rebal)
Excel: 10.44% (w/monthly rebal)
Zipline: 0.5%

It looks like volatility is being calculated from the cumulativ

[2014-03-20 08:18] sirinath opened #288 "The version Updated from PIP is stale"
When will current changes be reflected to be installed through PIP

[2014-03-20 12:52] sirinath opened #289 "Conda Build Does Not Work on Windows"
Conda build instructions do not work

[code]

[2014-03-20 13:24] sirinath opened #290 "I suspect the order target logic is wrong"
Order target should look for pending orders + holdings. Otherwise you will end up more orders being fired is the previous orders get delayed. Also there should be a tolerance, e.g. in target % this should be a %, in value it should be value, in number it should be number. Otherwise when when there are price fluctuation you get start getting small unintended orders being executed (may be 1 or 2 sha

[2014-03-21 04:39] sirinath opened #293 "TA LIB Build incomplete in Conda Builds"
Conda build is missing a bld.bat file. Also for Windows is it possible to make it work without having ta-lib in c:\

[2014-03-21 07:10] sirinath opened #295 "Add Windows CI Server"
Many windows users have having trouble with Zipline. So please add a Windows CI Server also.

[2014-03-21 15:38] sirinath opened #296 "Delay Cost and Participation Model"
In back testing you cannot buy more than 100% of volume. In reality you get something lower than that. The price you get can be assume to be vwap or deduced based or participation volume and vwap. This should be added to the back tested soon and this would mean getting super back testing results and very poor forward testing live trading results.

[2014-03-21 16:46] sirinath opened #297 "Zipline Should Wrap Tickers Around A Security Object for Compatibility"
To ensure compatibility between Zipline and Quatopian, the tickers should be wrapped around a security object.

[2014-03-22 09:02] #289 closed, assigned to nobody

[2014-03-22 10:04] #286 closed, assigned to nobody

[2014-03-22 13:04] sirinath opened #298 "Pandas IO operation to_excel on results produce an error"
Trying to export the results of backtests for further analysis creates errors which are mainly type related.

[2014-03-22 13:10] sirinath opened #299 "Function to extract and flatten result data"
Is it possible to have a function to extract and flatten transactions, order, positions, etc. for easy export.

Related: https://github.com/quantopian/zipline/issues/298

[2014-03-22 15:28] sirinath opened #300 "Zipline related charting, plotting and visualization wrappers."
Is it possible to have some simplified charting, plotting and viz wrappers.

[2014-03-22 23:32] #298 closed, assigned to nobody

[2014-03-23 01:31] #270 closed, assigned to nobody

[2014-03-23 04:46] sirinath opened #301 "Support for Realtime Data Sources"
Please make the architecture support real time data sources like eSignal, DTN.IQ, etc. for offline testing and debugging.

[2014-03-23 05:02] sirinath opened #302 "Total TC"
Is it possible to add a total TC field to results for convenience.

[2014-03-23 10:32] #301 closed, assigned to nobody

[2014-03-23 11:22] sirinath opened #303 "Better JIT Optimisation, Acceleration and Auto Parallelization"
Can you enable JIT compilation / Acceleration / Auto Parallelization within zipline.

Some times back tests take a lot of time. This would help in making things faster. Also reduce your server workload.

[2014-03-23 11:36] sirinath opened #304 "Attribution Analysis and TC Analysis"
Add attribution Analysis and TC Analysis to results.

[2014-03-23 23:50] spinus opened #307 "Use XDG directories"
Currently zipline keeps some data in ~/.zipline/data and ~/.zipline/cache. It would be nice to follow XDG and keep data in ~/.local/share/zipline and cache in ~/.cache/zipline.

To make it happen https://pypi.python.org/pypi/pyxdg or https://pypi.python.org/pypi/appdirs could be used.

[2014-03-24 11:35] sirinath opened #308 "Zipline data[i] does not contain close_price"
Event properties do not seam to match with zipline. E.g. it does not have close_price

[2014-03-24 16:33] #303 closed, assigned to nobody

[2014-03-25 02:22] ehebert opened #309 "Release 0.6.1"
This is a placeholder to keep track of the next point release.

Planned features:
- [ ] Script parity with quantopian.com
- [ ] `history` function.

Bugs fixed:
- [ ] Risk metrics

[2014-03-25 02:29] #288 closed, assigned to nobody

[2014-03-25 06:18] sirinath opened #310 "Commission and Slippage Usage Variance"
Following usages are different

'''
    set_commission(PerShare(0.03))
    set_slippage(VolumeShareSlippage(volume_limit=0.1, price_impact=0.1))
'''
and
'''
    set_commission(commission.PerShare(cost=0.03))
    set_slippage(slippage.VolumeShareSlippage(volume_limit=0.25, price_impact=0.1))
'''

[2014-03-25 13:23] sirinath opened #311 "Maximum Commission and a % of Value and Minimum Commision"
IB has a maximum commision and a % of value and for fixed commision a minimum commision. Ist it possible to add a way to incorporate this to backtests.

[2014-03-25 14:59] sirinath opened #312 "portfolio_value is not consistent with return in long / short portfolios"
If you take the return series from the results and then calculate cumulative returns can compare this with portfolio_value they are not consistent.

Also portfolio_value get corrupt half way where cumulative returns go one way and goes completely the other way and becomes a -ve increasing number. Likewise pnl and other number is also not consistent with returns.

My portfolio is market neutral in

[2014-03-25 15:03] sirinath opened #313 "Add sid mock for script portability"
Add a sid mock which returns a security object wrapping around a ticker where the mapping can be configured elsewhere.

[2014-03-26 06:37] #313 closed, assigned to nobody

[2014-03-26 06:38] #311 closed, assigned to nobody

[2014-03-26 06:39] #310 closed, assigned to nobody

[2014-03-26 06:40] #308 closed, assigned to nobody

[2014-03-26 06:41] #304 closed, assigned to nobody

[2014-03-26 06:42] #302 closed, assigned to nobody

[2014-03-26 06:42] #300 closed, assigned to nobody

[2014-03-26 06:43] #299 closed, assigned to nobody

[2014-03-26 06:43] #297 closed, assigned to nobody

[2014-03-26 06:44] #296 closed, assigned to nobody

[2014-03-26 06:45] #295 closed, assigned to nobody

[2014-03-26 20:07] ehebert opened #316 "Figure out why test_transforms:TestTALib.test_talib_with_default_params always has an empty length"
The commit, 64b2a7377c52cc0a7b8c393cb3f1e4cc28f91392, added a skip of this particular test. (See commit message for fuller details.)

This test should probably be re-enabled, but disabling for now while it has no teeth, so that it does not eat up time spent in tests.

[2014-03-30 15:53] bgelder opened #317 "Sharpe/Sortino calculation discrepancies"
I've been looking into reasons why the Sharpe and Sortino calculations are giving different answers than my spreadsheet calculations. I double-checked my monthly calculations against Morningstar, before re-computing them on a daily basis for comparison to Zipline. Two issues:

1) Zipline appears to be using the 10-year T-Bond for the risk-free rate, but this should be the 3-month T-Bill rate based

[2014-04-02 01:18] xrr opened #318 "intraday backtest"
Dear all,

I am very new to zipline, but it seems that the library is very focused on daily statistics of strategies (as it appears on Quantopian interface with daily plots / ...).

However, it is sometimes interesting to have a less macro point of view.

For example, if you have tick by tick, second or minute sampled data you could want to study statistics and graphs over time during a single day

[2014-04-04 18:01] ghost opened #319 "Open Source Script Host"
I would really appreciate the open source publication of the script host used by quantopian.  I am a zipline strategy developer, being able to use quantopian code in zipline and vice versa would make strategy development much, much easier for me.

It has been discussed here:

https://www.quantopian.com/posts/does-zipline-in-github-reflect-latest-code-changes-of-quantopian

https://www.quantopian.c

[2014-04-12 16:41] vonbirdie opened #321 "NaN volume causes ValueError in slippage.py"
I have plugged in a custom datasource that is missing some data. What is causing me problems right now is that the volume is missing on a few places and this causes `ValueError: cannot convert float NaN to integer` in zipline/finance/slippage.py#L217 due to `event.volume` being `NaN` a few rows above.

I'm just wondering if this is expected or if the NaN should have been handled earlier?

[2014-04-13 15:13] #321 closed, assigned to nobody

[2014-04-14 12:06] #293 closed, assigned to twiecki

[2014-04-15 09:01] michaeljohnbennett opened #322 "Missing files for Windows builds"
On the groups a few weeks ago we were discussing building from the nightly builds on Windows and twiecki needed to add a few files to make this happen. Do we have an eta for this to happen?

[2014-04-15 11:29] #322 closed, assigned to nobody

[2014-04-17 15:10] #201 closed, assigned to ehebert

[2014-04-17 15:49] ehebert opened #324 "Make treasury curve used by cumulative risk metrics configurable"
We currently use the 10-year curve for all cumulative risk metrics.

However, whether this is the appropriate curve could be open to debate.

Rather than switch the default, depending on the current leading consensus; the risk rate could be made configurable.

i.e. the should be some way (not sure if we should use a config file, env variables, or configuration in the Python script running the algo

[2014-04-24 17:40] #108 closed, assigned to nobody

[2014-05-15 06:32] cancan101 opened #334 "Add distinction in trading calendar between scheduled and unscheduled market closures"
For example see the VXX prospectus: http://www.ipathetn.com/static/pdf/vix-prospectus.pdf where dt is defined as:

and Trading Day is defined as:

In other words, you would NOT want to include Sandy: https://github.com/quantopian/zipline/blob/master/zipline/utils/tradingcalendar.py#L218

[2014-06-03 14:15] twiecki opened #343 "BUG: history() only works with int SIDs"
There is an explicit conversion to `int` for each SID:
https://github.com/quantopian/zipline/blob/master/zipline/history/history_container.py#L120

In zipline SIDs can also be strings so we should find another way to solve this.

@ehebert @ssanderson You are most familiar with this. Any ideas?

Reported by Cleanthis Evangelos Metaxas.

[2014-06-04 18:18] #219 closed, assigned to ehebert

[2014-06-06 19:05] femtotrader opened #347 "moving_window shouldn't use deque"
Hello,

I see
https://github.com/quantopian/zipline/blob/master/zipline/examples/dual_moving_average.py
you are doing

[code]

I don't think that it is a good idea to use deque as circular buffer (moving_window)

see
https://scimusing.wordpress.com/2013/10/25/ring-buffers-in-pythonnumpy/

Maybe Zipline should provide an efficient Numpy implementation of a circular/ring buffer.

see also
http://sta

[2014-06-07 09:24] twiecki opened #348 "Add daily input frequency support for history"
We are hampered by the missing support for daily input data to history. Especially for zipline which I think is 90% daily data sources. It's also making some examples suboptimal (see e.g. #347).

I chatted with @ssanderson who was hopeful that the recent refactor would automatically enable daily input support but this algorithm (executed via IPython) produces the below exception for me:

Make sure

[2014-06-11 18:22] twiecki opened #350 "Change daily events to have market_close datetime instead of midnight"
`history` depends on the event being during market hours (https://github.com/quantopian/zipline/issues/348). It also makes more sense to have daily events keyed at market close.

For this we should add a mapper to the zipline pipeline that does the replacement if daily mode is used.

[2014-06-27 19:25] sekuri opened #356 "Add algo start and end dates"
The number of simulated trading days in the algo seems determined by setting the start and end date of the source data. On Q, there's an explicit setting of the algo start and end dates that can be different from the date span of data in their database. Is there a similar feature in zipline such as algo.start_date and algo.end_date that can be a subset of the data date span?

[2014-06-30 19:25] #356 closed, assigned to nobody

[2014-07-02 09:19] #309 closed, assigned to nobody

[2014-07-02 09:24] #265 closed, assigned to twiecki

[2014-07-02 09:26] #214 closed, assigned to nobody

[2014-07-02 09:32] #267 closed, assigned to nobody

[2014-07-02 09:33] #44 closed, assigned to nobody

[2014-07-02 09:34] #40 closed, assigned to nobody

[2014-07-02 09:36] #17 closed, assigned to nobody

[2014-07-02 09:44] twiecki opened #361 "Add deprecation warning for batchtransform"
Once https://github.com/quantopian/zipline/pull/357 is merged we should add a warning to batchtransform that it will be deprecated in a future version.

[2014-07-02 09:45] twiecki opened #362 "Make ta-lib optional"
`ta-lib` is causing us many installation problems. We should thus make it optional.

[2014-07-03 16:30] sekuri opened #363 "sim_params and period_end"
I'm backtesting with the history_support_daily_input branch and trying to limit the backtesting to a specific date window shorter than my data panel and that ends before the last date in my data panel. Not working for me. E.g. I specify the window using:

    sim_end = pd.datetime.now(pytz.utc) - relativedelta(months=1)
    sim_start = sim_end - relativedelta(months=1)
    sim_params = create_simu

[2014-07-05 14:37] femtotrader opened #366 "Bracket orders / OCO bracket"
Hello,

it will be nice if Zipline / Quantopian could support bracketed order
http://optionstradingbeginner.blogspot.fr/2010/08/bracketed-order.html
http://optionstradingbeginner.blogspot.fr/2008/11/types-of-orders-in-trading.html

Bracket OCO
http://help.tradestation.com/09_01/tradestationhelp/ob/about_oco_oso_orders.htm

see also this issue:
https://github.com/quantopian/zipline/issues/189

Kind

[2014-07-16 15:33] #343 closed, assigned to nobody

[2014-07-16 15:33] #348 closed, assigned to nobody

[2014-07-16 15:34] #347 closed, assigned to nobody

[2014-07-16 15:34] #209 closed, assigned to twiecki

[2014-07-18 13:28] ehebert opened #373 "Add upgraded packages to 0.7.0 Release Notes"
Apologies for not keeping the doc up to date in the moment.

It may be worth mentioning what we consider to be the supported version of packages in the update, here is what has changed.

@twiecki may I humbly ask you to add this and find a better format for the following in the release notes?

[code]

[2014-07-20 00:11] heyuhere opened #374 "history() for opening price"
First, thank you for open-sourcing this nice library. Question about history(). It does not seem to support 'open_price' as field. When it is passed, it throws KeyError. For 'open', I get just the last value for a given period, leaving the rest as NaN.

I wonder if this behavior is expected. If so, do you have a plan to support open_price like the other fields?

[2014-07-21 13:06] #373 closed, assigned to twiecki

[2014-07-21 13:08] twiecki opened #375 "Build conda version for OSX"
I uploaded conda packages for zipline `0.7.0-rc1` to our Quantopian channel. Can you upload the osx ones @richafrank?

[2014-07-21 17:32] #375 closed, assigned to richafrank

[2014-07-24 17:39] fillorkill opened #377 "ValueError with AAPL dual moving average example"
Running the example file will throw a ValueError exception.

[code]

[2014-07-25 17:31] #377 closed, assigned to nobody

[2014-08-02 17:40] CaptainKanuk opened #381 "Typo in manifesto?"
The last sentence of the first section of the manifesto reads, "Every individual's success will also help other Quantopians." Should it be "Quantopians'."?

https://github.com/quantopian/zipline/blob/master/docs/manifesto.rst

[2014-08-03 14:35] #381 closed, assigned to twiecki

[2014-08-06 13:13] #362 closed, assigned to nobody

[2014-08-27 03:10] adamcai opened #387 "Add windows 64-bit binaries to binstar channel."
I run this command line to install zipline but got an exception. Can you tell me where I did wrong? Thank you.

C:\Users\Yufan>conda install -c Quantopian zipline
An unexpected error has occurred, please consider sending the
following traceback to the conda GitHub issue tracker at:

    https://github.com/ContinuumIO/conda/issues

Include the output of the command 'conda info' in your report.

Tra

[2014-08-27 18:03] diegopdomingos opened #388 "Inconsistent data from Yahoo causes crash on simulation"
When running Zipline with ^BVSP benchmark (a simulation with start in 2008-4-1 and end in 2008-5-1), zipline crashs with the following error:

raise LinAlgError("Array must not contain infs or NaNs") numpy.linalg.linalg.LinAlgError: Array must not contain infs or NaNs

This is due a incosistence in Yahoo benchmark data. In Brazil, Tiradentes Holiday is in April 21, but this date is in Yahoo data a

[2014-08-28 12:52] diegopdomingos opened #390 "Add World Cup 2014 Opening holiday in BMF calendar"
Because the World Cup 2014 in Brazil, the market didn't open in June 12.

Add these lines in line 240:

# World Cup 2014 Opening
    non_trading_days.append(datetime(2014, 6, 12, tzinfo=pytz.utc))

[2014-09-01 19:30] twiecki opened #391 "Access to risk metrics"
We only return the performance metrics after running a backtest but should also return the risk metrics.

[2014-09-14 17:22] strimp099 opened #394 "ValueError: cannot convert float NaN to integer"
Greetings,

Running a dead-simple algo just to get started and receiving errors in what I suspect is an attempted coercion of missing data (converted to np.nan) to integers. The code is as follows:

    from zipline.api import order_target, record, symbol, history, add_history
    import numpy as np

    def initialize(context):
        add_history(100, '1d', 'price')
        context.idx = 0

[2014-09-27 10:06] MarkDunne opened #397 "Zipline fails to download data for GOOG"
I cannot download data for GOOG using the load_from_yahoo function. I'm pretty sure zipline is using an outdated API and that it should migrate to a new one.

This code fails

[code]

and produces this error

[code]

[2014-09-30 13:21] ehebert opened #401 "Investigate using airspeed velocity to automate benchmarks"
https://asv.readthedocs.org/en/latest/writing_benchmarks.html

[2014-10-01 20:06] aprasad1993 opened #402 "AttributeError: 'module' object has no attribute 'CDay'"
I tried the moving average crossover example given and I am getting this error on running the CLI.

Traceback (most recent call last):
  File "ema.py", line 2, in <module>
    from zipline.api import order_target, record, symbol, history, add_history
  File "/Library/Python/2.7/site-packages/zipline/**init**.py", line 25, in <module>
    from . import data
  File "/Library/Python/2.7/site-packages

[2014-10-01 20:13] #402 closed, assigned to nobody

[2014-10-02 09:38] aprasad1993 opened #403 "CLI is not creating .pickle file"
I tried the basic Moving Average example - http://nbviewer.ipython.org/github/quantopian/zipline/blob/master/docs/tutorial.ipynb

When I try to run the Algorithm I am getting no output. Infact when I try executing:

run_algo.py --help

I get nothing on my Command Line. Instead it becomes ready to execute the next set of commands!

[2014-10-03 01:07] jikamens opened #405 "AlgorithmSimulator.transform injects fields into Logbook records it didn't generate"
The [code in AlgorithmSimulator.transform that calls yield](https://github.com/quantopian/zipline/blob/master/zipline/gens/tradesimulation.py#L104) is wrapped in `with self.processor.threadbound()`, where self.processor is a Logbook processor that injects the extra algo_dt field from the current simulation datetime. This means two things:
1. When this code yields to whoever is enumerating the gene

[2014-10-05 10:53] cosnis opened #407 "Can zipline use min or sec frequency data?"
hi, dear all

i'm a new zipline user, for now, i have some seconds level OHLC datas in one day.

but when i use zipline to backtest, i get this report:

[2014-10-05 10:49] INFO: Performance: Simulated 1 trading days out of 1.

i tried code like that:

[code]

so, please help me....

[2014-10-13 18:51] ssanderson opened #410 "Make `HistoryContainer` aware of `TradingAlgorithm's` data_frequency."
I had originally tried to resist this, with the argument being that `HistoryContainer` should be able to work using just date comparisons.  However, there's a substantial performance benefit to be gained by not storing 390 frames in a buffer panel when running with daily frequencies.

[2014-10-20 08:22] #397 closed, assigned to nobody

[2014-10-20 23:55] MarkDunne opened #414 "Can't interact with zipline CLI in iPython"
I'm following the tutorial here - http://nbviewer.ipython.org/github/quantopian/zipline/blob/master/docs/tutorial.ipynb

When I open the ipython interpreter and try to replicate the tutorial, I get no output

[code]

I don't get any output even if the arguments after run_algo.py are nonsense

[code]

I can run the run_algo script via the following command, but I would much prefer to be able to use

[2014-10-23 07:09] hahnicity opened #418 "Initialize algorithm start/end dates before running the initialize method"
When I run the zipline CLI the context in my `initialize` function looks like this

[code]

These must be default values. Then my context in `handle_data` it matches my actual simulation

[code]

Note how the start and end dates are different; that is because these are the dates I am running my simulation under. This makes sense from the perspective if we are only monitoring price data from yahoo,

[2014-10-23 08:24] hahnicity opened #419 "There are significant speed concerns with the history api"
I have been using a simple dictionary to store prices from the previous day for an algorithm. I wanted to reduce the complexity of my code so I decided to use the zipline `add_history` and `history` APIs to receive prices from the previous day. Implementation looked something like

[code]

And much to my disappointment, the runtime for this algorithm was at least 6 orders of magnitude longer than

[2014-10-24 08:52] #419 closed, assigned to nobody

[2014-10-24 09:03] hahnicity opened #420 "zipline readthedocs intermittently works"
The zipline documentation on the readthedocs server intermittently works. Most of the time when I try to view the page I just get

[code]

Other times the full documentation will appear. Last night I was actually able to read documentation. Tonight I have not been so lucky

[2014-10-24 09:04] hahnicity opened #421 "Add ability to define additional variables to run_algo.py script"
It doesn't have to be anything fancy but it would be nice to be able to specify additional variables from the CLI like

[code]

An environment variable would also suffice

[code]

[2014-10-24 12:19] #420 closed, assigned to nobody

[2014-11-03 16:10] cyniphile opened #425 "Tickers Containing "/" Historical Pricing Cache Path Error"
On Ubuntu (assume this is true for all posix) tickers containing a slash char ("CRD/A", "BRK/A", both valid tickers with yahoo api accessible timeseries) lead to a path error in `loader.py` line 286. My workaround is to add a line to replace "/" with "--", not sure if there is a better fix:

[code]

[2014-11-08 23:06] danbikle opened #430 "Tutorial missing import"
[code]

[2014-11-19 10:14] twiecki opened #440 "api import magic breaks direct import"
Without `import zipline`, you can't do `from zipline.api import price` because those functions are not registered yet.

[2014-11-19 10:18] #430 closed, assigned to nobody

[2014-11-19 10:27] #425 closed, assigned to nobody

[2014-11-24 16:05] #410 closed, assigned to llllllllll

[2014-11-25 07:23] #319 closed, assigned to nobody

[2014-11-25 07:24] #317 closed, assigned to nobody

[2014-11-25 07:25] #318 closed, assigned to nobody

[2014-11-25 07:26] #266 closed, assigned to nobody

[2014-11-25 07:29] #14 closed, assigned to nobody

[2014-12-08 07:02] twiecki opened #446 "Support for nans in input data"
If a ticker hasn't started trading yet, pandas' convention is to use nans. Currently it seems as if zipline raises an exception if there are nans in the input data. This should be fixed and the corresponding ticker to should not be included if it hasn't started trading yet.

[2014-12-08 09:47] twiecki opened #447 "Some algos produce an IndexError with history"
There are a couple of emails on the zipline mailing list that are reporting problems with history. I am able to reproduce on master and get this:

[code]

[2014-12-08 18:25] twiecki opened #448 "Port fetch_csv() to zipline"
Quantopian algos can use `fetch_csv()`. It should be pretty straight froward to port it to zipline and increase portability.

[2014-12-24 08:17] #390 closed, assigned to nobody

[2014-12-24 12:23] shlomoa opened #454 "possible timezone mismatch"
Hi,

When running an algorithm it prints messages like  in the tutorial:

http://nbviewer.ipython.org/github/quantopian/zipline/blob/master/docs/tutorial.ipynb
[2014-07-25 17:11] INFO: Performance: Simulated 3019 trading days out of 3019.
[2014-07-25 17:11] INFO: Performance: first open: 2000-01-03 14:31:00+00:00
[2014-07-25 17:11] INFO: Performance: last close: 2011-12-30 21:00:00+00:00

The time

[2014-12-24 14:01] twiecki opened #455 "Allow external setting of variables in TradingAlgorithm"
Currently `TradingAlgorithm.__init__()` calls the user-defined `initialize()` function.

This is problematic as sometimes one would like to set a variable of the algorithm externally. For example during parameter optimization. I think currently it's impossible to do parameter optimization if the parameters need to be accessed from inside `initialize` (e.g. window length).

There's a few ways, thes

[2015-01-01 17:45] femtotrader opened #462 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with zipline. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable zipline on @Sourcegraph by going to https://sourcegraph.com/github.com/quantopian/zipline and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2015-01-02 11:08] twiecki commented on #462
Should be enabled now. Build is still queued.

[2015-01-02 11:08] #462 closed

[2015-01-02 11:10] twiecki commented on #421
This provides the ground work for this to happen: https://github.com/quantopian/zipline/pull/456

[2015-01-02 11:11] twiecki commented on #414
Closing due to inactivity. Feel free to reopen if you can provide more info.

[2015-01-02 11:11] #414 closed

[2015-01-04 08:43] femtotrader commented on #366
see http://quant.stackexchange.com/questions/16042/how-to-model-bracket-orders/16077?iemail=1&noredirect=1#16077 and http://stackoverflow.com/questions/10445936/r-quantstrat-orders-cancel-each-other

[2015-01-04 21:23] dalejung commented on #366
@femtotrader for your own stuff, reading through the `quantstrat` code would be beneficial. I only learned R so I could understand it.

The OCO logic is fairly straight forward iirc. The only gotcha is that if a single bar triggers multiple orders in the orderset. For my stuff, it's modeled like so:

[code]

I think what's important is that you don't execute immediately on limit/stop price trigger

[2015-01-11 15:58] femtotrader opened #466 "Add `is_pending`, `is_market` attributes and `__repr__` method to ExecutionStyle"
Hello,

it will be nice to add `is_pending`, `is_market` attributes and `__repr__` methods to `ExecutionStyle`
https://github.com/quantopian/zipline/blob/master/zipline/finance/execution.py

I'm doing

   def is_pending_order(style):
        _is_buy = True #is_buy(order.volume)
        return(style.get_limit_price(_is_buy) is not None or style.get_stop_price(_is_buy) is not None)

    def is_marke

[2015-01-12 13:09] seongsean opened #467 "len(context.portfolio.positions) increases by 1 every time you check for a nonexistent position"
Context.portfolio.positions will add on an extra position with `amount = 0` every time you check for a position that doesn't exist.

E.g. if you don't own and have never owned SPY in your current algorithm but try context.portfolio.positions['SPY'], the next time you look at context.portfolio.positions, it will have SPY in there with amount = 0

Why this matters:

This becomes an issue when a zipl

[2015-01-22 16:28] jlowin commented on #467
There's an explicit comment in the code about defaultdict semantics for Positions, so I believe this is intentional (perhaps to avoid requiring users to check if open orders have settled before querying their position dict).

However, I do think that trying to access a key is a poor way to check if it exists (and not just because of the overhead of the `__missing__()` method). I think the more idi

[2015-01-22 17:05] ssanderson commented on #467
It doesn't seem obviously wrong to me that doing `context.portfolio.positions['SPY']` should give back an empty position if you've never owned it, though having the defaultdict here has all kinds of unpleasant side-effects for us as code maintainers. (lots of things can add empty positions like this unexpectedly).  I'd be very happy to see all usage of defaultdict purged from zipline.

Ultimately,

[2015-01-22 17:11] ehebert commented on #467
:+1: on removal of defaultdict

[2015-01-25 15:11] femtotrader opened #472 "TrueFX Data source"
Hello,

I looked at
https://github.com/quantopian/zipline/wiki/Contribution-Requests

and I noticed that you was looking for a TrueFX data feed

Here is some code to get tick by tick data for AUDUSD for January 2014

    import requests_cache
    import datetime
    import pandas as pd
    from datetime import timedelta
    expire_after = timedelta(days=1)
    session = requests_cache.CachedSessio

[2015-01-26 14:03] scubamut opened #473 "Tutorial buyapple.py algo fails"
Running :
[code]
results in:

[code]
Problem appears to be with cumulative_benchmark_returns.

Environment: Windows 7 64 bit, Python 3.4, zipline  0.7.0

Kind regards,
Dave Gilbert

[2015-01-27 14:30] twiecki opened #474 "Swap axes of pandas' Panel format"
`Pandas` uses the following Panel layout:
[code]

While we swap the `items` and `minor_axis`. To be in sync with them we should change this in:
- [ ] Yahoo data loader `load_bars_from_yahoo`.
- [ ] `DataPanelSource`.

[2015-01-27 14:52] ssanderson commented on #474
:+1: for this change.

[2015-01-27 15:47] twiecki commented on #473
Can confirm on linux with Python 2 and zipline master branch.

[2015-01-27 16:13] mdengler commented on #473
Works for me on master branch with linux 64-bit on python 2.7.5:

[code]

Output:
[code]

[2015-01-27 16:19] ssanderson commented on #473
@twiecki @mdengler @scubamut what are your pandas and numpy versions?  Good odds that's the culprit if it's passing only for some people.

[2015-01-27 16:24] mdengler commented on #473
[code]

[2015-01-27 16:40] twiecki commented on #473
[code]

[2015-01-27 17:30] scubamut commented on #473
pandas 0.14.1
numpy 1.9.0

[2015-01-28 06:24] scubamut commented on #473
This works
[code]

[2015-01-28 09:21] scubamut opened #475 "unable to read pickle file generated from buyapple.py"
The pickle file generated by running
[code]
trying to read the performance file buyapple_out.pickle results in
[code]
This is apparently due to a known pandas/pytz problem (see ["Uncompatibility of pandas.read_pickle with pytz"] (https://github.com/pydata/pandas/issues/6871))

[2015-01-28 09:31] twiecki opened #476 "Replace zipline's data loaders with pandas' ones."
There are some interesting developments on the pandas front regarding web data loaders:
* https://github.com/pydata/pandas-datareader
* https://github.com/femtotrader/pandas_datareaders_unofficial (uses requests-cache)

Ideally I'd like to remove all our own data loaders and instead instruct users to use these other ones (which include google minutely data etc). For this we'd have to change the zi

[2015-01-28 09:36] twiecki commented on #475
Thanks for the report and for finding the `pandas` issue.

Apparently we're using `Datetime` objects for the index where we should be using pandas native  `DatetimeIndex`?

[2015-01-28 09:37] twiecki commented on #474
If we remove zipline's data loaders (#476) we wouldn't have to change them.

[2015-01-28 10:51] femtotrader commented on #476
Sorry Thomas but Google minutely data only have last days (see parameter "p").

Try for example
https://www.google.com/finance/getprices?q=AAPL&p=1d&df=cpct&ei=&auto=&f=d%2Cc%2Ch%2Cl%2Co%2Cv&i=60&x=NASD&ts=1417392000

1417392000=Mon, 01 Dec 2014 00:00:00 GMT

but we get data for 1422369000 = Tue, 27 Jan 2015 14:30:00 GMT

A way to get free minutely data could be
https://github.com/femtotrader/ig-m

[2015-01-28 11:01] twiecki commented on #476
Thanks @femtotrader. I'm aware of the limitation but even just some minute data could be useful. Anyway, that's not the main reason for me to embrace this but rather not replicating existing functionality.

What's the latest on merging the caching changes into the official repo?

Also, I guess your cached version is not API compatible with `pandas-datareader` ?

[2015-01-28 12:08] femtotrader commented on #476
Yes it's not. Because I wanted DataReader to be an object... not a function (like official DataReader).

But I think that to be able to add cache to official pandas-datareader without breaking too much things, first step will be to slit code (because that's not very clean)
After this if they want to keep same API an idea could be to pass a session parameter (with session=None by default)
when no s

[2015-01-28 15:02] ssanderson commented on #476
If we kill our own readers, we need to replace them with docs and examples of how to use the pandas official readers in a Zipline-compatible way.

[2015-01-30 09:11] pdiffley12 commented on #388
I am having the exact same issue. Is anyone able to run zipline without this problem?

[2015-01-30 09:41] twiecki commented on #388
It's also reported here: https://github.com/quantopian/zipline/issues/473 with the US benchmark. Can someone try running the buy apple example with the same parameters as in #473?

[2015-01-31 11:06] femtotrader commented on #189
see https://www.quantopian.com/posts/a-framework-to-manage-bracket-orders-with-sl-tp-and-additional-features-trailingstop-breakeven-expiration-and-advanced-statistics

[2015-01-31 11:06] femtotrader commented on #366
see https://www.quantopian.com/posts/a-framework-to-manage-bracket-orders-with-sl-tp-and-additional-features-trailingstop-breakeven-expiration-and-advanced-statistics

[2015-02-03 04:39] mosesmc52 commented on #388
Hi I downloaded zipline to my computer and tried running the apple example on m computer and I am having the same problem.

[2015-02-03 05:45] ssanderson commented on #473
@twiecki I can't repro this locally; I cleared out the cache of data files in ~/.zipline, but everything appears to have re-downloaded successfully.

[2015-02-03 05:53] ssanderson commented on #388
@pdiffley12 @mosesmc52 I haven't been able to repro this locally.  My best guess would be that your benchmark data cache somehow acquired bad data.  On Unix-ey operating systems, zipline downloads that data to ~/.zipline/data/.  I'm not sure where it goes on Windows.  Can you try clearing the contents of that directory and running the tutorial example again?

[2015-02-03 05:55] ssanderson commented on #473
@twiecki for the dates where you're seeing NaNs in the benchmark, what do you have in the corresponding rows of `~/.zipline/data/^GPSC_benchmark.csv` ?

[2015-02-03 10:14] scubamut opened #480 "%%zipline IPython magic fails if no algo file specified"
From the ["Zipline beginner tutorial"] (http://nbviewer.ipython.org/github/quantopian/zipline/blob/master/docs/tutorial.ipynb):
[code]
results in:
[code]

[2015-02-03 10:16] twiecki commented on #388
I have tried that but unfortunately without success.

[2015-02-03 10:34] scubamut opened #481 "conda win-32 zipline 0.7.0 out of step with master branch"
Comparing [conda win-32 zipline package](win-32\zipline-0.7.0-np18py27_0.tar.bz2) with zipline 0.7.0 from github, it appears that the conda package is not up to date.

For example, utils files events.py, algo_instance.py, argcheck.py are missing....

[2015-02-03 10:36] #480 closed

[2015-02-03 10:36] twiecki commented on #480
Can you try installing the master branch and see if the problem persists?

[2015-02-03 12:01] twiecki commented on #481
Yes, 0.7.0 is a bit outdated and we should release a new version soon.

[2015-02-04 11:06] warren-oneill opened #484 "No market times defined for LSE"
According to the commentary for the TradingEnvironment class

[code]

but as outlined here http://stackoverflow.com/q/25165500/4527613 this doesn't work without further tweaking.
A possible solution would be to include the same functionality for LSE as for NYSE, e.g. specify get_non_trading_days(),  get_open_and_closes() etc... and then define the TradingEnvironment with

[code]

That way the time

[2015-02-04 13:35] scubamut commented on #480
# 482 fixed it. Thanks.

[2015-02-04 17:06] mosesmc52 commented on #388
I tried clearing my zipline cache and no success as well.

[2015-02-06 11:19] warren-oneill opened #487 "First value generated by RandomWalkSource is always a NaN"
When I run the following code
[code]
and record the values generated for 'TEST' then I always get a NaN for the first trading day.

[2015-02-06 12:57] warren-oneill commented on #484
Implementation of the LSE market times may be harder than I originally thought. The NYSE calendar days are hardcoded in the loader with the following
[code]
and the NYSE early closing times are hardcoded in the TradingEnvironment with
[code]
Surely the latter would be better written as
[code]
?

[2015-02-07 00:30] karolestrada opened #489 "get historical prices from command line args."
Hi,
Would it be possible to have a better way to handle historical prices in zipline? If I understand correctly, right now one has to manually check if the days that one is looking back in history have already passed by before actually running the ``` history(72, '1d', 'price') ``` code. The suggested code to do so in handle_data is:
[code]
But this wouldn't work if for example one wants to use mi

[2015-02-07 00:54] lestatega commented on #489
Agree with Karol I am exactly having same problem

[2015-02-07 01:34] ssanderson commented on #489
@karolestrada is your goal just to work with the raw pricing data without running a backtest at all?  Or are you looking to implement the same backfilling logic that's applied on Quantopian?

w/r/t the former issue, you can use the utils in `zipline.data.loader` to load the same data that's used by default in Zipline's CLI (specifically, it uses `load_data_yahoo` and `load_bar_from_yahoo`.  You mi

[2015-02-07 01:48] karolestrada commented on #489
I'm trying to run my quantopian scripts directly in zipline. But I want to continue using quantopian as my "editor mode". So far it has been frustratingly painful to make the same script that worked fine in quantopian to work directly on zipline.

So, I want to run my code in minute mode, and I want to lookback 72 days in the past.
When I run minute mode on quantopian, the handle_data function is

[2015-02-07 02:19] ssanderson commented on #489
@karolestrada I believe the required keyword argument for the CLI is `data-frequency`, not `data_frequency`.  Unfortunately, however, I don't think that will do you any good.  While Zipline can be configured to use your own arbitrary data sources, the CLI only knows how to pull Yahoo's free daily data (yahoo doesn't provide free data at minutely resolution), and from my reading of the code in http

[2015-02-07 02:31] karolestrada commented on #489
Thanks for you answer.

[2015-02-07 08:38] #489 closed

[2015-02-07 16:37] mosesmc52 commented on #473
Has anyone figured a fix for this problem? I tried clearing the .zipline cache, but that doesn't solve the problem.

[2015-02-08 22:47] karolestrada opened #490 "Adjusted and Unadjusted close prices in history()"
Hi,
I'm running the same code in quantopian and zipline, and have found some significant differences in the results. So far, I believe that the major difference is in what is considered a close price in both platforms when data is retrieved via history().
It seems that quantopian is using unadjusted close price when one uses 'price' or 'close_price' .

Here just a quick sample looking at the close

[2015-02-09 01:52] karolestrada commented on #473
I have the same error message when performance stats are being calculated, this error occurs on zipline master branch in Mac OSX 10.9 Python 2.7.7 Pandas 0.14.1 Numpy 1.9.0 / and: Linux x86_64 Python 2.7.1,  Pandas 0.15.2 Numpy 1.9.1.

But, the same code actually works on a different Linux x86_64 system with Python 2.7.8 Pandas 0.14.1 Numpy 1.9.0. Strange..

[2015-02-09 08:20] twiecki commented on #490
I'm not an expert on the adjustment process but Quantopian does explicitly handle splits, mergers and dividends. There's thus no need to adjust the price which is basically just a hack. That information is not available in yahoo finance though so if you don't want crazy jumps in price during a split you'll have to use the adjusted price. But yes, the difference between Quantopian and yahoo data in

[2015-02-09 15:10] leonth commented on #473
I have the same problem with:
numpy 1.8.2
pandas 0.14.1
Python 2.7.9
Linux x86_64
zipline master branch (ffe5a7a171c1673fc24a54728e1640c23e7b5c04)

[2015-02-09 16:18] karolestrada commented on #490
I see, that's going to make my debugging quite hard.. I have an algo with a 30% difference in total return when run in quantopian vs zipline, with exactly the same equities, time frames, and code. In some way these differences in how prices are handled have compounded in huge differences in the final return. Have you experienced something like that in a 2 year-range algo?

[2015-02-10 09:10] twiecki commented on #490
One easy thing to try is to switch the column names of adjusted and close price in the data panel so that zipline thinks its using adjusted while it's actually the close.

[2015-02-10 10:14] twiecki commented on #473
I have confirmed that the date is present in the data file, so it's not a caching issue.

[2015-02-10 10:42] twiecki commented on #473
ok WOW!:
[code]

[2015-02-10 10:58] twiecki commented on #473
One odd thing I noticed, `2000-1-3` is a Monday, is present in the benchmark data, but our calendar rules in tradingcalendar say it's a non-trading day.

[2015-02-10 11:10] twiecki commented on #473
OK, this indeed seems to be a calendar problem. `2000-1-10` is also market as a non-trading day but is in fact one. So somewhere here https://github.com/quantopian/zipline/blob/master/zipline/utils/tradingcalendar.py#L41 is a bug where trading days are somehow dropped.

[2015-02-10 11:21] twiecki commented on #473
I think it's a dateutil bug.

Can someone else confirm by running:
`pip install -U python-dateutil==2.3.0`

and rerunning the example?

[2015-02-10 11:26] twiecki commented on #473
Opened up a github issue: https://github.com/dateutil/dateutil/issues/34

[2015-02-10 13:56] twiecki commented on #473
To catch these cases earlier I added a check: https://github.com/quantopian/zipline/commit/a7188187e65dbb684a93fb3851c852e72ab48d6c

[2015-02-10 14:27] karolestrada commented on #473
Confirmed, I upgraded to python-dateutil==2.3.0 and the issue is solved.

[2015-02-10 14:51] twiecki commented on #473
Thanks. I'm closing this then.

[2015-02-10 14:51] #473 closed

[2015-02-10 15:01] mosesmc52 commented on #473
Thanks. The fix works for me as well.

[2015-02-13 13:52] dalejung commented on #455
Personally, I don't like the algoscript/function api. However, subclassing TradingAlgorithm is messy because it does a lot. Any reason we don't support a simple object api like so?

[code]

[2015-02-13 15:06] llllllllll commented on #455
couldn't you just do:
[code]

[2015-02-13 15:20] dalejung commented on #455
Sure, I generally work with a wrapper like that. I hate putting code in strings. But this is issue is about first order support as parameter sweeping can already be done via wrappers.

Conceptually, it feels cleaner if TradingAlgorithm was split up as it's a harness to itself.

[2015-02-13 15:23] twiecki commented on #455
@dalejung The algoscript is for use with the ipython magic. The rest of the interface is mainly to get compatibility with Quantopian so that code does not have be rewritten.

But we already have 2 ways of writing algos and I don't think the right solution is a 3rd way :).

[2015-02-13 15:31] dalejung commented on #455
@twiecki 1 -> 2 is 100%. but 2 -> 3 is only 50%!  And they get cheaper as we go

[2015-02-13 15:34] twiecki commented on #455
@dalejung I don't follow. But the 3rd way is already supported as @llllllllll points out but that's not great UX.

Devs can of course figure out different ways but I think we want something that's more userfriendly.

[2015-02-13 17:51] clivehunt opened #495 "Please update docs on installing from source"
Please add docs for one or both:
1. How to build from source.
2. I really like the idea of using a vagrant box. I used the command 'vagrant up' from a cloned zipline repository. The vagrant box went up no issues. However, after opening python and typing 'import zipline' it appears the package was not installed on the system.

Thanks

[2015-02-13 19:05] dalejung commented on #455
ah, nm. Was making a joke.

On a more serious note, the simple class based approach can superset the handle_data/initialize approach. Having the user defined strategy completely separate from the harness/sim params is cleaner. It's surprising that the TradingAlgorithm class itself is passed around as the context. In quantopian proper the context object is a attrdict like object with access to port

[2015-02-16 01:35] jetheurer commented on #388
I'm seeing the same problem.

Python venv includes on Ubuntu 14.04 LTS:
argparse (1.2.1)
backports.ssl-match-hostname (3.4.0.2)
certifi (14.05.14)
docutils (0.12)
ipython (2.4.1)
Jinja2 (2.7.3)
Logbook (0.9.0)
MarkupSafe (0.23)
matplotlib (1.4.2)
mock (1.0.1)
nose (1.3.4)
numpy (1.9.1)
pandas (0.15.2)
pip (1.5.4)
Pygments (2.0.2)
pyparsing (2.0.3)
python-dateutil (2.4.0)
pytz (2014.10)
pyzmq (14.5

[2015-02-16 10:06] #388 closed

[2015-02-16 10:07] twiecki commented on #388
Glad that it works, thanks for reporting.

[2015-02-16 18:57] sashakid commented on #473
Guys, can anyone help me with this issue? I'm a newbie in Python and algotrading but I am very anxious to study this science) I'm using Pycharm + Mac OS and my output is:
[code]
Should installation ```pip install -U python-dateutil==2.3.0``` resolve the issue? For me it doesn't work.

[2015-02-16 19:11] twiecki commented on #473
@sashakid Can you also install zipline master where I added a check that should catch this behavior earlier?

[2015-02-16 19:31] sashakid commented on #473
I installed zipline like it's said in your manual with ```pip install zipline``` but I see that I use in the old version of zipline (0.7) in Pycharm, am I right? [Screenshot.] (https://www.dropbox.com/s/zcpwuunm8a4ls5s/Screenshot%202015-02-16%2022.26.33.png?dl=0) But how can I install in Pycharm the new version? Thanks.

[2015-02-16 20:09] sashakid commented on #473
It's worked when I run ```pip install zipline``` in terminal in Pycharm project (I've run this commant in Terminal.app before). Then I run ```pip freeze``` to see all packages and ```zipline==0.7.0``` appeared in list.

[2015-02-16 20:32] sashakid commented on #473
Can I see the output after calling that in Pycharm or should I use only Notebook to see it? (For now I just launch the code and don't see the output like in tutorial)
[code]

[2015-02-18 22:46] dalejung opened #499 "pandas futurewarning in history_container"
[code]

Running latest master, not sure what version the warning existed on.

[2015-02-18 22:47] dalejung opened #500 "Add latest master pandas matrix to travis that is allowed to fail."
Should catch all warnings as well.

[2015-02-19 21:48] dalejung opened #501 "Make zipline webscale."
Is zipline webscale compatible? I can only use components certified as WebScale.

[2015-02-21 10:59] laurlaur commented on #440
I cannot use 'from zipline.api import whatever' even if I do 'import zipline' first. Any ideas where I might be going wrong?

I installed zipline using 'conda install -c Quantopian zipline'.
Thanks

[2015-02-21 11:09] twiecki commented on #440
What's the error message?
On Feb 21, 2015 11:59 AM, "laurlaur" <notifications@github.com> wrote:

[2015-02-21 11:21] laurlaur commented on #440
Traceback (most recent call last):
     File "<stdin>", line 1, in <module>
ImportError: No module named api

[2015-02-21 13:54] twiecki commented on #440
Can you print zipline.__version__?
On Feb 21, 2015 12:21 PM, "laurlaur" <notifications@github.com> wrote:

[2015-02-21 14:07] laurlaur commented on #440
I haven't used Anaconda before so cannot explain what is going on.. but

I can do it in Anaconda command prompt:

Added C:\Anaconda and C:\Anaconda\Scripts to PATH.

C:\Anaconda>python
Python 2.7.8 |Anaconda 2.1.0 (32-bit)| (default, Jul  2 2014, 15:13:35) [MSC v.1
500 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Cont

[2015-02-21 18:03] laurlaur commented on #440
got it sorted by manually downloading and installing using python setup.py install.

Thank you anyway!

[2015-02-22 12:39] Excaliburst commented on #215
I definitely also support the implementation of intraday info in pd.datareader.

A great suggestion. Thanks for the idea.

[2015-02-24 16:51] dalejung opened #506 "travis failures on master"
[code]

Happening since last night. Not sure what the deal is.

[2015-02-24 17:55] twiecki commented on #506
@ehebert set the excel spreadsheet up.

[2015-02-25 07:50] twiecki commented on #506
From anaconda: `requests 2.5.3 is available. this should fix the SSL problems some people have been seeing with conda. Use "conda update requests" #conda﻿`

[2015-02-25 13:04] dalejung commented on #506
yap, started working late yesterday.

[2015-02-25 13:04] #506 closed

[2015-02-25 13:30] ehebert commented on #506
Looks like it sorted itself out, but if it 'blips' again we should consider upgrading requests?

[2015-02-25 13:38] twiecki commented on #506
That should automatically be updated along with miniconda, I think that's how this resolved itself.

[2015-02-25 13:44] ehebert commented on #506
Ah right, because conda doesn't use the same pegged versions as in requirements.txt. Got it.

[2015-02-26 13:56] dalejung commented on #500
Just to expand on this, the idea would be to catch not just errors, but deprecationwarnings and what not.

[2015-02-26 13:59] dalejung commented on #467
defaultdicts are the devil. My positiontracker branch initially had it removed but took it out since it was tangential. I'll throw it back up once the refactor gets merged.

[2015-02-26 15:01] ehebert commented on #467
Double :+1: on defaultdict removal.

[2015-02-26 23:35] CaptainKanuk opened #515 "Test Broker Blotter with Serialization"
In the current tests I don't believe that we check how a broker blotter would behave (just a zipline blotter). We should have someone who knows that code look it over and also try serializing an algo actually connected to IB before we turn serialization on for any important algos.

[2015-02-26 23:35] CaptainKanuk commented on #515
@jdricklefs

[2015-02-27 16:08] jdricklefs commented on #515
Think this belongs in our internal bug tracker.

[2015-02-27 16:08] #515 closed

[2015-02-27 17:54] dalejung opened #517 "Limit Orders can be executed out of order"
Orders are checked by order of `.dt. which means that a further LimitOrder will execute first if it is sent in first. This becomes an issue when there is not enough liquidity for all triggered limit orders. In that instance we should be triggering the order closest to the price and moving outward.

[2015-02-27 17:58] dalejung commented on #517
This would affect other trigger orders.

[2015-03-03 09:47] cournape opened #519 "Cannot run tests from a source tarball"
Looks like the file `risk-answer-key-checksums` is missing from the tarball (0.7.0).

[2015-03-08 19:48] npezolano opened #529 "Rerunning an algo"
Is it possible to rerun an algo and continue from a different time period. Take the following simple example, I want to run the algo from t1 to t2, and then run it again from t2 to t3, however the algo's portfolios gets overwritten.

[code]

[2015-03-09 11:55] twiecki commented on #529
That's an interesting use-case. Definitely makes sense to me that you'd want to do that.

One thing to try is to set `overwrite_sim_params=True` in `run()`: https://github.com/quantopian/zipline/blob/master/zipline/algorithm.py#L400

But note that you then would have to specify your own `sim_params` and pass them to `__init__` which set start and end date of the whole length.

[2015-03-09 22:49] npezolano commented on #529
Thanks for the response, I tried your approach, the problem with the above approach is that the `PerformanceTracker` gets set to `None` here, https://github.com/quantopian/zipline/blob/master/zipline/algorithm.py#L474

[2015-03-11 15:32] twiecki commented on #529
Yes, that's indeed the problem :-/. I don't think we currently allow for this then but there are some plans to rework this logic a bit so we'll keep this in mind to make sure to support it.

[2015-03-11 16:42] scubamut opened #531 "Working with data older than 2002"

[2015-03-12 09:06] scubamut commented on #531
Not sure whether really an issue or intended behavior....

I'm trying to use zipline with data from 1992, but zipline behaves unexpectedly for dates earlier than August 2002.

Here is the test code which reproduces the problem:

[code]
Prior to July 2000, order_target_percent appears to do nothing; it starts working (partly) in July 2000 (doesn't order all the stocks) and only starts working as ex

[2015-03-12 10:55] warren-oneill commented on #487
Pull Request #532

[2015-03-12 10:55] warren-oneill commented on #484
Pull Request created #523

[2015-03-12 15:16] warren-oneill commented on #487
I think this might be due to the fact that record() has nothing to record on the intial day.

[2015-03-16 22:17] llllllllll opened #536 "Cython in setup.py"
Because we import Cython in setup.py, this is now an implicit dependency and must be installed prior to calling setup.py

We should resolve this by making it do a try import and then download cython or something.

[2015-03-17 20:46] dalejung opened #537 "SID/Symbol/Asset management"
Now that zipline has `Asset` objects, there needs to be some way of managing it and also defining when a numeric sid is acceptable vs object. Take for instance `BarData`, for parity with quantopian it should be keyed by some Asset object, but data sources will most definitely come in keyed to some numeric. There has to be a translation layer or something that converts these into objects when neces

[2015-03-17 20:47] ssanderson commented on #537
Seems like we probably need to port some version of `SecurityFinder` to Zipline?  Possibly associating it with TradingEnvironment?

[2015-03-17 21:14] jfkirk commented on #537
@dalejung Within Zipline, it will be important within the perf tracker that the sids are Asset objects, so the logic can be pivoted on the asset_type. Alternatively, the perf tracker could treat all non-Asset sids as asset_type 1 (Equity).

@ssanderson That sounds right to me, but I'm not familiar with the SecurityFinder. Would there be any major dependencies?

[2015-03-18 14:15] dalejung commented on #537
Yeah it just needs to be defined and also exposed to zipline. For me, I have an instance where I want to pre-warm the BarData object with SIDData objects, but on the zipline side there's no concept of a sid => SID translation. I suppose one could say that the switch occurs on the datasource level, so if the datasource doesn't know about Asset objects, then the entire system should not. That's yuck

[2015-03-18 17:06] twiecki commented on #536
I don't think it's worth the added complexity in `setup.py`. Instead, we could add the `.c` output files to the build and defer to them if cython is not installed.

[2015-03-18 17:20] llllllllll commented on #536
I feel like putting generated files into source control is an anti-pattern because it means that we need to manually keep the source and the output in sync. This is an issue that pandas also has; we can try to use the same method they do.

[2015-03-18 17:23] twiecki commented on #536
Yeah, I meant to put it into the packaged version, not the source. That's how pandas does it.

[2015-03-18 17:45] llllllllll commented on #536
Ah, so you mean before we push to pypi?

[2015-03-18 17:46] twiecki commented on #536
Yeah.

[2015-03-19 00:26] florentchandelier opened #538 "fast_backtest option"
I have suggested a  very simple fast_backtest option to be passed to TradingAlgorithm()
see: https://github.com/florentchandelier/zipline/tree/wip-ImproveBacktestSpeed

-> I'm not creating a pull request as I'm sure there is a cleaner and more elegant way to do it.

Speed improvements: 15x/20x
Code Change: minimal, I can easily maintain this while being current with official Zipline branches

Enha

[2015-03-19 17:18] ehebert commented on #537
What would the input/output of that API be? Something like the following?

[code]

To be used as the following?

[code]

[2015-03-19 17:35] dalejung commented on #537
at a base level with some caching. the instrument management is a much bigger thing once you add point in time and matching on multiple identifiers. but that's all out of scope for zipline. 

btw. too late to rename asset to instrument ?

—
Sent from mobile

On Thu, Mar 19, 2015 at 1:18 PM, Eddie Hebert <notifications@github.com>
wrote:

[2015-03-25 16:09] mayouf opened #543 "Cannot run the "manual (advanced)" example from the zipline beginner tutorial."
Hi everyone,

I am following the zipline  beginner tutorial.

I took the "manual (advanced)" example from http://www.zipline.io/tutorial/. As my purpose is to use zipline to backtest with my own data.

I got an error that I don't know why it comes. Below is the error message and the source code of the example . Anyone knows the reason ??

Traceback (most recent call last):
  File "<stdin>", line 1

[2015-03-25 18:53] mayouf commented on #543
I found the solution. I was in the  DOC: Fix tutorial import. Closes #430.

Though, I will comment the correction because it is not clearly visible is the #430.

I simply just had to add these two lines at the beginning of the script:

import zipline
from zipline.api import order, record, symbol

So I suggest the http://www.zipline.io/tutorial/ to do this tiny correction.

cheers,

mayouf

[2015-03-25 18:53] #543 closed

[2015-03-29 10:02] anddam commented on #374
@ssanderson about [this comment](https://github.com/quantopian/zipline/issues/374#issuecomment-49533563) why not provide past history if it's available in datasource?

Are there any plan to level this on par with Quantopian where the past data is available even on first handle_data execution? I.e. is it implemented this way in zipline on purpose or has it just not been worked on yet?

This would m

[2015-03-29 21:27] anddam opened #546 "Key capital_used in portfolio object has wrong sign"
[This comment](https://github.com/quantopian/zipline/blob/master/zipline/finance/performance/period.py#L54) and [Quantopian reference](https://www.quantopian.com/help#api-portfolio) suggest that capital_used should be positive for spent cash but the instance of portfolio object in the simulation seems to use the opposite convention.

To check this run the following algorithm with *--start 2009-04-

[2015-03-29 22:35] tomas789 opened #547 "v 0.7.0: Accessing out of bounds"
I did just

[code]

[code]

And I got this error

[code]

[2015-03-29 23:07] karolestrada opened #548 "set_benchmark not available in zipline?"
Is there a way to change the default benchmark in zipline? at Quantopian this works by doing set_benchmark() which doesn't seem to be available here.

[2015-04-04 13:01] sebnil opened #553 "Tried to implement my own commission model but got UnsupportedCommissionModel error"
I wanted to implement a commission model based on my bank. Why is this something that is not favored in zipline.algorithm.py?

        def set_commission(self, commission):
            if not isinstance(commission, (PerShare, PerTrade, PerDollar)):
                raise UnsupportedCommissionModel()

[2015-04-04 14:20] twiecki commented on #553
You're right, that should be supported.

[2015-04-06 15:32] ehebert commented on #538
@florentchandelier cutting out the intermediate results when the aren't used is a nice win.

A flag name alike to `generate_intermediate_results` might be good in place of `fast_backtest`. (Though that would flip the logic around.)

Adding a compare link https://github.com/florentchandelier/zipline/compare/6cd2f4f1f2f4a4dca74fcfd6484278cc90e6f77a...florentchandelier:wip-ImproveBacktestSpeed for re

[2015-04-07 14:29] ehebert commented on #538
Put up a WIP branch here https://github.com/quantopian/zipline/tree/no-intermediate-results

[2015-04-07 22:07] doctorpangloss opened #558 "Extremely basic test fails on some days and times and not others"
I use a simple test for my environment integrity. On Sunday this worked. Today it does not. Nothing has changed.

`pip freeze`

[code]

Test:

[code]

[code]

[2015-04-07 22:31] ssanderson commented on #558
@doctorpangloss the failure there is zipline trying to load a cached csv file of treasury rate information.  I would look at the `tr_filepath` value that's being loaded on 207 of zipline/data/loader.py and verify that that file exists and looks like a CSV representing treasury rates.  I'd expect the first few lines to look something like:
[code]
If that's not the case, I'm not sure what might have

[2015-04-07 22:54] doctorpangloss commented on #558
Thanks so much, I'm investigating this now and I'll post a PR if I can have `zipline` resolve these sorts of issues automatically.

[2015-04-07 22:56] #558 closed

[2015-04-07 23:01] doctorpangloss commented on #558
https://github.com/quantopian/zipline/pull/559

I can also try to write a test for this issue.

[2015-04-08 00:04] florentchandelier commented on #538
Hi,
thanks for the effort. I've tried it but got the error presented below (simple to fix but I believe like before it's better you address this in a manner consistent with Quantopian usage of Zipline): - otherwise speed seems to be similar to what I have with my hack, eventually even a little bit faster. I have a file ready for comparison when this is fixed.

     results = algo.run(data, interme

[2015-04-08 00:07] florentchandelier commented on #538
Would it be possible to add this:
Enhancement:
Currently, when fast_backtest is active, to get risk and performance analysis after the backtest, I simply track "context.portfolio.portfolio_value" in "def handle_data(context, data)", in a pd.Series ... which would be a great default behavior for algo.run to return when fast_backtest is active.

[2015-04-08 15:01] #446 closed

[2015-04-09 16:03] ehebert commented on #538
@florentchandelier I can reproduce that error you are seeing. (Had not yet run tests on that branch.) I see where the issue is the coming from, I had forgotten that the `get_message` call was side-effectful.

That side-effect being keeping track of the returns for use in the final report.

One solution may be breaking up the `get_message` and the "store returns" functionality. Which would be a pla

[2015-04-10 07:42] #501 closed

[2015-04-10 07:44] twiecki commented on #501
WONTFIX: webscale certifications are hard to come by these days.

[2015-04-10 09:10] fretchen commented on #548
Same problem here.

[2015-04-10 12:24] warren-oneill commented on #548
You could write your own load_market_data function and pass it to the TradingEnvironment. The default load_market_data looks for data in yahoo.

[2015-04-11 01:58] twiecki opened #562 "Come up with a better way to include pickled objects"
Having to update the pickle file for many PRs creates a lot of git noise, e.g. `Showing with 47,571 additions and 166,770 deletions. ` for a simple change. Is there no alternative to this? Perhaps we could move those tests into the test harness or something?

[2015-04-12 20:50] llllllllll commented on #562
These should be stored in a tar.gz and the test runner should extract them if needed.

[2015-04-13 14:08] ehebert commented on #562
GitHub recently announced https://git-lfs.github.com/

Looks like this might alleviate both the size in the repo and the noise?

[2015-04-13 14:14] warren-oneill opened #564 "Performance of shorted stock"
Are shorted stocks handled any differently to long stocks in the Performance module? As far as I'm aware shorted stock has separate margin requirements ([for example](http://thismatter.com/money/stocks/selling-short.htm)) which would influence the returns.

[2015-04-17 03:32] karolestrada opened #567 "Paper trading"
Is there a way to test an algo in paper trading using zipline and yahoo delayed feed?

[2015-04-17 11:50] twiecki commented on #567
That should be possible if you write a data source that queries the yahoo feed and yields the results. But that data source does not exist yet. If you decide to write one (shouldn't be too hard), please consider making a pull request.

[2015-04-30 19:29] jikamens opened #576 ""test_history_add_field_10 (zipline_tests.test_history.TestHistoryContainerResize)" Reporting RuntimeWarning"
test_history_add_field_10 (zipline_tests.test_history.TestHistoryContainerResize) ... /home/qexec/virtual_envs/qexec/local/lib/python2.7/site-packages/numpy/lib/nanfunctions.py:220: RuntimeWarning: All-NaN axis encountered
      warnings.warn("All-NaN axis encountered", RuntimeWarning)
    ok

Can we make the runtime warning go away? I don't understand this test well enough to know what the right

[2015-04-30 19:32] jikamens commented on #576
As shown in the commit above, I've worked around this for the time being by suppressing user warnings on one line of this test, but we really should fix it properly rather than relying on this suppression.

[2015-05-07 10:58] DMTSource commented on #374
Is there a work around for this? I am working locally with zipline to optimize variables for my trading algos but I cannot get the open_price, or close_price of the SPY symbol when working with history(). I need the entire bar to recreate my work from Quantopian.

[2015-05-07 17:35] llllllllll commented on #374
@DMTSource, there is not currently a workaround other than warming up your algorithm by setting the start date to the beginning of your history window and skipping 1 history window worth of bars before executing your algorithm. Just a note, this will only work if you pre-declare your history spec with an `add_history` call. @anddam , This is something that we agree would be nice, and you are corre

[2015-05-10 12:57] sebnil opened #581 "Caching of treasury curves does not work on saturdys and sundays"
I found a bug in the cache of getting treasury_curves. Running algorithm takes more time to run on saturdays and sundays since treasure curves always needs to be updated.

Quick fix in loader.py:
[code]

[2015-05-12 18:31] sebnil commented on #447
Is someone actively working on this issue? I am trading on the Swedish market and run into this issue for most of the stocks that I trade with.
Are there any good alternatives to using the history function as a work around?

[2015-05-12 20:36] sebnil commented on #447
I investigated some more and the code below should show the problem:
[code]

[2015-05-13 13:34] warren-oneill opened #583 "BUG: env.next_trading_day() not Timezone aware"
In certain cases the trading day and market open can fall on different days when the timestamp is converted to utc. What this means is the ```env.next_trading_day()``` can get stuck in a continuous loop due to the timezone change.
Till now this has probably been not much of an issue since the NYSE open times remain on the same day when converted to UTC but when used in markets where the difference

[2015-05-13 14:50] ssanderson commented on #583
@warren-oneill can you give an example of inputs you're providing to zipline that manifest this bug?

[2015-05-13 14:53] warren-oneill commented on #583
In my case I have a 24h market so market open is, e.g., 1-1-2015 00:00 in local tz and 31-12-2014 23:00 in UTC but it hold for any combination of timezone and open times where the UTC conversion changes the day.

[2015-05-20 14:49] warren-oneill commented on #583
Hey @ssanderson I think I may have found a solution. The PR is here #579

[2015-05-20 19:28] ssanderson commented on #583
@warren-oneill glad you found a solution, and sorry for not being very responsive.  I've been pretty heads-down on a major API redesign, the *very* WIP form of which lives here: https://github.com/quantopian/zipline/pull/584/files.

[2015-05-27 09:33] warren-oneill commented on #583
Closed by #579

[2015-05-27 09:33] #583 closed

[2015-05-31 10:48] cosnis commented on #119
dose it worked for now?

[2015-06-09 15:44] ssanderson commented on #564
@warren-oneill I think at the moment short stocks are basically just considered as negative positions.  Building a proper margin model is something we've had on our radar for a while, we just haven't gotten around to building it yet.  cc @jfkirk, who is thinking about this as part of the futures trading branch I think

[2015-06-09 15:51] warren-oneill commented on #564
@ssanderson so does that mean it is currently calculated the same as a long position, e.g. if a stock is shorted for $10 and the price falls to $5 then the returns are (10-5)/10=%50?

[2015-06-09 16:46] ssanderson commented on #564
@warren-oneill I believe what happens is roughly as follows:

I enter into a short position of 10 shares for stock X, which is trading at $10 when I enter the position. If I have no other assets and $10 in cash reserves (an unrealistic scenario because of margin limits, as you point out), my portfolio value is $50 + $10 * (-10 shares) = -$50 in the PerformanceTracker.  The price of the stock then

[2015-06-09 21:15] ssanderson opened #597 "Replace TradingEnvironment calls to searchsorted and bisect_left with get_loc(method='{f,b}fill')"
Almost certainly will be faster.

[2015-06-12 13:27] warren-oneill commented on #564
@ssanderson ok, I have to say that that's pretty unrealistic esp since you __cannot__ go short without satisfying margin requirements unlike going long. This prob means that strategies that go short fair much better in zipline than they should and once margins are implemented people could see a big change in there returns. Also, above you haven't accounted for the money received for the initial sa

[2015-06-14 19:37] ssanderson commented on #109
https://github.com/quantopian/zipline/pull/584 will provide tools for universe creation via Filters.  We need to update Zipline's concept of a DataSource to support Dynamic Universes though.

[2015-06-15 03:23] npezolano opened #603 "Example using futures"
Is there an example using futures + zipline?

I have some futures data

[2015-06-15 03:25] npezolano opened #604 "Spereate commissions for equtites / futures?"
Is it possible to set separate commissions for different asset classes?

[2015-06-15 07:23] warren-oneill commented on #603
Hey Nicholas you can find an example [here](https://github.com/quantopian/zipline/blob/master/tests/test_algorithm.py#L1322) in the unittests. Does that help? In this case the data is passed to the algo using a pandas panel and the metadata as a dict.

[2015-06-15 08:42] warren-oneill commented on #604
As far as I'm aware no. The commission is set for an algorithm before a run with the [set_commission](https://github.com/quantopian/zipline/blob/master/zipline/algorithm.py#L910) function and is fixed for the entire run. It would make a great addition though!

[2015-06-15 10:28] twiecki commented on #603
It would be great if we could get a NB showing how to use futures on a freely obtainable data set. That could easily be integrated into the existing documentation. @jfkirk thoughts?

[2015-06-15 15:42] npezolano commented on #604
@warren-oneill Is the idea that you can only backtest one asset class at a time or more than one? If both you would need this feature.

[2015-06-15 18:04] jfkirk commented on #604
This is a forthcoming feature. We are building toward allowing a single algorithm to trade multiple Asset classes, but you are absolutely right that this is a constraint in the current version. For now, you would have to either:

1. Use a commission rate somwhere between Equities and Futures (which is unrealistic)
2. Only trade on asset class per algo

[2015-06-16 14:20] athenawisdoms opened #607 "Moving Average Transforms in Minutes"
Is it possible to use window lengths in the order of minutes for the transforms? If we use `short_window=0.5`, it gives an error about only accepting integer values.

    def initialize(self, short_window=0.5, long_window=5):
        self.add_transform(zp.transforms.MovingAverage, 'short_mavg', ['price'], window_length=short_window)
        self.add_transform(zp.transforms.MovingAverage, 'long_mav

[2015-06-16 14:23] ssanderson commented on #607
@athenawisdoms `zp.transforms.MovingAverage` only accepts integer arguments, which are interpreted as days. This is mostly for legacy compatibility reasons.  If you want to compute a moving average in a new algorithm, you're probably better off using `history()` instead.

[2015-06-16 14:23] #607 closed

[2015-06-16 14:36] vertangelx opened #608 "Retrieving the Risk Metrics"
Hi all, I've just started using zipline and cannot seem to figure out how to access the risk metrics (sharpe, sortino, jensen's alpha, volatility, drawdown) after running the algorithm.

Are there built in functions to get these ratios and metrics? Basically to get the same information as seen here

![image](https://cloud.githubusercontent.com/assets/8826684/8185629/781ee084-1413-11e5-8c43-f866352

[2015-06-16 14:51] ssanderson commented on #608
@vertangelx how are you invoking `TradingAlgorithm`?  If you're using the iterator-style interface, then the last emitted packet will contain the "risk report" which includes most of this data.

If you're using `TradingAlgorithm.run` (which is probably the way to go), then you can add an "analyze" function that will receive a DataFrame with most of this data.  The format of that DataFrame isn't es

[2015-06-16 15:07] vertangelx commented on #608
@ssanderson Yes I'm using `TradingAlgorithm.run`, ie `perf = algo.run()`. Which part of the `perf` DataFrame can some of the ratios like sharpe ratio be found? Was digging through the `perf` DataFrame but didnt see anything related to sharpe or risk.

Btw, what is the iterator-style interface that you've mentioned? I'll probably try that too.

[2015-06-16 15:42] ssanderson commented on #608
If you pass `SimulationParameters` to `TradingAlgorithm.__init__`, then you can do

[code]
This is more or less what `TradingAlgorithm.run()` does under the hood (see https://github.com/quantopian/zipline/blob/master/zipline/algorithm.py#L502), though there's some hackery to allow passing a new `SimulationParameters` when you call run().

Given that it seems reasonable to create a single `TradingA

[2015-06-17 14:15] athenawisdoms commented on #607
@ssanderson Tried your suggestion of using `history()` and `add_history()`, but I am encountering an error `AttributeError: 'NoneType' object has no attribute 'add_history'`. Do you know where did I go wrong?

	%matplotlib inline
	import matplotlib.pyplot as plt

	import numpy as np
	import pandas as pd
	import pytz
	from datetime import datetime
	import zipline as zp
	from zipline.utils.factory i

[2015-06-17 14:24] ssanderson commented on #607
@athenawisdoms I think the error you're seeing there should be fixed on the latest master, but I should also point out that the idiom of "Subclass TradingAlgorithm and override `initialize` and `handle_data` is deprecated".  What you want to do instead is something like:

[code]

Can you let me know if the above works for you?

[2015-06-17 14:52] athenawisdoms commented on #607
Yes it works now!

However `algo.run(source=data)` only prints out the `perf` DataFrame, it does not appear to run `analyze` as no plot is drawn.

[2015-06-17 15:04] ssanderson commented on #607
What context are you running from?  Plots will only show up if you're in IPython Notebook or the IPython QtConsole.

[2015-06-17 15:09] athenawisdoms commented on #607
@ssanderson I am running in IPython Notebook and included `%matplotlib inline` at the top of the notebook and the plots does not appear when doing `algo.run(source=data)`

However if I use `%%zipline --start 2010-1-1 --end 2012-1-1 --symbols AAPL -o perf_dma`, the 2 plots does show up. But I'll still like to use `algo.run` instead of IPython magic.

[2015-06-17 16:18] vertangelx opened #611 "Price column in Data source"
Hi all,

I have tick data on local storage that I will like to load into Zipline. So I resampled the original data using `pandas.resample` into a DataFrame containing the 4 OHLC columns and a DataFrame with a `volume` column.

However when loading `AAPL` data from Yahoo! finance, I notice that the DataFrame contains a `price` column, which is not found in my resampled DataFrame.

![image](https://

[2015-06-17 16:39] ssanderson commented on #611
@vertangelx yep, `price` is just an alias of `close`.  You can copy it over.  I think Zipline should run just fine if you only have OHLCV with no price column, though I'm not 100% sure on that.

[2015-06-17 16:39] vertangelx commented on #611
And a follow up question:

I am getting an error `IndexError: index out of bounds` when running the `TradingAlgorithm` using custom data resampled by pandas and under IPython notebook.

	def initialize(context):
	    add_history(1, '1d', 'price')
	    add_history(5, '1d', 'price')

	    context.i = 0

	def handle_data(context, data):

	    sym = symbol('ABC')
	    print context.i

	    context.i +

[2015-06-17 16:43] ssanderson commented on #611
@vertangelx can you post the traceback for the error you're seeing?

[2015-06-17 16:47] vertangelx commented on #611
0
	1
	2
	3
	4
	5
	6
	---------------------------------------------------------------------------
	IndexError                                Traceback (most recent call last)
	<ipython-input-5-c03d9f28c52a> in <module>()
	      4 # Run
	      5 algo = zp.TradingAlgorithm(initialize=initialize, handle_data=handle_data, analyze=analyze)

	----> 6 perf = algo.run(data)

	/Users/vertangelx/anaconda/env

[2015-06-17 19:17] ssanderson opened #612 "`ConsumeMetadataError` message is incomplete"
It currently reads:
`AssetMetaData can not consume {obj}. MetaData must be a dict, a DataFrame, or`

[2015-06-17 19:19] jfkirk commented on #612
self-assigning. Thanks!

[2015-06-17 19:46] jfkirk commented on #612
PR for fix: https://github.com/quantopian/zipline/pull/613

[2015-06-17 21:21] #612 closed

[2015-06-18 16:17] vertangelx commented on #611
@ssanderson I think this error is due to some timezone settings?

Here's the complete code and CSV data for you to reproduce the problem

	import pandas as pd
	import zipline as zp
	from zipline.api import order_target, record, symbol, history, add_history
	from StringIO import StringIO

	# Load CSV data set
	CSV = StringIO("""Date,open,high,low,close,volume,price
	2015-04-30 00:00:00+00:00,238.56

[2015-06-18 16:43] vertangelx opened #614 "24/7 Trading"
How can we define our own trading days and hours for special markets? For example, what settings will you change and how will you change it for a market that trades 24/7?

[2015-06-18 17:06] ssanderson commented on #614
ping @jfkirk

[2015-06-18 17:08] ssanderson commented on #614
@vertangelx I have a mostly-finished branch that overhauls the process for creating a custom trading calendar.  That code lives in https://github.com/quantopian/zipline/pull/556, though I'm not actively working on it at the moment.  I haven't thought deeply about how to accomodate 24-hour markets, though I think @jfkirk has looked at that problem to some extent while working on support for futures

[2015-06-18 17:12] dannychua commented on #614
@ssanderson @jfkirk +1 interested in 24/7 markets

[2015-06-19 07:46] warren-oneill commented on #614
Hi all, I currently have a prototype implement for the German Epex energy market which is also 24/7.
What I did was a bit of a work-around but I basically I made a new ```tradingcalendar``` file and set the ```trading_days``` to be all days in the range and set the market hours to be between 00:00 and 23:59 although setting close to be at 00:00 on the following day could be better.

I then also ha

[2015-06-22 12:15] vertangelx commented on #614
@warren-oneill How do you use `loader_power.py` to get `load_epex` that you pass into `TradingEnvironment`?

`import loader_power as load_epex` produced a `TypeError: 'module' object is not callable`.

	/Users/vertangelx/anaconda/envs/zipline/lib/python2.7/site-packages/zipline/finance/trading.pyc in __init__(self, load, bm_symbol, exchange_tz, max_date, env_trading_calendar)
	     99
	    100

[2015-06-22 12:57] warren-oneill commented on #614
Try
[code]

[2015-06-22 13:09] vertangelx commented on #614
@warren-oneill I'm now getting an error `AssertionError: Period end falls before the first known trading day.`

    data.AAA.price.head()

	timestamp
	2015-04-30 20:00:00+00:00    237.413
	2015-04-30 21:00:00+00:00    237.914
	2015-04-30 22:00:00+00:00    239.400
	2015-04-30 23:00:00+00:00    238.550
	2015-05-01 00:00:00+00:00    235.926
	Freq: H, Name: price, dtype: float64

    print calendar_ep

[2015-06-22 13:14] warren-oneill commented on #614
Try defining the start and end of the simulation
[code]
where ```start``` and ```end``` are the first and last timestamp of your data.

[2015-06-22 13:32] vertangelx commented on #614
@warren-oneill A different error this time, thank you for your patience! Not sure why it's looking for `2015-04-29`. which is 1 day before the first timestamp of `data`.

    KeyError: Timestamp('2015-04-29 00:00:00+0000', tz='UTC')

Did some prints:

    print data.AAA.index[0]
    print data.AAA.index[-1]

    2015-04-30 20:00:00+00:00
    2015-06-14 02:00:00+00:00

[2015-06-22 14:18] warren-oneill commented on #614
are you using the newest version of zipline installed from github?

[2015-06-22 14:30] vertangelx commented on #614
@warren-oneill `zp.__version__` gave `'0.8.0rc1'`. I did another update of zipline with `pip install git+https://github.com/quantopian/zipline --upgrade
` but the same error persist

[2015-06-22 14:58] warren-oneill commented on #614
It could be something to do with timezone changes but its hard to say.

[2015-06-22 15:40] vertangelx commented on #614
@warren-oneill Here's the code I'm running, are you able to reproduce the error when you run it?

	import pandas as pd
	import zipline as zp
	from zipline.api import order_target, record, symbol, history, add_history
	from StringIO import StringIO

	# Load CSV data set
	CSV = StringIO("""Date,open,high,low,close,volume,price
	2015-04-30 00:00:00+00:00,238.562,240.9,236.75,238.55,1057.99976476,238.

[2015-06-23 02:53] kenhersey commented on #603
+1 Thomas. There were some examples in the folder before the futures merge, but I suspect they were dependent upon James's data ingest. Perhaps something based upon a quandl data set would be more universally explanatory to others - such as data from https://www.quandl.com/data/CHRIS/CME_ES1

[2015-06-23 12:31] #611 closed

[2015-06-23 14:16] athenawisdoms opened #618 "Pass Parameter into Initialize()"
I'm running the simulation using `TradingAlgorithm(initialize=initialize, handle_data=handle_data)`. How can I pass additional parameters into `initialize` and `handle_data`?

    short_window = 3
    long_window = 5
    TradingAlgorithm(initialize=initialize, handle_data=handle_data)    # how can short_window, long_window be passed inside?

[2015-06-23 14:43] ssanderson commented on #611
@vertangelx did you figure out what the issue was here?

[2015-06-23 14:53] twiecki commented on #618
I think you _should_ be able to do:
`TradingAlgorithm(initialize=initialize, handle_data=handle_data, short_window=short_window, long_window=long_window)`

and then have:
[code]

[2015-06-23 19:51] jfkirk commented on #603
Adding an example futures algo is on my docket. We're currently adding a few more convenience methods (contract lookup in the chain, rolling, etc) and I'd like to have them in the example. Once those are in, I will generate an example algo and hunt down some freely obtainable data.

Self-assigning.

[2015-06-23 20:02] npezolano commented on #603
@kenhersey Unfortunately you need the actual contracts and not a continuous price.

If any one needs, you can get VIX futures data provided free by the CBOE here: http://cfe.cboe.com/products/historicalvix.aspx

[2015-06-23 20:04] jfkirk commented on #603
@npezolano Thanks for the data link! That is very helpful.

[2015-06-23 20:05] jfkirk commented on #604
Self-assigning.

[2015-06-24 11:17] kenhersey commented on #603
@npezolano et al, even better for an example that handles actual contracts vs. continuous.
These are also available at quandl.com:

These pages have the info:
https://www.quandl.com/data/CME/ESU2015
https://www.quandl.com/data/CME/ESM2015
etc.

And, here's how you format for the data retrieval:
https://www.quandl.com/api/v1/datasets/CME/ESU2015.csv
https://www.quandl.com/api/v1/datasets/CME/ESM201

[2015-06-25 14:57] warren-oneill opened #623 "Unused/Unusable freq_filter in HistoryContainer"
The function ```update_digest_panels``` seems to only be used once in the code and it does not receive a ```freq_filter``` and since the user has little reason to use the ```update_digest_panels``` I was wondering why is it even there. Moreover, since ```self.unique_frequencies``` is either '1m' or '1d' then how is it possible to filter?
[code]

[2015-06-26 01:55] npezolano opened #624 "Futures margin rates"
Unlike equities, each future contract has a different initial and maintenance margin. Should this be incorporated somehow into Zipline?

https://www.interactivebrokers.com/en/?f=margin&p=fut

[2015-06-26 08:29] warren-oneill commented on #624
It's currently in the works. @jfkirk should be able to give you more details.
Personally I'd love to have the SPAN margin method implemented
http://www.investopedia.com/terms/s/spanmargin.asp

[2015-06-26 14:04] jfkirk commented on #624
@npezolano We are planning to incorporate a full margin system that would allow you to specify rates for individual Assets or classes of Assets. This would cover your use case.

Right now we are speccing this feature out (conducting user interviews and designing the API). Then we will begin development.

Self-assigning.

[2015-06-26 15:40] jgoode21 commented on #604
Yeah I give a plus one for this, as I've written Zipline algorithms that trade equities and their options. The options have different commissions that their underlying equities. I just deducted the difference from my ending PnL, but it wasn't the cleanest work around.

[2015-06-26 15:43] jfkirk commented on #604
@jgoode21 Makes sense - you shouldn't have to do such a workaround, so we'll work toward getting you this feature.

[2015-07-01 16:11] jfkirk opened #632 "Symbol look-up dates should not be dynamic"
Symbols should be resolved with a fixed, defined look-up date, not the algo's current datetime.

As @ssanderson put it, there are almost no cases where someone would want to order AAPL Apple Computers for part of a simulation, and AAPL Madrid Apple Orchards for another part of the simulation.

Self-assigning.

[2015-07-03 00:04] philiphdf commented on #29
From what tweggs wrote, would the correct equation for volatility with natural logs use the natural log of prices instead of absolute prices? OR should we take the (natural log of return i) - (natural log of average return)

Thanks

[2015-07-06 01:56] ssanderson opened #634 "TradingAlgorithm.initialize accepts and silently ignores *args and **kwargs."
c.f. https://github.com/quantopian/zipline/blob/master/zipline/algorithm.py#L285

These either shouldn't be accepted or should be forwarded to `_initialize`.

cc @jfkirk

[2015-07-06 13:42] jfkirk commented on #634
@ssanderson My understanding was that the *args and **kwargs are accepted because extensions of TradingAlgorithm that override TradingAlgorithm.initialize may accept other args. Is this not the case?

[2015-07-06 13:47] ssanderson commented on #634
@jfkirk if a subclass overrides `TradingAlgorithm.initialize`, then it doesn't matter if the base class accepts additional args, because the base class function isn't being being called.

[2015-07-06 13:49] jfkirk commented on #634
![](http://st.depositphotos.com/2602289/4400/i/950/depositphotos_44001039-Man-slapping-hand-on-head-to-say-duh.jpg)

Makes sense. Thanks!

[2015-07-06 15:01] ssanderson opened #636 "AssetFinder does an is check against strings"
https://github.com/quantopian/zipline/blob/master/zipline/assets/assets.py#L605
https://github.com/quantopian/zipline/blob/master/zipline/assets/assets.py#L280
https://github.com/quantopian/zipline/blob/master/zipline/assets/assets.py#L283

This is almost certainly not what we want to be doing. The `is` operator means "is the same PyObject pointer".  Though strings are generally interned, it's not

[2015-07-06 15:06] ssanderson commented on #636
cc @ehebert @jfkirk.  This is a time-bomb waiting to go off if we haven't hit it already.  cc @jdricklefs also in case this is related to some of the internal asset mapping failures we've seen recently.

[2015-07-06 15:09] jfkirk commented on #636
Oh gosh, that is clearly wrong. Self-assigning.

[2015-07-06 15:10] ehebert commented on #636
Looks like the simple fix is to change to `!=`.
(Or we could remove placeholder support?)

[2015-07-13 09:04] twiecki opened #648 "Keep track of positions and transactions"
For analyzing a zipline algo it is often informative to look at the positions and transactions over time. I can't find where we are keeping track of those.

[2015-07-13 09:07] twiecki commented on #648
Ah, my bad. They are stored in the `positions` column,.

[2015-07-13 09:07] #648 closed

[2015-07-14 16:22] beebeed opened #650 "Tutorial buyapple.py fails in python 2.7.10"
running buyapple.py fails in python 2.7.10 but runs in python 3.4.3 for zipline 8.0rc. The part of code that fails is `data[symbol('AAPL')]` found in
[code]
the error is
[code]

Environment: Windows 7 64 bit, Python 3.4, Python 2.7, zipline 0.8.0rc
Appears to be with zipline.protocol.BarData and zipline.assets._assets.Equity

Kind regards

David Bieber

[2015-07-14 19:21] jfkirk commented on #636
PR for a fix: https://github.com/quantopian/zipline/pull/651

@ssanderson - I could only find the one bad check in the current Zipline master. Are there others that I missed?

[2015-07-14 19:48] jfkirk commented on #636
Fix merged - closing.

[2015-07-14 19:48] #636 closed

[2015-07-14 20:05] jfkirk commented on #650
Thank you, David! I am investigating and attempting to reproduce.

Can you provide me with the command that you use to call runalgo.py?

[2015-07-14 21:21] beebeed commented on #650
Actually I was running it in a debugger so added __main__ into buyapple.py - here is the code I used
[code]

it fails at `record(AAPL=data[symbol('AAPL')].price)`, was trying to debug it but couldn't figure out the inheritance.

[2015-07-14 21:24] beebeed commented on #650
Forgot to say in the master 8.0rc there is a missing dependency **contextlib2**

[2015-07-14 21:31] jfkirk commented on #650
Ok - I'll look in to the dependency as well. I'll update once I've reproduced.

[2015-07-18 07:23] tobsch commented on #447
Same issue on the german market (CET Timezone). Any ideas?

[2015-07-18 07:49] shlomoa commented on #447
My advice is lame, sorry.
Either dump zipline or debug yourself.
I took the second path which turned to a long path joining the first.....
On Jul 18, 2015 10:24 AM, "Tobias Schlottke" <notifications@github.com>
wrote:

[2015-07-18 07:55] tobsch commented on #447
and what did you end up with?

[2015-07-19 05:58] kenhersey commented on #447
Hey Thomas - I think I have the cause of this issue identified (or at least one time when this is being hit).

Whenever I have a data file which includes data on a day which zipline considers to not be a trading day, this error is flagged when it hits the ffill_buffer_from_prior_values() function.

To reproduce: just generate a csv file from a yahoo retrieval, and add a line in the datafile for ML

[2015-07-19 07:19] tobsch commented on #447
Hi,

that sounds reasonable.
Why don't you integrate a library like this one and let the user define the region?

https://github.com/novapost/workalendar

Best,

Tobias

[2015-07-19 11:15] kenhersey commented on #447
Interesting package - I wonder if "working day" == "trading day"... likely. But, then we need to be able to define a superset of the calendars if you combine for example different country data in the same portfolio. (Then the ffills would fix the data.)

Thus, my hope is that there is a mechanism that Thomas can readily identify for the user being able to redefine the current trading calendar as t

[2015-07-19 11:59] shlomoa commented on #447
A simulator with one identical method handle_data
Except for that it is totally different.
 On Jul 18, 2015 10:55 AM, "Tobias Schlottke" <notifications@github.com>
wrote:

[2015-07-19 13:03] sebnil commented on #447
I solved it by just not using the history function at all. Why does zipline have so much complexity for getting historical data when it can be done using pandas anyway? (not a criticism, but a genuine question)

I did something like this:
[code]
And then a new file with a simple function:
[code]

[2015-07-19 17:27] twiecki commented on #447
Not sure what happened with the crazy re-assignments.

[2015-07-19 17:38] twiecki commented on #447
Anyone who could take a look at this? @brianpfink maybe? CC @ehebert @ssanderson @jfkirk

[2015-07-20 14:40] cedricporter opened #654 "Got IndexError when use pd.read_pickle"
My version is '0.8.0rc1'.

[code]

When I use `pref = pd.read_pickle("/tmp/test.pkl")` to read the results from `/tmp/test.pkl`, I got `IndexError: tuple index out of range`.

[2015-07-20 14:52] ssanderson commented on #654
@cedricporter do you have the full stack trace of the IndexError?  I think the value you're trying to Pickle there is a `pandas.DataFrame` (albeit a weirdly-structured one), so if pickle is failing to serialize that object it's more like a pandas bug than a zipline bug.

[2015-07-20 15:02] ssanderson opened #655 "Travis build should just use requirements.txt"
We currently do a bizarre hodge-podge of conda installs and pip installs based on grepping from our requirements...
[code]

[2015-07-20 15:03] ssanderson commented on #655
Oh, also, we're apparently `wget`ing a bash script over http and then executing it... :/

[2015-07-20 15:08] cedricporter commented on #654
@ssanderson   `results.to_pickle("/tmp/test.pkl")` works well. While the read_pickle failed.

The full stack trace of `read_pickle` is as following:

[code]

[2015-07-20 15:14] cedricporter commented on #654
@ssanderson

I can read_pickle successfully if there is no `Equity` in orders. If there is `Equity` in orders, if can't read_pickle.

[code]

[2015-07-20 15:42] ssanderson commented on #654
@cedricporter interesting.  Out of curiosity, what pandas version are you on?  This works for me:
[code]

[2015-07-20 16:11] cedricporter commented on #654
@ssanderson

I found your code works well. That's weired.

After I restart my ipython which it's running for a long time. It can read_pickle well now.  -.-

I am sorry to disturb you.

[2015-07-20 16:11] #654 closed

[2015-07-20 17:45] twiecki commented on #655
The reason is that compiling numpy, scipy and pandas takes a long while increasing the wait time by a lot.

[2015-07-20 17:57] ssanderson commented on #655
Gotcha.  I think a more maintainable solution would be to host wheels for the compile libraries.  I lost 5-6 hours this morning from having to add lines to the section where we're grepping things out of requirements.txt.  It's also worrying that we're testing on travis in a way that no one else is going to install zipline.  I'd rather have entirely separate conda and pip builds so that we have cov

[2015-07-20 18:00] twiecki commented on #655
Agreed on all of those. I wonder if maybe someone else came up with a better solution to this. Not sure if the recent switch to docker on travis would help.

[2015-07-23 18:47] jfkirk commented on #650
I've attempted to reproduce, but the code you provided runs fine for me in python 2.7.10 and 3.4.

@twiecki Any ideas on how I should investigate?

[2015-07-23 18:56] twiecki commented on #650
Seems like maybe the data isn't correctly loaded?

[2015-07-25 08:50] femtotrader opened #659 "Blaze Datasource"
Hello,

it may be a nice idea to add Blaze as a possible Data source

http://blaze.pydata.org/en/latest/
http://blaze.pydata.org/en/latest/rosetta-pandas.html

Blaze could allow to run backtests without having to store in memory the whole
historical data at startup.

Moreover with a database / table URI, it will allow to easily connect to several database
(thanks to SQLAlchemy)

Blaze comes with a

[2015-07-25 12:08] twiecki commented on #659
I thought about this as well and think it's a great idea.

[2015-07-25 13:11] femtotrader commented on #659
One problem could be aligning data for several symbols.

Try first to feed a database with 4 symbols

    #!/usr/bin/env python

    import datetime
    import pytz
    import pandas as pd
    from pandas_datareader import data, wb

    import traceback
    import warnings

    import blaze as bz
    from blaze import odo

    tzinfo = pytz.UTC
    dt_start = datetime.datetime(2011, 1, 1, tzinfo=t

[2015-07-25 16:22] femtotrader opened #660 "Arctic Datastore"
Hello,

this datastore may also be worth to be add to zipline
https://github.com/manahl/arctic
at least it should be discussed here

Kind regards

[2015-07-25 17:55] twiecki commented on #660
I wonder if perhaps this should be linked to `odo` instead where it will be available to zipline if https://github.com/quantopian/zipline/issues/659 gets implemented.

[2015-07-25 18:11] femtotrader commented on #660
to my understanding that's quite different because with Blaze you won't have a Numpy arrays like in this datastore but you are yieding values using a generator.

[2015-07-25 18:14] twiecki commented on #660
I think `odo` handles streaming data sources too. @mrocklin?

[2015-07-25 18:15] llllllllll commented on #660
odo supports streaming data sources with `chunks`

[2015-07-25 18:32] llllllllll commented on #659
@femtotrader In your first example, I am not sure where you get any benefit out of using blaze vs just using odo. You create an interactive symbol but immediately pass it to odo to materialize into dataframes. You could just pass the resource directly to odo. Also, I would suggest importing odo from the canonical path `from odo import odo`.

I could see value in maybe making `data` in the algo a s

[2015-07-25 19:44] femtotrader commented on #659
Because I'm doing this just to save (sample) data to a database... we will use Blaze to retrieve data from database to expose then to zipline. That's the job of making a "Blaze datasource" that I'm exposing here.

[2015-07-25 19:53] femtotrader commented on #660
see https://github.com/ContinuumIO/blaze/issues/1185

[2015-07-25 19:58] llllllllll commented on #659
err, the issue is that you are not using blaze to retrieve the data from the database, you are using odo for that.

you could do the same thing with just:

[code]

There is no need to wrap the resource in an `InteractiveSymbol`
        print(row)

[2015-07-25 20:02] llllllllll commented on #660
Sorry, what am I supposed to be seeing in that issue?

[2015-07-25 20:52] mrocklin commented on #660
Joe is correct that the right approach here is `chunks`.  The brief `chunks` documentation is here: http://odo.pydata.org/en/latest/type-modifiers.html#chunks

[2015-07-26 06:39] femtotrader commented on #659
I wonder how you can align data with several symbols because one dataframe is for one symbol.

[2015-07-26 06:45] femtotrader commented on #660
@llllllllll you are supposed to see your own post

    for i, chunk in enumerate(odo(dat, chunks(pd.DataFrame), chunksize=10)):
        print("chunk %d" % (i + 1))
        for j, row in chunk.iterrows():
            print(row)

and you are right Blaze wasn't used in this simple example but I wonder if it will be the case if you want to align data.

[2015-07-26 06:46] llllllllll commented on #659
I have frequently worked with data that has symbol as another column in the table/dataframe. You can then self join to align the data.

[2015-07-26 06:47] femtotrader commented on #659
so you will join chunks ?

[2015-07-26 06:48] llllllllll commented on #660
Oh, were you just showing the iterable? I wasn't sure if you were responding to my comment there

[2015-07-26 06:51] llllllllll commented on #659
If you wanted to do things like joining, then blaze would be your friend here. You could do something like:

[code]

I didn't exec this so it might have slight errors but hopefully you get the idea.

[2015-07-26 07:03] femtotrader commented on #659
So you are using Blaze (not only odo) ;-)

Here is how database for OHLCV daily looks like
![Database](https://cloud.githubusercontent.com/assets/5049737/8892880/42964738-3374-11e5-8a82-babad34bcccd.png)

Here is AAPL first rows
![AAPL](https://cloud.githubusercontent.com/assets/5049737/8892881/45d14402-3374-11e5-9bb3-1a6a980049b4.png)

Here is GOOG first rows
![GOOG](https://cloud.githubuserconte

[2015-07-26 07:17] llllllllll commented on #659
let `ts` be a dictionary mapping symbol to the table with data.
You could at least join this all up into a single table with a concat:

[code]

Note: I think transform can take a scalar to broadcast as a column but I am not sure.

[2015-07-26 07:18] llllllllll commented on #659
Right now, blaze and odo don't really support working with panels. It is most common to work with expressions representing tables, matrices, and arrays.

[2015-07-26 07:42] femtotrader commented on #659
I did like you suggest

    #!/usr/bin/env python

    import blaze as bz
    from toolz import valmap, reduce

    def reduction(a, b):
        return bz.concat(
            bz.transform(a[1], ticker=a[0]),
            bz.transform(b[1], ticker=b[0]),
        )

    def table_uri(symbol, period):
        return 'dialect+driver://user:password@host:port/symbols_OHLCV_%s::%s' % (period, symbol)

[2015-07-29 07:27] euri10 opened #662 "getting data behind a proxy"
hello,

all the requests are made with requests and don't support proxy :)=
which is an issue when working behind one
one quick and dirty hack is to replace instances of requests.get the following way :
`res = requests.get('http://ichart.finance.yahoo.com/table.csv', params=params, stream=True,)`
by for instance for a http proxy
    `proxies = {"http": 'http://user:password@ip:port', }`
    `res =

[2015-07-30 04:36] fraka6 opened #663 "most examples don't work outside quantopian env"
Hi guys,

Please update http://www.zipline.io/ because dual_moving_avg.py doesn't exist, its dual_moving_average.py. This strategy work perfectly in quantopian environment but not with zipline CLI.
I suspect the ichart.finance.yahoo path to be broken (see details at the end).

The only example that works or don't crash is  buyapple.
dual_ema_talib.py -> ImportError: No module named talib
pairtrade

[2015-07-30 13:10] warren-oneill opened #664 "Subclassing of TradingAlgorithm not functioning with history functions"
When I try to define my algo by subclassing ```TradingAlgorithm``` and defining ```initialize``` and ```handle_data``` in the class I get the following error when utilising ```add_history``` in ```initialize``` and ```history``` in ```handle_data```:
[code]
but the algo works fine when when I pass ```initialize``` and ```handle_data``` to ```TradingAlgorithm```.

Is this a bug or is the second met

[2015-07-30 13:27] ssanderson commented on #664
@warren-oneill probably both.  The "subclass and override" method is more or less unofficially deprecated.  But until it's actually **officially** deprecated, this is a bug.  Unfortunately, I'm not sure how to fix this bug.  The issue is that in `TradingAlgorithm.initialize`, we do this:

[code]
The `ZiplineAPI` contextmanager is what makes all the API methods work when you pass in functions or a

[2015-07-30 13:48] warren-oneill commented on #664
@ssanderson thanks for the quick answer Scott. I'll make sure to start using the 2nd method from now on. I've been mainly using the subclass method to write tests (as is also done in zipline I believe) as trying to write tests using the other method is a bit of a pain.

Can you point me to a unittests which uses second method to define the algo?

[2015-07-30 13:54] ssanderson commented on #664
@warren-oneill the easiest way to find them is to do a search for `TradingAlgorithm(`.  For me this brings up a fair number of results in `test_algorithm` and `test_history`.

[code]

[2015-07-30 13:55] ssanderson commented on #664
Note that some of those hits pass a string to exec rather than functions.

[2015-07-30 14:17] warren-oneill commented on #664
Seems like ```self.add_history``` doesn't work but it works if I pass the 2 functions as in the examples.
Thanks for the help!

[2015-08-05 07:18] llllllllll commented on #659
It looks like transform doesn't work with expressions that don't share subexpressions with `t`. Not really sure what the best way to express this kind of transformation in blaze is; however, I would look to restructure the underlying database by merging the tables into a single table with a `symbol` column.

[2015-08-05 07:24] llllllllll commented on #662
I am not really sure what the best approach to this would be. I don't there is currently a single point where can pass a dict of proxies to get forwarded around to the requests sites. Maybe @ehebert or @jfkirk has a better idea of how to structure this?

[2015-08-06 06:59] cmorgan commented on #603
@jfkirk is there a rough cut of the futures algo. laying around in branch anywhere? even incomplete i'm sure it would be instructive of the API. thanks

[2015-08-06 17:04] jfkirk commented on #603
@cmorgan Not yet, sadly -- we are still hammering out details of how we want the API to look but, once we have that settled, we'll be writing some examples.

[2015-08-10 11:20] ashleydavis commented on #495
+1

It seems almost impossible to create a functioning zipline environment. Especially so when you want to get it running from source.

[2015-08-10 12:26] warren-oneill commented on #495
hey @ashleydavis try this https://github.com/quantopian/zipline/wiki/Development-Environment

[2015-08-12 17:40] jikamens opened #675 "Need to do new PyPI zipline release"
It's been over a year since a new release of zipline was posted to PyPI. Can we do a new release?

[2015-08-13 14:53] ssanderson commented on #675
@jfkirk @krubin we should talk about what pieces of our current feature work would make sense as stopping points for a 0.8.0 release.

[2015-08-13 14:54] ssanderson commented on #675
**@KarenRubin**  sorry @krubin, whoever you are...

[2015-08-14 14:46] KarenRubin commented on #675
Am I correct in thinking that the two big questions are futures and FFC and if they should be included?

[2015-08-14 14:49] ssanderson commented on #675
@KarenRubin more or less.  The real question is: at what point are those features complete/useful/stable enough in Zipline to make a public release?  We also probably need to clean up some of our broken examples before we ship.

[2015-08-14 14:54] jfkirk commented on #675
On the Markets trello board, I have a few milestones for a .8 release:

1. Zipline buy-Apple example may be broken
2. Symbol look-up should be use a static date
3. Remove update_asset_finder

There are certainly plenty more goals for a .8, mostly from FFC and Futures, but those are just a few others worth noting.

[2015-08-18 02:59] dgreenberg1 commented on #663
I'm having the same problem, getting the same error when trying to run dual_moving_average.py.

Has this issue been fixed?

[2015-08-18 08:31] twiecki commented on #663
Can you try with a more recent version?
`pip install -U git+https://github.com/quantopian/zipline`

[2015-08-18 12:11] fraka6 commented on #663
I did tried it at the time with the latest version and just retried after a pull and I get the same error.

[2015-08-20 15:29] warren-oneill opened #683 "Futures being read as Equities from env"
code snippet:
[code]
output
[code]
cc @jfkirk @StewartDouglas @yankees714 @dhexus

[2015-08-20 16:10] ssanderson commented on #683
@warren-oneill I think the issue is that you're inserting your metadata into an `AssetFinder`, but not actually setting that `AssetFinder` on your `TradingEnvironment`.  I think rather than passing `identifiers`, you want to pass `asset_finder`, ala

[code]

[2015-08-21 05:15] ricpruss commented on #447
One work around is to not trade days that the trading calendar thinks are non-trading days.

i.e.
def handle_data(algo, data):
    if not algo.trading_environment.is_trading_day(algo.get_datetime().date()):
        return

    Rest of your algo....

The other is seems to a custom trading calendar, if someone has an easy way to derive a trading calendar from a panel I would prefer that because clea

[2015-08-21 05:23] ricpruss commented on #547
This may be a dup of:
https://github.com/quantopian/zipline/issues/447
but I could not duplicate I got:
TypeError: run_pipeline() got multiple values for keyword argument 'print_algo'

with my latest version of Zipline (0.8.0rc1)

[2015-08-21 14:15] jfkirk commented on #663
Self-assigning to investigate.

[2015-08-25 07:36] warren-oneill commented on #683
I changed the updating of asset finder to
[code]
and now i get
[code]

[2015-08-25 07:53] warren-oneill commented on #683
Ok the only thing that seems to work is
[code]
I also tried
[code]
So it seems it is only possible to to a lookup by sid which I generally don't want to do since lookup by identifier is much more convenient.
I also tried using ```lookup_generic('f', datetime.now())``` with an Equity instead of a Future and it worked fine so it seems to be a Futures-specific problem.

[2015-08-25 12:53] warren-oneill commented on #683
I think I've found the problems:
1. the Sql queries in ```lookup_symbol_resolve_multiple``` do query the futures table
2. after the queries only ```_retrieve_equity```
I've started working on a PR and will hopefully have it up before the end of the day.

[2015-08-25 13:09] yankees714 commented on #683
@warren-oneill I believe it's intentional that futures are left out of the symbol lookups, @ehebert made these changes and should be able to explain.

[2015-08-25 13:31] warren-oneill commented on #683
@yankees714 @ehebert ok would love to hear more. Looking up futures by symbol is something I currently do quite often.

[2015-08-25 13:49] ehebert commented on #683
@warren-oneill, first, apologies that this broke your existing workflow.

When changing over the asset finder to be backed by SQLite (for start up time reasons), we did cut out the future lookup by symbol since it we weren't fully supporting it on our system yet; however, that doesn't mean that ability is not desired.

I think the biggest question to answer is this (and IIRC not having the answer

[2015-08-25 13:56] ehebert commented on #683
Update to above question, @yankees714 already added lookup_future_chain https://github.com/quantopian/zipline/blob/master/zipline/assets/assets.py#L436 so that piece is unlocked.

[2015-08-25 14:08] ehebert commented on #683
@warren-oneill, I just talked it over with @yankees714 and @jfkirk

And the current thinking is that we should have a `future_symbol` API method. That could either be powered by `lookup_symbol_resolve_multiple` with a parameter that determines whether an equity or a future is used, or a `lookup_future_symbol` because the "resolve multiple" aspect does not apply.

[2015-08-25 14:31] ssanderson commented on #683
@ehebert is the proposal that we have `future_symbol` **in addition to** `future_chain`?  When would you want to use one over the other?

[2015-08-25 14:33] warren-oneill commented on #683
```future_chain``` uses the ```root_symbol``` and returns all contracts under that ```root_symbol```. Whereas ```future_symbol``` would take a specific product, eg first week of May, and return the sid for this product.

[2015-08-25 14:35] warren-oneill commented on #683
Personally I don't see whats wrong with having one lookup function. It would come in handy if you are looping over both equities and futures.

[2015-08-25 14:37] ssanderson commented on #683
I think the concern here is performance.  If there's one function that does both kinds of lookups, then that function incurs the overhead of figuring out which type of thing you're asking for every time you call it.  There's also the possibility of collisions.

Another option would be to add an optional `type` kwarg to `symbol`, which would default to `'equity'`, with other valid values being `'fu

[2015-08-25 14:41] ehebert commented on #683
@ssanderson @warren-oneill articulated what I meant with https://github.com/quantopian/zipline/issues/683#issuecomment-134606177

And I agree with @ssanderson about the performance concerns, as well as the long term maintainability, inferring intent from a provided value (as opposed to being explicit with the 'equity/future' that @ssanderson mentioned) is often prone to bugs (or at least I've had

[2015-08-25 14:51] warren-oneill commented on #683
Ok sounds good. Who's gonna write it? :stuck_out_tongue_winking_eye: I've already implemented a combined futures/equities ```lookup_symbol_resolve_multiple``` + test so it shouldn't be much work to seperate the futures stuff into a ```lookup_futures``` function. On the other hand you guys seem to have a better idea of which direct you want things to go.

[2015-08-25 15:03] ssanderson commented on #683
This probably falls in @jfkirk or @yankees714 queue.  Do you guys have a sense of when you'd be able to work on this?  I'm doing user interviews on the [modelling API](https://github.com/quantopian/zipline/tree/master/zipline/modelling) this week, so I *may* have a free hour or two to work on this.

For clarity, I think it might be work writing up a clear proposal for the algorithm-facing API impl

[2015-08-25 15:17] cmorgan commented on #683
@warren-oneill do you have the lookup_symbol_resolve_multiple + test in a branch anywhere?

[2015-08-26 09:52] warren-oneill commented on #683
hey @cmorgan it lives here https://github.com/grundgruen/zipline/tree/future-lookup.
Unfortunately my additions broke one of the other tests and I haven't got around to fixing it yet.

[2015-08-26 10:35] warren-oneill commented on #683
ok now all the tests should be green.

[2015-08-26 10:54] warren-oneill commented on #683
@ssanderson currently my focus is on using a future lookup for more "under the hood" stuff, eg accessing sids when generating data in DataSource. I haven't given too much though to what I need in the algo but perhaps ```future_chain``` is enough.

[2015-08-26 19:43] ssanderson opened #688 "Support Batched Loading Of Assets"
When loading ~8000 stocks, loading with a query like "SELECT * FROM <table> WHERE table in (...)" is 3x faster than doing the same number of queries serially:

    from zipline.assets import AssetFinder

#Pure Iteration Time

    %%timeit -n1 -r1 "f = AssetFinder(create_table=False, db_path='chroot/findata/assets/2015-08-20/assets.db')"
    [i for i in range(8401)]

    1 loops, best of 1: 479 µs

[2015-08-26 19:58] ehebert commented on #688
:+1:

[2015-08-29 05:19] xingjianpan commented on #650
I have the same error following the tutorial at http://www.zipline.io/tutorial/

code:
[code]

error message:
[code]

[2015-08-31 12:57] twiecki commented on #663
I think this is the same issue as https://github.com/quantopian/zipline/issues/650.

I also just ran into this, it seems that `order()` is currently broken in zipline.

[2015-08-31 14:08] twiecki commented on #663
OK, this actually seems unrelated to `order()`. For some reason, the perf dataframe passed to analyze() does not contain a column for the `record()`ed variables.

[2015-09-01 13:59] jfkirk commented on #663
Assigning to @StewartDouglas
Stewart - I believe that Thomas is right and the issue may be related to my recent refactor of the perf packet generation in the trade simulation. We'll discuss in more detail off-line.

[2015-09-01 14:04] jfkirk commented on #663
I believe this may be the culprit commit: https://github.com/quantopian/zipline/commit/8d5bfd3c917a8bd0c80fd8237c58296eb1f84728

This one is also possibly the culprit, but I doubt it:
https://github.com/quantopian/zipline/commit/16ab46b69c888a844481c08fa865a10923489c54

[2015-09-01 16:19] #632 closed

[2015-09-02 20:40] StewartDouglas commented on #663
The reason that the perf dataframe passed to `analyze()` does not contain the `record()`ed variables is that the algorithm skips the first 300 days:
[code]
The algorithm works correctly when we run it over more 300 days or more, for example:

[code]
This suggests to me that ```analyze()``` should be modified so that it does not fail under these circumstances.

[2015-09-03 08:28] twiecki commented on #663
It's always the simple things... Thanks for figuring this out @StewartDouglas. Not sure how we can make this more obvious. The easiest for us would probably be to check in analyze whether AAPL is present and raise a helpful error message if not.

[2015-09-03 09:54] warren-oneill opened #696 "Irrelevant sid filtering test"
In an earlier version of Zipline it was possible to pass sids to the `DataFrameSource` and these would be used as filters. In the newest version this functionality seems to be removed but the test is still there. It still passing though since df is only composed of data with sid=0.

[code]

Should this be removed our is it planned to re-implement this functionality?

[2015-09-03 18:22] StewartDouglas commented on #663
@fraka6 I have opened a PR which should address the issue you were experiencing with dual_moving_average.py, thank you for bringing it to our attention.

Regarding the other algorithms you mentioned:
- buyapple_analyze.py is not itself an algorithm but is a utility file which helps us to output information. I have moved it to a new directory, `examples/utils`, to make clearer the fact that it is n

[2015-09-06 00:52] ishandutta2007 opened #699 ""ValueError: numpy.dtype has the wrong size, try recompiling""
The full stack trace:
[code]
I uninstalled and reinstalled numpy(through pip), but it didn't help.
Is there anything else I am missing ?
The tutorial also doesn't mention that before running "python run_algo.py -f dual_moving_average.py --symbols AAPL --start 2011-1-1 --end 2012-1-1 -o dma.pickle" I should move to a directory where run_algo.py and dual_moving_average.py are present

[2015-09-06 01:01] ssanderson commented on #699
Hi Ishan,

That error is telling you that you need to recompile pandas, not numpy.  Pandas uses numpy's headers to access their C API, so if you install numpy, then install pandas (using the currently-installed numpy headers), then upgrade numpy, pandas may no longer function properly.  Can you try running `pip install --upgrade pandas`?

[2015-09-06 01:46] ishandutta2007 commented on #699
Didn't make much difference . Tried the following
[code]

[2015-09-06 02:47] ssanderson commented on #699
If you just open a Python shell and do `import pandas`, what happens?  Also, it looks like you're running from the system Python on OSX?  You might want to consider running [from inside a virtualenv](http://docs.python-guide.org/en/latest/dev/virtualenvs/).

[2015-09-06 02:49] ishandutta2007 commented on #699
In [3]: import pandas
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-d6ac987968b6> in <module>()
----> 1 import pandas

/Library/Python/2.7/site-packages/pandas/__init__.py in <module>()
      5
      6 try:
----> 7     from pandas import hashtable, tslib, lib
      8 except Im

[2015-09-06 03:43] ishandutta2007 commented on #699
This worked (ref: http://stackoverflow.com/questions/17709641/valueerror-numpy-dtype-has-the-wrong-size-try-recompiling):

[code]

[2015-09-06 03:43] #699 closed

[2015-09-06 03:46] ssanderson commented on #699
ok.  For what it's worth, using `sudo` with pip and working in the system python is generally considered bad practice (largely for reasons like what you're experiencing).  I'd highly recommend using virtualenv or something like it (e.g. [conda](http://conda.pydata.org/docs/) envs).

[2015-09-10 15:56] StewartDouglas commented on #663
We have now removed the _analyze.py files entirely, and instead moved the analyze() methods into the algo files themselves. You can see our discussion on this and other issues here: https://github.com/quantopian/zipline/pull/697. I think the original issues raised have been addressed, so I'll close this issue. However, please do let us know of any other unexpected behavior.

[2015-09-14 03:04] fraka6 commented on #663
Hi guys. I do confirm dual_moving_average.py works now, thanks.  Concerning the others examples, I still get the same errors for those 3:
dual_ema_talib.py -> ImportError: No module named talib  (might have miss something in talib installation)
pairtrade.py-> ValueError: You must define a handle_data function.
olmar.py-> AttributeError: 'TradingAlgorithm' object has no attribute 'symbol'

[2015-09-14 03:26] ssanderson commented on #663
[`talib`](https://github.com/mrjbq7/ta-lib) is an optional dependency, so it's expected that that example will fail if talib is not installed.  The other two examples should always work afaik.  @StewartDouglas can you check and see if those are broken for you?

[2015-09-14 13:15] StewartDouglas commented on #663
ACK, looking into this.

[2015-09-14 13:29] StewartDouglas commented on #663
@fraka6 I can run both pairtrade.py and olmar.py directly from the command line as follows:
[code]
[code]
Can you confirm whether these work for you?

The reason that pairtrade.py is not working for you is that it cannot be run using scripts/run_algo.py. I'm not sure why olmar.py is failing for you, but I'm investigation.

[2015-09-14 13:41] StewartDouglas commented on #663
olmar.py works for me when I run the following:
[code]
@fraka6 If you could let us know whether this succeeds for you, or show us a stack trace if it fails, then it would be much appreciated.

[2015-09-14 14:30] StewartDouglas commented on #650
@beebeed Can you please pull the latest version of Zipline and let us know whether you still experience problems?

[2015-09-14 15:29] jfkirk opened #703 "Risk metrics not returning as series"
Reported by @KarenRubin.

Previously, the metrics in a Zipline algo were coming back in such a format that a user could call '.plot' and receive a timestamped plot of the algorithm returns. Now, the metrics appear to be coming back as an array and are not plottable.

Here is an example code snippet that is no longer working:

[code]

Issue appears related to https://github.com/quantopian/zipline/p

[2015-09-14 16:32] ssanderson commented on #703
IMO, the real fix for this is to port the `BacktestResult` object from Q research to Zipline, and have that be the return value of `TradingAlgorithm.run`.

[2015-09-14 16:34] ssanderson commented on #703
This expression is reaching **deep** into Zipline implementation internals:

This isn't a public interface, so I don't think it's a bug that we broke this.  Are the cumulative risk metrics not available in the final output of `TradingAlgorithm.run` right now?

[2015-09-14 18:08] ehebert commented on #703
We did change the datatype of the internal metrics to arrays for both speed and memory.

I did not consider/remember how that would affect the `run` method. (Do we have a test covering whether `run` succeeds? I think we have coverage of some examples, but perhaps not all?)

[2015-09-15 16:16] typeless opened #706 "Conda install does not work as advertised"
[code]
[code]

[2015-09-15 16:19] ssanderson commented on #706
This is happening because we're not distributing a conda package for 3.4 I think.

@twiecki given that Python 3.5 just came out, we should probably have a build up for 3.4.  Do you think you could take a look at getting that running since you're the most regular user of conda of the Zipline dev team?

[2015-09-15 16:29] twiecki commented on #706
I can upload the binaries for windows and linux, not osx (but it's pretty straight forward to build). What's the current plan for a 0.8 release? Maybe it's better to do it just once. The work-around is probably to just run with python 2.7 or use pip install.

[2015-09-15 18:31] AnthonyFJGarner opened #707 "https://github.com/quantopian/zipline/wiki/Development-Environment"
I'm using Windows 8.1.  I have anconda ,win-32, Python 2.7. I have zipline set up in C:\Application\github\zipline via Source Tree.

With great difficulty I set up zipline in development mode as follows:
pip install -e C:\Application\github\zipline

I therefore appear to have all the dependencies.

Unfortunately while running examples I get stopped out at the following line:

  File "C:\Anaconda\l

[2015-09-15 19:03] Zigguratti commented on #707
I found installation a breeze and am currently using my own price and fundamental source without any issues (yet).  At the risk of being naive (I am new to python, whereas you sound expert), could it be a problem with sqllite? sqllite is great but suffers certain limitations that other databases do not ...

[2015-09-15 19:06] AnthonyFJGarner commented on #706
typeless
my advice would be not to waste your time with zipline 0.7.0 It seems to be missing some of the elements present on Quantopian and hence it will be impossible to port between the two. You will get zipline 0.7.0 fine if you revert to python 2.7 but it is not worth it. Either wait for .08 to be released or load in the develop environment or at least direct from github if you don't need it t

[2015-09-15 19:46] ssanderson commented on #707
Zipline uses Python's built-in SQLite functionality for representing asset metadata (e.g. symbol <-> unique identifier mappings).  @AnthonyFJGarner it sounds like your stdlib is linking against an older-than-expected version of SQLite.  Can you post the version you're on? I get this when developing locally:
[code]
Also, can you include the rest of the stack trace that you get when encountering the

[2015-09-15 20:06] AnthonyFJGarner commented on #707
Thank you gentlemen. I'm no expert I fear at anything other than the financial markets.

<addr>In [2]: runfile('C:/Application/github/zipline/zipline/examples/dual_ema_talib.py', wdir='C:/Application/github/zipline/zipline/examples')
Reloaded modules: zipline.data.loader_utils, zipline.finance.performance.period, zipline.sources, zipline.data, zipline.assets.asset_writer, zipline.api, zipline.gens

[2015-09-15 20:07] AnthonyFJGarner commented on #707
Ooops - sorry. Told you I was no expert!

[2015-09-15 20:12] AnthonyFJGarner commented on #707
I am working my way through "requires.txt" and checking again that I have the correct version of everything. Requires.txt contains much duplication. Is this intentional?

I note however from issue #655 that its not that simple! To quote:

[2015-09-15 20:17] Zigguratti commented on #707
Indeed, I'm a fundamental investor with some quant skills, hence my interest in quantopian/zipline.  Our needs straddle fundamental and systematic investing, and indeed, I'm a strong believer in the convergence of the two spaces over time.  There are numerous merits to using zipline rather than re-inventing the wheel ...

[2015-09-16 02:24] typeless commented on #706
OK. I am looking forward to the next release.

[2015-09-16 16:03] AnthonyFJGarner commented on #707
Meticulously installed exactly the same versions of everything in "requires.txt", deleted zipline, reinstalled - perfect, no complaints, all elements necessary.

And then precisely the same error and stack as above.

Scott - any ideas?

[2015-09-16 17:15] ssanderson commented on #707
@AnthonyFJGarner I think I directed you to the wrong version check before.  `sqlite3.version` is the version of the Python library, but the error you're getting is coming from the C extension used by the python library under the hood.  What do you get from running this?
[code]

[2015-09-16 17:23] Zigguratti commented on #707
Looking forward to quizzing you about all this when you are up and running
if you don't mind Anthony!

Scott, has Quantopian looked into using Docker for zipline setup?  it might
make all this simpler, and easier to maintain going forwards ... I am going
to be looking into it shortly myself.

On 16 September 2015 at 18:15, Scott Sanderson <notifications@github.com>
wrote:

[2015-09-16 17:31] ssanderson commented on #707
@Zigguratti we're in fact using Docker in parts of our production stack.

I've found the experience of working with docker to be a mixed bag from a usability perspective.  The users who would most benefit from a plug-and-play experience for Zipline are those using OSX or Windows, where setting up and using docker is significantly more complicated because it requires a virtual machine.

Using docke

[2015-09-16 18:05] AnthonyFJGarner commented on #707
In [1]: import sqlite3

In [2]: sqlite3.sqlite_version
Out[2]: '3.6.21'

[2015-09-16 18:09] AnthonyFJGarner commented on #707
pip install sqlite3==3.8.2 ?

Or ain't it that simple

[2015-09-16 18:14] AnthonyFJGarner commented on #707
Ah....no, I see that it is not.....

[2015-09-16 18:16] AnthonyFJGarner commented on #707
I can of course switch to Linux and will indeed load all this on my Ubuntu desktop at some stage. But somehow, I feel it ought to work in Windows and I hate failure and partial answers. besides which it would be handy to have Zipline on my laptop and I don't want a dual boot on my laptop and I don't want to work on my laptop with a virtual environment.

Besides which my efforts may help others.

[2015-09-16 18:25] ssanderson commented on #707
@AnthonyFJGarner I expect the simplest solution will probably be to update your Python distribution, either to the newly-released [3.5](https://www.python.org/downloads/release/python-350/), or [2.7.10](https://www.python.org/downloads/release/python-2710/) if you have a specific reason (e.g. legacy code not compatible with Py3) to stay on Python 2.

If you have a strong reason to not want to upgr

[2015-09-16 18:30] ssanderson commented on #707
Actually, given that we're currently only building Travis for Python 3.3, I'd probably stick with 2.7.10 for now.  We do have developers using Zipline with 3.4 if you're feeling ambitious though.

[2015-09-16 19:05] AnthonyFJGarner commented on #707
Many thanks Scott. I'm on Python 2.7.10 and will stick to if I can. I'll try the helpful link (for which many thanks).

[2015-09-18 08:22] AnthonyFJGarner commented on #707
I'm going to close this issue - if that is the correct etiquette.  Scott's helpful advice to load JUST the updated SQLite dll has worked in so far as the following error has now been solved:

A whole host of further problems have been revealed and none of the alogirthms which previously worked under Zipline 7 now work for me under 8. But I suspect I will be able to work my way through these given

[2015-09-18 08:22] #707 closed

[2015-09-18 09:56] springcoil opened #713 "Any examples with csv data"
Let's say I have data in a csv format, are there any examples of loading historical data for backtesting from a csv or json file. Assuming I just have some proprietary data not available on Quantopian.

[2015-09-18 11:46] warren-oneill opened #714 "Keeping the metadata in the local SQL databank between runs"
How do I keep the sql databank of metadata between runs? The way I am currently running zipline it seems like I have to reinitialize the metadata every run.

[2015-09-18 12:24] AnthonyFJGarner commented on #650
I confirm that I get identical results to Beebeeb and xingjianpan using identical code. Windows 8.1, Python 2.7.0, zipline 0.8.0rc1

<addr> KeyError: Equity(0, symbol='AAPL', asset_name='None', exchange='None', start_date=Timestamp('1970-01-01 00:00:00+0000', tz='UTC'), end_date=Timestamp('2116-02-20 23:53:38.427387392+0000', tz='UTC'), first_traded=None) <addr>

[2015-09-18 12:26] AnthonyFJGarner commented on #650
None of the examples in the latest build of zipline work with my zipline installation.

[2015-09-18 12:52] StewartDouglas commented on #650
@AnthonyFJGarner can you post the command you are using the launch the backtest?

[2015-09-18 13:11] StewartDouglas commented on #650
Ok @AnthonyFJGarner I'm assuming you're running the exact same code as @beebeed. I'm still unclear as to why you are getting the KeyError.
One thing to note though is that your code needs some additional lines added if it is to plot the results correctly:

[code]

[2015-09-18 13:21] AnthonyFJGarner commented on #650
I'm using Spyder and the "run" command on byapple.py. Here is the full stack.
[code]

[2015-09-18 13:26] AnthonyFJGarner commented on #650
I get exactly the same Key Error in Spyder with beebeed's code. With xingjianpan's code used in iP notebook again I get exactly the same error.

[2015-09-18 13:50] AnthonyFJGarner commented on #650
Have a look at my closing comments on the closed thread #707. It turned out I had the wrong version of sqlite3 in the Python library.

The point is unless you guys specify every single component of every single element in Python / anaconda/ whatever necessary to run the latest version of Zipline, your job is impossible. Even clowns like me are capable of following a simple recipe book. And unfortu

[2015-09-18 14:00] StewartDouglas commented on #650
@AnthonyFJGarner thanks for all the very helpful feedback. Did the actions you took in https://github.com/quantopian/zipline/issues/707 also resolve this issue?

[2015-09-18 14:01] AnthonyFJGarner commented on #650
Stewart - sorry, I'm new here! Perhaps you are not on the Quantopian team but just trying to kindly help me out? Even so, I do think the Quantopian guys could make life easier if they were more prescise in their set up instructions.

[2015-09-18 14:03] AnthonyFJGarner commented on #650
Yes. That particular issue was solved.Now I am faced with a host of other (hopefully less serious) issues. I'm enjoying the process but clearly it is going to take me quite a while to get the comfort I need before using either Zipline or Quantopian for actual trading.

[2015-09-18 14:10] StewartDouglas commented on #650
@AnthonyFJGarner No problem. I'm on the Quantopian team and have been trying to get to the bottom of this. Glad this issue in particular has been resolved, and sorry it has taken you some time.

@beebeed @xingjianpan can I suggest you take the action explained here: http://lambdathefirst.blogspot.com/2011/01/how-to-upgrade-sqlite-that-comes-with.html to ensure you have a recent version of SQLite u

[2015-09-19 12:19] florentchandelier commented on #119
is urllib2 appropriate for zipline ? I believe the best way is not to provide an option but simply check for a connection status. Yet I would understand why urllib2 cannot be accessed from within zipline (specifically Quantopian), at which point an option is necessary ;

At least another contributor can pass a variable from the TradingAlgorithm class down to the same location in the code in lieu o

[2015-09-19 14:48] florentchandelier commented on #538
Hi, quick note to say I've tested your solution, and it seems slower than what I proposed.
- no option on a given backtest gives 22sec
- using my proposed PR: 4sec
- using your intermediate-results: 10sec

I have tried, quickly to merge yours and mine, and as soon as I do this the fastest the backtest can go is 10sec - thus defaulting to your suggestion.

Little time ahead, but will eventually loo

[2015-09-21 04:41] fraka6 commented on #663
hi @StewartDouglas. Its still not good. If I set the pythonpath to zipline, it crash before (ImportError: No module named _assets -> see bellow). It seems to be related to same issue reported here: https://groups.google.com/forum/#!topic/zipline/B_cKY4HrC2Q
I tried it with python anaconda, python2.7, pip install & manual git pull (latest version & pip uninstall).

Here are my notes:
which python
/

[2015-09-21 13:48] StewartDouglas commented on #663
Hi @fraka6, sorry to hear it's still giving you trouble. Can you try running the following in your zipline repo (to compile the Cython files to C) and trying again:

[code]

[2015-09-21 14:02] fraka6 commented on #663
Interesting. It is working, I had to install contextlib2 and bottleneck to make the example working fully.
thanks. Any idea why I have to do this (python setup.py ...)?
Francis

[2015-09-21 14:29] StewartDouglas commented on #663
@twiecki - any idea why the Cython files would not have been generated?

[2015-09-21 15:52] ssanderson commented on #663
**TL/DR:** It's expected behavior that you need to recompile Cython files if you update a development install from git.  The easiest way to do this is to run `python setup.py build_ext --inplace` every time you pull.

@fraka6 this is expected behavior assuming you installed from source (i.e. by doing `pip install .` or `pip install -e .` from inside a git checkout).

When you run a regular local p

[2015-09-21 19:32] AnthonyFJGarner commented on #650
Tried @ssanderson recommendations re generating C files (python setup.py build_ext --inplace) at issue #663 to no avail. Exactly the same problem.

[2015-09-21 20:13] StewartDouglas commented on #650
@AnthonyFJGarner My understanding (from https://github.com/quantopian/zipline/issues/650#issuecomment-141459502) was that this issue had be resolved for you? Are you still getting the KeyError previously discussed?

[2015-09-21 21:13] AnthonyFJGarner commented on #650
The issue in this thread is not resolved for me and I simply thought I would try generating the C files as per

I thought it may have something to do with the current problems in this thread. But It does not. And yes, I'm still getting the Key Error set out above.

I don't think order() is working either. Probably I'm doing something stupid. The code set out below generates no orders:
[code]

[2015-09-21 21:15] AnthonyFJGarner commented on #650
buyapple.py still generates:
[code]

[2015-09-22 07:28] Zigguratti commented on #650
for what its worth, I just ran the code above, and it executed fine.
Although it seems to lose money, so something must be pretty wrong with the
logic!

Sorry you are still having problems Anthony.  I'm running fine on 0.80rc1,
although I did have a couple of problems installing that.  I'm on python
3.4.3, and the pip and conda installers would only install 0.7 so I had to
build from github and ha

[2015-09-22 07:40] AnthonyFJGarner commented on #650
Many thanks - given the time I have wasted so far I have nothing to lose by installing the same version of Python as you have and see what happens. The problem is very clearly with the environment which is ridiculously difficult to set up - as you say, the Quantopians could make like much easier for everyone  by simplifying this. I have not even begun to code any systems yet since I can't pass go!

[2015-09-22 07:59] Zigguratti commented on #650
Yes, if you create a separate anaconda install and try from scratch, it
shouldn't take too long.  I'm not entirely sure *how* I managed to get my
C++ compiler installed correctly, but I think if you install some of the
same files I did, it should work as it did for me.  I have been thinking of
posting up what I had to do as a mini 'hacktorial' for anyone who wants to
use zipline with external data

[2015-09-22 10:34] AnthonyFJGarner commented on #650
Thank you Zigguratti, your procedurse has worked for me.
1. I removed my existing anaconda version using the standard Windows un-install method and reinstalled anaconda for Python 3.4 using the Windows 32 bit graphical installer
2. I downloaded Microsoft Visual C++ 2010 Express 10 from http://microsoft-visual-cpp-express.soft32.com/
3. I installed zipline as follows in the development mode
<pip in

[2015-09-22 10:50] Zigguratti commented on #650
Great!

In quantopian's defense, they are probably targeting zipline at linux
users; hardly anyone does serious development on Windows systems nowadays
(I am told).  I would recommend moving to e.g. Ubuntu as I have read that
the latest versions of many libraries' binaries come to windows late and
they don't always compile ... but there will be more people like us who
wind up in this situation, an

[2015-09-22 13:34] StewartDouglas commented on #650
@AnthonyFJGarner @Zigguratti Thanks for the extensive feedback guys, it will be genuinely useful to us going forward.

[2015-09-22 13:41] Zigguratti commented on #650
No problem, nice to meet you Stewart.

Here are the notes I made to myself the other week, should anyone else
venture here with similar problems:
Installation Version 0.8.0 is best

pip install zipline installs 0.7, which is an old release lacking various
pieces of functionality, not least scheduler, required to use pyfolio.  So
it is worth installing 0.8.  Unfortunately, this is non-trivial, espe

[2015-09-29 09:17] warren-oneill commented on #683
@ssanderson @jfkirk @yankees714 any updates?

[2015-09-29 15:03] ssanderson commented on #683
@warren-oneill there's been quite a lot of churn on master in the AssetFinder since I last looked at this issue.  Looking at the current state of things, it seems like `asset_finder.lookup_future_chain(symbol, pd.NaT, pd.NaT)` should do what you want?

The one catch there may be that `lookup_future_chain` does lookups by root symbol, returning a list of all contracts associated with a that symbol,

[2015-10-01 11:27] warren-oneill opened #739 "BUG: root symbol empty when being read using retrieve_asset"
using the following test:
[code]
I get the error
[code]
but all the other tests pass.
cc @jfkirk @StewartDouglas

[2015-10-01 11:43] warren-oneill commented on #714
was informed by @jfkirk that this can be achieved by passing ```asset_db_path``` to ```TradingEnvironment```.

[2015-10-01 11:43] #714 closed

[2015-10-01 11:49] warren-oneill commented on #683
@ssanderson I need something like ```lookup_future_contract```. I need it to match the sids between my metadata and my ```DataSource```. At the moment I wrote my own function which is basically ```lookup_symbol``` for futures.

[2015-10-01 13:22] jfkirk opened #740 "Converting asset fields may be broken"
From @ssanderson :

Oof.  Thanks for the catch.  We're currently doing:

[code]
when we pull an entry out of the database.  Both for efficiency and correctness, this loop should probably be:

[code]

 `_convert_asset_str_fields` is also almost certainly broken.

[code]

This will return `bytes` in Python 2 and `unicode` in Python 3.  The statement "converts from unicode to string" is not meaningfu

[2015-10-01 13:23] jfkirk commented on #740
@StewartDouglas Could you tackle these fixes at your earliest opportunity?

[2015-10-01 13:27] StewartDouglas commented on #740
ACK looking now

[2015-10-01 13:33] ssanderson commented on #740
Adding to AssetFinder bugs noticed while looking at this: **we're no longer correctly testing for duplicate symbol resolution in `test_lookup_generic`**.  The code that builds the test cases for that method currently uses these two assets:

[code]
We then query for `'duplicated_0'` and `'duplicated_1'`, but
the intent of this test is to ensure that if we have **two different assets that share a sy

[2015-10-01 13:43] jfkirk commented on #683
A parallel lookup_future_symbol method makes sense to me, too. This would also be fitting when we add indicator assets as their symbols may overlap.

@StewartDouglas @yankees714 Does implementing a lookup_future_symbol method, and creating a future_symbol API method, make sense to you two?

[2015-10-01 13:46] StewartDouglas commented on #740
@ssanderson I think your following proposal will raise a KeyError when run with equities:

[code]

Since keys such as `expiration_date` are not defined for equities, hence the existing `if (key in _asset_timestamp_fields)` check. As an alternative we could use `try...catch` or define two different methods to handle equites and futures.

[2015-10-01 13:51] ssanderson commented on #740
`dict.get(key)` is probably what you want then.

[2015-10-01 14:00] StewartDouglas commented on #683
@jfkirk they both some sensible to me.

[2015-10-01 15:11] warren-oneill commented on #683
@jfkirk @StewartDouglas nice, I can't really live without this. Should I make a PR or leave it up to you guys?

[2015-10-01 16:41] StewartDouglas commented on #740
`_convert_asset_str_fields` may not be necessary at all, as all tests currently pass for me for both python 2.7 and 3.3, including the tests which we'd expect to complain: test_repr and test_root_symbols in tests_assets.py.

[2015-10-01 17:29] richafrank commented on #740
@StewartDouglas If you leave the timestamp code intact, I'll update it with my performance changes.

[2015-10-01 17:31] StewartDouglas commented on #740
@richafrank sure, made a commit for it but will just delete it.

[2015-10-01 17:35] richafrank commented on #740
Ok, thanks.

[2015-10-01 17:55] StewartDouglas commented on #683
@warren-oneill I'll have a crack at this and you can leave comments in the PR I open for it.

[2015-10-02 07:19] warren-oneill commented on #683
@StewartDouglas :+1:

[2015-10-02 15:54] StewartDouglas commented on #739
Hi @warren-oneill, I've been able to recreate this behavior. I think I know the issue. Gonna do a bit more probing then get back to you.

[2015-10-02 16:27] StewartDouglas commented on #739
So you've unearthed the following problem: `root_symbol` was not included in our `FUTURE_TABLE_FIELDS` set in asset_writer.py. When I added it, your test passed. Thankfully this issue will be resolved by the following commit which is now on master: https://github.com/quantopian/zipline/commit/beac4d6f16d6d496137e553468224275d3a8378f

Thanks for flagging this - mind closing the issue if you agree i

[2015-10-02 17:01] humdings opened #747 "Incorrect Sortino ratio and downside deviation"
We are calculating the sortino ratio and downside deviation incorrectly.

The sortino ratio uses the downside deviation, which is where the problems are.

Problem 1: Using the average algo return as the downside cutoff threshold.
The downside threshold has to be the same for all algos or the results can't be compared in a meaningful way.

Consider these two return streams
A. [-0.5, -0.5, -1, -1, -

[2015-10-05 14:02] warren-oneill commented on #739
looks good :+1: :+1:

[2015-10-05 14:02] #739 closed

[2015-10-05 15:52] jmccorriston commented on #467
@KarenRubin I don't think this was ever fixed and I i think it should be higher up on our radar. The behavior of adding elements to the dictionary with an amount of 0 actually throws off a lot of users including several more advanced programmers.

[2015-10-05 15:54] jbredeche commented on #467
We are fixing this on the perf branch

[2015-10-05 15:54] jmccorriston commented on #467
Awesome!

[2015-10-06 13:43] StewartDouglas commented on #740
@jfkirk I think this issue can be closed now since:
- `_convert_asset_timestamp_fields` has been refactored.
- `_convert_asset_str_fields` has been removed.
- `test_lookup_generic` now correctly tests for duplicates.

[2015-10-06 14:22] richafrank commented on #740
([Link] (https://github.com/quantopian/zipline/commit/c8c83a9f2bf52806178b9cd4d0a0aa7d6845e399#diff-e38a95b451336da451f69f2b60840da6L67) to the `_convert_asset_timestamp_fields` refactoring.)

[2015-10-07 01:55] dvmk commented on #603
I'm really looking forward to using zipline/quantopian with futures. Thanks for your work on this.

[2015-10-07 01:59] leftychen opened #755 "Tutorial example fails when run with TradingAlgorithm"
I followed the tutorial example run with TradingAlgorithm but got an error:

Traceback (most recent call last):
  File "/Users/Jasonchen/Desktop/Python/ziplinetest/main.py", line 43, in <module>
    handle_data=handle_data)
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/zipline/algorithm.py", line 158, in __init__
    capital_base=self.capital_base
  File "/L

[2015-10-09 21:11] peteut commented on #655
Recent `pip` version do cache wheels automatically, and it works great w/ Travis.

[.travis.yml](https://github.com/peteut/zipline/blob/master/.travis.yml):
[code]

[2015-10-10 16:25] bpajusco opened #766 "Problem building bleeding edge version"
After building the development version (in order to comply with pyfolio requirements) I run into a name error when loading the library in the name space. The build seems to work fine (I've used pip install with git) but when I try to use the library I get the following error: ImportError: cannot import name Event. Here is the full traceback:

/home/bruno/anaconda/lib/python2.7/site-packages/setupt

[2015-10-10 16:37] ssanderson commented on #766
@bpajusco I can't reproduce this with a fresh install:

[code]

[2015-10-10 17:01] bpajusco commented on #766
There is something wrong in my setup then but I can't figure out what it could be since my environment is a standard anaconda

[2015-10-13 13:50] #740 closed

[2015-10-14 00:35] ahxxm commented on #662
it depends on how you are going to use the lib, `requests.session` keeps proxy info(thus you don't have to pass proxy every time), maybe a shared global requests session(that initialized after first request and load your custom proxy settings) instead of rely on pandas can solve your problem: inject that session as an extra layer between your data call and zipline's data pandas.io.data.DataReader.

[2015-10-14 01:32] ever4cyth opened #771 "datetools.py has no attribute 'relativedelta'"
Both
python run_algo.py -f olmar.py --start 2004-1-1 --end 2008-1-1 --symbols 'AMD,CERN,COST,DELL,GPS,INTC,MMM'
and
python run_algo.py -f dual_moving_average.py --symbols AAPL --start 2011-1-1 --end 2012-1-1 -o dma.pickle
gave the same error
.......
/usr/local/lib/python2.7/site-packages/zipline-0.8.0rc1-py2.7-linux-x86_64.egg/zipline/utils/tradingcalendar.py", line 26, in <module>
    end = end_b

[2015-10-15 02:30] DerekHunter commented on #394
Just ran into this problem again this evening. Has any progress been made on it?

[2015-10-15 19:07] leoleolam opened #777 "no backtesting data show before 1990"
get the following if i input data which is all prior than 1990
AssertionError: Period end falls before the first known trading day.

i did some narrow down and see it is hardcode
start = pd.Timestamp('1990-01-01', tz='UTC') in tradingcalendar

is there anyway I can see backtesting result prior to 1990? is there any workaround for the release 0.7

[2015-10-16 09:57] dhexus opened #778 "update_last_sale fails when instant_fill=False for asset type Future"
Hi. When running zipline TestAlgorithm for EEX Futures using instant_fill=False, update_last_sale in position_tracker fails because _position_payout_multipliers is not defined for given sid. As a workaround, I call

[code]

in handle_data method of class TestAlgorithm. This should not be necessary.

cc @warren-oneill

[2015-10-16 13:37] twiecki commented on #771
This is related to pandas `0.17`.

[2015-10-16 14:36] #771 closed

[2015-10-18 14:15] dhexus opened #783 "Unexpected PnL when flipping futures position"
Hi. I've a futures algorithm where pnl does not match expected pnl. So I wrote a little test. I use instant_fill=True, no slippage, and no commission. Moreover I provide only three data events of type TRADE, to make it very easy. I use a DataPanelSource that holds the following data for the relevant asset:
[code]
My handle_data method looks like this:
[code]
So I go long if there is no position, I

[2015-10-19 19:06] devanp92 commented on #487
When is your start date?

[2015-10-27 09:02] warren-oneill commented on #487
@devanp92 can't remember and don't have the code anymore. Why do you ask?

[2015-10-27 11:09] michaeljohnbennett opened #797 "Add Currencies to Zipline"
Hi Everyone,

I'm looking at adding a new feature to zipline to handle currency risk (GBP base currencies and perhaps buying in another denomination USD most probably) and have been looking through the source and wondered if the team would have any good places to start working on it?

There doesn't seem to be much in the base code around base_capital you put in place (that I can see) so I think I

[2015-10-27 13:37] warren-oneill commented on #783
@jfkirk @StewartDouglas have you guys had a chance to look at this? Can you you reproduce our error? Is this behavior already tested for futures in zipline?

[2015-10-27 13:38] warren-oneill commented on #778
@dhexus looks like you resolved this will I was away. Can we close the issue?

[2015-10-27 14:46] jfkirk commented on #783
@dhexus @warren-oneill I am attempting to reproduce now and will update when I have reproduced or if I need more information.

Self-assigning.

[2015-10-27 14:47] jfkirk commented on #778
Is this issue still relevant? Possibly related to https://github.com/quantopian/zipline/issues/783?

If not, go ahead and close it.

[2015-10-27 14:48] warren-oneill commented on #783
@jfkirk thanks :smile:

[2015-10-27 14:50] jfkirk commented on #755
@leftychen Could you update your Zipline, install the requirements (some may have changed) and let us know if this is still an issue? If so, we will investigate.

There have been some recent changes to the Benchmarks system that may have resolved your issue.

[2015-10-27 14:55] jfkirk commented on #683
@warren-oneill Are there outstanding problems with this issue? If so, we can investigate. Otherwise, let's close it.

[2015-10-27 14:57] warren-oneill commented on #683
closed with #743

[2015-10-27 14:57] #683 closed

[2015-10-27 15:19] ssanderson commented on #797
@michaeljohnbennett thanks for the interest in Zipline (and sorry for the radio silence on the Google Group.  I started typing up a reply when you first posted but I never finished it.)

Can you elaborate a bit more on what you'd want to be able to do with additional currency information?  A couple things jump to mind off the top of my head, which would require changes of varying complexity:

* Al

[2015-10-27 15:31] ssanderson commented on #797
ping @jfkirk as well, who's in charge of the team that would eventually be working on something like this.

[2015-10-28 10:40] michaeljohnbennett commented on #797
Thanks @ssanderson, @jfkirk,

I'm writing up a CurrencyPair(Asset) class in the cython end of the world of zipline and putting in some simple tests.

Will extend the AssetFinder as well to have the ability to find a currencypair object by

`find_by_symbol('USDGBP')` - this is analogous to SID but that is an INT and I'm using CSI for the data so I link it to their internal ID I get the file back in

[2015-10-28 15:53] llllllllll commented on #777
hmm, it looks like this date was just chosen based on the data we commonly work with. Currently there is some work that modifies the trading calendar; however, it is not yet completed. This work is a more long term solution as it would allow the user to specify their start date. You can track this progress here: #556. As a temporary workaround, I think you might be able to patch out the start date

[2015-10-28 16:01] llllllllll commented on #766
Were you able to get your build working? If not, can you show the commands you ran to install the package?

[2015-10-28 17:33] llllllllll commented on #747
@humdings Can we apply the same fix as pyfolio here?

[2015-10-28 17:36] llllllllll commented on #706
We are working on releasing a new version soon. We will try to have up to date conda packages when this happens. Sorry about this. In the interim, I would suggest using pip to install from github.

[2015-10-28 17:36] #706 closed

[2015-10-28 17:38] llllllllll commented on #703
What is the status of this issue? @ehebert @jfkirk @ssanderson

[2015-10-28 17:48] llllllllll commented on #618
Confirming that you can pass this to the constructor of your trading algo as @twiecki showed. This might not be in 0.7.0 though. If you still need this feature, you might want to consider installing from github. We are working on releasing 0.8.0 soon which will support this.

[2015-10-28 17:48] #618 closed

[2015-10-28 17:49] llllllllll commented on #581
@ssanderson does #793 fix this issue?

[2015-10-28 17:51] llllllllll commented on #562
Has any progressed been made on this? @CaptainKanuk, I think we had discussed doing this once

[2015-10-28 17:54] llllllllll commented on #481
We are still working on getting the project ready for our 0.8.0 release. Currently I would suggest installing from github with pip to use the most up to date features. We should be releasing soon. Moving forward, we will try to keep our pypi and conda packages more up to date.

[2015-10-28 17:54] #481 closed

[2015-10-28 17:57] llllllllll commented on #547
I am unable to reproduce this on master. I believe that this was fixed and that it was related to #447

[2015-10-28 17:58] #547 closed

[2015-10-28 18:07] jfkirk commented on #703
Probably a non-issue
I'd recommend closing

[2015-10-28 19:34] CaptainKanuk commented on #562
I never got around to investigating this further.

[2015-10-29 10:07] twiecki commented on #747
A better way would probably be to start using pyfolio for these calculations.