[2015-10-29 18:53] llllllllll commented on #536
We now use the LazyCythonizingList to get around this issue.

[2015-10-29 18:53] #536 closed

[2015-10-29 19:00] llllllllll commented on #394
I am unable to reproduce this on master with the provided code and cli args. If you have another reproduction case, please re-open this issue. Sorry that there has been no word on this for so long.

[2015-10-29 19:00] #394 closed

[2015-10-29 19:03] #387 closed

[2015-10-29 19:11] llllllllll commented on #71
@twiecki has this been addressed?

[2015-10-29 19:13] llllllllll commented on #110
@ehebert has this been addressed?

[2015-10-29 19:15] llllllllll commented on #122
@ehebert does this code still need to be tested, I imagine it is fine now

[2015-10-29 19:16] llllllllll commented on #129
@ehebert does this still need to be tested?

[2015-10-29 19:18] llllllllll commented on #257
@ehebert I think we now have support for passing in calendars, correct?

[2015-10-30 04:15] easytrader commented on #663
Hello,
I try olmar.py-> AttributeError: 'TradingAlgorithm' object has no attribute 'symbol'
I try to update the newest zipline.
I use command "pip install -U git+https://github.com/quantopian/zipline"
But It shows error below:
=============================error============================================
Error [Error 2] 系統找不到指定的檔案。 while executing command git clone -q https://github.com/quantopian

[2015-10-30 04:22] fraka6 commented on #663
Read the error message ->Cannot find command "git"
Install git.

Francis

2015-10-30 0:15 GMT-04:00 easytrader <notifications@github.com>:

[2015-10-30 04:28] elmq0022 opened #801 "Initializing TradingAlgorithm Object Does Not Set _analyze Method in algorithm.py"
The following code does not call the passed analyze function when trying to work directly/manually with zipline (i.e. not from ipython or command line)

[code]

I think it can be fixed by updating the algorithm.py file with the last line of the following code.

[code]

I'd update the code and submit a pull request, but I'm not 100% if it's an issue.

[2015-10-30 04:52] easytrader commented on #663
Sorry ,
I installed git.
I use command "pip install -U git+https://github.com/quantopian/zipline"
But There is another question bekow:
I don't know how to fix this.
I use windwos 7 x64.
Thank you very much.
=========================error=============================================
Collecting git+https://github.com/quantopian/zipline
  Cloning https://github.com/quantopian/zipline to c:\users\leo\

[2015-10-30 04:54] easytrader commented on #663
Hello,

Could zipline upload the offial build (zipline>0.70) that can fix this problem.
That I can use pip install to fix this problem.

Thank you very much.

[2015-10-30 11:20] twiecki commented on #71
Not to my knowledge.

[2015-10-30 14:49] richafrank commented on #801
@elmq0022 That fix makes sense to me - want to open a PR?

I suggest adding that new `analyze` line after we set `self._before_trading_start`, just for consistency with the previous `if` block.

[2015-10-30 14:59] jfkirk commented on #783
Thanks to Warren's test, I've been able to reproduce the issue. It appears that the issue is caused by the Position's last_sale_price already being updated before PositionTracker.update_last_sale is called for each trade event. This causes the cash flow calculation to return 0s because price == old_price:

[code]

I am digging further in to the why.

[2015-10-30 15:02] elmq0022 commented on #801
@richafrank Thanks for the feedback and the suggested placement for consistency.  I'll submit a pull request sometime this weekend.

[2015-10-30 15:25] jfkirk commented on #783
I've just confirmed that this anomalous early-update-of-last-sale-price is not happening in other Futures trading algos (for example test_algorithm.py:TestClosePosAlgo.test_close_position_future works a-ok).

Still investigating.

[2015-10-30 15:25] richafrank commented on #801
Sounds great!

[2015-10-30 15:30] warren-oneill commented on #783
@jfkirk but in that test you trade only once. Correct? I think the problem arises when one product is traded multiple times.

[2015-10-30 15:46] jfkirk commented on #783
@warren-oneill That's right - it seems the problem is caused by the sequence of events between execute_transaction and update_last_sale. In your algo, the transactions are coming through before the trade events with the new price, so the position is getting updated (both quantity and last sale price) before the new trade event comes through. This means that, when the trade event comes in, the Posi

[2015-10-30 18:50] ehebert commented on #257
@llllllllll correct https://github.com/quantopian/zipline/blob/master/zipline/finance/trading.py#L72

[2015-10-30 18:51] llllllllll commented on #257
kk, can we close this?

[2015-10-30 18:57] ehebert commented on #110
It has not, but we could make a wrapper for `BcolzDailyBarWriter` which reformats an hdf5 file to bcolz. (which is a quick `ctable.fromhdf5(table_path).copy(rootdir=output_path)`.

With incoming changes on lazy-mainline branch the backtest data (not just pipeline) will be sourced from files created by `BcolzDailyBarWriter` and `BcolzMinuteBarWriter` classes.

[2015-10-30 18:58] ehebert commented on #257
I believe so.

[2015-10-30 18:59] #257 closed

[2015-10-31 06:31] mickeydonkey opened #804 "try to run the examples with anaconda 32bit on win8 64bit, but all examples point to this error"
take the buyapple.py as an example:
[code]

[2015-10-31 06:44] mickeydonkey commented on #804
I download current master branch and use setup.py to install zipline 0.8.0rc1

[2015-10-31 07:13] easytrader opened #805 "I use zipline=0.70 . I write 3 MA line strategy. It works on symbol(^DJI),but it doesn't works on symbol(^TWII)"
I use zipline=0.70 . I write 3 MA line strategy. It works on symbol(^DJI),but it doesn't works on symbol(^TWII)

I found this problem might occurs before( Some algos produce an IndexError with history #447 )
https://github.com/quantopian/zipline/issues/447

But I can't understand why this patch works.

Thank you very much.

This is my strategy:
=======================Straategy Start==============

[2015-10-31 09:18] AnthonyFJGarner commented on #804
I have had similar problems.One day I was happily using zipline with anaconda 32bit on Windows 10. After a pull and the necessity to upgrade Toolz, I have been having exactly the same problem as you ever since. I have meticulously loaded the correct versions of each dependency so that installing zipline in development mode goes without error or the need to downgrade any of the dependencies by zipl

[2015-10-31 10:22] mickeydonkey commented on #804
@AnthonyFJGarner ,we have quite similar misfortune. During this week, I have installed virtual studio 2015, 2010 and 2008, as well as different versions of anaconda. I succeeded installing zipline for 64bit anaconda, but ended up with the same error message as the one I post in this issue. I doubt the master branch is not for newbie programmers. I suggest you using the stable zipline 0.7.0 as work

[2015-10-31 11:48] AnthonyFJGarner commented on #804
No. It is useless. You will find many features are missing. Hopeless.
On 31 Oct 2015 10:23 a.m., "Tao Luo" <notifications@github.com> wrote:

[2015-10-31 12:09] Zigguratti commented on #804
I had this joy too.  In the end, I installed ubuntu as I need 64 bit due to
memory constraints; the final straw was anaconda 32bit zipline breaking.  I
really think they don't bother to support windows.  Running ubuntu under a
virtual machine is fine for now at any rate.  Also, pyfolio doesn't seem to
install under python 3.3 .  Why support 2.7 and not 3+? Although 2.7 may
have libraries that are

[2015-10-31 12:13] Zigguratti commented on #804
(not wishing to sound too negative.  Zipline is very exciting.  It is also
a bit slow, I gather there is an optimization hack, the sooner that gets
implemented, the better! I am new to python/ubuntu/github, so its a bit of
a learning curve for a n00b, and might be made simpler.  There are plenty
of people who code and do quant maths who aren't and never will be software
devs who don't really need

[2015-10-31 12:29] AnthonyFJGarner commented on #804
Hi Carl. Good to hear from you again. I was also thinking of moving to
Linux. One problem is that our data source relies on a Windows only
program. The problem with this whole Zipline game is the ever changing list
of dependencies and versions. Take anaconda 32 bit. It has an old version
of Pip. Which you have to update in order to install Zipline is development
mode. The you discover the new Pip

[2015-10-31 13:33] Zigguratti commented on #804
Hi Anthony,

yes, this is a big problem in general I believe, hence Docker already being
a 'unicorn' SV company!

What is your software/data source?  the easiest way would be to dump the
data to csv and then read it in linux under a VM but I'm sure you have
thought of all that.

31 October 2015 at 12:29, AnthonyFJGarner <notifications@github.com> wrote:

[2015-10-31 15:07] AnthonyFJGarner commented on #804
God knows. I spent many hours using Pycharm and its debugger going line by line through the buyapple.py example and through every call to zipline components and pandas/numpy/python.....but ended up not being able to pin this error down.

Perhaps I'll try Linux...there again...have I got the time and energy. There is SO much that still needs developing in Zipline before it will be of any use to us.

[2015-10-31 15:13] AnthonyFJGarner commented on #804
Anyone tried Enthought Canopy? Does this improve the process for Windows?

[2015-10-31 20:57] AnthonyFJGarner commented on #804
Amusingly, looking through past issues here and also on the web in general, so many people have had frustrations trying to set up Zipline and many seem to give up the unequal struggle. It would be very helpful if the Quantopian team could give some very specific guidance.

Should we bother with Windows at all or will these problems simply come back and back to plague us as further changes are made

[2015-10-31 22:48] elmq0022 commented on #804
Pip install has so far worked for me on windows. (Did not want 32 bit conda
and there is no 64 bit zipline build on binstar).

I would not pull from git directly if you need a stable build.

I would only use git if you are looking to develop / customize zipline
itself.

Also I would use a separate python environment via conda virtualenv for
zipline so you can freeze a stable  production environmen

[2015-11-01 01:38] Zigguratti commented on #804
Yep, I know what you mean.  To be fair, zipline are focused on the intraday
trading aspect where that level of detail (public holidays etc.) are quite
important.  But most people just start with a monthly back-tester and
indeed, I set that up my end without too much difficulty in python, but the
functionality should have been there ot begin with.  The public holiday
issue is a potential problem fo

[2015-11-01 05:30] mickeydonkey commented on #804
Did anybody try the PyAlgoTrade before? It seems to be a well-documented backtest engine.

[2015-11-03 11:37] michaeljohnbennett commented on #804
The issue you are facing is what I think, but haven't confirmed is a bug/featurette with numpy and pandas in Windows.

There is a static piece of code introduced recently that translates an index of dates to longs (so SQLAlchemy can insert them as UTC timestamps). Unfortunately it borks (thats a real technical term) up in windoze and somehow returns back double the amount of values.

So if you hav

[2015-11-03 15:43] #703 closed

[2015-11-03 15:44] jfkirk commented on #783
This particular issue is fixed with the merge of #803 -- closing issue

[2015-11-03 15:44] #783 closed

[2015-11-03 16:09] AnthonyFJGarner commented on #804
@richafrank I would be very interested to know whether this WAS tested on Windows/Conda. I had Zipline working without hitch up until this point.

**The real point is, if you guys tend to sideline testing on Windows/Conda then it would seem sensible for anyone with an interest in developing Zipline to move to linux. Presumably you use Linux?**

I would really appreciate some guidance here. Can you

[2015-11-03 16:21] richafrank commented on #804
Hi all,

Really sorry to hear how frustrating it is to run the latest zipline on windows. Even on a *nix environment, I've definitely found python and library installation can be a beast. The last time I tried getting all the zipline dependencies installed on windows, I found myself looking at the "Unofficial Windows Binaries for Python Extension Packages" (this was before wheels and before conda

[2015-11-03 19:36] richafrank commented on #804
Could someone try out https://github.com/quantopian/zipline/commit/d4fc1ac3022b7b5ed84c1b622707f91f132cf1a9 to see if it fixes this?  (The suggestion came from @llllllllll .)

[2015-11-04 01:09] easytrader commented on #804
I have tried the specific commit "Perf tracker refactor on lazy #745 opened on 2 Oct by ehebert"
But When I  python setup.py install the zipline, it will show the error "AttributeError: 'dict' object has no attribute '__NUMPY_SETUP__'" . Does anyone know which specific commit can install normally.
Thank you very much.

[2015-11-04 02:51] michaeljohnbennett commented on #804
You have a compiler error further up the page, most likely scipy or
something hasn't compiled properly.

Try installing the conda packages for the zipline dependencies where you
can, this stops the compiler issues, otherwise you will need visual studio
2010 installed with c++ compilers. If you are on python 3.4

On Wed, 4 Nov 2015, 12:09 easytrader <notifications@github.com> wrote:

[2015-11-04 11:04] michaeljohnbennett commented on #804
I did a simple test and that solves it for me here on a windows 10 install.

[code]
looks good:
[code]
compared to:
[code]

Can someone push that commit to master please?

[2015-11-04 13:51] richafrank opened #814 "Can't `python setup.py install` zipline"
Fails with "AttributeError: 'dict' object has no attribute 'NUMPY_SETUP'"

As reported by @easytrader in https://github.com/quantopian/zipline/issues/804#issuecomment-153539093

I was able to reproduce this on OSX.

[2015-11-04 13:51] richafrank commented on #804
Awesome, seems like an issue not specific to windows but to 32-bit, and many folks are running 32-bit conda on windows.

Merged to master with https://github.com/quantopian/zipline/commit/1377d25c9534d3ba72f1a622c5f99607526f3520.

I also opened a separate issue for @easytrader 's error: https://github.com/quantopian/zipline/issues/814.

[2015-11-04 13:51] #804 closed

[2015-11-04 13:53] richafrank commented on #814
@easytrader, are you able to install your checkout of master with `pip install .`?

[2015-11-04 14:48] easytrader commented on #814
@richafrank , I can build the branch. I give it up. I want to wait formal release zipline=0.80,haha.

[2015-11-04 18:15] llllllllll commented on #814
I think this is because we are using some setuptools features. ping @ssanderson

[2015-11-04 18:20] llllllllll commented on #805
Thanks for reporting this. I think this might just be the same issue as the one you linked (#447).
Can you reproduce this issue on master?

[2015-11-05 16:30] richafrank commented on #801
Fixed with #819.

[2015-11-05 16:30] #801 closed

[2015-11-05 23:00] richafrank commented on #634
Is this all set with #687 ?

[2015-11-06 07:25] twiecki commented on #634
Yes.

[2015-11-06 07:25] #634 closed

[2015-11-06 16:14] ssanderson commented on #814
I think this is an issue with `bcolz`, one of our dependencies.  I can reproduce this without doing any of the unusual things in our setup.py: https://github.com/Blosc/bcolz/issues/277.

[2015-11-08 03:17] joequant opened #823 "zipline installs numpy 1.9.2"
The requirements file in zipline should be upgraded to allow installs with numpy 1.10

[2015-11-08 19:10] llllllllll commented on #823
The requirements file specifies the tested and supported versions for zipline. We try to use exact version numbers instead of lower bounds to minimize the combinations of libraries that we support. With that said, I will see if the tests pass and performance stays the same with the newest version of numpy.

[2015-11-09 15:26] richafrank commented on #823
What do you think about pinning the versions in the requirements file, but not in the `install_requires`?  https://packaging.python.org/en/latest/requirements/#install-requires-vs-requirements-files

I imagine we could generate the `install_requires` minimums from the requirements, with a facility to override the output, if we found, for example, that numpy 1.10 actually broke zipline.

[2015-11-10 01:07] joequant commented on #823
The basic issue that I ran into is....

1) I install numpy 1.10
2) I do a pip install of zipline
3) zipline pulls in numpy 1.9.2 from requirements
4) at that point the other modules which were built on 1.10 fail because of
binary incompatbilities with 1.9.2

So I don't care much what version of numpy is used by zipline.  The more
serious problem is that installing zipline with a fixed numpy can ca

[2015-11-11 01:35] richafrank commented on #823
@joequant The HEAD of zipline master now allows for newer versions of its requirements.  How does that work for you?

[2015-11-11 02:18] joequant commented on #823
That should be good enough.

On Wed, Nov 11, 2015 at 9:36 AM, Richard Frank <notifications@github.com>
wrote:

[2015-11-11 02:38] #823 closed

[2015-11-11 20:23] llllllllll opened #832 "use subtests in the event test suite"
There are thousands of tests that make travis slow and take forever to expand. We should just use a loop with subtests intead of `nose_paramaterized`. There is never a real point where I want to run a specific set of args since we doing big argument sweeps for the rule tests.

[2015-11-11 21:11] michaeljohnbennett commented on #814
there is also some issues with BColz and this np.view(int) code in the test suite as well. I will create a separate issue this evening for it.

[2015-11-12 00:37] #832 closed

[2015-11-12 18:36] jfkirk opened #837 "Equity symbol lookup may be mis-mapping when symbols overlap"
@ssanderson

@jfkirk

@ssanderson

[2015-11-13 21:04] ssanderson opened #839 "Late data from the Fed can cause slowdowns."
We try to download historical treasury rates from the Fed to use in Sharpe calculations, among other things.  The logic for that download tries to be fairly conservative about when we think data should be available for a given day, but there are cases where data isn't available when we think it should be, which causes tests, among other things, to run very slowly because they download the same sta

[2015-11-13 23:25] ssanderson commented on #839
Partially addressed by https://github.com/quantopian/zipline/pull/841.  @richafrank is there anything else you think we need to be doing here?

[2015-11-14 00:04] richafrank commented on #839
:+1: on #841.  A switch would be a nice general enhancement, but I think you've done enough for this issue of slow downloads, especially for tests.

[2015-11-14 01:47] javagg opened #842 "DataSource can't import from zipline,sources?"
I am working on the integration of a live data feed with zipline. When implementing a new datasource, I found that DataSource is not exported from zipline,sources. Is there some reason for this?
Can I implement a new datasource without subclassing from DataSource? Thanks!

[2015-11-14 01:50] javagg commented on #842
I just use python, still not understand 'import ' well. sorry

[2015-11-14 01:50] #842 closed

[2015-11-15 08:17] javagg opened #843 "Is is possible that a python module that wrap a third-party c++ trading communiction libraries can work well with zipline?"
I want to use zipline to live-trade against the Chinese stock and future markets. The brokers in those markets have provides some c++ libraries to handle the execution of the orders. The problem is that most of these c++ libs are multithreading and with c++ callbacks. I have read the code of zipline and found that the way that zipline are written will probably make the integration very hard. My qu

[2015-11-15 18:43] llllllllll commented on #843
Hey, is the library you are working with publicly available. It is hard to make a suggestion without seeing the API you are working with.

[2015-11-15 20:10] npezolano opened #844 "OSX Cannot convert 'Py_ssize_t [8]' to Python object"
Using the latest zipline, I get the following error after running `python setup.py build_ext --inplace` or `python setup.py install`

[code]

[2015-11-15 20:52] llllllllll commented on #844
Sorry about trouble. What version of cython are you using? ping @richafrank, could you try to repro on the particular commit?

Are you using conda or virtualenv?

[2015-11-15 22:51] npezolano commented on #844
Cython-0.22.1 and python 2.7

[2015-11-15 23:04] llllllllll commented on #844
Hmm, I am not sure what might be causing this. I would highly recommend trying to install zipline in a virtual environment even though I am not sure that this is related. I will try to repro when I have access to an OSX machine.

[2015-11-16 02:54] richafrank commented on #844
@llllllllll On OSX Yosemite, I made a new Python 2.7.10 virtualenv and pip installed etc/requirements.txt.  Running `python setup.py build_ext --inplace` in the root of the zipline git repo ([this commit] (https://github.com/quantopian/zipline/commit/abbda17239d715e33064844c130061b0dac8be5d)), I saw a bunch of warnings, but no errors:
[code]

`python setup.py install` also worked for me:
[code]
Af

[2015-11-16 07:19] javagg commented on #843
Yes, It is accessible to the public, the download page is here(http://www.sfit.com.cn/5_2_DocumentDown.htm). This API is written in c++, and is multi-threaded. Some of class methods may be called by a different thread to return the results to user(multi-threading is mentioned in its user manual). I am basicly new to python, so forget about gevent or eventlet here. I just wondered how to handle the

[2015-11-16 10:00] FayolChang opened #845 "how to get high or low prices ?"
from the tutorials, the data are like:
 date                      AAPL GOOG

2010-01-02     10.0     12.0

so I don't know how to get other prices, like high, low, etc.

in the run method of TradingAlgorithm class in the algorithm.py
it says:

          If pandas.DataFrame is provided, it must have the
               following structure:
               * column names must be the different asset id

[2015-11-16 15:47] npezolano commented on #844
Thanks, For anyone else who runs into this remove anything mac ports and use anaconda or brew for python post OSX 10.11

[2015-11-16 15:47] #844 closed

[2015-11-16 15:51] richafrank commented on #844
Oh, interesting - Thanks for sharing the solution!

[2015-11-16 16:30] jfkirk opened #848 "test_order_methods_for_future is not testing Futures"
Somewhere along the road, test_algorithm.TestTransformAlgorithm.test_order_methods_for_future must have gotten refactored and no longer tests Futures.

[2015-11-16 16:48] jfkirk commented on #848
PR for fix https://github.com/quantopian/zipline/pull/849

[2015-11-16 19:28] leoleolam commented on #777
thanks, i did some hack for the current release version and it worked. i also needed to do some patch on the benchmark data, treasury .

agree that it is not a proper way, please let me know if there are some updates for the latest release regarding this soon.

[2015-11-16 22:52] #839 closed

[2015-11-16 22:58] richafrank commented on #675
Did it!

[2015-11-16 22:58] #675 closed

[2015-11-16 22:58] richafrank commented on #361
Removing 0.8.0 milestone, since it didn't make the boat.

[2015-11-16 23:02] richafrank commented on #581
Or maybe https://github.com/quantopian/zipline/pull/841?

[2015-11-16 23:21] ssanderson commented on #581
@llllllllll @richafrank @sebnil I think the combination of #793 and #841 fixes this.

[2015-11-16 23:21] #581 closed

[2015-11-16 23:24] richafrank commented on #440
@twiecki Since `zipline/__init__.py` imports TradingAlgorithm, I think this *should* work, and it does work for me:
[code]
[code]
though importing `price` doesn't because there's no "price" `api_method`.

Is that unexpected?

[2015-11-16 23:30] richafrank commented on #216
Done in https://github.com/quantopian/zipline/commit/43b85cffb06bfb90db48bbc9ac9f3ea242a01ef1#diff-c3eb37366a67e056eb79907f3330e925R252, by you @ehebert !

[2015-11-16 23:30] #216 closed

[2015-11-17 05:51] smtoycom opened #851 "Error In Simulated Source"
I have tried using simulated source (zipline.sources.simulated) in the buyapple.py example, got error as below:

 File "C:\Python34\lib\site-packages\zipline\finance\risk\period.py", line 262,
 in calculate_beta
    eigen_values = la.eigvals(C)
  File "C:\Python34\lib\site-packages\numpy\linalg\linalg.py", line 888, in eigv
als
    _assertFinite(a)
  File "C:\Python34\lib\site-packages\numpy\linal

[2015-11-17 05:57] smtoycom opened #852 "Example for Live Data Source"
For example, to get live quote from yahoo every minutes (http://download.finance.yahoo.com/d/quotes.csv?s=%40%5EDJI,GOOG&f=nsl1op&e=.csv)

How should we modify the class DataFrameSource() so that the data is import to zipline every minutes? A workable example and documentation for reference will be great.

[2015-11-17 09:54] twiecki commented on #440
TBH, I don't remember how this came about or why I thought this should work but I agree with everything you said.

[2015-11-17 09:54] #440 closed

[2015-11-17 14:36] jfkirk commented on #675
:+1: :yum: :moneybag:

[2015-11-17 15:51] richafrank commented on #851
Hi @smtoycom .  Looks like the same symptom as #151.  I think the cause here is that there are missing benchmark prices for those dates in the future.  This introduces `NaN`s into the benchmark and algo returns arrays, from which zipline calculates the beta.  Would you want `NaN` beta instead of the exception?

[2015-11-17 15:55] twiecki opened #853 "Fix Sharpe ratio calculation"
- [ ] Fix the zipline implementation to use risk-adjusted returns in the denominator (https://github.com/quantopian/zipline/blob/master/zipline/finance/risk/risk.py#L106) Source: http://www.pipsafe.com/Forex-E-Books/The_Sharpe_Ratio.pdf
 - [ ] Default zipline to use 1M T-Bills instead of 10Y
 - [ ] Pass in mean returns instead of cumulative returns: https://github.com/quantopian/zipline/blob/maste

[2015-11-17 17:44] dunster commented on #853
Does this mean the "answer key" is also wrong?

[2015-11-17 18:06] twiecki commented on #853
I'm not sure, I find it hard to navigate that. @justinlent could you help taking a look at what's going on there?

[2015-11-17 18:25] justinlent commented on #853
Sure. Maybe I can take the answer key's daily returns and import them into pyfolio to try to figure it out

[2015-11-18 02:11] smtoycom commented on #851
Hi @richafrank Thanks for your reply. Please advise how to return NaN beta or set zero for all data for future benchmark.

[2015-11-18 03:18] llllllllll commented on #853
I had a conversation a couple of days ago with Jess about the risk metrics in zipline vs pyfolio. This was brought up because of the issue with information ratio that we recently found. What I would really like to do is move all of the risk metric calculations to a new project. Both pyfolio and zipline would consume this project for the risk metrics. This would mean making the risk free rate a par

[2015-11-18 03:24] FayolChang opened #854 "all examples are broken in v0.8.4"
Traceback (most recent call last):
  File "C:/Users/phil.zhang/dev/zipline/zipline/examples/dual_moving_average.py", line 125, in <module>
    results = algo.run(data)
  File "C:\Users\phil.zhang\dev\zipline\zipline\algorithm.py", line 592, in run
    for perf in self.gen:
  File "C:\Users\phil.zhang\dev\zipline\zipline\gens\tradesimulation.py", line 121, in transform
    self.algo.instant_fill,

[2015-11-18 03:58] justinlent commented on #853
@llllllllll This sounds great to me.  Do you propose us waiting to migrate to the soon-to-be-developed risk module without fixing the existing bugs in zipline?  I think we should at least fix the Sharpe Ratio (and the underlying annual returns intermediate calculation), unless you think migrating to the to-be-developed module won't take that long. How long do you think it would take?

[2015-11-18 04:14] llllllllll commented on #853
I am not sure. I don't know who will own making this change but I imagine in will need to be a joint effort from the pyfolio and zipline teams. @dunster and @richafrank, any thoughts on this?

[2015-11-18 10:23] twiecki opened #855 "Unify risk metrics across zipline and pyfolio"
Discussion started over here: #853

With @llllllllll  saying "The main reason for moving this to a new repo would be to make all the risk metrics that we report consistent. We can share implementation and tests for zipline and pyfolio which is great for avoiding duplication and introducing subtle differences. I would want this to be a standalone project because I don't think it makes sense for zip

[2015-11-18 10:53] twiecki commented on #853
Lets move the discussion to #855.

[2015-11-18 13:53] FayolChang commented on #854
It is very strange, In the company it is the problem, but when I am at home, It works fine.

However, I am still curious about why Equity instance could be used as a key, because self._data use integer as key.

[2015-11-18 14:21] twiecki commented on #853
We should definitely fix it in zipline first. Sharpe is a critical statistic we use throughout. The fix also shouldn't be too difficult.

[2015-11-18 15:45] richafrank commented on #851
I think https://github.com/quantopian/zipline/commit/bb43337b2a4821b58a368551e044a8e8f31b7010 will prevent the error, but I'm not sure if the values returned are useful to you.  @twiecki Do you have any thoughts on the proper handling for missing benchmark data?  Is the linked workaround a good idea?

[2015-11-18 15:52] twiecki commented on #851
Technically, beta should be `nan` in that case. Not sure if that causes problems downstream though.

[2015-11-18 16:02] richafrank commented on #854
Hi @FayolChang! Could you have installed zipline differently between the two environments?  We haven't released zipline 0.8.4 yet, so I wonder what version(s) you're running. I just ran that example successfully from source on
[code]

[2015-11-18 16:25] jfkirk opened #856 "Create a minute-rate futures payout test"
Current test coverage of futures payouts are all at the daily frequency.

[2015-11-18 16:28] richafrank commented on #852
Hi @smtoycom !

DataFrameSource is meant to map a pandas DataFrame to an iterator of zipline Event instances, which have OHLCV attributes. (zipline knows how to use these Events.)  I imagine you could modify DataFrameSource to use [read_csv] (http://pandas.pydata.org/pandas-docs/version/0.16.2/generated/pandas.read_csv.html) to produce that DataFrame from the yahoo data, but that doesn't get you t

[2015-11-18 16:32] richafrank commented on #851
Aha, do you think https://github.com/quantopian/zipline/blob/bb43337b2a4821b58a368551e044a8e8f31b7010/zipline/finance/risk/period.py#L257 should be `nan` as well, or just the missing benchmark case?  I'll run tests to see the downstream impact...

[2015-11-18 16:36] richafrank commented on #854
I notice it's the same symptom as https://github.com/quantopian/zipline/issues/650.

[2015-11-18 16:46] twiecki commented on #851
That should be nan too, yeah.

[2015-11-18 18:31] Nickleaton opened #857 "Versions"
When installing zipline I notice it tries to remove scipy version 0.16.0 and replace it with an older version.

ect/requirements.txt specifies scipy==0.15.1

On window's this is a pain, since you then get into window's build problems. Any reason why it has to be 0.15.1?

[2015-11-18 18:35] ssanderson commented on #857
@Nickleaton I think this is the same issue as https://github.com/quantopian/zipline/issues/823, which was fixed by https://github.com/quantopian/zipline/pull/825 on master.  @richafrank @llllllllll any ideas when we plan on shipping 0.8.4?

[2015-11-18 18:35] #857 closed

[2015-11-18 18:53] Nickleaton commented on #857
Am I right in thinking that its a mess? Particularly if you haven't managed to set up a C++ build set up on windows? ie. Not necessarily a zip line issue.

[2015-11-18 19:19] ssanderson commented on #857
I assume by "it", you mean "installing Zipline one Windows"?  Installing Zipline on Linux and OSX is pretty reliable and straightforward.  Windows is definitely a hairier beast, and none of the core developers are Windows users, so there hasn't been a ton of development effort spent on streamlining that process.

The particular issue linked here, namely that the latest PyPI release is tagged to ex

[2015-11-18 19:25] richafrank commented on #845
Hi @FayolChang , It looks like the DataFrameSource yields data with only price and volume fields (and it looks like the volume is [hardcoded] (https://github.com/quantopian/zipline/blob/242175350958ed0936aa43461adc4d32d858d4ed/zipline/sources/data_frame_source.py#L86-L86)!).   It does that by ingesting a DataFrame (2D) of prices keyed by sid/datetime.  However, the [DataPanelSource] (https://githu

[2015-11-18 19:38] richafrank commented on #857
@ssanderson We were thinking about monthly releases, but if there are important changes, we could release sooner.

[2015-11-18 19:39] dunster commented on #853
I think it would be a good idea to show @ehebert because he did a lot of work on the answer key in the past.  Definitely @Jstauth too.

[2015-11-19 02:01] rhodan opened #860 "RandomWalkSource not working"
Hi there!

I get SidNotFound error when I use RandomWalkSource  as a data source.

[code]

[code]

[2015-11-19 02:24] richafrank commented on #860
Hi @rhodan ! In the latest version of zipline, the TradingAlgorithm requires you to give it metadata about the assets whose pricing data it will consume.  Calling `TradingAlgorithm.run` with a DataFrame (or a DataPanel) will read that information from the DataFrame and then construct a DataSource.  If you pass a DataSource, such as the RandomWalkSource, directly to `run`, then you need to provide

[2015-11-19 02:25] FayolChang commented on #854
Hi, @richafrank , thanks for the reply.
I am using the source code from github, zipline version is 'v0.8.3+67.g5600b8d.dirty'.

the problem happened on the windows 7.  I pulled the latest source code from this repo. (UTC 2:14:58 , 2015-11-19)
To test on other machines, I installed ubuntu 12.04 on an virtural machine. It works fine. It also works fine on my mac.

the python environment is anaconda

[2015-11-19 02:33] richafrank commented on #854
The discrepancy is really odd. Since it's windows-only, sounds like it is the same issue as #650 then.  Let's close this and continue with the conversation over there, so we're not duplicating effort or discussion.

[2015-11-19 02:33] #854 closed

[2015-11-19 03:45] rhodan commented on #860
It works !!
thanks for the quick answer

[2015-11-19 03:45] #860 closed

[2015-11-19 04:15] rhodan opened #863 "set_history(), history() not working on minute level"
again,

I wonder if history() function works on minute level data.

 It works well on daily basis.

[code]

[code]

[2015-11-19 04:41] ssanderson commented on #863
@llllllllll I think you recently merged a change that fixed a bug that was crashing with the same error  Does this ring a bell to you?

[2015-11-19 04:43] llllllllll commented on #863
The recent indexerror I dealt with was in the blaze loader, I think this my be a dup of: #447

[2015-11-19 13:56] warren-oneill opened #865 "record() with minute data"
when record() used on minute data only one value is recorded per day. Is it possible to record all prices and not just a daily price?

[2015-11-19 14:10] FayolChang commented on #845
Thank you very much, @richafrank , problem solved!

[2015-11-19 14:10] #845 closed

[2015-11-19 15:07] rhodan commented on #863
I found it works well with zipline 0.7.0

[code]

[code]

then I tried resample minute level data to daily frequency

[code]
and I get indexerror
[code]

I think its quiet important for traders to use daily prices on minute level.

[2015-11-19 18:12] richafrank commented on #851
Closing with #859

[2015-11-19 18:12] #851 closed

[2015-11-20 16:15] richafrank commented on #843
Hi @javagg , I don't know about the compatibility of gevent or eventlet with your c++ lib, but we've been using zipline in a gevented process successfully, so that end of it shouldn't be a blocker.

[2015-11-20 19:44] richafrank commented on #766
Let us know if there's something for us to do here!  Closing in the meantime.

[2015-11-20 19:44] #766 closed

[2015-11-20 19:45] richafrank commented on #755
Let us know if there's something for us to do here!  Closing in the meantime.

[2015-11-20 19:45] #755 closed

[2015-11-20 19:47] richafrank commented on #688
@ssanderson I think this done with your merge of #817 !

[2015-11-20 19:47] #688 closed

[2015-11-20 19:54] richafrank commented on #548
I think is in the works with #858!

[2015-11-23 16:10] ehebert commented on #853
@twiecki your changes seem reasonable from an implementation stand point (and I defer to your and @justinlent's expertise on the why).

If the spreadsheet is too difficult work with, it may have outlived its usefulness, especially know that we have more experts looking at the risk calculations.
While making this fix, we could deprecate its usage (at least for Sharpe) and have the Sharpe tests in `

[2015-11-23 16:13] ehebert commented on #855
What are the shape/contents of the arrays passed by pyfolio?

It should not be too much work to change Zipline over to using a different array structure since risk modules are already keeping track of the original returns as well.

[2015-11-23 20:23] twiecki commented on #855
It takes an array of daily returns and daily treasury returns.

[2015-11-24 17:39] richafrank commented on #865
Hi @warren-oneill , `record` stores one value per key (i.e. in a dict), and those values are emitted according to the simulation's emission_rate ('minute' or 'daily').  If you're emitting daily, then to store multiple values in the dict over the course of the simulation day, I think you'll need to aggregate the data yourself, and each aggregate value will overwrite the previous one.

If I have an

[2015-11-25 03:31] FayolChang opened #873 "could you refactor a variable name of 'txn'?"
txn, sometimes it looks like an Transaction instance, sometimes it is an Event instance, other times it is a commission instance.

[2015-11-26 19:19] jpspfaria commented on #257
Nice, i will test this for BM&FBovespa!

[2015-11-28 22:40] ssanderson commented on #873
@FayolChang can you point to specific instances where the name `txn` is being used inconsistently?

[2015-11-28 23:57] rhodan opened #882 "performances"
I tried a little test only just buy and hold for a year.

0.8.3 is faster than any other frameworks on daily basis.

but sadly,  0.8.3 is ten times slower than quantopian on minute frequency.

  | zipline0.7.0 | zipline0.8.3 | Quantopian
------|-------------- | -------------  | --------------
daily | 10.23sec | 5.26sec | 8sec
minute | 57.12sec | 244sec | 25sec

[2015-11-29 00:29] ssanderson commented on #882
@rhodan where are you running zipline that you're performing this comparison?  Running two different algorithms with different data sources and on different machines is bound to have radically different performance.  The Quantopian site is using the latest zipline under the hood, so I'm not sure there's much that's actionable about that comparision.

More interesting is the claim that zipline 0.8.

[2015-11-29 00:29] #882 closed

[2015-11-29 01:50] rhodan commented on #882
I've got csv minute data with codes below

[code]
then i've made data panel with the csv

[code]

and I ran a simple algo with timeit.

[code]

[2015-12-01 08:29] twiecki opened #886 "pad error with .mavg() (or history in general?)"
I get this when running `olmar.py` with `pandas==0.17.1`
[code]

[2015-12-01 14:29] richafrank commented on #886
I can reproduce it on pandas==0.17.1 but not on 0.16.1.

[2015-12-01 16:09] ssanderson commented on #886
Fixed by https://github.com/quantopian/zipline/pull/887

[2015-12-01 16:09] #886 closed

[2015-12-02 00:13] cyniphile opened #889 "Refactor Data Loader for Alternate Pricing API Use"
Right now `loader.py` has `DataReader(stock, 'yahoo', start, end)` sprinkled in it, but it would be great to  easily pass a dataloader function to fetch pricing from other APIs. `_load_raw_yahoo_data` becomes `_load_raw_data` with an additional `source` kwarg for passing in a loading function that returns pricing data formatted just like yahoo api data. I've had to implement this already for my ow

[2015-12-03 13:58] twiecki opened #894 "Update dependencies"
Some of the pegged dependencies are pretty old, like numpy 1.9.2 (now 1.11) pandas 0.16.0 (now 0.17.1), scipy 0.15.1 (now 0.16.1). These are making it harder to build conda packages as all the other packages moved ahead and numpy 1.9.2 is not being distributed anymore.

[2015-12-03 14:38] twiecki commented on #894
CC @richafrank @llllllllll

[2015-12-03 15:27] richafrank commented on #894
Agreed.

[2015-12-07 09:44] michaeljohnbennett commented on #713
I have written some code to do this which is just a copy somewhat of the load_yahoo_data but using pandas read_csv and some file.glob patterns to load a bunch of files from a folder into a Pandas.Panel object.

You will need to make sure your data is adjusting itself and the correct columns come back.

Easiest way to debug this is to use a jupyter/ipython notebook and just use the functions and wr

[2015-12-07 10:07] michaeljohnbennett opened #899 "Get daily orders from Daily/Minute algo?"
Is it possible to output the orders from the system easily to a log file or similar (or where can I get them from the performance or order manager API's)

Been scratching my head trying to figure out a nice way to get it but I'm stuck, any help would be appreciated.

Thanks

[2015-12-07 10:17] twiecki commented on #899
You can check how pyfolio extracts these: https://github.com/quantopian/pyfolio/blob/master/pyfolio/utils.py#L320

[2015-12-07 10:26] michaeljohnbennett commented on #899
thanks so much @twiecki :+1:

[2015-12-07 11:02] #899 closed

[2015-12-07 19:31] manzihong opened #900 "Can zipline do futures backtest now?"
I looked the source code and see some definition about futures, but I couldn't find any examples how zipline backtest it, can it deal with futures now? If yes, can anyone send me a really simple example so I can learn something since I'm really new to this. Thank you very much.

[2015-12-07 22:51] ssanderson commented on #900
Zipline does support Futures now, though it's still a somewhat experimental API.  @jfkirk @StewartDouglas is there a good place to look for resources on this?

[2015-12-07 22:53] ssanderson commented on #894
Note that there are several known failures in our test suite that are caused by upgrading numpy and pandas.  In particular, https://github.com/numpy/numpy/issues/6452 would require a few workarounds in the Pipeline API code, and the introduction of tz-aware datetimes in pandas 0.17.0 is likely to have implications for us.

[2015-12-07 22:55] ssanderson commented on #889
@cyniphile can you provide an example of another data source you'd like to be able to load from via a reader?

[2015-12-07 23:59] ssanderson commented on #865
Closing this as nothing to be done.  @warren-oneill if you think there's a change that should be made here, feel free to reopen.

[2015-12-07 23:59] #865 closed

[2015-12-08 02:39] cyniphile commented on #889
Any EOD pricing API that is not yahoo; it could be Bloomberg, Barchart, Xignite.

[2015-12-08 02:47] michaeljohnbennett commented on #889
You also have CSI and metastock as well.

On Tue, 8 Dec 2015, 13:39 Luke Schiefelbein <notifications@github.com>
wrote:

[2015-12-08 15:48] jfkirk commented on #900
@manzihong Futures are supported by Zipline now but, as @ssanderson said, the API is still somewhat experimental and we have not yet written full documentation for the new features.

In brief, you can provide pricing information for Futures the same way you would provide it for Equities. You can then define those assets as Futures by creating a TradingEnvironment and providing metadata to the futu

[2015-12-08 17:39] llllllllll opened #903 "update zipline package for aur"
We should provide an AUR package for zipline for users to install on arch. There is currently a package up but it is not maintaned by us and it is for 0.7.0.

[2015-12-11 10:07] fazzolini opened #908 "Old code doesn't work: UnsupportedOrderParameters"
I am trying to learn Zipline and the code doesn't work. This is from a workshop from 2013, when it seemed to work. Also, a more recent book "Mastering pandas for finance" also introduces Zipline. I tried examples from the book with the same exact error: "UnsupportedOrderParameters: Passing non-Asset argument to 'order()' is not supported. Use 'sid()' or 'symbol()' methods to look up an Asset."

Ru

[2015-12-11 18:37] ssanderson commented on #908
@fazzolini the example you're working from is using several outdated interfaces.  A more modern version of that algorithm would be written like this:

[code]

The two major differences here are that `initialize` and `handle_data` are implemented as free functions rather than as methods of a `TradingAlgorithm` subclass, and we call `sid` on the data keys to convert them into `equity` objects before

[2015-12-11 18:37] #908 closed

[2015-12-11 21:37] llllllllll commented on #903
Eh, we shouldn't encourage installing zipline into the system python

[2015-12-11 21:37] #903 closed

[2015-12-13 09:47] mickeydonkey opened #911 "Any example to use pipeline offline?"
this question was originally posted on zipline's google group:
There are some posts on quantopian.com introducing pipeline under the online Algorithm environment, while I am wondering how to modify the algorithm to run pipeline offline.

can anyone provide an short example ? I really appreciate any help you could provide.

[2015-12-13 17:53] ssanderson commented on #911
@mickeydonkey the best place to look for examples on how the pipeline machinery works is the pipeline test suite, which lives in `tests/pipeline`.

There isn't a great short answer to the question of "how do I use Pipeline with real data", because the Pipeline API exists primarily for simplifying computations on large point-in-time datasets, and there aren't many such datasets freely available for

[2015-12-14 03:43] mickeydonkey commented on #911
@ssanderson  Thanks for the pointer, I am on my way of inspecting and running tests. I think it will take me some time to fully understand your long answer.

[2015-12-14 09:14] ssanderson commented on #837
@richafrank I assigned this to you for open source team prioritization.  Feel free to reassign as seems reasonable to you.

The core issue here is that we've built (I think undocumented) Quantopian-specific heuristics into the symbol-resolution logic of the asset finder for handling cases where the data indicates that two assets held the same ticker at the same time.  IMO, this should just be an e

[2015-12-14 09:20] ssanderson commented on #663
@fraka6 @easytrader the zipline on PyPI is now on 0.8.3, and the docs on www.zipline.io are now being regularly updated.  Hopefully that helps things going forward.  Going to close this issue.  If you run into new issues, feel free to reopen this or a new issue.

[2015-12-14 09:20] #663 closed

[2015-12-16 14:57] hrishikeshvganu opened #916 "Incompatibility with python3.4 for anaconda"
(py3k)➜  ~  conda install -c Quantopian zipline
Fetching package metadata: ......
Solving package specifications: ..
Error: Unsatisfiable package specifications.
Generating hint:
[2/2                 ]|############################################################| 100%

Hint: the following combinations of packages create a conflict with the
remaining packages:
  - python 3.4*
  - zipline

[2015-12-16 20:08] llllllllll commented on #916
We have not yet updated the conda channel for zipline. We do have up to date pip wheels for 0.8.3 though.

[2015-12-21 15:33] elmq0022 opened #926 "Using pd.Panel as a data source does not work as expected."
I am on zipline version 0.8.3 working on windows with python 2.7.  The items in Requirements.txt were installed via conda install and zipline was installed via pip.

I have a pd.Panel of ~500 assets that are not loading correctly into the algorithm.run(pd.Panel) routine.

Basically I was expecting the asset name (string) on the major_index to be converted to an appropriate object and mapped to a s

[2015-12-23 02:48] llllllllll commented on #926
Hi, thanks for the bug report. I think this might be related to an issue I found in `TradingAlgorithm.run` where sids were getting added to the asset finder twice. I will try to repro this and get back to you with what I find.

[2015-12-23 15:44] elmq0022 commented on #926
Thank you for following up.

[2015-12-24 06:20] ljw2602 commented on #650
To add to AnthonyFJGarner's post on Sep 22:

1. Install Anaconda with Python 3.5
Since zipline is compatible with Python 3.4, you need to create an environment with Python 3.4
I named the environment "py34" here
$conda create -n py34 python=3.4 anaconda

2. Install Microsoft Visual C++ 2010 Express
This is what Python 3.4 is compatible with (http://microsoft-visual-cpp-express.soft32.com/)

3. Act

[2015-12-25 01:47] jxstanford opened #930 "error pip installing zipline on MacOSX"
I get the following error when running `pip install zipline`:

[code]

`pip freeze | grep numpy` shows:

[code]

[2015-12-25 18:05] elmq0022 commented on #926
I did some additional debugging.  Basically I see bugs based on the transtion from the sid to generic assets design.  Is this correct?

The ```order``` function validates that it received an asset object (which is incorrect?) in the ```validate_order_params``` function.

So, I was able to backtest with a monkey patched TradingAlgorithm by setting ```validate_order_params``` to ```pass```. Ignoring

[2015-12-26 01:41] jxstanford commented on #930
I eventually got zipline installed by creating a new virtualenv, and manually pip installing numpy==1.7.

[2015-12-26 07:17] ljw2602 commented on #916
I guess you are trying to install zipline using Anaconda.
I managed to do it a couple days ago (at least on my computer). Please find my comment on the following link. https://github.com/quantopian/zipline/issues/650#issuecomment-167050802
I hope it'd save your time.

[2015-12-29 23:32] richafrank commented on #930
Glad you fixed it!  Looks like bcolz fixed [this bug] (https://github.com/Blosc/bcolz/pull/276) in its numpy version comparison in version 0.12.0.

[2015-12-29 23:32] #930 closed

[2015-12-29 23:33] richafrank commented on #873
Closing this, since we haven't gotten enough info.  Let us know if we should re-open!

[2015-12-29 23:33] #873 closed

[2015-12-30 19:03] richafrank commented on #499
Looks like this was fixed: https://github.com/quantopian/zipline/commit/f44c15bb38bb42b76dfcd634acf2ff5d54724ff6#diff-803238601658da56278f98e2fa62ae88R547

[2015-12-30 19:03] #499 closed

[2015-12-30 19:07] richafrank commented on #448
Part of https://github.com/quantopian/zipline/pull/858

[2016-01-05 15:32] fccoelho opened #939 "Suuport Bitcoing trading"
Do you have plans to support bitcoin trading?

[2016-01-05 20:20] llllllllll commented on #939
We do not currently have plans to support trading currencies or crypto currencies. It is an interesting feature; however it is not on our current roadmap.

[2016-01-07 09:23] Immortalin opened #945 "Passing code as command line argument"
Is there a way to run code by passing it to `run_algo.py` as command line arguments?  E.g. for a normal python interpreter you could do something like `python -c "print("hello world")`. This is because the environment which I am running zipline in doesn't allow writing to disk and hence I have to pass generated code etc. via command line arguments.

[2016-01-07 11:50] ljw2602 opened #946 "Performance degradation with pandas 0.17.1"
(copied from google group)

Hi,

I installed zipline and tried to run the moving average example codes. However, it takes more than 25 mins to complete it. (and I specified frequency as daily)
I reduced the length of backtesting time window from 14 years to only a couple years, but it didn't affect the total running time much.

Can you explain why it takes so long time?
Is there any way to reduce

[2016-01-07 22:13] ssanderson commented on #946
@ljw2602 that sounds unusually slow.  Are you running in an environment with a particularly slow internet connection?  By default the examples generally download data from Yahoo Finance and the US Treasury site.  If you're on a slow connection, that can potentially take quite a while.

[2016-01-08 04:30] ljw2602 commented on #946
(copied from the answer of lsyinubc@gmail.com from google group)

"what was the version of pandas in your environment ?
I upgraded pandas to 0.17 and had the same issue, after I downgraded it to 0.16, everything is fine, the moving average example took ~30 secs."

My pandas version was 0.17.1, and I downgraded to 0.16.2.
I observed two significant improvements
1) zipline installation time decrease

[2016-01-08 13:53] richafrank commented on #946
Glad you solved your issue @ljw2602.  I'm going leave this open for us to add support for newer versions of pandas without performance degradation, since other people will likely encounter the same issue.

[2016-01-08 19:10] llllllllll commented on #945
You can do this with standard bash syntax for process substitution on the file argument. For example:

[code]

The body of the subshell can be any command. This works by taking the output of the command and writing it to a temporary fifo. The program will see this as `/dev/fd/<n>`.

[2016-01-11 22:23] SlyOne commented on #946
ZIpline 0.8.3 wont install with pandas 17.1 --- Data reader problem??

[2016-01-12 22:56] llllllllll commented on #926
Hey, I merged a change around asset handling for panel sources, could you retry your code with the code on master?

related pr: https://github.com/quantopian/zipline/pull/942

[2016-01-12 23:05] elmq0022 commented on #926
I'll take a look as soon as I can, thanks.

On Tue, Jan 12, 2016 at 4:56 PM, Joe Jevnik <notifications@github.com>
wrote:

[2016-01-16 21:31] AwesomeExcel commented on #926
Sorry, that does not resolve the issue.   As I said above, I believe this has to do with a transition from order methods requiring a SID to and ASSET.  I have provided snippets of my code and the full stack traces as well.

The data should be correct as I am using

[code]

### FUNCTION AND STACK TRACE WITH AN ASSEST PASSED

[code]

Traceback (most recent call last):
  File "c:\Users\X\Desktop\Proj

[2016-01-18 16:25] ljw2602 opened #952 "short term treasury as an asset"
I was wondering if there is a way to treat short-term treasury (e.g. 1month or 3month) as an asset. I guess the cached treasury data is used only in calculation of risk metrics (e.g. sharp ratio), but I was wondering if I can use it in trading session too.

For example, when I decrease the portfolio weight to zero (no investment in equities), the portfolio return becomes zero, but I want it to be

[2016-01-19 15:41] sohnj opened #953 "Zipline - windows 64 bit version in conda"
Hi
can we get an windows 64 bit version of zipline in conda?  We are interested in the pkg but our python installs are 64bit anaconda on windows.

Thanks,
James

[2016-01-19 16:15] ssanderson opened #954 "Zipline setup.py always unconditionally installs numpy 1.9"
[code]

[2016-01-19 16:16] ssanderson commented on #954
This is likely the cause of https://github.com/quantopian/pyfolio/pull/272

[2016-01-19 16:18] richafrank commented on #954
I thought we intentionally didn't support >1.9 yet because of https://github.com/quantopian/zipline/issues/894#issuecomment-162696875

[2016-01-19 16:19] ssanderson commented on #954
If the user already has numpy 1.10 installed, I don't think we should be downgrading them.  If we **do** downgrade them, we certainly shouldn't do so silently.  This will break any other packages they had previously compiled against numpy 1.10, often in nasty ways.

[2016-01-19 16:23] twiecki commented on #954
How difficult would it be to make zipline numpy 1.10 compatible? That problem won't go away but should unlock a few things if fixed (like usable conda packages).

[2016-01-19 16:34] ssanderson commented on #954
@richafrank it looks like this is unintended behavior at any rate.  We should be passing `strict_bounds=False` in the pre-setup code, but it looks like there's a bug in that logic.

[2016-01-19 16:44] ssanderson commented on #954
@twiecki the issue affecting us in numpy has been fixed as of https://github.com/numpy/numpy/pull/6465, which is slated to be released in the upcoming 1.11.  It might be easier at this point to just skip 1.10 entirely and support 1.11.

[2016-01-19 16:45] twiecki commented on #954
I see, that makes sense.

[2016-01-19 16:48] ssanderson commented on #954
Pandas 0.17 will be harder I think.  We've had several reports of severe slowdowns (as in, order of magnitude slowdowns) from users on the google group who had upgraded pandas.

[2016-01-19 17:05] ssanderson opened #955 "Port the `BacktestResult` class from Quantopian Research"
The current output format of TradingAlgorithm.run() is a `DataFrame` full of nested dictionaries, which is a pretty non-useful format for anyone who actually wants to use that data.  We've written a `BacktestResult` class downstream that provides a sane API for this data, and it already has a compatibilty layer for shipping data to PyFolio.  We should port that code to Zipline.

[2016-01-19 23:19] llllllllll commented on #952
Right now we only support Equities and Futures as asset types in your simulation. This is an interesting idea that we could try to support in the future. We would be open to a pull request that adds this feature if you would like to contribute.

[2016-01-19 23:28] llllllllll opened #956 "history backfill"
We should support historical backfill so that users do not need to manually warm up their algorithms.

see the end of #374

[2016-01-19 23:29] llllllllll commented on #374
We are tracking the backfill feature in #956

[2016-01-19 23:29] #374 closed

[2016-01-19 23:30] #945 closed

[2016-01-19 23:31] #805 closed

[2016-01-19 23:33] llllllllll commented on #13
We ended up using the 10y treasury curve in https://github.com/quantopian/zipline/commit/d177ddd860fb6419767dd14b587e97615de31519

[2016-01-19 23:33] #13 closed

[2016-01-19 23:33] llllllllll commented on #109
unneeded after q2.0

[2016-01-19 23:33] #109 closed

[2016-01-19 23:38] llllllllll commented on #83
this is being updated now

[2016-01-19 23:38] #83 closed

[2016-01-20 00:03] llllllllll commented on #926
Hey, we will try to take a look later this week. Sorry for the delay.

[2016-01-20 03:59] richafrank commented on #926
I can reproduce this now - will look into it...

[2016-01-20 04:02] elmq0022 commented on #926
Sounds great.  Thanks.
On Jan 19, 2016 10:00 PM, "Richard Frank" <notifications@github.com> wrote:

[2016-01-20 12:08] ljw2602 commented on #952
Sounds like a plan. I will work on it.

[2016-01-20 23:49] richafrank commented on #179
Looks like this is out of date - we [now] (https://github.com/quantopian/zipline/blob/bbb9cc87a9085b55a09afc547d2f62650678691f/zipline/finance/transaction.py#L72-L72) raise an exception in this case.  Feel free to re-open if this is still valid in some new way.

[2016-01-20 23:49] #179 closed

[2016-01-20 23:51] richafrank commented on #183
Looks like we added [blotter tests] (https://github.com/quantopian/zipline/blob/b863733953c8a2a268a37ea86a39d8fefc0bb1e1/tests/test_blotter.py#L37-L37).

[2016-01-20 23:51] #183 closed

[2016-01-21 02:24] npezolano opened #961 "Bug: lookup_expired_futures not working with datetime sources"
Previously sources with a `dt` of type `<type 'datetime.datetime'>` worked, however in the latest code is no longer working due to the new `lookup_expired_futures` in `tradingsimulation.py` which throws the following error below. A side question is should `lookup_expired_futures` be called by default for the equity only examples like buy apple?

https://github.com/quantopian/zipline/blob/master/zi

[2016-01-21 03:00] #961 closed

[2016-01-21 17:40] richafrank commented on #650
This should be fixed by #959, which is now on master.

[2016-01-21 17:40] #650 closed

[2016-01-21 17:41] richafrank commented on #926
This should be fixed by #959, which is now on master.

[2016-01-21 17:41] #926 closed

[2016-01-22 13:39] markusschaller opened #967 "AttributeError: 'module' object has no attribute 'nanmean' when importing zipline"
After setting up a new virtualenv and installing zipline with "pip install zipline" I opened a python shell and did an "import zipline" resulting in the following exception:
[code]

[2016-01-22 14:59] richafrank commented on #967
Hi @markusschaller, what do you have for `zipline.__version__` and `bottleneck.__version__`?

[2016-01-22 16:47] markusschaller commented on #967
Here's the complete pip freeze output:

[code]

[2016-01-22 17:44] ssanderson opened #968 "`test_examples` creates `.pyc` files in zipline source root"
We call `imp.load_module` (which is deprecated) on the examples to run them as main, which leaves behind .pyc files in the cwd of the tests.

A better way to do this would be to use `runpy.run_path`. https://docs.python.org/2/library/runpy.html

[2016-01-22 22:07] richafrank commented on #967
Interesting.  Are you able to do yourself what zipline tries to do?
[code]

[2016-01-24 22:43] jlowin opened #971 "Mismatched data/benchmark dates creates an error at the end of simulation"
As described in [loader.py](https://github.com/quantopian/zipline/blob/master/zipline/data/loader.py#L157), benchmark returns are cut off 2 days before the current trading day. But if users run algorithms with a data source that includes the most recent trading days, it creates an error during the risk calculations at the end of the simulation, because the "extra" day will get `nan` for the benchm

[2016-01-25 09:54] markusschaller commented on #967
That is already unsuccessful:
[code]
Very strange: I set up zipline in an Virtualenv on an virtual VM on my private computer, and everything worked fine, no attribute errors.  Both Linux VMs are Ubuntu 14.04.3 LTS (Lubuntu at home and Kubuntu at work). But apparently, there are differences in both setups ...

[2016-01-25 13:28] richafrank commented on #967
Hmm, you could try reinstalling bottleneck.  You could also uninstall it entirely, as zipline uses it for an optional performance boost over the numpy versions.

[2016-01-25 16:04] markusschaller commented on #967
If bottleneck is optional, shouldn't there be a try...except around the bottleneck import statement [here](../blob/e576231ae5a90e0c2d5457ef3ed335f928a160c4/zipline/pipeline/factors/technical.py) ?. Doing this and uninstalling bottleneck then lead to a successful zipline import :-)

[2016-01-25 16:10] richafrank commented on #967
Yes, I agree - looks like it should import from [math_utils] (https://github.com/quantopian/zipline/blob/ef4f642e62a5d33699c87d44883428b63a7d0559/zipline/utils/math_utils.py#L33), which already has the try-except.

cc @ssanderson regarding https://github.com/quantopian/zipline/blob/e576231ae5a90e0c2d5457ef3ed335f928a160c4/zipline/pipeline/factors/technical.py

[2016-01-28 17:40] kovek commented on #930
`pip install zipline`  does `Collecting bcolz==0.10.0 (from zipline)`

Maybe then etc/requirements.txt should be modified from
bcolz==0.10.0 to
bcolz==0.12.0

[2016-01-29 03:11] mickeydonkey commented on #852
Hi @richafrank !, I notice the `DataSource `used on Quantopian website is called `DynamicTradeSource`, Could you please give some hint how to implement `DynamicTradeSource` and how raw data is stored? In addition, Is it possible to port this part into zipline in the future?

[2016-01-29 13:48] richafrank commented on #852
Hi @mickeydonkey , what functionality are you looking for?  The `DynamicTradeSource` on Quantopian is an integration with Quantopian's dynamic universe feature.  That notion of a universe that the algo has to set is currently being removed, so I don't think it'd be worth porting the current implementation to zipline.

[2016-01-30 06:03] mickeydonkey commented on #852
@richafrank thanks for reply.  I encounters the a significant slowdown in performance compared to strategies run on Quantopian(not related to [the pandas 17 issue#946](https://github.com/quantopian/zipline/issues/946) ) and I am seeking for a more efficient way to implement `DataSource `, In order to implement the `DataSource ` I currently read historical OHLCV data along all stocks from the datab

[2016-01-30 18:51] AnthonyFJGarner commented on #916
Total waste of time and effort. I have done a lot of work in Quantopian on-line and am now revisiting zipline. Utter frustration trying to load up a version on Windows as usual. Why Windows? Well for one my data supplier uses a Windows product.

I'll give it one more go and print out the attempt. I realise Windows in unsupported but some people just need to use it.

[2016-01-30 18:52] AnthonyFJGarner commented on #916
`          setup(**metadata)
        File "C:\Users\ANTHON~1\AppData\Local\Temp\pip-build-0ymdkter\numpy\numpy\distutils\core.py", line 169,
 in setup
          return old_setup(**new_attr)
        File "C:\Anaconda\envs\ZTest\lib\distutils\core.py", line 149, in setup
          dist.run_commands()
        File "C:\Anaconda\envs\ZTest\lib\distutils\dist.py", line 955, in run_commands
          sel

[2016-01-30 19:02] AnthonyFJGarner commented on #916
Used the standalone C Compiler as described here ( https://wiki.python.org/moin/WindowsCompilers) rather than the full Microsoft Visual C++ 10.0 with Visual Studio 2010 (x86, x64, ia64)

Same old problems. by the looks of the stack....

[2016-01-30 19:03] AnthonyFJGarner commented on #916
Zipline said no Cython so I installed as as you can see. As you can also see it cant be found.

What a mess. What a terrible waste of effort.

[2016-01-30 19:30] AnthonyFJGarner commented on #916
Python 3.4 separate environment as follows:
`
C:\Users\Anthony FJ Garner {git}
{lamb} activate ZTest
Deactivating environment "C:\Anaconda"...
Activating environment "C:\Anaconda\envs\ZTest"...

[ZTest] C:\Users\Anthony FJ Garner {git}
{lamb} conda list
# packages in environment at C:\Anaconda\envs\ZTest:
#
cython                    0.23.4                    <pip>
numpy                     1.10.1

[2016-01-30 19:31] AnthonyFJGarner commented on #916
Ran pip install -e C:\Application\github\zipline

..which I updated today....and then just laughed

[2016-02-07 11:04] peteut opened #984 "`run_algo.py` CLI"
This is not a bug but a hint that `run_algo.py` should probably be a real CLI app.
I use [pbr - Python Build Reasonableness](http://docs.openstack.org/developer/pbr/) to manage the setup task. I renamed `run_algo.py` to `run_algo` as well.

[code]

[2016-02-08 14:45] dmichalowicz commented on #188
This is being addressed here: https://github.com/quantopian/zipline/pull/982

[2016-02-10 21:13] chaowu2009 opened #989 "sample example not working"
**cml**: python run_algo.py -f dual_moving_average.py --symbols AAPL --start 2011-1-1 --end 2012-1-1

**Error**: Couldn't import dot_parser, loading of dot files will not be possible

solved by the following procedure:
pip uninstall pyparsing
pip install -Iv https://pypi.python.org/packages/source/p/pyparsing/pyparsing-1.5.7.tar.gz#md5=9be0fcdcc595199c646ab317c1d9a709
pip install pydot

[2016-02-12 22:29] richafrank commented on #967
The optionality of bottleneck in math_utils should be fixed by https://github.com/quantopian/zipline/commit/69cc5e65649ae91b1fd8e338c1e5f91a9c6f8e94.  Going to close this, but let us know if there's something else to be done.

[2016-02-12 22:29] #967 closed

[2016-02-12 22:33] richafrank commented on #954
Fixed by #969.

[2016-02-12 22:33] #954 closed

[2016-02-12 22:33] richafrank commented on #946
Fixed by #969.

[2016-02-12 22:33] #946 closed

[2016-02-12 22:35] twiecki commented on #954
:100:

[2016-02-13 22:21] peteut opened #995 "Typo in MANIFEST.in"
`README.md` should read `README.rst`.

[code]

[2016-02-16 10:51] madawei2699 opened #997 "AttributeError: 'module' object has no attribute 'nanmean' when importing zipline"
When I use virtualenv install zipline and I start python, but occure an error:
"AttributeError: 'module' object has no attribute 'nanmean' when importing zipline"
and I try solve the problem by using this issue: https://github.com/quantopian/zipline/issues/967 . My problem is same with this post, this problem should solved by @richafrank ,but my problem is not solved.I reinstall zipline with this

[2016-02-16 12:11] madawei2699 commented on #997
I fix this problem by using follow step:
`pip uninstall bottleneck`
After I unistall bottleneck, python import print an error saying numpy library version error. So I upgrade numpy by:
`easy_install --upgrade numpy`
and the numpy version now is 1.11.0b3
the problem is solved. Now my zipline version is v0.8.3+322.gd5bd2a9

[2016-02-16 17:24] richafrank commented on #997
Forgetting zipline for a moment, are you able to `pip install bottleneck` in a new virtualenv and `from bottleneck import nanmean`?

[2016-02-16 17:30] madawei2699 commented on #997
I can install bottleneck by pip in a new virtualenv, but cannot execute `from bottleneck import nanmean` which print bottleneck has no attribute nanmean. I fix this problem by uninstall bottleneck and upgrade numpy to lastest version.Maybe the problem is relate to numpy version.
Now I can import zipline without error.

[2016-02-16 20:24] jikamens opened #999 "Travis builds failing when build cache enabled"
Failures visible in https://travis-ci.org/quantopian/zipline/builds/109687842

Build cache disabled in https://github.com/quantopian/zipline/commit/d8bbaec5a8f2cdcb1c938aa3f3885adff3f3cddd until we figure out how to fix this.

[2016-02-16 20:24] jikamens commented on #999
Failures are intermittent.

[2016-02-16 20:38] ssanderson commented on #999
From slack discussion:
[code]

[2016-02-16 22:18] richafrank commented on #997
The AttributeError from bottleneck occurs when its C extensions fail to import.  Is it possible you installed zipline 0.8.3, which downgrades numpy to 1.9.2, after having installed bottleneck with numpy 1.10?  (zipline master no longer does this, and we're working to release to PyPI/anaconda.)

[2016-02-16 22:59] richafrank commented on #995
Thanks @peteut !  Did you find the reST file missing from the source distribution?  Looks like setuptools includes it implicitly, so I'm thinking we can just remove this line.

[2016-02-16 23:09] peteut commented on #995
No, I just stumbled over it while working on my branch. It should be fine to remove it.

[2016-02-16 23:12] richafrank commented on #995
Cool - done in https://github.com/quantopian/zipline/commit/62020f6529b906c14d8ac365ae965ce6bec613c0

[2016-02-16 23:12] #995 closed

[2016-02-17 03:13] mchinitz opened #1001 "Possible Missing Files"
In an earlier version of zipline at https://github.com/ericjohn/zipline, under Transforms, there was a module MovingAverageTransforms (filename = "mavg.py"), which does not appear to be included here. I am trying to learn how to use zipline with a tutorial which relies on this module. I tried downloading the missing source code, but the result is that python is unable to read the classes in transf

[2016-02-17 03:27] richafrank commented on #1001
What tutorial are you using? Can you use the current code and examples ([1] (https://github.com/quantopian/zipline/blob/11465d907d25f517b8f6b88eb6bcf26b4538270f/zipline/examples/olmar.py#L60-L60)) ([2] (https://github.com/quantopian/zipline/blob/283c959cc4bc51a90ee8cd9e805004cad1cc9406/zipline/examples/dual_moving_average.py#L48-L48)) instead?

If you do want to use that exact version, you could p

[2016-02-17 04:31] madawei2699 commented on #997
I just install zipline by `pip install zipline` and the version is 0.8.3. Then the AttributeError occured. The pip is lastest version and the dependence controlled by pip. The reason maybe is liked that you said.

[2016-02-17 19:13] richafrank commented on #999
Re-enabled by #1002.  Can re-open if there are problems again.

[2016-02-17 19:13] #999 closed

[2016-02-19 15:43] bpajusco opened #1004 "Python 3.5 compatibility"
Looks like I can't get zipline to work with Python 3.5. Is this a general conflict or is there something wrong in my setup of Python 3.5? I've used Anaconda and I got an exception when I tried to install zipline using conda. I then went ahead and tried pip install and got the following exception:

 File "/tmp/pip-3bizly_i-build/setup.py", line 73, in build_extensions
        numpy_incl = numpy.get

[2016-02-23 22:26] llllllllll commented on #1004
We haven't begun testing zipline with python3.5 so some of the requirements might not work. Thanks for letting us know there is some more work to do to get 3.5 compat.

[2016-02-23 22:46] llllllllll commented on #997
Can you try to install zipline master in a new virtualenv to see if this resolves your issue?

[2016-02-24 18:51] llllllllll commented on #989
Which version of zipline do you have? Did you modify the example in any way? I am surprised that either of those packages would cause this behavior because I do not have them installed in either my python 2 or 3 virtualenvs for zipline.

Can you reproduce this in a new virtual environment with only zipline installed?

[2016-02-24 21:11] dmichalowicz commented on #188
@richafrank Can I close this, having merged https://github.com/quantopian/zipline/pull/982?

[2016-02-24 21:25] richafrank commented on #188
Yes!

[2016-02-24 21:36] #188 closed

[2016-02-26 09:45] twiecki opened #1013 "`conda build` issue on windows with python 3.5"
Tried to build windows packages (anaconda3 with python 3.5 and setuptools 21) using the build matrix script but got:
[code]

Replacing all `>=` with ` >=` (adding a space in the front) in requirements.txt solved the issue. Then, I got:

[code]

[2016-02-26 11:05] DMTSource opened #1014 "Cant get Minute Mode to work"
I am trying to work with zipline in minute mode with third party data.I am seeing behavior where my handle_data functions is being called for every minute in my data, But the returns and benchmark are always stuck in daily mode.

# Environment

* Operating System: Started on Win 8, but moved to OSX to upgrade to Zipline 0.8.3
* Python Version: 2.7.11 :: Anaconda 2.5.0(x86_64)
* Python Bitness: 64

[2016-02-26 14:57] richafrank commented on #1013
@twiecki Would you try out my branch named [conda_win] (https://github.com/quantopian/zipline/tree/conda_win)?

[2016-02-26 14:59] twiecki commented on #1013
Probably only next week.

[2016-02-27 02:44] llllllllll commented on #1014
Thank you for the report, sorry I didn't get back to you on the mailing list. I did see the post but didn't have time to dig in until today. If you are seeing your handle_data getting called minutely then the orders should be happening minutely and not at the end of the day. The result of `TradingAlgorithm.run` is `daily_stats` which is only the daily packets from the generator. We are only filter

[2016-02-27 14:17] DMTSource commented on #1014
Thank you for your reply. Initially I had started with 0.7.0 when trying to pass the dataframe into run. I tried it again(now on 0.8.3) and received a new error which might suggest my format is off. I'm attempting to pass in my dataframe with format(I use the format from the yahoo file cache):
df.head(5)
                                               Open    High     Low       Close    Volume  Adj

[2016-02-28 18:24] gliptak commented on #215
This was added to https://github.com/pydata/pandas-datareader/ with https://github.com/pydata/pandas-datareader/pull/177

[2016-02-28 19:32] femtotrader commented on #215
Sorry @gliptak but Google Quote is not (historical) intraday data.

[2016-02-28 22:12] gliptak commented on #215
@femtotrader I see, misread the description.

[2016-02-29 16:28] twiecki commented on #1013
[code]

[2016-02-29 16:28] richafrank commented on #361
Done in https://github.com/quantopian/zipline/pull/1009

[2016-02-29 16:28] #361 closed

[2016-03-07 15:54] richafrank commented on #894
I'm going to call this closed with https://github.com/quantopian/zipline/pull/969

[2016-03-07 15:54] #894 closed

[2016-03-09 17:06] chrism2671 opened #1038 "Example"
Can we update the example code as per issue 908:

https://github.com/quantopian/zipline/issues/908

The code in the repository is old and broken, which is particularly confusing for new users as it is the introductory code for zipline. I am using the iPython version.

[2016-03-09 20:35] richafrank commented on #1038
Thanks @chrism2671.  It looks to me like the [relevant example] (https://github.com/quantopian/zipline/blob/328d449e6066ad7b5fd3aacea511510aa587c67a/zipline/examples/buy_and_hold.py#L44) was already updated to match the suggested code in https://github.com/quantopian/zipline/issues/908#issuecomment-164013074.  Could you be more specific about what's missing or isn't working for you?

[2016-03-10 11:40] chrism2671 commented on #1038
Apologies, I didn't mention. I stumbled into this issue on the iPython notebook:

https://github.com/quantopian/zipline/blob/328d449e6066ad7b5fd3aacea511510aa587c67a/zipline/examples/buyapple.ipynb

[2016-03-10 21:19] sleepykid commented on #926
I suffer the same problem when using a custom datasource.
my datasource object takes in a custom layout dataframe and implements:
mapping,raw_data_gen,raw_data and worked perfectly with zipline 0.7.0

after finding this issue, I copied what AwesomeExcel did with the Monkey Patch. and now I can run on zipline 0.8.4.

Is it possible to get this fixed for a a custom datasource too? thanks

[2016-03-15 15:46] richafrank commented on #1038
Should be fixed by https://github.com/quantopian/zipline/commit/2976280a7674a477b3ab9524846dfcb34d42e958

[2016-03-15 15:46] #1038 closed

[2016-03-15 22:33] hyunhojo opened #1056 "zipline for python 3.5 (win32)"
Dear Zipline Maintainers,
Before I tell you about my issue, let me describe my environment:

# Environment
* Operating System:
Windows 7 (64 bit)

* Python Version:
Python 3.5.1:: Anaconda 2.5.0 (32-bit)

* Python Bitness:
31

* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
conda install -c Quantopian zipline

* Python packages:
I installed Anaconda 2.5.0 using Anacond

[2016-03-15 22:37] llllllllll commented on #1056
Zipline does not yet support python 3.5 and we do not yet have windows packages built for conda. We are working on getting the windows packages out but right now they will only be for 2.7 and 3.4

[2016-03-15 22:40] richafrank commented on #1056
Same as https://github.com/quantopian/zipline/issues/1004 ?

[2016-03-16 00:47] hyunhojo commented on #1056
Thanks,
I will refer below link.
https://github.com/quantopian/zipline/issues/650#issuecomment-167050802

[2016-03-16 00:47] #1056 closed

[2016-03-17 15:42] nanzeng opened #1059 "history() can not get open and close data"
Dear Zipline Maintainers,

I tried to get open and close data from history(), however, the result is NaN.
# Environment
- Operating System: Linux  4.3.3-3-ARCH  x86_64 GNU/Linux
- Python Version: Python 3.5.1
- Python Bitness: 64
- How did you install Zipline: pip
- Python packages:
  bcolz==0.12.1
  Bottleneck==1.0.0
  click==6.3
  contextlib2==0.5.1
  cycler==0.10.0
  cyordereddict==1.0.0
  Cyth

[2016-03-18 02:41] nanzeng commented on #1059
The problem is solved by adding open and close to history_container.py
[history.txt](https://github.com/quantopian/zipline/files/179000/history.txt)

[2016-03-18 16:37] chrism2671 commented on #1038
Thank you!

[2016-03-23 20:17] richafrank commented on #984
Hi @peteut !  Thanks for the issue (want to open a pull request next time?).

Could you explain more what you're thinking regarding "real CLI app"?  Is the benefit that we'd get consistency with other projects of setup.py's implementation?

Does this change handle the custom handling we have for using setup.py to build conda packages as well?

Removing `.py` from the run_algo script sounds like a

[2016-03-23 20:57] peteut commented on #984
I just tried to made you aware CLI bootstrapping allows for selecting a specific function (`if __name__ == "__main__": main()` is not required), as described here: [command-line-scripts.html](http://python-packaging.readthedocs.org/en/latest/command-line-scripts.html) for details.

`pbr` allows for config over code, I'm using it in my [branch](https://github.com/peteut/zipline).
[setup.py](https:/

[2016-03-24 15:49] ssanderson opened #1081 "Classifier should implement `.eq` and `!=`"
Noticed here: https://www.quantopian.com/posts/filter-is-no-longer-created-from-factor-comparison .

The particular use-case there would probably be better served by `notnull()`, but it's reasonable to want to do things like "select assets in this particular industry", which isn't currently possible (or at least not straightforward.

I'm torn on whether Classifier should implement ordered comparis

[2016-03-25 21:23] richafrank commented on #1013
Now that we're building conda packages on appveyor, I'm going to close this.  Let me know if you think otherwise @twiecki .

[2016-03-25 21:23] #1013 closed

[2016-03-27 20:08] thiagof commented on #174
Nothing yet?

[2016-03-27 20:09] thiagof commented on #448
+1

[2016-03-28 13:26] richafrank opened #1087 "Appveyor ta-lib conda build fails with numpy ImportError"
I was able to build the ta-lib recipe from the command line on an appveyor machine, but appveyor itself fails when running [bld.bat](https://github.com/quantopian/zipline/blob/da87ca317d982760068c36ff48ee3f638c8744c8/conda/ta-lib/bld.bat#L34) with an `ImportError` for numpy.  This won't be an issue until we bump our ta-lib version.

[2016-03-29 15:29] mickeydonkey opened #1090 "two tests in test_algorithm.py failed commit 080874c"
Dear Zipline Maintainers,

# Environment

* Operating System: Ubuntu 14.04 LTS
* Python Version: `Python 3.4.4`
* Python Bitness: `64`
* How did you install Zipline: `pip install e .`
* Python packages: `$ pip freeze` , almostly same as the testenv on travis CI

alabaster==0.7.7
alembic==0.7.7
Babel==1.3
bcolz==0.12.1
blaze==0.9.1+168.g5622ba4
Bottleneck==1.0.0
certifi==2015.4.28
click==4.0
contex

[2016-03-29 16:10] ssanderson commented on #1090
@mickeydonkey you're getting this error because the commit you pulled included changes to Cython files, which need to be recompiled to take effect.  The easiest way to do this if you're running from a github checkout is to run:

`python setup.py build_ext --inplace`

[2016-03-29 16:10] #1090 closed

[2016-03-30 02:52] mickeydonkey commented on #1090
Before I ran `pip install e .` , I deleted all .so and .c files and build subdirectory to make installation clean but it doesn't make any change. Anyway, your magic works for me, thank you! @ssanderson

[2016-03-30 14:44] richafrank commented on #997
The numpy downgrade should have been fixed in zipline 0.8.4.  Closing, but feel free to re-open if there's still an issue.

[2016-03-30 14:44] #997 closed

[2016-03-30 14:44] richafrank commented on #953
zipline 0.9.0 is now available for win-64!

[2016-03-30 14:44] #953 closed

[2016-03-30 14:46] richafrank commented on #916
anaconda has win-64 packages for zipline 0.9.0 now.  Try one out and re-open if there's still an issue!

[2016-03-30 14:46] #916 closed

[2016-03-30 14:54] richafrank commented on #519
I just downloaded and unzipped zipline-master.zip from the Download ZIP link at https://github.com/quantopian/zipline.  I see

[code]
so seems like that file is there now.

I haven't tried running tests from outside a git clone, so it's possible there are further issues.  Feel free to re-open if you find that to be the case.

[2016-03-30 14:54] #519 closed

[2016-03-31 15:58] frawgie opened #1097 "Index out of bounds for history on European equities"
Operating System: Darwin 14.5.0 Darwin Kernel Version 14.5.0: Wed Jul 29 02:26:53 PDT 2015; root:xnu-2782.40.9~1/RELEASE_X86_64 x86_64

Python version: Python 2.7.11
Python bitness: 64
Installed Zipline via virtualenv & pip.
Installed packages: see attached requirements.txt
[requirements.txt](https://github.com/quantopian/zipline/files/198009/requirements.txt)
# Description of Issue

When using th

[2016-03-31 19:26] Mikedoh89 opened #1099 "Install Error"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: Windows
- Python Version: 2.7
- Python Bitness:
- How did you install Zipline: conda
- Python packages:

I am getting an error on the install.

It says:

Fetching package metadata:........Error: Could not find URL: https://github.com/blampe/IbPy.git/win-64/

I am useing th

[2016-03-31 19:33] llllllllll commented on #1099
Can you post the exact command that you used to try installing zipline? We do not have a dependency on IbPy so I think this may be an issue with another package.

[2016-03-31 21:05] Mikedoh89 commented on #1099
conda install -c Quantopian zipline

I think the problem may be the install is calling a custom url channel in my .condarc file but I am not sure how to remove it.

[2016-03-31 22:08] llllllllll commented on #1099
Hmm, Can you post the .condarc? I am almost certain that is the issue because we do not reference that package in our conda recipe.

[2016-04-01 12:58] Mikedoh89 commented on #1099
It is a text file that reads:

binstar_upload: true
channels:
- http://repo.continuum.io/pkgs/free
- http://repo.continuum.io/pkgs/pro
- https://conda.binstar.org/numba

[2016-04-01 16:21] llllllllll commented on #1099
can you temporarily move that file to something like `.condarc.bak` and then try installing zipline?

[2016-04-05 17:06] llllllllll commented on #1059
Thank you for this report, sorry it took so long to get back to you. I think the patch you proposed is correct. A workaround until this is fixed would be to rename your panel's major axis to use the names `open_price` and `close_price`. This can be done like:

[code]

[2016-04-06 19:33] ssanderson commented on #1081
This is done.

[2016-04-06 19:33] #1081 closed

[2016-04-08 14:46] lambokini opened #1118 "zipline EMA calculate problem"
Dear Zipline Maintainers,

I am trying to play with zipline. I notice that It integrates with talib to calculate EMA.
I have following code block to get EMA value.

def initialize(context):
    context.asset = symbol(SYMBOL)

[code]

---

It seems that zipline only using the 5 bars close price to get the EMA value.
for eaxmple, the close price is
[34, 32, 35, 33, 40, 44,  45]

so when calculate da

[2016-04-14 07:37] degiere commented on #900
I'm trying to put together a simple futures example. Haven't been able to get the point value multiplier to affect returns and ending portfolio value though:
https://gist.github.com/degiere/e68b95ef2ef03418c20478177bd05f6d#file-zipline-futures-py

Any suggestions for what I'm doing wrong?

[2016-04-14 10:39] twiecki commented on #855
I ported the risk metrics to https://github.com/quantopian/pyrisk so zipline is free to move over.

[2016-04-14 10:39] twiecki commented on #855
CC @llllllllll @richafrank

[2016-04-14 21:20] ssanderson opened #1132 "Add `groupby` keyword to `Factor.rank`, `Factor.top` and `Factor.bottom`"
https://www.quantopian.com/posts/pipeline-classifiers-are-here#570ff9d625ed81ac35000102

[2016-04-15 21:35] StewartDouglas commented on #900
hey @degiere, thanks for flagging this. It looks like there's a bug where, as you said, the multiplier does not correctly feed through to the portfolio value. I'm hoping to dig into this and come up with a fix in the near future.

[2016-04-16 04:39] degiere commented on #900
@StewartDouglas great thanks. I didn't dive in too deep. If I see a quick fix I'll try and commit also if you don't beat me to it.

[2016-04-17 05:20] degiere commented on #900
@StewartDouglas looks like the run method on TradingAlgorithm calls _write_and_map_id_index_to_sids and writes the futures symbol into equities_identifiers, and the sid gets incremented by 1:

[code]
Probably it's just being treated as an equity after this point. If I figure out a workaround I'll post it. Not sure if I have a strong enough grasp of the code yet to fix it as is. Hope this helps.

[2016-04-18 18:17] llllllllll commented on #1014
This is not the format for input dataframes, you need to indentify which asset that data is for. DataFrame format is date for the index and sids for the columns. The data points are the close values for the day. If you have data in this format you want to use a Panel.

[2016-04-18 18:21] llllllllll commented on #1118
The transform api is deprecated. Instead you can just use talib direcly. Here is an updated example using EMA: https://github.com/quantopian/zipline/blob/master/zipline/examples/dual_ema_talib.py

[2016-04-19 07:24] saukymo commented on #1118
@llllllllll
Hil, I am new to zipline. I installed zipline just now and I ran the example dual_ema_talib.py. But I got some error in this example.

Is there something changed or something wrong?

[2016-04-19 12:04] lambokini commented on #1118
@llllllllll even we use talib, the EMA calculation i think is still not correct.
since each time it use the last n day's data to calculate EMA. it never uses previous EMA and today's close price to calculate today's EMA.

I know we can use talib.EMA to calculate EMA. for example we have 200 day's data, talib.EMA will calculate n=5 period's EMA.

but for zipline, each time it only uses 5 day's data

[2016-04-20 12:55] inakie opened #1145 "'BarData' object has no attribute 'history'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`) OSX
* Python Version: `$ python --version` Python 2.7.11
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'` 64
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`) p

[2016-04-20 14:43] richafrank commented on #1145
Hi @inakie !

It sounds like you're running dual_moving_average.py taken from HEAD of master of the zipline repo (i.e. zipline almost-1.0.0), but using zipline 0.9.0.  On 0.9, `history` isn't available on the `data` object passed to `handle_data`.  Instead it's imported from `zipline.api`.  If you like, you can see the differences in the [API migration guide on our test drive environment] (https:/

[2016-04-20 15:50] ssanderson opened #1147 "Testing runtime is dominated by calls to gc.collect()."
As of bc0b117dc94b8e93081818964e3b1bdbf9b33abb, we call gc.collect() in a loop at the end of every test.  This takes on the order of .1 seconds every time (it grows larger and larger as the test suite continues, because the object graph gets larger).  For parameterized tests that don't do a lot of work, this overwhelmingly dominates the test runtime.  For example, running `test_execution_styles` o

[2016-04-20 16:24] inakie commented on #1145
Hi Rich!

That worked, thanks! I installed from git and now data.history() works.

[code]

Thanks!
Iñaki

[2016-04-20 16:24] #1145 closed

[2016-04-20 16:46] richafrank commented on #1145
Great, glad to hear it!

[2016-04-22 01:24] #1147 closed

[2016-04-22 01:57] richafrank commented on #576
This test looks to have been removed, and test_history.py doesn't suppress any warnings.  Closing.

[2016-04-22 01:57] #576 closed

[2016-04-22 01:58] richafrank commented on #623
I think this implementation of history is gone now.

[2016-04-22 01:58] #623 closed

[2016-04-22 02:04] richafrank commented on #968
Looks like you did this @ssanderson : https://github.com/quantopian/zipline/commit/5f49fa22cb52bb139a5d5c4ff05f1b12884fe23f#diff-a7c0d292cdfcb6ed3888aba6eaaa50bbR23

[2016-04-22 02:04] #968 closed

[2016-04-22 02:07] richafrank commented on #548
This should be available on master now, as of https://github.com/quantopian/zipline/pull/1105.

[2016-04-22 02:07] #548 closed

[2016-04-22 14:43] richafrank opened #1161 "Activation of conda env on appveyor breaks on newer images"
I put us [back on GCE] (https://github.com/quantopian/zipline/commit/b510703169b4cb37c037f83f99adc5438befc771) until we can work around (or they've fixed) the [conda issue] (https://github.com/conda/conda/issues/1923).  The newer image must have a longer PATH var.

[2016-04-22 14:44] richafrank commented on #1161
Error looks like:
[code]

[2016-04-22 15:26] jbredeche commented on #490
Hi @karolestrada, we've recently completely rewritten how Zipline adjusts prices and lookback windows.

Now, all prices and lookback windows are adjusted as of the lookback date (= the algorithm's simulation date).  If you'd like, you can pass in datasource that represents the adjustments (splits, mergers, etc) and Zipline will use that to apply adjustments on the fly.  We haven't made this very e

[2016-04-22 17:47] jmccorriston commented on #467
+1 https://secure.helpscout.net/conversation/194934629/10678/?folderId=221323

[2016-04-26 23:47] softwaregravy opened #1167 "Algorithm Initialization Logic Error"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

Running on Quantopian in a notebook

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

* Running an algorithm in quantopian's notebook environment was leading to a "weird" error in the constructor (full repro below).
[code]
* The issu

[2016-04-28 02:52] joseortiz3 opened #1171 "No 'zipline/examples' after successful 'conda install -c Quantopian zipline'"
Dear Zipline Community,

I installed zipline via conda, as per instructions. I am looking for the 'examples' folder, but I can assure you there is no 'zipline/examples/' anywhere on my computer.

"You can find other examples in the zipline/examples directory."

I searched the entire computer for 'zipline/', and looked in all of those for 'examples/'. Does not exist. Does conda not install the exam

[2016-04-28 17:10] richafrank commented on #1171
Hi @joseortiz3 ,  Good catch - It looks like the examples directory isn't being included in the conda or even the source distribution.

[2016-05-03 08:08] anddam opened #1175 "Position's sid instance attribute should contain an int"
While running simulations, the "sid" attribute of Position instance contains an Equity instance.
The same "sid" instance attribute of Asset (of which Equity is a subclass) returns an actual int.

This is confusing naming, either Position should be instantiated using the actual sid in the package or the name of the attribute should be changed to "security" or "equity" or "asset".

The behavior shou

[2016-05-03 17:12] llllllllll commented on #1175
Thank you for pointing out the inconsistency here. We agree that this is confusing and have been trying to standardize on `sid` being the asset identifier which is an int and `asset`, `equity`, or `future` to mean the `Asset` object. I think the right thing to do here would be to deprecate `position.sid` and add a new `position.asset` instead.

[2016-05-03 19:08] llllllllll commented on #1167
Sorry about the trouble. This is a known issue with the TrandingAlgorithm constructor. Your workaround of passing `handle_data=None` is correct. We are reworking some of the public entry points to zipline which should fix this particular issue.

[2016-05-05 15:23] ssanderson opened #1181 "CLI QOL Improvements"
Tried to use the new CLI a bit this morning.  Feedback from that experience.

- [ ] You have to invoke the CLI with `python -m zipline <stuff>`, which is an annoying amount of typing.  We could register an entrypoint in our setup.py so that you can just do `zipline <stuff>`.  In my experience, this is how most libraries bundle command line interfaces (c.f., for example, `gunicorn`, `ipython` or `j

[2016-05-05 15:23] ssanderson commented on #1181
cc @richafrank

[2016-05-05 15:28] richafrank commented on #1181
👍

[2016-05-05 17:10] ssanderson commented on #1181
Stack trace for the failures I'm seeing on @llllllllll's latest trying to run the quandl bundle:

[code]

[2016-05-05 18:27] llllllllll commented on #1181
this is a really funny issue. In python 2 when we do `raw = cache[key]` that always returns a list for the first key because the bytes happen to not crash the msgpack parser and it is treating the filepath (which is bytes in py2) as msgpack data...

[2016-05-06 19:11] llllllllll commented on #1181
fixed with #1178

[2016-05-06 19:11] #1181 closed

[2016-05-06 19:39] llllllllll commented on #1118
@saukymo Where did you find the example / how did you install zipline? Master of zipline has been updated but we have not yet done a release so if you pulled the example off of github but pip/conda installed zipline the examples would not run.

@lambokini What I mean is that zipline is no longer doing talib computations for the user. You may call the talib functions directly by getting the data in

[2016-05-06 19:41] llllllllll commented on #23
We are now building the documentation with each release. We would like to have docs for master built also though.

[2016-05-06 19:45] llllllllll commented on #110
I think we have settled on bcolz as the internal format for zipline. With the new data bundle changes we also support the case of caching yahoo data instead of downloading on each run.

[2016-05-06 19:45] #110 closed

[2016-05-06 19:47] llllllllll commented on #170
We now have the cancel policy. We could have a new event that is `SIMULATION_END` and then close the orders when that is fired.

[2016-05-06 19:47] llllllllll commented on #174
We now support `fetch_csv` in zipline so I don't think this is needed.

[2016-05-06 19:52] llllllllll commented on #215
Something like this could now be implemented as a user defined data portal. I think that it is probably best to not include too many data bundles and instead allow users to choose the data source that works best for them.  by default we will be shipping with the quandl WIKI eod pricing data set.

[2016-05-06 19:52] #215 closed

[2016-05-06 19:55] llllllllll commented on #403
The tutorial and cli have been reworked. I imagine this is no longer an issue.

[2016-05-06 19:55] #403 closed

[2016-05-06 19:56] llllllllll commented on #256
There is now a `zipline/tests/resources/example_data` which is used to run the examples. The data comes from the quandl WIKI dataset which is public domain

[2016-05-06 19:56] #256 closed

[2016-05-06 20:00] llllllllll commented on #222
we no longer have talib wrapper

[2016-05-06 20:00] #222 closed

[2016-05-06 20:01] llllllllll commented on #448
done

[2016-05-06 20:01] #448 closed

[2016-05-06 20:05] llllllllll commented on #455
We have deprecated the subclassing api a while ago and now have `zipline.run_algorithm` as the top level entry point for running backtests. This will let us change the implementation of TradingAlgorithm  as needed without breaking user code. For the parameter optimization use case, one may just define their functions as closures and then pass them to run_algorithm

[2016-05-06 20:05] #455 closed

[2016-05-06 20:06] llllllllll commented on #475
This should be fixed now

[2016-05-06 20:06] #475 closed

[2016-05-06 20:07] llllllllll commented on #476
We are now using pandas-datareader to load our yahoo data for the data bundles.

[2016-05-06 20:07] #476 closed

[2016-05-06 20:08] llllllllll commented on #655
I think we are okay with what we have now for our travis install

[2016-05-06 20:08] #655 closed

[2016-05-07 06:34] femtotrader commented on #222
I'd be please to know how you support technical analysis indicators ?
Is it pure Pandas now ?

[2016-05-07 07:07] llllllllll commented on #222
We removed the idea of transforms so zipline does not use talib at all. Users have the option of passing the results of `data.history` (formerly `zipline.api.history`) to any of the talib functions and using the results like normal. A project we are ironing out now with the hope of working on at our PyCon sprint is adding technical analysis features to the pipeline api.

[2016-05-08 17:15] npezolano opened #1189 "Tag versioner bug"
Not sure how this changed but some where along the line the "v" in front of the version disappeared so the latest tags no longer show on top. See the current tags drop down menu, it shows `v0.8.3` on top when the latest is buried on the bottom as `0.9.0`. Similar issue if we run `git tag`.  Can we please keep the tag scheme consistent?

[2016-05-09 19:56] martingaleakki commented on #603
Any update on this ?

[2016-05-11 10:44] edendekker opened #1197 "zipline incompatible with pandas 0.18 - cannot import name data, cannot import name mask_missing"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: mac os elcapitan
* Python Version: 2.7.11
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
backports.ssl-match-hostname==3.4.0.2
bcolz==1.0.0
beautifulsoup4==4.3.2
Bottleneck==1.0.0
certifi==14.5.14
click==6.6
contextlib2==0.5.3
cyordereddict==1

[2016-05-11 11:26] JimCB commented on #1197
I am having the same issue

[2016-05-12 12:39] richafrank commented on #1197
Thanks for reporting this @edendekker !  Looks like something has changed in pandas 0.18 which zipline isn't expecting.  Our test matrix is only on pandas 0.16 and 0.17 currently.

I'm going to rename this issue to reflect the 0.18 incompatibility more generally, as I expect we'll work to solve any 0.18 issues all at once.

[2016-05-13 02:40] llllllllll commented on #1189
We explicitly chose to remove the `v` prefix when we switched to versioneer. This makes it so that the tag _is_ the version that it is tagging in pep440 form. This page: https://github.com/quantopian/zipline/tags appears to be sorted by time with 0.9.0 at the top. `git tag` was less ordered though:

[code]

Which ui is affected by this? I would prefer to keep them without the `v` but if it breaks

[2016-05-13 09:01] FayolChang opened #1200 "how to instantly update portfolio after an order/transaction committed?"
Dear Zipline Maintainers / who it may concern,

it seams that cash/portfolio_value keep constant when I call user defined handle_data function.

In this case, when I buy 10 stocks with equal percent,  It may end up with negative ending_cash in portfolio.

What I want is to change portfolio/position immediately after a transaction succeed.
so when I buy the 10th stock, it maybe that not enough cash

[2016-05-14 00:39] FayolChang commented on #1200
https://github.com/quantopian/zipline/issues/72

[2016-05-15 17:08] fredfortier opened #1205 "PyCharm: zipline.api.x => Unresolved reference 'symbol'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Mac OS El Capitain
* Python Version: 2.7.10
* Python Bitness: 64-bit
* How did you install Zipline: pip -- individually installed each library using version info in /zipline/etc/requirements.txt
* Zipline version: master

Now that you know a little about me, let me tell

[2016-05-15 18:40] llllllllll commented on #1205
Many of the functions in this namespace are dynamically added. This is because they actually resolve to bound methods of some registered `TradingAlgorithm` instance. Here is what is statically in `zipline.api`: https://github.com/quantopian/zipline/blob/master/zipline/api.py#L16 and here is the decorator's definition: https://github.com/quantopian/zipline/blob/master/zipline/utils/api_support.py#L

[2016-05-16 21:13] smujahed opened #1207 "ValueError: numpy.dtype has the wrong size, try recompiling"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Mac OS X El Capitan version 10.11.4 (15E65)
* Python Version: Python 2.7.11 :: Continuum Analytics, Inc.
* Python Bitness: 64-bit
* How did you install Zipline: `conda`
* Python packages: `$ pip freeze` or `$ conda list`

 - bcolz=1.0.0=py27_0
 - bottleneck=1.0.0=np19py2

[2016-05-17 15:11] Jacyle commented on #916
When i run the following code, I get the following conflicts. How do I resolve this?

Fetching package metadata: ......
Solving package specifications: ....

The following specifications were found to be in conflict:
  - bottleneck (target=bottleneck-1.0.0-np110py35_0.tar.bz2) -> python 2.7*|3.4*

  - conda -> conda-env
  - conda -> menuinst
  - conda -> pycosat
  - conda -> python 2.7*|3.4*
  - c

[2016-05-17 16:27] richafrank commented on #916
Hi @Jacyle , Judging from the names of the target packages, it looks like you're in a python 3.5 environment (you can verify with `conda info`).  We haven't built zipline packages for 3.5, since we haven't yet fixed [the compatibility issues] (https://github.com/quantopian/zipline/issues/1004).  python 3.4 is tested and should work though.

[2016-05-17 17:10] richafrank commented on #1207
Hi @smujahed ,

I'm not sure the commands that you used to install the zipline or bcolz conda packages, but seems like the bcolz package that's installed was compiled with a different version of numpy than you've got installed in the environment currently.  It's not tagged with a numpy version, so I couldn't say what it's expecting.  We have a python27-numpy19 tagged bcolz package available in the

[2016-05-19 03:27] bicepjai commented on #997
I have zipline==0.9.0 and still get the same issue when i execute buyapple.py script.

[2016-05-19 15:45] fredfortier commented on #1205
@llllllllll are you aware of any popular workaround which developers use to circumvent the limitation?

[2016-05-19 16:11] richafrank commented on #1205
@fredfortier , I'm working on a fix for you in #1208.  *Hopefully* merged and released soon.

[2016-05-19 17:21] richafrank commented on #997
Hi @bicepjai , did you try re-installing or uninstalling bottleneck?

This is caused by bottleneck running with a different version of numpy from the one that it was compiled against.  You'd need to make sure you're not using a cached wheel.  Alternatively, you could uninstall bottleneck altogether, since it's an optional dependency of zipline.

[2016-05-20 01:02] bicepjai commented on #997
it worked after clean install

[2016-05-20 01:09] bicepjai opened #1215 "epydoc Documentation"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Darwin bicepjai-mac.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64
* Python Version: Python 2.7.11
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
bcolz==0.12.1
Bottleneck==

[2016-05-20 01:50] ssanderson opened #1216 "1.0.0 Release Issues"
- [x] `import zipline` triggers a warning from `pandas.io.data` (this fires in the CLI)
- [x] `run_algorithm` doesn't set up pipeline machinery.
  - [x] We need an example that uses pipeline that doubles as a regression test.
- [x] Zipline.api stub files not distributed with pip. (https://github.com/quantopian/zipline/issues/1205#issuecomment-220620153)
- [x] `zipline run` should suggest running `

[2016-05-20 01:59] richafrank commented on #1216
FWIW I believe the warning isn't new to 1.0.0 - this was true in 0.9 too.

[2016-05-20 06:17] llllllllll commented on #1215
For Zipline we use [sphinx](http://www.sphinx-doc.org/en/stable/) to generate our docs. This is what you see on zipline.io. If you would like to build the docs locally, you can `cd` into `docs/` and run `make html` and then open up the pages with `$BROWSER build/html/index.html`

[2016-05-20 06:17] llllllllll commented on #1205
We have added stub files which allows pycharm to know what will be in zipline.api statically.

[2016-05-20 06:18] lajor2010 opened #1217 "run example dual_moving_average.py in zipline 1.0.0 with error: " ValueError no data for bundle u'quantopian-quandl' on or before 2016-05-20 ......"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$

[2016-05-20 06:21] llllllllll commented on #1217
To download the data, run `zipline ingest`

[2016-05-20 06:23] llllllllll commented on #1217
I will put a message in the error there, something like, "Maybe you need to run `zipline ingest`"

[2016-05-20 06:23] llllllllll commented on #1216
I need to put a message in the "no data available for bundle on or before ..." message saying, "Maybe you need to download the data" so that users know what to do to fix the problem.

[2016-05-20 06:24] llllllllll commented on #984
In 1.0.0 we update the command line. The new command is just `zipline` with subcommands for running backtests and managing data.

[2016-05-20 06:24] #984 closed

[2016-05-20 06:25] #1014 closed

[2016-05-20 06:26] llllllllll commented on #1216
related to the pipeline example: #911

[2016-05-20 06:27] lajor2010 commented on #1217
@llllllllll   using this url (https://www.quandl.com/api/v3/datasets.csv)  to get data?
can you get me example?
first:   download the data
second:  zipline ingest

thank you

[2016-05-20 06:29] llllllllll commented on #1217
The full command is just:

[code]

This will download data from an s3 bucket, and not from quandl directly. It is the same data that quandl serves except that it is already in the format that zipline wants.

[2016-05-20 06:30] lajor2010 commented on #1217
run  "zipline ingest"   in terminal to  download  data.

thanks

[2016-05-20 06:30] llllllllll commented on #889
There is new API for ingesting data for use in zipline. For information about how to use this api or add your own data, see: http://www.zipline.io/bundles.html

[2016-05-20 06:30] #889 closed

[2016-05-20 06:33] llllllllll commented on #713
If the data fits in memory, you can convert it into a Panel`` and pass that to the new [run_algorithm](http://www.zipline.io/appendix.html#running-a-backtest) function. If it is too large to fit in memory, or you would like to use this a lot, you can convert it into zipline's native data format. Information on how to do that is available here: http://www.zipline.io/bundles.html

[2016-05-20 06:35] llllllllll commented on #659
Zipline has an optional dependency on blaze for use in Pipeline. Zipline can convert simple blaze expressions into a pipeline dataset. See zipline/pipeline/data/loaders/blaze/core.py for more info.

[2016-05-20 06:39] llllllllll commented on #495
We have a docker image for setting up a zipline env. I don't really know much about vagrant but I can look into it. Is there a particular reason that one would want to run zipline from source instead of just doing a `conda install` or `pip install`?

[2016-05-20 06:41] llllllllll commented on #537
We have ported the asset finder to zipline and zipline now uses Asset objects where possible. We are trying to finish cleaning up the last of the int/asset issues.

[2016-05-20 06:41] #537 closed

[2016-05-20 06:44] llllllllll commented on #421
The new cli in 1.0.0 can do this by passing `-Da=b` on the command line. This will make the name `a` have the value `b` in the algoscript.

[2016-05-20 06:44] #421 closed

[2016-05-20 06:45] llllllllll commented on #281
@ehebert is this still an open issue?

[2016-05-20 06:50] llllllllll commented on #128
Are there any tests for this?

[2016-05-20 06:50] llllllllll commented on #129
ping

[2016-05-20 06:51] #363 closed

[2016-05-20 06:55] #848 closed

[2016-05-20 06:55] #843 closed

[2016-05-20 07:17] twiecki commented on #421
:+1:

[2016-05-20 08:35] bicepjai commented on #1215
I was looking for more like module explanations like [lean-block-diagrams](https://github.com/QuantConnect/Lean/blob/master/Documentation/QuantConnect%20Lean%20Outline.pdf)

[2016-05-20 14:22] richafrank commented on #1171
This should be fixed in zipline 1.0.0.  I see the examples installed in my site-packages now.

[2016-05-20 14:22] #1171 closed

[2016-05-20 14:25] richafrank commented on #1205
On zipline 1.0, I'm seeing the stub file installed by conda but not by pip.

[2016-05-20 15:28] smujahed commented on #1207
Hi @richafrank ,

Thank you for getting back to me so quickly and my apologies for not getting back to you sooner.

The command is listed in the "Reproduction Steps" part of the issue form. Nothing was done outside of what I have listed there.

Absolutely right! You've hit the nail on the head. For some reason when I installed `zipline` with `conda` it would automagically download `bcolz` from the

[2016-05-20 15:28] #1207 closed

[2016-05-20 16:40] llllllllll commented on #1216
#1218
#1219

[2016-05-20 16:51] fredfortier opened #1220 "1.0 Documentation Issues"
I found at least these issues here: http://www.zipline.io/bundles.html#quantopian-quandl-wiki-mirror
- Invalid import: from zipline.bundles import register, yahoo_equities => from zipline.data.bundles import register, yahoo_equities
- Missing argument: zipline ingest my-yahoo-equities-bundle => zipline ingest -b my-yahoo-equities-bundle

Also, at least the api.pyi is not there when installing like

[2016-05-20 16:55] llllllllll commented on #1220
Thank you for reporting this. I will update the docs right away. We will be releasing a 1.0.1 pretty soon with some small fixes from 1.0.0; getting the .pyi in the sdist is on that list. In the meantime, the .pyi is included in the conda release.

[2016-05-20 19:39] llllllllll commented on #1220
https://github.com/quantopian/zipline/commit/96ec1fd639cf8310ffe978af441e8053cc796237

[2016-05-20 19:39] llllllllll commented on #1217
Were you able to get everything working?

[2016-05-20 20:25] richafrank commented on #1207
Thanks for sharing your solution @smujahed !

[2016-05-21 18:11] npezolano commented on #529
This can be closed by #852 .

[2016-05-21 18:11] #529 closed

[2016-05-22 17:55] fredfortier commented on #911
Given this recommendation: "The most promising one that I'm aware of is Quandl's WIKI dataset, which contains a couple thousand assets and includes dividends and splits." in relation to its implementation as a data bundle in 1.0, was the intent to enable Pipeline computations in zipline? If so, my naive attempt at running a Quantopian-tested algorithm did not seem to initialize the Pipeline.

[2016-05-22 20:05] fredfortier commented on #911
I got a bit further. Guided by reading the zipline source code, I instantiated the TradingAlgorithm() instead of calling run_algorithm(). I gave get_pipeline_loader parameter to its constructor => get_pipeline_loader=lambda column: pipeline_loader, where pipeline_loader comes from USEquityPricingLoader.from_files(path, path).

However, this seems to only factor in securities which I explicitly ref

[2016-05-22 23:27] llllllllll commented on #911
`run_algorithm` _should_ setup the pipeline loader, not doing so is a bug which we will try to fix soon in a 1.0.1 release. When you say that the loader can only reference things seen in a `symbols` call, what do you mean. What is the shape of the result of `pipeline_output`?

[2016-05-23 04:49] lajor2010 opened #1222 "how to inject zipline(1.0.0) executable program into jupyter notebook."
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: (Windows Version or `$ uname --all`)
- Python Version: `$ python --version`
- Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
- How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
- Python packages: `$ pi

[2016-05-23 04:54] llllllllll commented on #1222
Sorry, I don't really know what you are asking. Can you fill out the description of the issue so I can help with this?

[2016-05-23 05:03] lajor2010 commented on #1222
i have been installed zipline (1.0.1)  and ipython notebook (also called jupyter notebook ) in my computer,  but now,  i want to write same  zipline code  in ipython notebook website,  and  then auto run with zipline in backgroup,  my problem is how to inject zipline into   ipython notebook so that ipython notebook can invoke zipline and send parameters.  thanks you !

[2016-05-23 07:52] denisvolokh opened #1223 "Convert Quandl data"
Hi,

Could you give an example how to convert daily data downloaded from quandl into zipline format?

Thanks.

[2016-05-23 08:59] #1223 closed

[2016-05-23 09:01] denisvolokh opened #1224 "Backtest intraday strategy with OHLC daily data"
Hi,

Is it possible to open position with open price and close with close price (on ohlc daily data)?

Thanks.

[2016-05-23 14:57] lajor2010 opened #1225 "zipline line magic with no algofuncs raises misleading error"
Dear Zipline Maintainers,

i have read the section about python notebook in the tutorial (https://github.com/quantopian/zipline/blob/master/docs/source/beginner-tutorial.rst) before running the example code on ipython notebook. However, i found the code failed when i executed. The error happened as follows:
1. first case:
   code:

[code]

error:

[code]
1. second case:
   code:

[code]

erroe:

[

[2016-05-23 19:05] llllllllll commented on #1222
Are you asking about the IPython magic? If so you need to run `%load_ext zipline` in an emty cell. This will make the `%zipline` magic available. If you are asking about importing the code, you need to make sure that you are running jupyter in the same virtual env that you installed zipline in. If this is the case you should be able to just run `import zipline`.

[2016-05-23 19:07] llllllllll commented on #1225
The `load_ext` call and the `zipline` call should happen in different cells. Does that fix the issue?

[2016-05-23 19:08] llllllllll commented on #1224
I do not think that we support this. @jbredeche, @ehebert do you know if this is possible?

[2016-05-23 20:03] cwengc opened #1228 "yahoo bundle causes SQLiteAdjustmentWriter error - sqlite3.OperationalError: unable to open database file"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7
* Python Version: 3.4
* Python Bitness: 64
* How did you install Zipline: conda
* Python packages:
[code]
Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue
I'm running on windows, I'm getting an error when

[2016-05-23 20:19] jbredeche opened #1229 "zipline example data currently has to be built in py3"
If you build it in py2, you get bytes/str decoding errors in py3.  Would be nice to have it work in both envs no matter which env was used to build it.

[2016-05-23 21:56] llllllllll commented on #1229
@ssanderson seemed to be able to run this in py2, can you compare `pip freeze` to see what else may be causing this?

[2016-05-23 22:07] ssanderson commented on #1229
@llllllllll I think the bug @jbredeche hit was "build example data in py2, then try to use it in py3".  Writing and running solely in py2 seems to work fine; the issue I'm guessing is authoring in py2 and then running in py3.

[2016-05-23 22:08] ssanderson commented on #1229
(Just confirmed on my machine that this fails if I write in py2 and read in py3).

[2016-05-23 22:24] jbredeche commented on #1229
Yup, @ssanderson described my issue correctly. Apologies for the ambiguity.

[2016-05-24 02:41] lajor2010 commented on #1225
The load_ext call and the zipline call i have put  in different cells, however,  the problem is "AttributeError: 'NoneType' object has no attribute 'name'".

so ,  how to send algorithm code to zipline。
in terminate, we can user 'zipline run -f'  with algofile .
but in ipython notebook,  What parameters should we attach %%zipline .

thanks you

[2016-05-24 03:32] llllllllll commented on #1225
you need to use a cell magic. you two percent (%) signs like:

[code]

[2016-05-24 05:10] lajor2010 commented on #1225
@llllllllll   in my first time ask the question which has  contine two percent(%)  signs case and  one percent(%) sign  case。

so i think  the problem "AttributeError: 'NoneType' object has no attribute 'name'".   is that in python notebook  %%zipline  only  --start and --end。

 we did not have to specify an input file as above since the magic will use the contents of the cell and look for your al

[2016-05-24 05:27] llllllllll commented on #1225
The behavior should not have changed between 0.9 and 1.0. In the first case, the syntax error is on line 3 which makes me think that you did not put the `%%zipline` in its own cell.

[2016-05-24 05:28] llllllllll commented on #1225
I will look into detecting this case and providing a better error message when the cell magic is used with no functions defined.

[2016-05-24 05:29] llllllllll commented on #1222
Should we close this in favor of: https://github.com/quantopian/zipline/issues/1225?

[2016-05-24 05:49] lajor2010 commented on #1225
@llllllllll

AttributeError: 'NoneType' object has no attribute 'name'.

what shoud i do to fixed this problem?

[2016-05-24 06:05] llllllllll commented on #1225
Sorry for all the hassle, it looks like this is just broken. I just pushed a fix to master. You can either pull from master or apply the following diff in place:
[code]

I will try to get 1.0.1 pushed before I leave for PyCon this weekend.
Sorry for not just running this earlier.

[2016-05-25 10:03] bachi76 commented on #1217
I run into the same, suggest to add the info about 'zipline ingest' to the Quickstart and tutorial pages.

Side note: I've installed with conda, and the version I've got says this when I run the command from the quickstart docs:

quantopian$ zipline run -f buyapple.py --start 2000-1-1 --end 2014-1-1 --symbols AAPL -o buyapple_out.pickle
.../lib/python2.7/site-packages/pandas/io/data.py:33: FutureW

[2016-05-25 14:51] ehebert commented on #281
Yes, I think we would still benefit from aggressively protecting this edge case.

[2016-05-25 15:57] ehebert commented on #129
No longer relevant, since we the paradigm for `test_perf_tracker` has changed with Q2.0.

[2016-05-25 15:57] #129 closed

[2016-05-25 16:05] ehebert commented on #1224
Could do this via the slippage model, by checking the `order.direction` and choosing the pricing field based on that. (Where a positive direction is opening the position.)

A barebones example:
[code]

[2016-05-25 19:37] fredfortier commented on #911
Great! I hesitate to add much more info to this issue as I might have loaded the data incorrectly. I do not want to add noise to your issues. As soon as 1.0.1 is out, or this particular fix is committed to the master, I will try again using the natural method and give a more detailed account should I continue to experience the behavior.

[2016-05-25 21:06] ssanderson opened #1235 "Remove Cycles Between TradingAlgorithm and AlgorithmSimulator"
AppVeyor builds mysteriously started failing on https://github.com/quantopian/zipline/pull/1230 trying to delete the adjustments db in a temporary directory.

The root of the issue, ultimately, is the fact that we create a cycle between TradingAlgorithm and AlgorithmSimulator, which prevents deterministic collection of any resources referenced by the Algorithm.

I tried debugging this using the [o

[2016-05-25 21:07] ssanderson commented on #1235
The short-term fix for this is judicious use of `gc.collect` in test_examples.  The real fix is to break the cycles between AlgorithmSimulator and TradingAlgorithm by making the algo no longer responsible for constructing the simulator.

[2016-05-27 09:58] twiecki commented on #1197
This issue also makes current zipline incompatible with pyfolio which is already on pandas 0.18.2.

[2016-05-27 22:58] ssanderson opened #1236 "QOL Issues with run_algorithm"
- We try to provide a default for `bundle`, but the logic doesn't actually work, so you have to pass bundle='quantopian-quandl`.  The default should work correctly.
- You have to pass tz-aware timestamps to `run_algorithm`.  We could probably accept strings and coerce to Timestamp.

[2016-05-27 23:03] ssanderson opened #1237 "Docs build script requires `path.py` without specifying it as a dependency."
We should probably just remove it.

[2016-05-28 18:18] fredfortier opened #1239 "Cannot unit test Pipeline against a "data bundle""
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Mac OS 10.11
* Python Version:  Python 2.7.11
* Python Bitness: 64
* How did you install Zipline: pip git+https://github.com/quantopian/zipline
* Python packages:
alabaster==0.7.8
appnope==0.1.0
Babel==2.3.4
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
ba

[2016-05-28 22:05] adijo commented on #1217
Hi @bachi76, I had the same issue. Looks like `--symbols` does not exist anymore. I just ran the command without that flag and it worked. Maybe someone from Quantopian can clarify. I also suggest that the `zipline ingest` line should be added to the installation instructions.

[2016-05-29 18:21] richafrank commented on #1205
source dist packaging fixed in https://github.com/quantopian/zipline/commit/0cef5eff2ffebac9813d58b56b34a730510758d4

[2016-05-29 18:21] #1205 closed

[2016-05-31 17:49] fredfortier opened #1241 "Errors when fetching some stocks using Yahoo Finance"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: OS X 10.11
- Python Version: Python 2.7.11
- Python Bitness: 64
- How did you install Zipline: pip
- Python packages:

[code]

Now that you know a little about me, let me tell you about the issue I am
having:

I am using a Yahoo Finance bundle to fetch an array of stock sy

[2016-06-01 20:46] #1189 closed

[2016-06-02 12:28] npezolano commented on #911
I was looking into this as well. `DataFrameLoader` seems like a good place to start from https://github.com/quantopian/zipline/blob/master/zipline/pipeline/loaders/frame.py. Would it be possible to extend `DataFrameLoader` to pass the entire dataset?

EX:  Instead of
```loader = DataFrameLoader(USEquityPricing.close, baseline)```
Do:
```loader = DataFrameLoader(USEquityPricing, baseline)```

[2016-06-02 13:14] npezolano commented on #911
Is it possible to extend `DataFrameLoader` to accept multiple columns or a full dataset as an input?

See:
https://github.com/quantopian/zipline/blob/master/tests/pipeline/test_frameload.py#L51-L53

[2016-06-02 17:01] llllllllll commented on #1217
@adijo @bachi76 I think the quickstart is out of date, you are correct to just remove `--symbols`. I will update the install/quickstart to tell you to ingest.

[2016-06-02 22:04] #1216 closed

[2016-06-03 20:38] richafrank commented on #1235
Made a different short-term fix by removing the algo instance reference from the simulator at the end of the simulation, instead of gc'ing in the tests.

[2016-06-03 21:24] richafrank commented on #553
The requirement has now been [relaxed] (https://github.com/quantopian/zipline/pull/1213/files#diff-710b8bff6f1b5d930511d643b73c6987L1499) to any CommissionModel instance, e.g. even a custom subclass.

[2016-06-03 21:24] #553 closed

[2016-06-04 22:35] jboissard opened #1262 "error message type"
when omitting end date parameter, for example in following command:
`python -m zipline run -f buyapple.py -s 2015-01-01 `

the returned error message `Error: must specify an end date with '-s' / '--end'` contains a typo: `-s` must be replaced with `-e`

[2016-06-05 00:15] llllllllll commented on #1262
This is fixed on master with: https://github.com/quantopian/zipline/pull/1252

[2016-06-05 00:15] #1262 closed

[2016-06-07 07:56] ist0ne opened #1266 "The %%zipline not work"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: MAC OS X
* Python Version: Python 2.7.10 --  64-bit
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages:
anyjson==0.3.3
appinst==2.1.5
appnope==0.1.0
apptools==4.3.0
atom==0.3.9
auxlib==0.0.37
bcolz==0.12.1
bootstrap-admin==0.3.6
Bottleneck==1.0.0
c

[2016-06-07 10:47] ist0ne commented on #1266
It‘s ok
%load_ext zipline

Not imp[ort zipline

[2016-06-07 10:47] #1266 closed

[2016-06-07 15:39] richafrank commented on #1228
Looks like [`overwrite=True`] (https://github.com/quantopian/zipline/blob/120d60fe273b74ef652e976eb5069459a876a443/zipline/data/bundles/core.py#L358-L358), which tries to `os.remove`, doesn’t work on Windows b/c we’ve got an open file handle to the `NamedTemporaryFile`.

[2016-06-07 16:12] richafrank commented on #467
Looks to be fixed.

[2016-06-07 16:12] #467 closed

[2016-06-07 18:19] richafrank commented on #1217
@llllllllll Is there more to update besides https://github.com/quantopian/zipline/pull/1248 ?

[2016-06-08 21:01] nalon99 opened #1268 "Zipline does not work with 1 minute data"
# Environment

* Operating System: Windows 8.1 Pro 64 bit
* Python Version: 2.7.11 (Anaconda 4.0.0 64 bit)
* Python Bitness: 64
* How did you install Zipline: 'conda'
* Python packages:

[code]

# Description of Issue

I'm running a Jupyer Notebook  with a simple test algo with 1 minute data of SPY loaded from a CSV local file. Data is structured as a Panel as:
[code]
and has a Date index in UTC t

[2016-06-11 00:20] ssanderson opened #1271 "Issues with the new Exchange Calendars"
- [ ] Most of its CME calendar appears to have been copy/pasted from NYSEExchangeCalendar.  This means that we're duplicating the definitions of various holidays (not a correctness issue per-se, but we should probably move these to a shared `holidays.py` or similar), and we have at least one serious error: Veteran's Day is not observed by the NYSE, but http://www.cmegroup.com/tools-information/hol

[2016-06-14 23:11] FayolChang opened #1277 "instant_fill was removed."
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Darwin  15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64)
* Python Version: `2.7.11`
* Python Bitness: `64`
* How did you install Zipline: (source code)
* Python packages: ``

Now that you know a little about

[2016-06-14 23:38] sluo1989 opened #1278 "find_packages() got an unexpected keyword argument 'include'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: OSX EI Captain, 10.11.5
- Python Version: 2.7 newly installed
- How did you install Zipline: pip and from source

Now that you know a little about me, let me tell you about the issue I am
having:
# Description of Issue

sudo python setup.py install

Traceback (most recent

[2016-06-17 00:51] jdgd1 opened #1284 "zipline module fails to load"
Clean install of Anaconda Python (64bit) w/ python 3.4 on Windows. Zipline 1.0.1 installed successfully via conda. However when I try to a simple "from zipline.api import history" I get the following error:

`Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\pandas\__init__.py", line 7, in <module>
    from pandas import hashtable, tslib, lib
  File "pandas\src\numpy.pxd",

[2016-06-17 01:13] jdgd1 commented on #1284
As an update I downgraded numpy to version 1.10.1 (from 1.11) and now get this error:

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Anaconda3\lib\site-packages\zipline\__init__.py", line 23, in <module>
    from .utils.run_algo import run_algorithm
  File "C:\Anaconda3\lib\site-packages\zipline\utils\run_algo.py", line 17, in <module>
    from zipline.algori

[2016-06-17 01:30] davidandreoletti opened #1285 "Forex support"
Hi,

Thanks for the wonderfull `zipline` package. I have been reading the documentation and I have not found any strong indication that Forex back testing is supported out of the box.

a) Is it supported ?
b) If not, from a high level point of view, what "components" within zipline should be modified to add support for it ?

Regards,

[2016-06-17 01:43] #1284 closed

[2016-06-17 01:46] jdgd1 opened #1286 "Cannot import 'add_history'"
Clean install of zipline 1.0.1 on windows. After install can import every other module from the example, but when I try to import "add_history" I get the error:

Browsed through the site-package but didn't see this file. Is still being used?

[2016-06-17 16:24] richafrank commented on #1286
Hi @jdgd1 ,

Nope, it's not used anymore.  Sorry for the confusion.  I just opened a [PR] (https://github.com/quantopian/zipline/pull/1287) which removes mentions of it from the documentation.

[2016-06-17 16:36] richafrank commented on #1278
Hi @sluo1989 ,

Seems like a setuptools version issue?  Locally, setup.py runs for me, and in the repl, I see:
[code]

It also works for me, though, with setuptools 23.0.0.  I have
[code]
What does the signature of `find_packages` look like for you, and where is it defined?

[2016-06-17 18:42] richafrank commented on #1286
Going to close this issue, now that the docs are updated.  Feel free to re-open if there's more to be done here!

[2016-06-17 18:42] #1286 closed

[2016-06-21 16:00] pamiro opened #1295 "Issue with "zipline ingest -b quandl""
Hello,
I am not able to download **quandl** data bundle (although I have no issue with **quantopian-quandl**). I wonder if anybody else is facing similar issue?
## My environment
- Operating System: Linux x86_64 or OSX
- Python Version: anaconda python 3.4
- Python Bitness: 64
- How did you install Zipline:  pip
- Python packages:
  ....
  zipline   1.0.1      <pip>
  ....
## Reproduction Steps
1.

[2016-06-22 03:19] rylanchiu opened #1297 "import zipline error"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `Linux ubuntu 14.04`
* Python Version: `python --2.7.11`
* Python Bitness: ` 64`
* How did you install Zipline: `pip`
* Python packages:

[code]

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

When I import the

[2016-06-22 03:36] rylanchiu commented on #1297
Problem solved when I reinstall zipline with conda again. Thanks.

[2016-06-22 03:36] #1297 closed

[2016-06-22 22:19] jdgd1 opened #1299 "Issue Using Own Data with Zipline"
Hello,

I am new to zipline and want to use my own data instead of the quantopian default data. I have a csv file with the dates and closing prices for a security I want to use for placing orders on that security. So, I put the data into a pandas dataframe

`data=pandas.read_csv("C:\\Users\\sbhadauria\\Documents\\SPYohlcv.csv")
`
and then I run the algorithm using
`zipline.run_algorithm(start=date

[2016-06-27 00:56] sluo1989 commented on #1278
Hi Richard,

Thank you so much for your reply:-)
I guess although I have installed the latest version of setuptools package, python still points to the old version setuptools (system python's I guess), however I have set the default python as the one I installed.

Do you know how to specify the specific setuptools' s version? Many thanks!

Best,
Shikai

[2016-06-27 13:34] richafrank commented on #1278
My method of choice to install a particular version in my python env is:
[code]
or (upgrading to the latest):
[code]

but it sounds like you've already done that, so I'm not sure...

[2016-07-01 06:38] monajalal commented on #699
@ishandutta2007 after 30 minutes of trying everything else on OSX Yosemite for Python 2.7, your solution worked! Thanks!

[2016-07-01 06:39] monajalal commented on #699
Also this error happened for me when I was trying to import nltk package!

[2016-07-04 00:36] shidinghong opened #1314 "write it first"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows Version or `$ uname --all`)
* Python Version: `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`)
* Python packages: `$

[2016-07-06 19:46] richafrank commented on #1314
Hi @shidinghong !  Given only the title of this issue, it's hard for us to know what to do or fix.  If you could explain a bit more, we'd be happy to look into the question or share our thoughts.  I'm going to close this for now, but feel free to re-open with more information!

[2016-07-06 19:46] #1314 closed

[2016-07-06 23:56] benjaminsweetnam247 commented on #1278
couldn't get any of this to work myself but this worked
curl https://bootstrap.pypa.io/ez_setup.py -o - | sudo python
I added the sudo before python due to a permissions error

[2016-07-07 02:02] guoweihw opened #1316 "Example run error "sqlalchemy.exc.InvalidRequestError: ..""
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System:#  (Windows 7)
* Python Version: `$ python --version` 2.7.11
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'` 64
* How did you install Zipline: (`pip`, `conda`, or `other (please explain)`) conda
* Python packages: `$ pip fre

[2016-07-07 02:29] guoweihw commented on #1316
if i use the following command:
python run_algo.py -f ../examples/buyapple.py --start 2011-1-1 --end 2012-1-1 -o out.pickle
The error information is as follows:

Traceback (most recent call last):
  File "run_algo.py", line 23, in <module>
    from zipline.utils.calendars import default_nyse_schedule
ImportError: No module named calendars

Thanks for any solutions or advices.

[2016-07-09 22:28] developeralgo8888 commented on #1285
i believe quantopian contributors are mostly stock traders and quantopian itself , i don't think has any programmers with Forex background or they are more interested or stuck in Stocks because their investors are demanding that . its always about the investor money, if you think again. The FOREX asset request has been open for almost 2 years now . FX is the most liquid and traded OTC regulated ma

[2016-07-12 21:47] ssanderson commented on #1239
@fredfortier this looks like sqlite is failing trying to open the database file.  Are you sure the path you're passing is the correct location?  What happens if you do `sqlite3 '/path/to/assets.db'`?

[2016-07-12 21:50] llllllllll commented on #1239
This is most likely related to the windows issue with data bundles: https://github.com/quantopian/zipline/pull/1282

[2016-07-12 22:47] llllllllll commented on #1239
Sorry, bad pattern matching on my part.

[2016-07-12 22:49] llllllllll commented on #1239
There is also a `zipline.data.bundles.load` function which should give you the loaders that you need instead of digging into the storage format of the bundle manually with `from_files`.

http://www.zipline.io/appendix.html#zipline.data.bundles.load

[2016-07-12 23:07] ssanderson commented on #1239
@llllllllll an `engine_from_bundle` function might be nice as a convenience for the use-case of running pipelines using bundle data?

[2016-07-13 10:29] jmahhh commented on #1286
Lots of examples still contain `add_history`. E.g. http://www.zipline.io/beginner-tutorial.html...

[2016-07-13 11:34] richafrank commented on #1286
Thanks @jmahhh - We've been updating zipline.io from github on each release, and we haven't released since that [PR] (#1287) was merged, so it's not on the docs site yet.  The [source] (https://github.com/quantopian/zipline/blob/master/docs/source/beginner-tutorial.rst#my-first-algorithm) should be fixed now though.  Sorry for the discrepancy.

[2016-07-13 20:15] ssanderson opened #1321 "EventsLoaderUtilsTestCase takes a very long time"
It's 16 seconds on my machine, because we're testing `normalize_timestamp_to_query_time` on every permutation of a length-7 array.  While it's admirable that we've got such complete coverage (and it's somewhat justified as a regression test against a pandas bug that only appears on certain interleavings of EST and DST), this means we're running a non-trivial function 10,000 times.  We probably onl

[2016-07-13 20:16] ssanderson commented on #1321
cc @mtydykov, what are your thoughts on taking a sub-sample of the 10,000 permutations?

[2016-07-14 18:22] mtydykov commented on #1321
Yeah; we could just manually map out the possible types of interleavings and have tests for each of those rather that generating all possible interleavings, many of which are redundant. We have a separate test for the EST/DST issue.

[2016-07-14 18:24] ssanderson commented on #1321
@mtydykov I was thinking of something much simpler.

The current implementation does:
[code]

I was thinking we could just take a uniform sample across these by doing something like:

[code]

[2016-07-14 18:29] mtydykov commented on #1321
If we do that, what can we say about the types of cases we're testing?

[2016-07-14 18:34] ssanderson commented on #1321
`itertools.permutations` emits cases in lexicographical order, so this would give us a uniform mix of samples from the space of all possible interleavings

<details>
[code]

At the very least, this ensures that we test with every relevant date in the first position.  It also still generates a failing case if I remove the current pandas bug workarounds, for whatever that's worth.

[2016-07-14 18:44] mtydykov commented on #1321
Sure; I didn't word that too clearly. I guess what I meant was more like, what do we want to ensure with this test? If a uniform sample addresses that, then that works. If we want to make sure that we're checking certain combinations of dates, then we could use a method that more explicitly defines those. Or, we could do both.

[2016-07-14 19:20] ssanderson commented on #1321
I'm not sure offhand what exactly the conditions are in which pandas triggers the off by one hour issue that we're working around (and which prompted the test to begin with), but it's a function of particular orderings/interleavings.

I don't have materially less confidence in the correctness of this if we sample 50 interleavings vs trying all of them, especially given that the tests correctly fai

[2016-07-14 19:25] mtydykov commented on #1321
Sorry, was looking at the wrong test case in the module! This makes much more sense now.

[2016-07-15 00:55] jbredeche opened #1329 "Some missing test coverage"
In this PR, I made a few mistakes that weren't caught by tests: https://github.com/quantopian/zipline/pull/1327

We should have some tests for those code paths.  One is a method that creates mock daily data, and another handles when `overwrite_sim_params` is `True`.

[2016-07-19 19:15] Winghin2517 commented on #476
Hello. I'm struggling with using the pandas datareader with google finance data. I decided to post a question on SO here: http://stackoverflow.com/questions/38466000/zipline-using-pandas-datareader-to-feed-in-google-finance-dataframe-for-non-us . Since you are now using pandas datareader to load yahoo data, is there any guidance to load google finance data in a zipline-compatible way? Yahoo Financ

[2016-07-20 17:18] nathanwolfe commented on #1329
Those issues were actually caught by the new test I added here: https://github.com/quantopian/zipline/pull/1313

The one with `sim_params` was for Panel data, which hasn't had a a test that actually runs an algorithm before this PR.

The one with `create_daily_df_for_asset` was caught incidentally, since the test algo got to the second bar and expected to be able to look back a full day. So that p

[2016-07-20 17:19] nathanwolfe commented on #1299
You need to import the module using `import zipline` before you use it.

[2016-07-21 00:32] ssanderson commented on #1321
Fixed this by sampling from the full parameter space.

[2016-07-21 00:32] #1321 closed

[2016-07-21 20:45] JasonGiedymin commented on #495
Interestingly, I did a docker build and run. I see that the dockerfile does install freetype. When I start a container from the built image I get import errors for `%matplotlib inline`. I attached to the container for the heck of it and tried to install it. It says that it could not install it because freetype could not be built (yet I did confirm the image was successfully built which references

[2016-07-21 21:05] ssanderson commented on #495
@JasonGiedymin as far as I know, the OSX instructions at http://www.zipline.io/install.html#osx are up to date.  Did you run into an error trying to install following those instructions?  If so that's a bug, either in our docs or in Zipline.

w/r/t matplotlib in the docker container, we don't install it by default because Zipline by itself doesn't require matplotlib.   That's probably an oversight

[2016-07-21 22:13] JasonGiedymin commented on #495
Ill give it another shot.

-Jason

[2016-07-22 14:37] JasonGiedymin commented on #495
ping @ssanderson, I add a change to help new users with using this repo with docker: PR #1343

[2016-07-22 15:26] ssanderson commented on #495
@JasonGiedymin awesome!  I'll take a look at it tonight.

[2016-07-26 00:04] richafrank commented on #1228
@cwengc It took a while, but this issue should be fixed now on zipline master.  Does it work for you?

[2016-07-28 18:56] LotannaEzenwa opened #1355 "Refactor Future base class to Derivative"
Securities were refactored to Assets in [this PR](https://github.com/quantopian/zipline/pull/535) on the following reasoning:

When in fact this is also not correct. Futures are a derivative, whose value is based on the price of an underlying asset.
from ([wikipedia](https://en.wikipedia.org/wiki/Futures_contract)

The same goes for forwards, options, swaps, and warrants.

While the rather nuanced

[2016-07-30 05:21] libname commented on #1228
@richafrank
same problem here, zipline ver 1.0.1. I could force us_equity_pricing to write temprary db file to sepcific location to avoid to "unable to open database file" problem. Does zipline ver1.0.1 already fix the work_file cache issue?
Thanks.

[2016-07-30 09:28] libname commented on #1228
@richafrank already fixed. Thanks very much

[2016-07-30 12:45] mannau opened #1356 "BUG: data.history with frequency of "1d" does not work for panel minute data"
With minute panel data now supported thanks to 9103516 I tried a simple example algo which fetches daily data through data.history.
However, this gives me the following error:

_data_portal.py, line 1094, in _get_daily_window_for_sids_
**AttributeError: 'DataPortal' object has no attribute '_equity_history_loader'**

Below the code to reproduce this issue:

[code]

Best,
Mario

[2016-07-30 14:12] paulperry commented on #1241
Zipline should at least catch the pandas_datareader exception for the stock and provide a better error message .  It's a real pain to narrow down which stock is causing the problem.

[2016-07-30 15:01] ssanderson commented on #1356
@nathanwolfe this is happening because we're now only passing a minutely reader if the user is running minutely, so daily-frequency history calls don't work.  We either need to have the minutely panel reader able to do daily aggregation on the fly, or we need to take the input data, aggregate it once, and then wrap that up in a daily bar reader so that we can still service daily data queries.

[2016-07-30 15:13] ssanderson commented on #1241
I definitely agree with this.

2. When ingesting an array of symbols, there is no option to continue continue after those errors

For point 1, I tried making some raw API requests to yahoo on the APHB, and they just don't seem to have data for that stock available.  I don't think there's much that Zipline could do to make this work other than throwing a more informative error.

For point 2, I'm a

[2016-07-30 16:04] femtotrader commented on #1241
I think we (on pandas-reader side) should provide a more explicit message with URL parameters
so user will be aware of which stock is causing problem.
So I've just open an issue on our side https://github.com/pydata/pandas-datareader/issues/216

[2016-07-31 20:02] richafrank commented on #1228
Great!

[2016-07-31 20:02] #1228 closed

[2016-07-31 21:31] LotannaEzenwa opened #1357 "Advanced order types: BracketOrders/OCO/OTO/TrailingStops"
See also #366 and #189.

Bracket Orders:

http://www.investopedia.com/terms/b/bracketedbuyorder.asp
http://www.investopedia.com/terms/b/bracketedsellorder.asp

One-Cancels-the-Other(OCO):

http://www.investopedia.com/terms/o/oco.asp

One-Triggers-Other(OTO):

http://www.investopedia.com/university/intro-to-order-types/conditional-orders.asp

Trailing Stops:

http://www.investopedia.com/terms/t/tra

[2016-08-01 14:53] nathanwolfe commented on #1356
@ssanderson: Which method do you think would be better? Personally I think aggregating it once would be better, since people using Panel data probably pass in data for the few equities that they are interested in, so there would be less loss in doing the aggregation for equities that don't have `data.history` called on them.

[2016-08-01 16:02] ssanderson commented on #1356
@nathanwolfe I think upfront aggregation makes sense here.

The real win from a performance perspective that we don't end up re-doing the aggregation over any given period more than once. (If we did it on the fly, then we'd end up calculating OHLCV aggregations on the same day over and over if you called history() once per day.)  The challenge is that we need to make sure we're using the user's ca

[2016-08-03 12:42] Mamady opened #1369 "Limit orders do not always fill at limit price"
Limit orders currently fill at the market price when the limit price has been crossed. This is not live trading behavior - instead when the limit price has been crossed, the order should fill at the limit price (not market price).

[2016-08-03 12:43] Mamady commented on #1369
Further information with a backtest showing the issue can be seen here: https://www.quantopian.com/posts/simulation-of-non-marketable-limit-orders

[2016-08-03 14:53] LotannaEzenwa commented on #1357
This issue should also cover fixing limit orders

https://github.com/quantopian/zipline/issues/1369

[2016-08-03 15:35] BryanFletcher commented on #1285
We're going to start working on fully integrating Zipline with FXCM for historical data, forex support, and live trading.

If anyone in the community needs free FX historical data in the meantime to play with, just let me know or feel free to grab it [here](https://www.fxcmapps.com/apps/basic-historical-data-downloader/).  We have up to 10 years of excellent data on 39 pairs from our 16 liquidity

[2016-08-03 18:18] edecote opened #1371 "Zipline beginner tutorial example not working"
The example buyapple.py is not working

# Environment

* Operating System: OSX Darwin Kernel Version 15.5.0
* Python Version: Python 2.7.12 :: Anaconda custom (x86_64)
* Python Bitness: 64

Running the example
`python -m zipline run -f zipline/examples/buyapple.py --start 2000-1-1 --end 2014-1-1 --symbols AAPL -o buyapple_out.pickle`

throws ImportError: No module named _calendar_helpers

Thanks

[2016-08-03 18:52] femtotrader commented on #1285
Nice idea @BryanFletcher !

Hope zipline will support a hedging blotter, bracket orders and advanced statistics (MAE, MFE, BSO...)

https://github.com/quantopian/zipline/issues/1357
https://github.com/quantopian/zipline/issues/366
https://github.com/quantopian/zipline/issues/189

This SSI can be a very interesting data source.

Are you interested to allow us to use it in [pandas-datareader](http:/

[2016-08-03 19:49] BryanFletcher commented on #1285
Thanks @femtotrader !

Yes, feel free to use the data in pandas-datreader.   We can update the file on a regular basis, but we're not able to stream it.  Not yet at least.

[2016-08-04 05:41] edecote commented on #1316
having the exact same InvalidRequestError

[2016-08-04 06:12] edecote commented on #1371
OK after creating a new conda environment with Python 3.4 I was getting the following related error when running `python -m zipline run -f zipline/examples/buyapple.py --start 2000-1-1 --end 2014-1-1 --symbols AAPL -o buyapple_out.pickle`:
`Users/enrique/.pyxbld/temp.macosx-10.6-x86_64-3.4/pyrex/zipline/utils/calendars/_calendar_helpers.c:274:10: fatal error:
      'numpy/arrayobject.h' file not f

[2016-08-04 06:12] #1371 closed

[2016-08-04 15:57] robmoggach commented on #1316
same issue here - probably related to `assets-5.sqlite` being 0 bytes?

[2016-08-04 16:17] robmoggach commented on #1316
try using a release instead of master branch - master is not always stable

https://github.com/quantopian/zipline/releases

[2016-08-04 19:36] ssanderson opened #1374 "run_algorithm with no data source should default to `bundle='quantopian-quandl'`"
We have code that's supposed to be doing this, but it's currently broken:

[code]

If hit the `if not non_none_data` check, we still raise on the next branch.

[2016-08-04 20:44] femtotrader opened #1375 "Netting system and Hedging system"
Hello,

following discussion [here](https://github.com/quantopian/zipline/issues/1285)
I think that it will be great if zipline could support like Metatrader 5, 2 kind of accounting system
https://www.mql5.com/en/articles/2299

- Netting system
- Hedging system

Kind regards

[2016-08-05 19:07] luca-s commented on #1369
#1376 This patch should fix the issue

[2016-08-08 14:57] chelladurai89 commented on #699
Uanble to uninstall the numpy. But upgrading the numpy  worked for me 👍

sudo easy_install --upgrade numpy

[2016-08-10 17:24] #1161 closed

[2016-08-13 03:57] cnimativ opened #1389 "Cannot install Zipline on Windows 10 machine"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 10 64bit)
* Python Version: 3.5.2 :: Anaconda 4.1.1 (64-bit)
* Python Bitness: 64
* How did you install Zipline: conda, pip
* Python packages:
[code]

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

Trie

[2016-08-13 15:32] richafrank commented on #1389
Hi @cnimativ !  We haven't tested zipline on, or built conda packages for, python 3.5 yet.  (See #1004.)

Sorry for the trouble, but can you use a python 3.4 conda environment for now?  Or, PRs for 3.5 support also welcome!  I'm going to close this in favor of #1004.

[2016-08-13 15:32] #1389 closed

[2016-08-15 22:44] ssanderson opened #1393 "The BMF calendar uses a non-existent timezone."
[code]

I assume this means it's untested.

[2016-08-15 22:48] richafrank commented on #1393
Unrelated to the issue, but we're defining the list of holidays twice in that module!

[2016-08-16 00:22] ssanderson commented on #1393
Looks like this should be `Sao_Paulo`:

[code]

[2016-08-16 00:35] richafrank commented on #1393
Ah nice - that matches the value from before the most recent changes.

[2016-08-16 03:50] yuanhuanglin opened #1395 "AttributeError: 'module' object has no attribute 'client'"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment
* Operating System: Linux ubuntu-new-install 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* Python Version: Python 3.4.5
* Python Bitness:  64
* How did you install Zipline: pip
* Python packages:

Now that you know a little about me, let me tel

[2016-08-17 14:20] Dessth opened #1400 "Installation Issue"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: Win32
- Python Version: Python 2.7 (Spyder)
- How did you install Zipline: pip and a local file (zipline-master) / Conda

Now that you know a little about me, let me tell you about the issue I am
having:
# Description of Issue

I'm a bit lost...
Impossible to obtain versio

[2016-08-17 17:30] irlevesque opened #1402 "Data bundle `clean()` method doesn't actually remove old files"
# Environment

* Operating System: `Linux 4.4.11-23.53.amzn1.x86_64 #1 SMP x86_64 GNU/Linux`
* Python Version: `Python 2.7.10`
* Python Bitness: `64`
* How did you install Zipline: `pip`
* Python packages: ```bcolz==0.12.1
boto==2.32.1
Bottleneck==1.1.0
cachetools==1.1.6
click==3.3
contextlib2==0.4.0
cyordereddict==1.0.0
Cython==0.24
decorator==4.0.10
dnspython==1.11.1
DynectDNS==0.3
ecdsa==0.11
e

[2016-08-17 17:46] irlevesque commented on #1402
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;n7vLljlN&#x2F;199-figure-out-what-to-do-about-zipline-quandl-bundler-filling-up-monitor-disk-i-disabled-it-in-the-meantime"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Figure out what to do about zipline quandl bundler filling up monitor disk -- I DISABLED IT IN THE MEANTIME</a>

[2016-08-17 21:29] nathanwolfe commented on #1356
PR: https://github.com/quantopian/zipline/pull/1407

Just the fast `minute_to_session_label` for large DatetimeIndexes of minutes is done so far.

[2016-08-18 00:16] richafrank commented on #1402
Should be fixed by #1403

[2016-08-18 00:16] #1402 closed

[2016-08-18 00:59] richafrank commented on #1395
Hi @yuanhuanglin !  Sorry for the trouble - looks like that doc uses the old command and no longer works.  From the command line, you can run `zipline run --help`, or in a jupyter notebook you can `import zipline` and then use the `%%zipline` cell magic.

[2016-08-18 02:05] richafrank commented on #1395
Regarding the AttributeError, as the package containing the entry point, the zipline/utils directory is added to your PYTHONPATH, and then zipline.utils.enum is shadowing python3's stdlib enum.  So then we're importing pandas again, which is partially initialized... and so on.

[2016-08-18 21:37] richafrank commented on #1395
I updated the docs in https://github.com/quantopian/zipline/pull/1409.  Let us know if the new command works for you.

[2016-08-19 18:28] plavine opened #1415 "Can not install from pip"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Linux ubuntu 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

* Python Version: Python 2.7.12

* Python Bitness:  64
* How did you install Zipline: pip
* Python packages:

backports.shutil-get-terminal-size==1.0.0
boto==2.38.0

[2016-08-21 09:25] fera0013 opened #1417 ""No module named _calendar_helpers""
Dear Zipline Maintainers,

I have installed python using
# Environment
- Operating System: Windows 10
- Python Version:  python --2.7
- Python Bitness: 64 bit
- How did you install Zipline:  conda

Now that you know a little about me, let me tell you about the issue I am
having:
# Description of Issue

I installed zipline using

[code]

I then created a python project in VisualStudio 2015 pytools

[2016-08-22 02:45] smujahed commented on #1316
Dear Devs, is there anything happening with this? Maybe @richafrank could help? I'm having the same issue...

[2016-08-22 12:46] jmccorriston opened #1419 "Documentation Errors"
From Quantopian community member Stephan F:

http://www.zipline.io/bundles.html
Quandl WIKI Bundle
QUANDL_API_KEY=<api-key>
zipline ingest quandl

should be:

QUANDL_API_KEY=<api-key>
zipline ingest -b quandl

------------------------

http://www.zipline.io/beginner-tutorial.html#my-first-algorithm

python -m zipline run -f ../../zipline/examples/buyapple.py --start 2000-1-1 --end 2014-1-1 --symbo

[2016-08-22 13:37] richafrank commented on #1393
Should be fixed by #1418.

[2016-08-22 13:37] #1393 closed

[2016-08-22 13:43] richafrank commented on #1419
Thanks @jmccorriston .  I believe the first one was fixed in https://github.com/quantopian/zipline/pull/1303 and the second in https://github.com/quantopian/zipline/pull/1248.  When we release zipline next, the docs site will get updated.

[2016-08-22 13:43] #1419 closed

[2016-08-22 14:34] richafrank commented on #1400
Hi @Dessth .  Sorry for the trouble.  We're not currently building or testing packages for win-32 conda.  Would you be able to install win-64 conda?

[2016-08-22 14:42] richafrank commented on #1415
Hi @plavine , From googling a bit, looks like an issue with newer pip releases?

https://github.com/saltstack/salt/issues/33163
https://github.com/pypa/pip/issues/3687

Does downgrading it help?

[2016-08-22 15:26] plavine commented on #1415
I saw those articles. I am running pip 8.1.1

[2016-08-22 16:25] richafrank commented on #1415
Chalk it up to a weird pip issue then?  Not sure what to do within zipline...

[2016-08-23 02:14] richafrank commented on #1316
I've reproduced the `InvalidRequestError`.  Agreed that the 0-byte assets db is the issue - looks to be the same as #1228, which is fixed now on master.

When I update to the latest build from master:
[code]
I'm able to run
[code]
successfully.

[2016-08-23 02:40] richafrank commented on #1316
Regarding the other error mentioned here (`ImportError: No module named calendars`), it's definitely confusing.  `run_algo.py` is the pre-1.0 cli, but the `default_nyse_schedule` name was a short-lived piece of code that existed in some commits of master only after the latest release, i.e. post-1.0.1.

I'm not sure what commit was installed at the time, but I'd try the latest master @guoweihw , us

[2016-08-23 03:09] smujahed commented on #1316
Hey @richafrank I need advice on whether to open a new issue, since this is still happening on my system, although I am using a different operating system (OS X) and possibly different packages. What would you advise?

[2016-08-23 22:40] ahgnaw commented on #853
https://github.com/quantopian/zipline/pull/1322

[2016-08-23 22:49] ahgnaw commented on #855
Closed by https://github.com/quantopian/zipline/pull/1322 and https://github.com/quantopian/pyfolio/pull/320

[2016-08-24 02:12] scarrick68 commented on #1316
I'm getting the same error on mac. I tried uninstalling zipline via pip and reinstalling, but that didn't solve it. I also tried clearing all the data via "zipline clean..." but that didn't do anything as seen by "zipline bundles"

[2016-08-26 04:46] d3ld0t commented on #1316
I am having the same problem. I tried installing the master branch as suggested by @richafrank ,with pip:
`sudo -H pip3 install -e git+https://github.com/quantopian/zipline@master#egg=zipline_master`
and am having the same InvalidRequestError.

[2016-08-28 03:28] s-foley opened #1438 "Current price same for before_market_start and handle_data (daily data)"
Hello, when running zipline with daily data, price (plus open/close/high/low/last transaction/volume) is the same for:

before_market_start
handle_data

and any function I schedule using time/date rules. I would expect at least to get the previous day's price in before_market_start. It would be nice to get that day's open if calling a schedule function at market open and price close with a schedul

[2016-08-28 03:36] s-foley opened #1439 "Stop loss orders need to be made easier with no cancel"
Hello, I would like to request easier stop loss orders with no cancel. This is basic risk management 101 and is not explained at all in the docs. That, combined with same price data in before_market_start and handle_data has lead me to believe the best way to do this is to repeatedly check price and manually sell a stock. If I can't get this working with daily data, I question how trusting I would

[2016-08-28 04:36] s-foley opened #1440 "User API much too verbose and opaque"
Hello, user API is way too long and unwieldy. Way too many imports at top of page, each twice as long as they should be. The average length of a line of code is twice what I would like it too be. When you chain things together, you lose your train of thought. Just to take a random example off your docs:

[code]

The first line is 66 characters! The second line is 80 characters!! You can't even ind

[2016-08-29 16:02] ssanderson commented on #1439
@s-foley the various `order` methods (`order`, `order_target`, `order_value`, etc.) all take `limit_price` and `stop_price` as parameters.  The behavior of `stop_price` on a sell is to automatically trigger when the price of the stock in question falls below the specified stop.  Is that the behavior you're looking for here, or is there something more that we don't currently support?

[2016-08-29 16:29] wongasta opened #1443 "Ingesting quantopian-quandl bundle populates assets-5.sqlite but not assets-3.sqlite"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: `Darwin 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64`
* Python Version: `Python 3.4.5 :: Anaconda custom (x86_64)`
* Python Bitness: `64`
* How did you install Zipline: (`conda` also tried `pip`)
* Python

[2016-08-29 16:36] ssanderson commented on #1440
@s-foley do you have concrete suggestions for how you'd like to see the set_commission and set_slippage APIs improved?  If you're concerned about line length, you could re-write the lines you quoted above as:

[code]

With regard to your proposed history changes, there are some challenges with doing

If that's still too much, you could shorten further:
[code]

I'd argue that the last example is ma

[2016-08-29 16:36] #1440 closed

[2016-08-29 16:43] ssanderson commented on #1438
In daily mode, any function run with `schedule_function` is essentially equivalent to just running the same code in `handle_data`.  This is part of the reason that we've actually droppped support for daily mode entirely on Quantopian: too many users found the behavior of schedule_function confusing in daily mode.  The right fix for this is probably to just raise a `DeprecationWarning` if schedule

[2016-08-29 18:05] richafrank commented on #1443
Thanks @wongasta .  We unintentionally started pushing a more recent version.  Fixing it now...

[2016-08-29 18:08] richafrank commented on #1316
If this is more general than windows, then I'll just re-label this.

Also, https://github.com/quantopian/zipline/issues/1443 was spotted today, but using latest master should actually be a solution to that issue, so it's likely different from this one.

[2016-08-29 19:43] d3ld0t commented on #1316
Indeed, I was getting this error on Kubuntu 16.04.1

[2016-08-30 02:09] wongasta commented on #1443
Thanks man! Appreciate all the great work!!!

[2016-08-30 10:00] parrondo commented on #1316
Same error on Centos 7, solved with richafrank suggestion:
conda install -c https://conda.anaconda.org/Quantopian/label/ci -c quantopian zipline

[2016-08-30 15:58] davidandreoletti commented on #1285
@BryanFletcher That's a good news. Has FXCM planned a timeframe to get forex support into zipline ?

[2016-08-30 16:47] richafrank commented on #1443
Should be fixed now.  Does a new `ingest` work for you?

[2016-08-30 16:52] BryanFletcher commented on #1285
@davidandreoletti Thanks for sharing your interest.  I'm afraid I don't have an ETA at this point, but it's definitely a key focus for us.

[2016-08-31 06:03] Engine-Treasure opened #1454 "Timezone issue with `data.history`"
Dear Zipline Maintainers,

I'm not sure whether the issue I am having is really a issue:

I notice that zipline uses `Eastern Standard Time(EST)` by default, then converts it to  `Coordinated Universal Time(UTC)`.

When I call `data.history` and print the results, it shows UTC instead of EST (or any other local time), is it right?

For example, I build the following algorithm on Quantopian with de

[2016-08-31 14:29] CaballeroJoe commented on #1316
Having the same issue. I tried richafrank's suggestion to
conda install -c https://conda.anaconda.org/Quantopian/label/ci -c quantopian zipline, which downloaded and updated fine, but when I tried running my algo, I still get the same:

`InvalidRequestError: Could not reflect: requested table(s) not available in sqlite:///C:\Users\JKLIMCAK/.zipline\data\quantopian-quandl\2016-08-31T11;05;48.373000

[2016-08-31 19:58] richafrank commented on #1316
@CaballeroJoe Can you tell if the file at that path is empty?

[2016-08-31 20:55] s-foley commented on #1438
Thanks for the reply. I am intending to use zipline for development and
then load code into quantopian, so it would be good for zipline code to
match quantopian as much as possible.

Using schedule_function and explicitly stating an open or close price is
easy enough. A note about the limitations of using daily mode in the
zipline docs would be helpful.

Agree that before_trading_start conceptuall

[2016-08-31 21:01] s-foley commented on #1439
Hello, I might be confused because I am going back and forth between
zipline and quantopian. stop_price is depreciated in quantopian. There
aren't many examples of using stop orders on the forums and in the docs it
states that all orders will be closed at the end of the day...maybe that
doesn't apply to stop loss orders?

[2016-08-31 21:29] s-foley commented on #1440
Hello and thanks for the reply. I was a bit frustrated when I wrote the
above after spending a few hours trying to get things working, so I would
like to clarify and say I really like zipline and think it's a great
resource.

Your second example is beautiful. That is just how I like to code...short
and having only one or two things happening per line. I find that too much
chaining:

val = obj.obj.

[2016-09-01 08:37] CaballeroJoe commented on #1316
@richafrank Indeed looks like it. The conda install -c https://conda.anaconda.org/Quantopian/label/ci -c quantopian zipline went through fine however, what's the best way of getting that asset db file?

[2016-09-01 14:25] richafrank commented on #1316
Have you run `zipline ingest` after updating to that CI version zipline?

[2016-09-01 15:55] StewartDouglas commented on #1355
Separating `Assets` and `Derivatives` seems sensible, and we could also go a step further: making them both subclasses of a base class `Contract` or `Instrument`.

There's an interesting article on representing financial contracts in code [here](http://falconair.github.io/2015/01/30/composingcontracts.html) (note however that they do not combine Stocks and Bonds into a single `Asset` class, but th

[2016-09-01 17:21] volconst commented on #1439
Does
context.set_cancel_policy(NeverCancel())
help?

[2016-09-02 07:59] fanchangyong opened #1461 "pip installation is not up-to-date"
Hello, I am a new user to zipline. I installed it by pip, and I found it's version is `1.0.1` by following code:
[code]
then, I copy the code from the `Quickstart` page, and run with the corresponding command:
`zipline run -f dual_moving_average.py --start 2011-1-1 --end 2012-1-1 -o dma.pickle`

then, it raised an error:
[code]
I have read the code, it seems that the code I've installed with pip i

[2016-09-02 20:18] richafrank commented on #1461
Thanks @fanchangyong .  We're working to publish a release which should fix this.

[2016-09-03 04:19] s-foley opened #1468 "short selling - available stock to borrow and paying dividends"
Hello, I am interested in backtesting short selling strategies and would like to request the following two features...for zipline, if possible, if not then for Quantopian

- model stock available to borrow, especially in times of market stress
- have dividends be deducted from account when payable due to shorts

[2016-09-05 14:49] kuatroka opened #1469 "latest tutorial.ipynb has non working examples"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: (MAC OS X El Capitan`)
- Python Version: `$ python --3.4`
- Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
- How did you install Zipline: (`pip`)
- Python packages: `$ pip freeze` or `$ conda list`

Now that you know a little

[2016-09-05 16:26] wheeler18 commented on #1197
pandas 0.17.1 np110py27_0 also does not work!

[2016-09-06 10:09] nazariyv commented on #1469
Hey, where can I find the latest tutorial.ipynb? I was experiencing some issues with the zipline examples as well. Thanks

[2016-09-06 14:44] richafrank commented on #1469
The latest version of that tutorial notebook is [here] (https://github.com/quantopian/zipline/blob/master/docs/notebooks/tutorial.ipynb), but it looks outdated.  It's not a notebook, but [this tutorial doc] (https://github.com/quantopian/zipline/blob/master/docs/source/beginner-tutorial.rst) has been updated more recently.

What is the traceback for your `TypeError`?  Hard to say what will fix it

[2016-09-06 17:22] kuatroka commented on #1469
Hi richfrank,
Thanks for the quick comeback. I tried the document you mention and ran the same last piece of code that sits in the last cell. When running it as-is, I got the same error. Please see the full error log below.

`---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-26-5e80

[2016-09-06 23:04] captnjameskirk commented on #1461
I'm having the same issue.

[code]

[2016-09-07 13:16] nazariyv commented on #1461
Same issue here as well:

Python version:

[code]
Zipline version:

`u'1.0.1+2.g85327d8'`

Traceback:

[code]

[2016-09-07 16:12] ZhenyuChenIan commented on #650
@ljw2602, @richafrank   I used ljw2602's way and finally installed zipline. But when I turned to Anaconda Spyder (after activate py34), I found zipline is not exist again. Now I could only use zipline in cmd. What can I do to use it in Spyder as well ? thanks

[2016-09-07 18:44] ehebert commented on #1461
For an update. Actively working on releasing 1.0.2. There is currently a
tag and download available here
https://github.com/quantopian/zipline/releases/tag/1.0.2
Currently working on getting the release to pypi.

On Wed, Sep 7, 2016 at 9:16 AM Nazariy <notifications@github.com> wrote:

[2016-09-07 19:54] captnjameskirk commented on #1461
FYI, I uninstalled zipline from conda, cloned the repo, and used setup.py to install with the latest commit. Since conda had already installed all the dependencies, using setup.py was very straightforward. And it works now. :)

[code]

[2016-09-08 18:36] ehebert commented on #1461
1.0.2 should now be available on PyPI, https://pypi.python.org/pypi/zipline/1.0.2
Anaconda should have 1.0.2 by the end of day.

[2016-09-08 19:42] ehebert commented on #1461
Release `1.0.2` is now available via `conda`. https://anaconda.org/quantopian/zipline

[2016-09-08 19:43] #1461 closed

[2016-09-09 02:29] richafrank commented on #1443
zipline 1.0.2 should fix this now.  Definitely re-open if that's not the case.

[2016-09-09 02:29] #1443 closed

[2016-09-09 02:31] #853 closed

[2016-09-09 02:31] #855 closed

[2016-09-12 17:00] richafrank commented on #1374
Should be fixed by #1479

[2016-09-12 17:00] #1374 closed

[2016-09-13 01:50] erikness opened #1480 "Bundles not loading due to incorrect Windows temp file handling"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 7 (important)
* Python Version: 3.4.5
* Python Bitness: 64
* How did you install Zipline: conda

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue

I am trying to install zipline from Anaconda, and I am havi

[2016-09-13 15:36] sketchytechky opened #1482 "Calling `history` on daily data does not work in quantopian research environment"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment

In quantopian research environment - https://www.quantopian.com/research/

Now that you know a little about me, let me tell you about the issue I am
having:
# Description of Issue
- What did you expect to happen?

When running https://www.quantopian.com/research/notebooks/Tutorials%20and%20D

[2016-09-14 08:27] Duvarc opened #1485 "Dual_moving_average.py not working + Pandas PerformanceWarning"
# Environment

* Operating System: OSX 10.12
* Python Version: Python 3.5.1
* Python Bitness: 64
* How did you install Zipline: pip
* Python packages: pandas, numpy, etc...

# Description of Issue

When I try to run Dual_moving_average.py, one of the sample algorithms in the Quick Start guide

I get:

four times before getting

I'd like to know why I'm getting the performance warning and why the a

[2016-09-14 11:50] richafrank commented on #1485
@ssanderson Do you know if this is a warning that will be fixed with your upgrade to pandas 0.18?

[2016-09-14 11:53] Duvarc commented on #1485
Hi guys, fixed it by downgrading to 0.17.0. It appears that anything over 0.17.0 will break compatibility.

[2016-09-14 11:53] #1485 closed

[2016-09-15 02:48] zippy-129 opened #1489 "Orders don't cancel as stated in docs (daily mode)"
Hello, when making an order for an amount that can't be filled in one day, the order doesn't cancel as stated in the docs, but stays open and keeps filling.

As a side note, it is confusing since the order status is "open" and there is a partial fill, so you can't reconcile any bookkeeping you might be keeping in context (say, context.trades). Therefore, am forced to close order manually at end of

[2016-09-15 12:11] richafrank commented on #1489
Hi @zippy-129 ,

Thanks for the issue.  Reading through the [docs] (http://www.zipline.io/appendix.html?highlight=eodcancel#zipline.api.EODCancel), I notice it says "For now, Zipline will only apply this policy to minutely simulations."  Are there other docs that are missing that note?

@jbredeche Do you know why that's the case, or if there's anything preventing us adding this behavior for daily

[2016-09-15 17:58] jbredeche commented on #1489
I believe we just never got around to implementing EOD canceling for daily simulations.  It would have to be end-of-next-day, as daily orders are always processed on the next day.

[2016-09-16 03:13] zippy-129 commented on #1489
Hello and thanks for the replies. I was a bit hasty in reading the docs, I see :-)

Would like to suggest a new order status of "partial" with number of shares filled so far as a possible enhancement in the future.

[2016-09-19 01:43] frabi opened #1495 "CLI does not work after pip install"
Sorry for asking such a stupid question, but after installing zipline with pip, I can't run zipline run --help. It says
-bash: zipline: command not found

What am I doing wrong?

[2016-09-19 14:42] PeterCherry opened #1498 "TypeError: Cannot compare type 'Timestamp' with type 'tuple'"
Dear Zipline Maintainers,
I am not sure if it is problem of my code or bug in the external data panel usage.
# Environment
- Operating System: Windows 10 64-bit
- Python Version: Python 2.7
- How did you install Zipline: conda install -c Quantopian zipline
# Description of Issue

Importing external CSV data as panel works ok:

[code]

But running any simple strategy on this external data throws th

[2016-09-21 07:54] ssanderson opened #1503 "Dramatic Memory Usage Increases After Pandas 18 Merge"
Prior to the merge of https://github.com/quantopian/zipline/pull/1339, peak memory usage of the test suite was around 800MB.  Post merge, we peak at over 2GB on my machine.

[2016-09-21 11:02] ssanderson commented on #1503
Root cause appears to be https://github.com/quantopian/zipline/pull/1504.

[2016-09-22 04:24] jkleint opened #1506 "run_algorithm(): local variable 'data' referenced before assignment"
I've just installed zipline, done a `zipline ingest`, and would like to run a backtest using the API.  But `run_algorithm()` gives an `UnboundLocalError` right out of the box:

[code]

[code]

## Environment

* Operating System: `Linux x 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
* Python Version: `Python 3.5.2`
* Python Bitness: `64`
* How did you

[2016-09-23 09:15] wenghb opened #1511 "how to make zipline support live trading"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: debian
- Python Version: 3.5
- Python Bitness: 64
- How did you install Zipline: compile from source
- Python packages:
  alembic==0.8.8
  bcolz==1.1.0
  Bottleneck==1.1.0
  cachetools==1.1.6
  click==6.6
  contextlib2==0.5.4
  cycler==0.10.0
  decorator==4.0.10
  empyrica

[2016-09-23 19:08] girmax commented on #1469
here is my error log:
[code]

[2016-09-23 21:58] girmax commented on #448
fetch_csv() was ported?

[2016-09-23 22:57] jkleint commented on #1506
One-line fix in #1513 to re-raise swallowed exceptions.

It was a network error, incidentally.

[2016-09-26 03:52] westonplatter commented on #1295
@pamiro are you still having this issue?

[2016-09-26 12:55] richafrank commented on #448
Hi @girmax ,

It looks like you're running `zipline.api.fetch_csv` outside of a trading algorithm, which doesn't have much use, since `fetch_csv` just adds the new data to the running algo.  I think we could have a better error message here.

Instead of calling `fetch_csv` directly from module scope in your notebook, you'll want to call it from `initialize` in your algo, and then run your algo wit

[2016-09-26 14:36] ssanderson commented on #1506
Fixed by https://github.com/quantopian/zipline/pull/1513.

[2016-09-26 14:36] #1506 closed

[2016-09-27 08:06] lssilva commented on #1511
Hi Haibin,

You may better ask this on the mailing list or other support mediums. Don't think you should use Zipline alone on live trading, you need many other components to watch, notify and safe-guard your money.

Cheers,
Lucas

[2016-09-27 13:40] nicoCalvo commented on #1316
I had the same issue and was solved by re-running `zipline ingest`

[2016-09-28 07:13] zhangzheng88 opened #1515 "the TradingAlgorithm doesn't support pd.Timestamp's start and end params"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: mac
* Python Version: 2.7

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue
when i use the create an TradingAlgorithm instance, and set the start and end params:
`
start = pd.Timestamp("2013-06-10").tz_localize('UT

[2016-09-28 07:24] #1515 closed

[2016-09-29 03:46] jimbojetlag opened #1517 "zipline cannot ingest yahoo currency symbols"
Having this extention:

[code]

gives this error:

[code]

How can yahoo currencies be supported?

[2016-09-29 16:06] richafrank commented on #1517
Thanks @jimbojetlag .  Currently zipline doesn't support currencies, but it would be a great feature!  I'm going to close this issue in favor of the [existing] (https://github.com/quantopian/zipline/issues/797) [ones] (https://github.com/quantopian/zipline/issues/1285).

[2016-09-29 16:06] #1517 closed

[2016-09-29 17:32] jimbojetlag commented on #1517
Seems like the symbol name is `'EUR=X'`. But that's not all, currencies do not have dividends and splits, I had to write the below bundler to remove them.

The bundler works, but now when placing an order has no effect at all:

[code]

Too bad zipline code is so tied to equities only. Could a zipline developer make a comment on this? I'm guessing that a simple tweak is required to make it work for

[2016-09-29 17:36] jimbojetlag commented on #1517
@richafrank thanks for your response. I'm not interested in trading currencies with Quantopian. I just want to use the existing code in zipline to backtest forex strategies, I don't see why it should not be possible. The only difference between equities and currencies is that currencies miss the dividend and split columns.

As I explained in the above, the bundler works fine, but the problem is th

[2016-09-29 23:03] hamannj commented on #1482
I have tried using the example in the docs about using the history()/add_history() functions. I have been using zipline 1.0.2 and don't know enough about the environment to know if it's a bug or there's something I am not doing correctly. I saw that the add_history() function has been deprecated, but the history() call returns:
Traceback (most recent call last):
  File "/home/jeff/anaconda2/bin/zi

[2016-09-30 13:43] moongraber commented on #1197
Hi

I have the same issue
running
-windows 10
-python 2.7 64 bit
-I did "conda install -c Quantopian zipline" (it worked but it downgraded pandas from 0.18 to 0.17)

then I try "from zipline.api import history"  I get:

  File "D:\Anaconda64bit\lib\site-packages\zipline\__init__.py", line 37, in <module>
    from . import data

ImportError: cannot import name data

[2016-09-30 14:27] richafrank commented on #1197
The latest release of zipline isn't compatible with pandas 0.18 yet, but the latest nightly build should be.  You can install it from our ci channel:

`conda install -c Quantopian -c https://conda.anaconda.org/Quantopian/label/ci zipline`

[2016-09-30 16:15] richafrank commented on #1517
Oh, my mistake if I equated those incorrectly.

If your bundle is the same as yahoo, minus adjustments, then it's hard to say why orders aren't being placed.  What have you done to debug it?  Is `handle_data` actually getting called? Is `order`  getting called?  Is the order being placed, but the slippage model isn't producing any fills?

Perhaps there's a mismatch between the trading calendar and

[2016-10-01 01:33] jimbojetlag commented on #1517
Thanks for the pointers! I will look into this.

[2016-10-01 09:04] moongraber commented on #1197
thanks Richard

I tried just now:

conda install -c Quantopian -c https://conda.anaconda.org/Quantopian/label/ci zipline

I got a downgrade for pandas, maybe the nightly run didn't update this? or maybe I am doing something wrong?

I got this:
The following packages will be DOWNGRADED due to dependency conflicts:

    bottleneck:        1.1.0-np111py27_0             --> 1.0.0-np110py27_1
    numex

[2016-10-01 12:24] zhangzheng88 commented on #1511
Hi Lucas,
how can I join the mailing list of zipline?

[2016-10-04 00:04] adamluc opened #1520 "Conda Install OS X - package missing alembic 0.7.7"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Mac OS X
* Python Version: python 2.7
* How did you install Zipline: conda

Now that you know a little about me, let me tell you about the issue I am
having:

# When trying to install zipline 1.0.2 with conda, I get the following message:

Fetching package metadata .....

[2016-10-04 14:00] richafrank commented on #1520
Thanks for the report @adamluc .  I just built and uploaded the OSX alembic packages to our anaconda channel.  Try again?

[2016-10-04 15:29] richafrank commented on #1197
Oh, sorry about that - looks like the order of the channels in the command matters (makes sense).

Try:
[code]

[2016-10-04 19:36] moongraber commented on #1197
thanks Richard now it has indeed updated zipline with pandas 0.18.1

I tried to run run the buyapple.py example

seems to work fine except when it tries to run the algo:
results = algo.run(data)

Traceback (most recent call last):

  File "<ipython-input-21-7bb61f11a584>", line 1, in <module>
    results = algo.run(data)

  File "C:\Users\....\Anaconda2\lib\site-packages\zipline\algorithm.py", lin

[2016-10-04 23:53] adamluc commented on #1520
It works now, thanks!

Adam

[2016-10-05 00:21] richafrank commented on #1520
Great!

[2016-10-05 00:21] #1520 closed

[2016-10-05 20:00] owlas commented on #1469
This has also been referenced on [StackOverflow](http://stackoverflow.com/questions/39165596/zipline-momentum-pipeline-example-typeerror-a-float-is-required)

[2016-10-07 09:32] kejintao commented on #1286
But is there any function that can replace add_history(), or say, if I want to take history price (formerly realized by add_history() and history() ), how can I achieve it?

[2016-10-07 17:21] richafrank commented on #1286
Hi @kejintao , `history` is still available and recommended, but you don't need to do any initial setup with `add_history` anymore.  Hopefully the [docs] (http://www.zipline.io/beginner-tutorial.html#access-to-previous-prices-using-history) are correct now...

[2016-10-07 17:35] richafrank commented on #1197
The `identifiers` keyword-only arg to `TradingAlgorithm` was replaced in zipline 1.0.  Under the new system, you `zipline ingest` your [bundle of data] (http://www.zipline.io/bundles.html) once and then `zipline run` simulations with that data multiple times.

Looks like the docstring for `TradingAlgorithm` still mentions this arg - we should update that.

As this issue is about pandas 0.18, I'm g

[2016-10-07 17:35] #1197 closed

[2016-10-08 03:23] kejintao commented on #1286
Thank you for your reply!

I used zipline==1.0.1 in windows and run the example provided by the docs
%---------------------------------
from zipline.api import order_target, record, symbol, history
import matplotlib.pyplot as plt
import numpy as np

def initialize(context):
    context.i = 0

def handle_data(context, data):
    # Skip first 300 days to get full windows
    context.i += 1
    if co

[2016-10-09 07:23] curzonj commented on #1482
I get the same error as @hamannj

[2016-10-10 01:07] richafrank commented on #1286
That usually means a failure to import a C extension because it was compiled against a different version of numpy from the one that's currently installed.  Assuming the numpy you have installed now is the one you want, I'd try reinstalling any libraries with C extensions, such as pandas, scipy, bottleneck, or zipline.

This seems separate from `add_history`, if you want to open a new issue.

[2016-10-10 02:13] richafrank commented on #1495
What version of zipline does pip say it's installed? e.g. `pip freeze | grep zipline`

[2016-10-10 02:14] #1415 closed

[2016-10-10 02:15] richafrank commented on #1395
Haven't heard anything, so closing for now.

[2016-10-10 02:15] #1395 closed

[2016-10-10 03:50] jkleint opened #1532 "Error backtesting custom minute data: The requested TradingCalendar, TEST, does not exist."
I'm trying to load custom minute data with `run_algorithm()`, but running into all kinds of trouble.

[code]

[code]

[2016-10-14 15:35] osierra commented on #900
It seems you can avoid the conversion to equity by passing a DataPortal to TradingAlgorithm.run() instead of a DataFrame or Panel:

[code]

[2016-10-15 21:29] bartosh opened #1540 "zipline fails to load price data for 1962 year"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Darwin ebartosh-mac01.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64
* Python Version: Python 2.7.10
* Python Bitness: 64
* How did you install Zipline: python setup.py install
* Python packages: alemb

[2016-10-15 21:39] bartosh commented on #1540
Looks like zipline can't load anything before start of 1970, i.e. for any date that produces negative unix timestamp I guess.

[2016-10-16 17:50] nyxynyx opened #1541 "get_datetime() and using Minute data frequency"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 10
* Python Version: Python 2.7.12 :: Anaconda custom (64-bit)
* How did you install Zipline: `conda install -c Quantopian zipline`
* Python packages:

	_license                  1.1                      py27_1
	_nb_ext_conf              0.3.0

[2016-10-17 02:29] richafrank commented on #1541
Hi @nyxynyx !  I see the confusion here.  The issue is that the functions in `zipline.api` are available only during the course of a simulation, e.g. `get_datetime()` returns the backtester's current simulation time.

In your example above, it's being called outside of a simulation being run, i.e. you call it _before_ calling `run_algorithm`, instead of in `handle_data` or in a scheduled function.

[2016-10-17 06:04] nyxynyx commented on #1541
@richafrank Thanks for the reply, yes I understand now, functions from `zipline.api` need to be called in a function like `handle_data` which is run during the simulation.

[2016-10-17 06:08] nyxynyx opened #1542 "Error finding bundle using %zipline --bundle in IPython Notebook"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: Windows 10
* Python Version: Python 2.7.12 :: Anaconda custom (64-bit)
* How did you install Zipline: `conda install -c Quantopian zipline`
* Python packages:

	_license 1.1 py27_1
	_nb_ext_conf 0.3.0 py27_0
	alabaster 0.7.9 py27_0
	alembic 0.7.7 py27_0 Quantopian
	anaco

[2016-10-17 06:09] #1541 closed

[2016-10-17 16:03] llllllllll commented on #1542
Sorry about the issue, it looks like we aren't currently loading extensions in the IPython magic. I have opened a PR to fix that. To workaround this, you can manually load your extensions in your notebook by doing:

[code]

In a cell before running the zipline magic.

[2016-10-18 23:01] richafrank commented on #1532
Hi @jkleint , It looks like the asset stored in `context.symbol` has its exchange set to `"TEST"`.  So when your code calls `can_trade`, zipline tries to ask the trading calendar for that exchange whether it's open at the current simulation time; however, it can't find a calendar registered with that name.

Unfortunately, it looks like a [regression] (https://github.com/quantopian/zipline/blob/0ac

[2016-10-19 19:32] hamannj commented on #1482
Doh! I found my problem...

	hist = data.history(context.stocks, 'close', 21, '1d')

did the trick...

[2016-10-27 09:40] mathvdh commented on #1469
Here is working code for the tutorial :

[code]

I can do a PR if you want, but I'm not sure on what branch or if on master ?

[2016-10-28 10:43] RamonBeast opened #1566 "No data on or before day error for unknown stock"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:
# Environment
- Operating System: Mac OS
- Python Version: 2.7.11
- Python Bitness: 64 bit
- How did you install Zipline: pip
- Python packages: `$ pip freeze` or `$ conda list`

Now that you know a little about me, let me tell you about the issue I am
having:

I was ingesting a mixed list of stocks from R

[2016-10-28 18:21] femtotrader commented on #1357
Other related issue: https://github.com/quantopian/zipline/issues/189

[2016-10-28 20:00] #1542 closed

[2016-10-29 19:45] modi5 opened #1570 "cant get zipline to run on mac --"
hi,

i have python 2.7 with talib and it works fine on mac.  i have the same plus zipline on PC and it all works.

i installed zipline on a mac laptop through conda but it doesnt seem to work:

Minas-MBP:~ Panda_Bear$ conda install -c quantopian zipline
Fetching package metadata .........
Solving package specifications: ..........
# All requested packages already installed.
# packages in environme

[2016-11-01 06:58] zhangzheng88 opened #1571 "global name is not defined error when i use the %%zipline magic"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: osx10.11
* Python Version: python2.7
* Python Bitness: ..
* How did you install Zipline: pip
* Python packages: ..

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue
I have this codes in two independent cells.
[code

[2016-11-01 09:03] zhangzheng88 opened #1572 "Warning of out of bounds for uint32 when use zipline ingest"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: osx10.11
* Python Version: python2.7
* Python Bitness: ..
* How did you install Zipline: pip
* Python packages: ..

Now that you know a little about me, let me tell you about the issue I am
having:

# Description of Issue
 I have register a customer bundle in the extensi

[2016-11-02 08:48] nltzou opened #1575 "IO error: Change zipline mean reversion example from daily data to minute data"

[2016-11-02 17:33] #1575 closed

[2016-11-02 17:34] nltzou commented on #1575
Post this on a wrong place.
Sorry....

Nick

[2016-11-03 00:14] emitby opened #1576 "Why does short selling result in a massive short position?"
Dear Zipline Maintainers,

Before I tell you about my issue, let me describe my environment:

# Environment

* Operating System: (Windows 10     Version or `$ uname --all`)
* Python Version:  2.7     `$ python --version`
* Python Bitness: `$ python -c 'import math, sys;print(int(math.log(sys.maxsize + 1, 2) + 1))'`
* How did you install Zipline: conda     (`pip`, `conda`, or `other (please explain

[2016-11-04 08:15] zhangzheng88 opened #1579 "is there a way to view the data in a data bundle?"
I have ingest the data to my customized bundle. Now i want to view the data to insure if it is right. for example, i want to plot the adjusted close price. what should I do？

[2016-11-04 09:44] scubamut commented on #1566
If I could add to this...

Using bundles (especially bundles with hundreds of securities) is very frustrating - ingesting often fails, either because of the sqlalchemy.exc.InvalidRequestError bug (#[1316](https://github.com/quantopian/zipline/issues/1316)), which was reported back in July, or because of indecipherable errors like the one described here.

Please could someone take a look at fixing

[2016-11-11 15:49] PeterCherry opened #1591 "zipline-script.py problem on Windows due to missing "" in the path"
Dear Zipline developers,
there should be " " in the path to python.exe
When you run zipline from cmd, there is ,,failed to create process'' due to space in Program Files path.

WRONG:         #!C:/Program Files/Miniconda2\python.exe
SOLUTION:     #!"C:/Program Files/Miniconda2\python.exe"

[2016-11-22 23:47] MerlinBenj opened #1601 "Zipline tries to downgrade pandas"
Zipline tries to downgrade my pandas when I try to install on linux. (qgrid I recall, tries to do this also)

Requirement already up-to-date: pandas in /usr/lib64/python2.7/site-packages
Requirement already up-to-date: pytz>=2011k in /usr/lib/python2.7/site-packages (from pandas)
Requirement already up-to-date: numpy>=1.7.0 in /usr/lib64/python2.7/site-packages (from pandas)
Requirement already up

[2016-11-22 23:59] ssanderson commented on #1601
@SlyOne Zipline doesn't currently support pandas 0.19, so our setup.py file [specifies a dependency of pandas <0.19](https://github.com/quantopian/zipline/blob/master/setup.py#L165), which causes `pip` to downgrade your currently installed version.  The only thing I think we could reasonably do here is raise an error at installation time indicating that your currently installed pandas version is n

[2016-11-23 00:21] SlyOne commented on #1601
@ssanderson ....Why didnt  it download .18 vs 17.1 ? There should really be a dialog before downgrading and upgrading by listing all dependencies then (y/n) to confirm...

[2016-11-23 00:59] ssanderson commented on #1601
Ah, the version of Zipline currently released on PyPI is only up to pandas 0.17.  The development branch supports 0.18.  @richafrank @llllllllll @ehebert thoughts on cutting a release this week to let people use the newer pandas support?

w/r/t having a prompt before downgrading, agreed that that would be a nice feature, but that's not really in our control, since `pip` (or `conda` if that's how y